<app-loading [showLoading]="working"></app-loading>
<!-- Contenido del Sitio -->
<section id="site-content" class="container-fluid ">
  <section class="row">

    <div class="col-md-12">

      <section id="pg-browser" class="mb-3">
        <article class="card border-0 p-3">
          <!-- Encabezado del contenedor -->
          <header id="content-data" class="border-bottom p-0 mb-3">

            <div class="row">

              <div class="col-md-5">
                <nav aria-label="breadcrumb" class="d-inline">
                  <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item">Estás en: </li>
                    <li class="breadcrumb-item bolder"
                    [ngClass]="{'active-breadcrumb':  i < (_srvHeaderAdmin.breadcrumb.length - 1) }"
                    *ngFor="let node of _srvHeaderAdmin.breadcrumb; let i = index">{{ node  }}</li>
                  </ol>
                </nav>
              </div><!-- Fin de los Breadcrumbs -->

              <div class="col-md-4">
                <span>Total de recursos: </span><span><b> {{ totalResources }}</b></span>
              </div><!-- Fin del Table Data -->

              <div id="pg-search" class="col-md-3">
                <form class="form-group position-relative mb-2">
                  <input type="search" class="form-control" placeholder="Buscar" (keyup.enter)="onKeyUp( $event )"
                    name="textSearch" [(ngModel)]="textSearch">
                  <button type="button" class="btn-browser"><span class="icon icon-buscar"></span></button>
                </form>
              </div><!-- Fin del Buscador -->

            </div>
          </header><!-- Fin del Encabezado -->

          <div id="content">


            <div class="row">
              <div class="col-md-3 pr-0">

                <div class="nav-structure bg-white p-0">
                  <!-- Usuario -->
                  <aside id="site-nav">
                    <nav id="pg-nav" class="pr-0">
                      <div class="title">
                        <h4 *ngIf="selectedParent != null" class="animated fadeIn">{{ selectedParent.description }}
                          <small>{{ selectedParent.nodeTypeDesc }}</small>
                        </h4>
                        <a (click)="onClickReturn(selectedParent)" *ngIf="selectedParent.parentId > 0"> <i
                            class="fa fa-arrow-circle-left"></i> </a>
                      </div>
                      <div class="clearfix"></div>
                      <ul class="nav flex-column">
                        <li class="nav-item" *ngFor="let level of children">
                          <a (click)="onClickSelectNode( level )" class="nav-link">
                          {{ level.description }}</a>
                        </li>
                      </ul>
                    </nav><!-- Fin del nav principal -->
                  </aside>
                </div><!-- Fin del Menú -->

              </div>

              <div class="detail-content col-md-9">

                 <!-- TIPOS DE ARCHIVOS -->
                 <div class="row " *ngIf="contentType.length > 0" joyrideStep="firstStepIcon" title="Libros de texto en PDF" text="Selecciona el tipo de recurso que desea consultar.">

                  <ul class="list-inline-buttons">
                    <li *ngFor="let type of contentType" [ngClass]="{'active-file': type.id == typeId }">
                      <div  (click)="onSelectTypeContent( type.id )" class="item-button"  [ngClass]="getCSSActive(type.id)">
                          <mat-icon class="{{ type.id | typeFile }}"> </mat-icon>
                          <span class="text-title"> {{ type.description }}</span>
                      </div>
                    </li>
                  </ul>
                  <hr class="mt-0"/>
                </div>

                <!-- FILTROS COMBOS -->
                <div class="row">

                  <!-- <div class="col-md-6">
                    <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFilters" placeholder="Bloque" id='blockId' name='blockId'
                        [(ngModel)]="blockId" (selectionChange)="onChangeSelect()">
                        <mat-option [value]="0">
                          Seleccione un bloque
                        </mat-option>
                        <mat-option *ngFor="let block of blocks" [value]="block.id">
                          {{ block.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFilters" placeholder="Campo formativo" id='formativeId'
                        name='formativeId' [(ngModel)]="formativeId" (selectionChange)="onChangeSelect()">
                        <mat-option [value]="0">
                          Seleccione un campo formativo
                        </mat-option>
                        <mat-option *ngFor="let formative of formativeField" [value]="formative.id">
                          {{ formative.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->
                  <!-- NIVEL EDUCATIVO -->
                  <!-- <div class="col-md-6">
                    <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFilters" placeholder="Nivel Educativo" id='educationLevelId'
                        name='educationLevelId' [(ngModel)]="educationLevelId" (selectionChange)="onSelectEducationLevel( $event )"
                        matTooltip="{{getToolTipDataEducationLevel(educationLevelId)}}">
                        <mat-option [value]="0">
                          Seleccione un nivel educativo
                        </mat-option>
                        <mat-option *ngFor="let level of educationLevel" [value]="level.id">
                          {{ level.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->
                  <!-- CAMPO FORMATIVO -->
                  <div class="col-md-6">
                      <label for="formatId">Campo formativo</label>
                      <ng-select  [items]="formativeField"
                        [disabled]="!showFiltersCatalog"
                        bindLabel="description"
                        bindValue="id"
                        labelForId="formatId"
                        placeholder="Seleccione un elemento"
                        [(ngModel)]="formativeId"
                        (change)="onChangeSelect()">
                      <ng-template ng-option-tmp let-item="item">
                        <div title="{{item.name}}">{{item.name}}</div>
                      </ng-template>
                    </ng-select>

                    <!-- <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFiltersCatalog" placeholder="Campo formativo" id='formativeId'
                        name='formativeId' [(ngModel)]="formativeId" (selectionChange)="onChangeSelect()"
                        matTooltip="{{getToolTipDataselectedFortiveField(formativeId)}}">
                        <mat-option [value]="0">
                          Seleccione un campo formativo
                        </mat-option>
                        <mat-option *ngFor="let formative of formativeField" [value]="formative.id">
                          {{ formative.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>
                  <!-- Area de desarrollo per. y soc.  -->
                  <div class="col-md-6">
                      <label for="areaId">Área de desarrollo per. y soc.</label>
                      <ng-select  [items]="areaPersonalSocialDevelopment"
                        [disabled]="!showFiltersCatalog"
                        bindLabel="description"
                        bindValue="id"
                        labelForId="areaId"
                        placeholder="Seleccione un elemento"
                        [(ngModel)]="areaPersonalSocialDevelopmentId"
                        (change)="onChangeSelect()">
                      <ng-template ng-option-tmp let-item="item">
                        <div title="{{item.name}}">{{item.name}}</div>
                      </ng-template>
                    </ng-select>
                    <!-- <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFiltersCatalog" placeholder="Área de desarrollo per. y soc." id='areaPersonalSocialDevelopmentId'
                        name='areaPersonalSocialDevelopmentId' [(ngModel)]="areaPersonalSocialDevelopmentId" (selectionChange)="onChangeSelect()"
                        matTooltip="{{getToolTipDataAreaPersonal(areaPersonalSocialDevelopmentId)}}">
                        <mat-option [value]="0">
                          Seleccione un área de desarrollo
                        </mat-option>
                        <mat-option *ngFor="let formative of areaPersonalSocialDevelopment" [value]="formative.id">
                          {{ formative.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>

                  <!-- Ambito de autonomia curricular -->
                  <div class="col-md-6">
                      <label for="ambitId">Ámbito de autonomía curricular</label>
                      <ng-select  [items]="areasCurriculumAutonomy"
                        [disabled]="!showFiltersCatalog"
                        bindLabel="description"
                        bindValue="id"
                        labelForId="ambitId"
                        placeholder="Seleccione un elemento"
                        [(ngModel)]="areasCurriculumAutonomyId"
                        (change)="onChangeSelect()">
                      <ng-template ng-option-tmp let-item="item">
                        <div title="{{item.name}}">{{item.name}}</div>
                      </ng-template>
                    </ng-select>
                    <!-- <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFiltersCatalog" placeholder="Ámbito de autonomia curricular" id='areasCurriculumAutonomyId'
                        name='areasCurriculumAutonomyId' [(ngModel)]="areasCurriculumAutonomyId" (selectionChange)="onChangeSelect()"
                        matTooltip="{{getToolTipDataAreaCurriculum(areasCurriculumAutonomyId)}}">
                        <mat-option [value]="0">
                          Seleccione un ámbito de autonomia
                        </mat-option>
                        <mat-option *ngFor="let area of areasCurriculumAutonomy" [value]="area.id">
                          {{ area.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>

                  <!-- Eje / Ambito -->
                  <div class="col-md-6">
                      <label for="ambitId">Eje / Ámbito</label>
                      <ng-select  [items]="axis"
                          [disabled]="!showFiltersCatalog"
                          bindLabel="description"
                          bindValue="id"
                          labelForId="ambitId"
                          placeholder="Seleccione un elemento"
                          [(ngModel)]="axisId"
                          (change)="onChangeSelect()">
                        <ng-template ng-option-tmp let-item="item">
                          <div title="{{item.name}}">{{item.name}}</div>
                        </ng-template>
                      </ng-select>
                    <!-- <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFiltersCatalog" placeholder="Eje / Ámbito" id='axisId'
                        name='axisId' [(ngModel)]="axisId" (selectionChange)="onChangeSelect()"
                        matTooltip="{{getToolTipDataAxis(axisId)}}">
                        <mat-option [value]="0">
                          Seleccione un eje / Ámbito
                        </mat-option>
                        <mat-option *ngFor="let axi of axis" [value]="axi.id">
                          {{ axi.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>

                  <!-- Aprendizaje Clave -->
                  <div class="col-md-6">
                      <label for="keyId">Aprendizaje Clave</label>
                      <ng-select  [items]="keylearning"
                        [disabled]="!showFiltersCatalog"
                        bindLabel="description"
                        bindValue="id"
                        labelForId="keyId"
                        placeholder="Seleccione un elemento"
                        [(ngModel)]="keylearningId"
                        (change)="onChangeSelect()">
                      <ng-template ng-option-tmp let-item="item">
                        <div title="{{item.name}}">{{item.name}}</div>
                      </ng-template>
                    </ng-select>
                    <!-- <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFiltersCatalog" placeholder="Aprendizaje Clave" id='keylearningId'
                        name='keylearningId' [(ngModel)]="keylearningId" (selectionChange)="onChangeSelect()"
                        matTooltip="{{getToolTipDataKeylearning(keylearningId)}}">
                        <mat-option [value]="0">
                          Seleccione un aprendizaje clave
                        </mat-option>
                        <mat-option *ngFor="let key of keylearning" [value]="key.id">
                          {{ key.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>

                  <!-- Aprendizaje esperado -->
                  <div class="col-md-6">
                      <label for="keyId">Aprendizaje esperado</label>
                      <ng-select  [items]="learningexpected"
                        [disabled]="!showFiltersCatalog"
                        bindLabel="description"
                        bindValue="id"
                        labelForId="keyId"
                        placeholder="Seleccione un elemento"
                        [(ngModel)]="learningexpectedId"
                        (change)="onChangeSelect()">
                      <ng-template ng-option-tmp let-item="item">
                        <div title="{{item.name}}">{{item.name}}</div>
                      </ng-template>
                    </ng-select>
                    <!-- <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFiltersCatalog" placeholder="Aprendizaje esperado" id='learningexpectedId'
                        name='learningexpectedId' [(ngModel)]="learningexpectedId" (selectionChange)="onChangeSelect()"
                        matTooltip="{{getToolTipDaTALearningexpected(learningexpectedId)}}">
                        <mat-option [value]="0">
                          Seleccione un aprendizaje esperado
                        </mat-option>
                        <mat-option *ngFor="let learning of learningexpected" [value]="learning.id">
                          {{ learning.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>

                  <!--Proposito -->
                  <div class="col-md-12">
                      <label for="purposId">Propósito</label>
                      <ng-select  [items]="purposes"
                        [disabled]="!showFiltersCatalog"
                        bindLabel="description"
                        bindValue="id"
                        labelForId="purposId"
                        placeholder="Seleccione un elemento"
                        [(ngModel)]="purposeId"
                        (change)="onChangeSelect()">
                      <ng-template ng-option-tmp let-item="item">
                        <div title="{{item.name}}">{{item.name}}</div>
                      </ng-template>
                    </ng-select>
                    <!-- <mat-form-field class="materialize-full-width">
                      <mat-select [disabled]="!showFiltersCatalog" placeholder="Propósito" id='purposeId'
                        name='purposeId' [(ngModel)]="purposeId" (selectionChange)="onChangeSelect()"
                        matTooltip="{{getToolTipDataPurpose(purposeId)}}">
                        <mat-option [value]="0">
                          Seleccione un propósito
                        </mat-option>
                        <mat-option *ngFor="let purpose of purposes" [value]="purpose.id">
                          {{ purpose.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>
                </div>


                <!-- Dashboard -->
                <section id="pg-dashboard" class="mt-3 border-0" *ngIf="contentType.length > 0">
                  <div *ngIf="content.length > 0">
                    <ul id="list-content-files" class="list-group mb-3">
                      <li class="list-group-item" *ngFor="let item of content; let i = index">
                        <div class="row">
                          <div class="item-files-icon col-md-1 icon-lg ">
                            <mat-icon class="{{ item.fileTypeId | typeFile }}"> </mat-icon>
                          </div>
                          <div class="item-files-text col-md-10">
                            <span class="files-label-detail">{{ item.name }}
                              <small> {{ item.description }} </small>
                            </span>
                          </div>
                          <div class="item-files-link col-md-1">
                            <a class="lnk-content-select" (click)="selectShowFile( item )">
                              <mat-icon class="icon " joyrideStep="{{'firstStep' + i }}" title="Libros de texto en PDF" text="Presiona el siguiente ícono para visualizarlo.">
                                {{ item.fileTypeId | fileIconShow }}
                              </mat-icon>
                            </a>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                    </ul>
                    <!-- COMPONENTE DE PAGINACION -->
                    <ul class="pagination-control">

                      <li>
                        <span class="pages">
                          {{ pagination.getInitRegister() }} - {{ pagination.getEndRegister() }} de
                          {{ pagination.total }}
                        </span>
                      </li>
                      <li>
                        <a [ngClass]="{'disabled': pagination.getPreviousPage() < 1 }"
                          (click)="onChangePage(1, pagination.getPreviousPage() < 1 )">
                          <i class="fas fa-angle-double-left"></i>
                        </a>
                      </li>
                      <li>
                        <a [ngClass]="{'disabled': pagination.getPreviousPage() < 1 }"
                          (click)="onChangePage(pagination.getPreviousPage(), pagination.getPreviousPage() < 1 )">
                          <i class="fas fa-angle-left"></i>
                        </a>
                      </li>
                      <li>
                        <span class="label"> {{ pagination.pageNumber }} - {{ pagination.totalPage }} </span>
                      </li>
                      <li> <a [ngClass]="{'disabled': pagination.getNextPage() > pagination.totalPage }"
                          title="Página {{ pagination.getNextPage() }}"
                          (click)="onChangePage(pagination.getNextPage(), pagination.getNextPage() > pagination.totalPage )">
                          <i class="fas fa-angle-right"></i>
                        </a>
                      </li>
                      <li>
                        <a [ngClass]="{'disabled': pagination.getNextPage() > pagination.totalPage }"
                          (click)="onChangePage(pagination.totalPage, pagination.getNextPage() > pagination.totalPage )">
                          <i class="fas fa-angle-double-right"></i>
                        </a>
                      </li>

                    </ul>

                  </div>

                </section><!-- Fin del Dashboard -->

                <div class="row  justify-content-md-center" *ngIf="showResources || selectTypeFile.length == 0">
                  <div class="col-md-8">
                      <div class="background-nofound">
                          <div class="content">
                            <mat-icon class="icon">remove_circle</mat-icon>
                            <span>Seleccione un tipo de archivo para mostrar contenido.</span>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
    <!-- Menú -->
  </section><!-- Fin del Row -->
</section><!-- Fin del contenido del sitio -->
