<app-loading [showLoading]="working">
</app-loading>

<header id="pg-content-header" class="border-bottom container-fluid">
  <div class="row">
    <div class="pg-content-headet-title ">
      <button  (click)="_srvAdminNav?.onOpenMenu()" type="button"  mat-icon-button>
        <mat-icon>reorder</mat-icon>
      </button>
      <h5 class="ml-3 hidden-column" title=" {{ _srvAdminNav.title }}"  *ngIf="_srvAdminNav?.title !=''"> {{ _srvAdminNav.title }} </h5>
    </div>
    <div class="pg-content-head-menu" >


      <ul id="menu" class="topbar list-unstyled">
          <li><a class="link-circle cursor"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span *ngIf="_srvAdminNav?.notifications?.length > 0" class="badge  badge-pill badge-primary">
                  {{ _srvAdminNav?.notifications?.length }}</span>
                <i class="fa fa-bell"> </i>
              </a>
          <div class="dropdown-menu dropdown-menu-right mailbox animated fadeIn" role="menu" style="right: 10px; " aria-labelledby="2">
              <ul *ngIf="_srvAdminNav?.notifications?.length > 0">
                  <li>
                      <div class="drop-title">Tú tienes {{ _srvAdminNav?.notifications?.length }} mensajes</div>
                  </li>
                  <li>
                      <div class="message-center">
                          <a *ngFor="let notification of _srvAdminNav.notifications">
                              <div class="user-img">
                                <img src="assets/images/icn_bell.png" alt="user" class="img-circle">
                                <span class="profile-status online pull-right"></span> </div>
                              <div class="mail-contnet">
                                 <a (click)="onReadMessages( notification.id )" class="lnk-close"><i class="fa fa-times"></i></a>
                                  <h5> {{ notification.title }}
                                    <!--<small> {{ notification.registerDate | date: 'short' }} </small>-->
                                    <small> {{ notification.registerDate | date: 'dd/MM/yyyy' }} </small>
                                  </h5>
                                  <span class="mail-desc">{{ notification.message }}</span>
                              </div>
                          </a>

                      </div>
                  </li>
                  <li>
                      <a [routerLink]="['/user/profile']" [queryParams]="{ tab: 1 }" class="nav-link text-center">
                        <strong>Ver todas las notificaciones <i class="fa fa-angle-right"></i></strong>
                      </a>
                  </li>
              </ul>
              <div *ngIf="_srvAdminNav?.notifications?.length == 0" class="message-empty">
                <div class="content">
                    <mat-icon class="icon">message</mat-icon>
                    <h2>Sin notificaciones</h2>
                </div>
              </div>

          </div>

        </li>
        <li>
          <a (click)="signOut()" class="link-circle cursor" title="Cerrar sesión" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-power-off"> </i>
          </a>
        </li>

      </ul>



      <a *ngIf="_srvHeaderNav?.urlReturn?.length > 0" (click)="_srvHeaderNav?.onClickBackButton()"  id="btn-back">
        <i class="far fa-arrow-alt-circle-left"></i> {{ _srvHeaderNav?.urlReturn[1] }}
      </a>

  </div>

  </div>
</header>
<h5 class="ml-3 mt-2 responsive-column" title=" {{ _srvAdminNav.title }}"  *ngIf="_srvAdminNav?.title !=''"> {{ _srvAdminNav.title }} </h5>
