<footer>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="img-comtainer">
        <img src="assets/images/logo-sali-sm.png" width="100" class="img-responsive "  />
        <small class="ml-2">Derechos reservados PCH</small>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <ul class="list-unstyled">
          <li><a href="#">Condiciones</a></li>
          <li><a href="#">Políticas de privacidad</a></li>
          <li><a href="#">Contato</a></li>

        </ul>
    </div>
  </div>


</footer>
