<div class="container-fluid">
    <div class="row" [hidden]='!showEpub'>
      <div *ngIf="pageurl != undefined" id="contents" class="col-lg-12 col-md-12 resp-container" style="padding: 0px" >
           <iframe class="resp-iframe" [src]="pageurl"  type="application/epub+zip"></iframe> 
      </div>
    </div>
  </div>
