<div class="mdl-wrapper">
  <h4 class="text-center"> Crear nueva sala </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm( false)">
          <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
  <hr/>

  <!-- Aqui va el componente -->
  <div class="container">
    <app-add-thread
    (closeModal)="onCloseConfirm( $event )">

    </app-add-thread>
  </div>
</div>
