<app-loading [showLoading]="working">
</app-loading>

<div class="row">
  <div *ngIf="showForm"  id="cnt-frm-exam" class="col-md-12 mt-3">
    <form  (ngSubmit)="onSubmit()" [formGroup]="frmTaskSchudele" novalidate autocomplete="off"  #formExamSchedule="ngForm">
      <div class="form-group">
        <mat-form-field class="materialize-full-width">
            <mat-select placeholder="Parcial" name="SchedulingPartialId" id="SchedulingPartialId" formControlName="SchedulingPartialId" (selectionChange)="onChangePartial( $event )">
                <mat-option *ngFor="let partial of schedulingPlartial" [value]="partial.id">
                  {{ partial.description }}
                </mat-option>
              </mat-select>
        </mat-form-field>
      </div>
      <!-- Name -->
      <div class="form-group">
        <mat-form-field class="materialize-full-width">
          <input  matInput
                  placeholder="Nombre"
                  maxlength="350"
                  id="name"
                  name="name"
                  formControlName="name"
                  aria-describedby="emailHelp">
        </mat-form-field>
        <div *ngIf="frmTaskSchudele.get('name').errors?.required && frmTaskSchudele.get('name').touched" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El campo nombre es requerido
          </div>
      </div>

      <!-- APPLICATiON DATE -->
      <div class="row">
        <div class="form-group col-md-6">
          <mat-form-field class="materialize-full-width">
            <input matInput
            [min]="dateInti"
            [max]="dateEnd"
                    [matDatepicker]="scheduledDate"
                    placeholder="Fecha inicio aplicación"
                    name="scheduledDate"
                    id="scheduledDate"
                    (focus)="scheduledDate.open()"
                    (dateChange)="onChangeInit($event.value)"
                    formControlName="scheduledDate">
            <mat-datepicker-toggle matSuffix [for]="scheduledDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #scheduledDate></mat-datepicker>

          </mat-form-field>
          <div *ngIf="frmTaskSchudele.get('scheduledDate').errors?.required && frmTaskSchudele.get('scheduledDate').touched" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El campo fecha de aplicación es requerido
          </div>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="materialize-full-width">
            <input matInput
            [min]="dateInti"
            [max]="dateEnd"
                    [matDatepicker]="openingDate"
                    placeholder="Fecha fin aplicación"
                    name="openingDate"
                    id="openingDate"
                    (focus)="openingDate.open()"
                    (dateChange)="onChangeEnd($event.value)"
                    formControlName="openingDate">
            <mat-datepicker-toggle matSuffix [for]="openingDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #openingDate></mat-datepicker>

          </mat-form-field>
          <div *ngIf="frmTaskSchudele.get('openingDate').errors?.required && frmTaskSchudele.get('openingDate').touched" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El campo fecha de aplicación es requerido
          </div>
        </div>
      </div>


        <!-- DESCRIPTION -->
        <div class="form-group">
          <mat-form-field class="materialize-full-width">
            <textarea matInput
                   #description
                   placeholder="Descripción de la programación"
                   maxlength="500"
                   id="description"
                   name="description"
                   formControlName="description">
            </textarea>
            <mat-hint align="end">{{description.value?.length || 0}}/500</mat-hint>
          </mat-form-field>

          <div *ngIf="frmTaskSchudele.get('description').errors?.required && frmTaskSchudele.get('description').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo descripción es requerido
          </div>



      </div>
      <!-- Div calificacion -->
      <div class="form-group">
        <mat-checkbox formControlName="typeScore" id="typeScore"  (change)="onChangeTypeScore( $event.checked); msg= ($event.checked) ? false : true">
         Calificación por puntuación</mat-checkbox>
         <p class="msgScore">
            <mat-hint align="end"><span *ngIf="msg">La tarea será calificada por cumplimiento</span></mat-hint>
          </p>
      </div>
      <div class="form-group" *ngIf="qualification">
        <!-- check para calificación por porcentaje -->
        <div class="form-group ctrl-check-top">
          <mat-checkbox   formControlName="typeOfQualification" id="typeOfQualification" (change)="onChagequalifications($event.checked)">
            Calificación por porcentaje</mat-checkbox>
        </div>

        <!-- Name -->
        <div class="form-group">
          <mat-form-field class="materialize-full-width">
            <input  matInput
                    placeholder="Calificación"
                    maxlength="3"
                    id="assignedQualification"
                    name="assignedQualification"
                    aria-describedby="emailHelp"
                    formControlName="assignedQualification"
                    [(ngModel)]="ponderation"
                    (keyup)="onChangeQualification()"
                    (keypress)="numberOnly($event)">
            <mat-hint align="end">{{ ponderation }}/{{ typeQualify }}</mat-hint>

          </mat-form-field>
          <p class="msgScore" *ngIf="showTotal">
            <mat-hint align="end"><span >Sumatoria de porcentajes {{ totalQualification  }}% </span></mat-hint>
          </p>
        </div>

      </div>

      <hr>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 col-sm-12  col-xs-12 ">
            <mat-card>
              <mat-card-content>
                <mat-list>
                  <h2 mat-subheader>Estructura de contenidos</h2>
                  <mat-list-item *ngFor="let folder of recourseType">
                    <div style=" cursor: pointer; display: contents;" id="content-list" (click)="changeFolder( folder.id )">
                      <mat-icon mat-list-icon *ngIf="active == folder.id">folder_open</mat-icon>
                      <mat-icon mat-list-icon *ngIf="active != folder.id">folder</mat-icon>
                        <h4 mat-line>{{folder.description}}</h4>
                    </div>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div id="cnt-exam-list" class="col-md-8 col-sm-12  col-xs-12 ">
            <div *ngIf="visible">
              <!-- <mat-list>
                <mat-list-item class="lst-table" *ngFor="let content of contentsTeacher">
                  <div class="cnt-text">
                    <div class="row">
                      <div class="col">
                        <span class="label">{{ content.name }}
                          <small>Nombre</small>
                        </span>
                      </div>
                      <div class="col">
                        <span class="label">{{ content.registerDate | date}}
                          <small>Fecha de registro </small>
                        </span>
                      </div>
                      <div class="col" >
                        <span matTooltip="{{ content.description }}" class="label" id="description">{{ content.description | truncate: 20 : true }}</span>
                        <small>Descripción</small>
                      </div>
                    </div>
                  </div>
                  <div class="text-right cnt-buttons">
                    <mat-checkbox  [checked]="content.selected" name="assing" (change)="onChangeAssing( content.id, $event )">
                      Asignar</mat-checkbox>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list> -->

                <!-- nueva lista -->

          <div id="cnt-exam-list"  class="col-md-12 mt-2" style="overflow-y: auto;">

              <table class="table-list table table-sm">
                <tbody>
                  <tr *ngFor="let content of contentsTeacher">
                    <!-- Nombre -->
                    <td class="hidden-column">
                      <div class="label small fixedheight40">
                        <small>&nbsp;</small>
                        <small>{{ content.name}}</small>
                      </div>
                      <div class="label small ">
                        <small><strong>Nombre</strong></small>
                      </div>
                    </td>
                    <!-- Descripción -->
                    <td class="hidden-column">
                      <div class="label small fixedheight40">
                        <small>&nbsp;</small>
                        <small>{{ content.registerDate | date}}</small>
                      </div>
                      <div class="label small">
                        <small><strong>Fecha de registro</strong></small>
                      </div>
                    </td>

                    <!-- Calificacion -->
                    <td class="hidden-column">
                      <div class="label small fixedheight40">
                        <small> {{ content.description }}</small>
                      </div>
                      <div class="label small">
                        <small><strong> Descriptión</strong></small>
                      </div>
                    </td>

                    <!-- Calificacion -->
                    <td class="hidden-column">
                      <div class="label small fixedheight40">
                          <mat-checkbox  [checked]="content.selected" name="assing" (change)="onChangeAssing( content.id, $event )">
                              Asignar</mat-checkbox>
                      </div>
                    </td>


                    <td class="hidden-column">
                    </td>
                    <td class="responsive-column">
                      <span class="label">{{content.name}}
                        <small>Nombre</small>
                      </span>
                      <span class="label">{{ content.description }}
                        <small>Descripción</small>
                      </span>


                    </td>
                  </tr>
                </tbody>
              </table>


            </div>
            </div>
            <!--  -->
            <div class="row" *ngIf="!visible">
              <div  class="col-md-12">
                <div class="background-nofound">
                  <div class="content">
                    <mat-icon class="icon">block</mat-icon>
                    <span>No existe contenido para este apartado</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- BUTTONS -->
      <div class="form-group text-right">
        <button mat-raised-button
                [disabled]="!frmTaskSchudele.valid"
                class="mr-2"
                color="primary">
          <mat-icon aria-label="Guardar programación de tarea">save</mat-icon>
          Guardar
        </button>
        <button
            id="btn-exam-cancel"
            type="button"
            (click)="onClickCancel()"
            mat-raised-button
            color="warn">
            <mat-icon aria-label="Cancelar programación de tarea">clear</mat-icon>
            Cancelar
        </button>
      </div>
    </form>
  </div>

  <!-- Aviso de validacion -->
  <div  class="col-md-12 mt-2" *ngIf='taskSchedules.length == 0 && !showForm'>
    <div class="background-nofound">
        <div class="content">
            <mat-icon class="icon">calendar_today</mat-icon>
            <span>Sin programación de tareas</span>
        </div>
      </div>
  </div>

  <!-- Listado de tarea programadas en un grupo -->
  <div *ngIf="showQualitify" class="row" >
    <div class="col-md-12">
      <p>Porcentaje asignado: {{ homeworkPer }}% </p>
    </div>

  </div>

  <!-- <div  id="cnt-exam-list"
       *ngIf=" !showForm && taskSchedules?.length > 0"
        class="col-md-12 mt-2">
    <mat-list>
      <mat-list-item class="lst-table" *ngFor="let task of taskSchedules">
        <div class="cnt-text">
          <div class="row">
            <div class="col">
              <span class="label" matTooltip="{{ task.name }}">{{ task.name | truncate: 14 : true }}
                <small>Nombre</small>
              </span>
            </div>

            <div class="col">
              <span class="label" matTooltip="{{ task.description }}">{{ task.description | truncate: 14 : true }}
                <small>Descripción</small>
              </span>
            </div>
            <div class="col">
              <span class="label">{{ task.scheduledDate | date}} - {{ task.openingDate | date}}
                <small>Periodo</small>
              </span>
            </div>
            <div class="col">
                <span class="label" matTooltip="Porcentaje / Puntuación">{{ task.assignedQualification }}
                  <small>Calificación</small>
                </span>
              </div>
          </div>
        </div>
        <div class="text-right cnt-buttons">
          <button mat-icon-button
                  matTooltip="Editar datos"
                  (click)="onClickEdit(task)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button
                  matTooltip="Calificar tarea"
                  (click)="addRating( task )">
            <mat-icon>done_all</mat-icon>
          </button>
          <button mat-icon-button
                  matTooltip="Eliminar"
                  color="warn"
                  (click)="onClickDelete( task.id )">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div> -->

  <div id="cnt-exam-list" *ngIf="!showForm && taskSchedules?.length > 0" class="col-md-12 mt-2" style="overflow-y: auto;">

      <table class="table-list table table-sm">
        <tbody>
          <tr *ngFor="let task of taskSchedules">
            <!-- Nombre -->
            <td class="hidden-column">
              <div class="label small fixedheight40">
                <small>&nbsp;</small>
                <small>{{ task.name}}</small>
              </div>
              <div class="label small ">
                <small><strong>Nombre</strong></small>
              </div>
            </td>
            <!-- Descripción -->
            <td class="hidden-column">
              <div class="label small fixedheight40">
                <small>&nbsp;</small>
                <small>{{ task.description}}</small>
              </div>
              <div class="label small">
                <small><strong>Descripción</strong></small>
              </div>
            </td>
            <!-- Periodo -->
            <td class="hidden-column">
              <div class="label small fixedheight40">
                <small>Inicio <strong>{{ task.scheduledDate | date}}</strong></small>
                <small>Fin <strong>{{ task.openingDate | date}}</strong></small>
              </div>
              <div class="label small">
                <small><strong>Periodo aplicación</strong></small>
              </div>
            </td>
            <!-- Calificacion -->
            <td class="hidden-column">
              <div class="label small fixedheight40">
                <small> {{ task.assignedQualification }}</small>
              </div>
              <div class="label small">
                <small><strong> Porcentaje / Puntuación</strong></small>
              </div>
            </td>


            <td class="hidden-column">
              <div style="min-width: 120px;">
                <button mat-icon-button matTooltip="Editar datos" (click)="onClickEdit(task)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Calificar" (click)="addRating( task )">
                  <mat-icon>done_all</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Eliminar" color="warn" (click)="onClickDelete( task.id )">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
            <td class="responsive-column">
              <span class="label">{{task.name}}
                <small>Nombre</small>
              </span>
              <span class="label">{{ task.scheduledDate | date}} al {{ task.openingDate | date}}
                <small>Periodo de aplicación</small>
              </span>

              <div class="float-right">
                <button mat-icon-button matTooltip="Editar datos" (click)="onClickEdit(task)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Calificar examen" (click)="addRating( task )">
                  <mat-icon>done_all</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Eliminar" color="warn" (click)="onClickDelete( task.id )">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>


    </div>


</div>

