<app-loading [showLoading]="working">
</app-loading>

<!-- Contenido //////////////////////////////////////////////////////////////////////////// -->
<section class="container">
  <mat-card *ngIf="this.beginDateTime==null || !isExamAvailable">
    <mat-card-title>
      <h4>{{ examSchedule?.description }} </h4>
      <p>
        Periodo de aplicación: <strong>{{examSchedule?.beginApplicationDate | date}} al
          {{examSchedule?.endApplicationDate | date}}</strong>
      </p>
      <p *ngIf="examSchedule?.beginApplicationTime!=null">
        Horario de aplicación: <strong>{{examSchedule?.beginApplicationTime | date : 'HH:mm:ss'}} a
          {{examSchedule?.endApplicationTime | date : 'HH:mm:ss'}}</strong>
      </p>
      <p *ngIf="examSchedule?.minutesExam!=null">
        Duración: <strong> {{examSchedule?.minutesExam}} Minutos</strong>
      </p>
      <div *ngIf="isExamCompleted" class="text-danger">
        <i class="fa fa-exclamation-circle"></i> El examen ya fue presentado.
      </div>
      <div *ngIf="!isExamAvailable && !isExamCompleted" class="text-danger">
        <i class="fa fa-exclamation-circle"></i>{{getCondition()}}
      </div>
      <div *ngIf="isExamAvailable && !isExamCompleted">
        <p>
          ¡Una vez iniciado el examen deberá completarlo en el tiempo disponible!
        </p>
        <button mat-raised-button id="btn-start-exam" type="button" class="mr-2 mt-2" color="primary"
          (click)="startExam()" [disabled]='!isExamAvailable'>
          <mat-icon aria-label="Generar">offline_bolt</mat-icon>
          Iniciar
        </button>
      </div>
      <div *ngIf="!isExamAvailable || isExamCompleted" class="text-right">
        <button mat-raised-button id="btn-back" type="button" class="mr-2 mt-2" color="primary" (click)="back()">
          <mat-icon aria-label="Generar">keyboard_backspace</mat-icon>
          Regresar
        </button>
      </div>
    </mat-card-title>
  </mat-card>
  <mat-card *ngIf="isExamAvailable && !isExamCompleted">
    <!-- TITLE -->
    <mat-card-title>
      <!-- Aqui va la pregunta -->
      <h4>{{ examName }}</h4>
    </mat-card-title>
    <mat-card-content>
      <hr />
      <br />
      <mat-card-subtitle>
        <h4 *ngIf="question"> {{ question.index + 1}}._ {{ question.content }} </h4>

        <div *ngIf="question">
          <div class="col-12 mt-3" *ngIf="question.urlImage" class="text-center">
            <img src="{{ question.urlImage }}"
              [ngClass]="{ 'width-adjust': question.imageWidth > 500, 'height-adjust': question.imageHeight > 500 }">
          </div>
        </div>
      </mat-card-subtitle>
      <div *ngIf="question">
        <!-- Para preguntas opcion -->
        <div *ngIf="!question.isMultiple">
          <div class="col-12 mt-3" *ngIf="question.questionTypeId == 1">
            <mat-radio-group>
              <div *ngFor="let item of question.answers; let i = index ">
                <mat-radio-button [checked]="idd == item.id" (change)="change($event)" value="{{item.id}}">
                  {{ item.description}}</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <div *ngIf="question.isMultiple">
          <div *ngFor="let item of question.answers;  let i = index">
            <mat-checkbox [checked]="idds[i] == item.id" (change)="changeCheck($event)" value="{{item.id}}">
              {{question.questionTypeId != 5 ?item.description:''}}
              <img *ngIf="question.questionTypeId == 5" src="{{ item.description }}"
                [ngClass]="{ 'width-adjust': item.imageWidth > 500, 'height-adjust': item.imageHeight > 500 }">
            </mat-checkbox>
          </div>
        </div>

        <!-- Para preguntas relacionales -->
        <div class="col-12 mt-3" *ngIf="question.questionTypeId == 3">
          <table class="table table-striped animated fadeIn">
            <thead>
              <tr class="text-center">
                <th> Columna A </th>
                <th> Columna B </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let answer of question.answers, let i = index">
                <td width="20%">

                  {{ i + 1  }} ) {{ answer.description }}
                </td>
                <!--  INPUT ACIERTO -->
                <td width="20%">
                  <input type="text" autocomplete="false" matTooltip="Respuesta" class="text-center form-control"
                    placeholder="Respuesta"
                    (blur)="relationAsugned( $event.target.value, answersOrder[i], answer.id, question.id, i )"
                    value="{{answer.indexRelation }}">
                  {{ answersOrder[i] }}
                </td>

                <ng-template #columnEmpty>
                  <td width="20%">
                    &nbsp;
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Para preguntas true/false -->
        <div class="col-12 mt-3" *ngIf="question.questionTypeId == 4 && !question.isMultiple">
          <mat-radio-group>
            <mat-radio-button [checked]="idd == item.id" (change)="change($event)" *ngFor="let item of question.answers"
              value="{{item.id}}">{{ item.description}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <!-- Para preguntas opcion -->
        <div class="col-12 mt-3" *ngIf="question.questionTypeId == 5 && !question.isMultiple">
          <mat-radio-group>
            <mat-radio-button [checked]="idd == item.id" (change)="change($event)" *ngFor="let item of question.answers"
              value="{{item.id}}">
              <img src="{{ item.description }}"
                [ngClass]="{ 'width-adjust': item.imageWidth > 500, 'height-adjust': item.imageHeight > 500 }">
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <!-- contador -->
        <div id="pag">
          <a [hidden]="question.index == 0" (click)="getQuestion(question.index - 1)">
            <mat-icon>skip_previous</mat-icon>
          </a>
          <span>Preguntas resueltas: {{ countTotalQuestiosn }} de {{ questionsTotal }} </span>
          <a [hidden]=" question.index + 1 == questionsTotal" (click)="getQuestion(question.index + 1)">
            <mat-icon>skip_next</mat-icon>
          </a>
        </div>
        <div class="text-right">
          <button mat-raised-button id="btn-exam-save" type="button" class="mr-2 mt-2" color="primary"
            (click)="qualifyExam()" [disabled]="countTotalQuestiosn != questionsTotal">
            <mat-icon aria-label="Generar">offline_bolt</mat-icon>
            Enviar a calificar
          </button><br />
          <div *ngIf="this.beginDateTime!=null && examSchedule?.minutesExam!=null"
            style="color: blue; font-weight: 140%;">
            Tiempo Restante:
            <strong>{{horasRestantes}}:{{minutosRestantes}}:{{segundosRestantes}}</strong></div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</section><!-- Fin del Contenido-->