.mat-radio-button ~ .mat-radio-button {
  padding-right: 20px;
  display: block;
}

.example-full-width {
  width: 100%;
}

#pag a {
  padding: 50px;
  cursor: pointer;
}

#pag {
  text-align: center;
}

table {
  width: 100%;
}

input {
  display: -webkit-inline-box;;
  width: 26%;
}




mat-checkbox {
  display: block;
}
