<div class="mdl-wrapper">
  <h4 class="text-center"> Programación de exámenes </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm()">
          <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
<hr/>

<app-exam-schedules [group]="data"
(closeModal)="closeModalConfirm( $event)">
</app-exam-schedules>

</div>
