<div class="mdl-wrapper">
  <h4 class="text-center"> Archivos de Actividades </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm()">
          <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
  <hr/>

  <!-- Aqui va el componente -->
  <div class="container">
      <div class="row">
          <div class="text-center col-md-12">
              <h2>{{ homeworkName }}</h2>
              <p>{{ homeworkDescription }}</p>
            </div>
        <div class="col-md-12">
          <hr>
          <mat-list>
            <mat-list-item class="lst-table" *ngFor="let file of studensHomework">
              <div class="cnt-text">
                <div class="row">
                  <div class="col">
                    <span class="label">{{ file.comment }}
                      <small>Nombre</small>
                    </span>
                  </div>

                </div>
              </div>
              <div class="text-right cnt-buttons">
                <div class="">
                    <a href="{{ file.url }}" target="_blank" rel="noopener noreferrer"  matTooltip="Descargar contenido">
                        <mat-icon>get_app</mat-icon>
                      </a>
                </div>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
        <!-- <div class="col-md-12">
          <mat-form-field>
            <mat-select [(ngModel)]="selected2">
              <mat-option *ngFor="let option of options2" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
      </div>

  </div>
</div>
