<div class="row content-notifications mt-3">
  <!-- NO FOUND COUPONS -->
  <!-- <div *ngIf="coupons?.length == 0" class="background-nofound">
    <div class="content">
        <span>
          <mat-icon class="icon" class="text-success">local_offer</mat-icon>
          No tienes puntos, te aconsejamos compartir tu código
        </span>
    </div>
  </div> -->
  <div class="h5 ml-3">
    Mis puntos acumulados: <span class="badge">100</span>
  </div>

  <table class="table-material w-100" mat-table [dataSource]="dataSourcePoint" >
  
    <ng-container matColumnDef="dateCreated"> 
      <th mat-header-cell *matHeaderCellDef > Fecha </th>
      <td class="row-table" mat-cell *matCellDef="let element"> {{ element.dateCreated | date:'dd/MMM/y' }} </td>
    </ng-container>


    <ng-container matColumnDef="point">
      <th mat-header-cell *matHeaderCellDef > Puntos </th>
      <td class="row-table" mat-cell *matCellDef="let element"> {{ element.point }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsPoint;"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsPoint;"></tr>
    

  </table>

  <div class="d-flex justify-content-end w-100">
    <button class="btn btn-success btn-cupon" (click)="createExchangeCode()">Crear codigo de canje</button>
  </div>


</div>
