<app-loading [showLoading]="working"></app-loading>

<div class="mt-3 card">
    <div class="card-title">
        <div class="card-title-spacer">
            Generar calificación final

            <mat-slide-toggle style="display: none;" class="float-right" name="studentScoreStatus" [disabled]="readOnly"
                [(ngModel)]="studentScoreStatus" (ngModelChange)="onChangeStudentScoreStatus($event)">
                Cerrar calificación
            </mat-slide-toggle>

        </div>
        <!-- <button mat-icon-button type="button"
            color="primary"
            (click)="onClickAddNew()">
      <mat-icon>add</mat-icon>
    </button> -->
    </div>
    <div class="card-body">
        <!--Ricardo - Agregado - Inicio-->
        <div class="row">
            <div class="col-md-10 "></div>
            <div class="col-md-1 ">
                <button mat-icon-button type="button"
                    color="primary"
                    (click)="onClickDownload()">
                    <mat-icon>cloud_download</mat-icon>
                </button>
            </div>
            <div class="col-md-1 ">
                <button mat-icon-button type="button"
                    color="primary" 
                    (click)="onClickSendPdf()">
                    <mat-icon>email</mat-icon>
                </button>
            </div>
        </div>
        <!--Ricardo - Agregado - Fin-->
        <div class="row">
            <div id="cnt-exam-list" class="col-md-12 mt-2">
                <mat-list-item class="lst-table" *ngFor="let f of finalScore; let newindex = index">

                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header
                                [ngClass]="{'divCustomGreen': f.status === 2, 'divCustomOrange': f.status ===3 }">

                                <mat-panel-title>
                                    <span
                                        [ngClass]="{'spanCustomWhiteGreen': f.status === 1, 'spanCustomWhiteOrange': f.status === 3}">
                                        <i class="fas fa-plus lnkTitle"></i> &nbsp; Nombre: {{f.studentName}}</span>
                                </mat-panel-title>

                                <mat-panel-description>
                                    <span class="lnkSubtitle" *ngFor="let d of f.partials"
                                        [ngClass]="{'spanCustomWhiteGreen': f.status === 1, 'spanCustomWhiteOrange': f.status === 3}">
                                        {{d.description | CalificacionFinalPipe }} / &nbsp;
                                    </span>
                                </mat-panel-description>

                            </mat-expansion-panel-header>


                            <table class="table table-striped animated fadeIn shadow">
                                <tr>
                                    <th class="thParcial"> Parcial </th>
                                    <th > Ponderación </th>   <!-- Ricardo - Agregado-->
                                    <th class="lnkPartials" *ngFor="let d of f.partials"
                                        (click)="onEditHeader({data: f, description: d.description});">{{d.description | CalificacionFinalPipe}}
                                        <button type="button" mat-icon-button color="primary"
                                            matTooltip="Editar parcial">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </th>
                                </tr>

                                <!-- <td class="text-right">
                                        <button class="lnk-btn-table" mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                                        <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
                                            <button mat-menu-item (click)="onEditScore( f )">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                          </button>
                                            <button mat-menu-item (click)="onClickDelete( f )">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                          </button>
                                        </mat-menu>
                                    </td> -->
                                    <tr>
                                        <td class="thAttributes"> Periodo </td>
                                        <td></td> <!-- Ricardo - Agregado-->
                                        <td *ngFor="let p of f.partials">{{p.partialperiod }}</td>
                                    </tr>
                                    <tr>
                                        <td class="thAttributes"> Tarea </td>
                                        <td>{{f.percentageHomework}} % </td> <!-- Ricardo - Agregado-->
                                        <td *ngFor="let p of f.partials">{{p.homework | number : '1.1-1'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="thAttributes"> Examen </td>
                                        <td>{{f.percentageExam}} % </td> <!-- Ricardo - Agregado-->
                                        <td *ngFor="let p of f.partials">{{p.exam | number : '1.1-1'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="thAttributes"> Actividad</td>
                                        <td>{{f.percentageActivity}} % </td> <!-- Ricardo - Agregado-->
                                        <td *ngFor="let p of f.partials">{{p.activity | number : '1.1-1'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="thAttributes"> Asistencia </td>
                                        <td>{{f.percentageAssitance}} % </td> <!-- Ricardo - Agregado-->
                                        <td *ngFor="let p of f.partials">{{p.assistance | number : '1.1-1'}}</td>
                                    </tr>
                                    <tr>
                                            <td class="thAttributes"> Puntos (+ / -)</td>
                                            <td></td> <!-- Ricardo - Agregado-->
                                            <td *ngFor="let p of f.partials">{{p.points | number : '1.1-1'}}</td>
                                        </tr>
                                    <tr>
                                        <td class="thAttributes"> Comentarios</td>
                                        <td></td> <!-- Ricardo - Agregado-->
                                        <td *ngFor="let p of f.partials">{{p.comment}}</td>
                                    </tr>
                                     <!-- Ricardo - Cambio de lugar - inicio-->
                                    <tr>
                                        <th class="thCalificacion"> Calificación </th>
                                        <td></td> <!-- Ricardo-->
                                        <th *ngFor="let p of f.partials">
                                             {{p.score | number : '1.0-0'}}</th>
                                    </tr>
                                      <!-- Ricardo - Cambio de lugar - inicio-->
                            </table>




                        </mat-expansion-panel>

                    </mat-accordion>

                    <mat-divider></mat-divider>
                </mat-list-item>
            </div>
        </div>
    </div>
</div>