.lnkToggle {
    cursor: pointer;
}

.lnkPartials {
    cursor: pointer;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background: #3077367d !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background: #307736 !important;
}

.divCustomGreen{
    background: #059761 !important; 
}
.divCustomGreen > span{
    color: white !important;
}
.divCustomOrange{
    background: #ff7400 !important;
}
.spanCustomWhiteGreen{
    color: white !important;
}
.spanCustomWhiteOrange{
    color: white !important;
}

/* CSS to change Default/'Accent' color */

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #307736; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #307736a3;  /*replace with your color*/
}
.thParcial{
    border-left: 5px solid #1776a5;
}
.thCalificacion{
  border-left: 5px solid #1675a5c7;  
}
.thAttributes{
    border-left: 5px solid #6b90a2ad;
}
.table td, .table th{
    padding-left: 12px;
}

// th.lnkPartials.ng-star-inserted:hover{
//     background: #ccc;
// }