<app-loading
  [showLoading]="working">
</app-loading>



  <div class="row mt-4" >
    <!-- Area de mensajes -->
    <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5 col-xl-4">
      <mat-card>
        <mat-card-content>
          <div class="row cnt-contacts-messages">
            <!-- Boton redactar -->
            <div class="col-md-12">
              <button (click)="onWriteMessage()"
                      class="float-right"
                      mat-raised-button
                      color="primary">
                <mat-icon aria-label="Guardar">message</mat-icon>
              </button>
            </div>
            <!--  Mensaje importante / agregar marcador de mensaje nuevo -->
            <div class="col-md-12 mt-3">
              <div class="item-messages" style="cursor: pointer" (click)="onShowConversation( message )" *ngFor="let message of messages">
                <div class="avatar-contact">
                    <div class="message-u-img" *ngIf="message.receiverAvatar">
                        <img src="{{ message.receiverAvatar }}" alt="user">
                      </div>
                      <div class="message-u-img" *ngIf="!message.receiverAvatar ">
                        <p> {{ message.receiverUserName  }}</p>
                      </div>
                </div>
                <div class="messages-contact">
                    <span [ngClass]="{'unread': message.isRead == false && message.owner }" class="label-name">
                        {{ message.receiverUserName }}
                        <small> <i class="fas fa-comments"></i> {{  message.lastMessage }}</small>
                    </span>
                </div>
                <div class="info-messages-contact">
                    <span class="label ">
                        <small>{{ message.lastMessageDate | date }} </small>
                      </span>
                      <!-- Aquí va el marcador de mensaje nuevo -->
                      <span *ngIf="message.isRead == false && message.owner" class="label">
                        <small> * Mensaje nuevo </small>
                      </span>
                </div>

              </div>

            </div>
          </div>
          <div class="clearfix"></div>
        </mat-card-content>
      </mat-card>
    </div>

    <!--  Area para leer / mandar mensaje -->
    <div class="col-sm-12 col-xs-12 col-md-7 col-lg-7 col-xl-8" [hidden]='!showSendMessage'>
      <mat-card>
        <mat-card-content>
          <!-- Datos del remitente -->
          <div id="chat-title" class="col-md-12">
            <div class="avatar-content">
                <div class="message-u-img" *ngIf="avatarImg">
                    <img src="{{ avatarImg }}" alt="user">
                  </div>
                  <div class="message-u-img" *ngIf="!avatarImg">
                      <p> {{ senderName }} </p>
                    </div>
            </div>
            <div class="name-content">
                <span class="text-left">
                    {{ senderName }}
                  </span>
            </div>
            <div class="clearfix"></div>
          </div>

          <hr>
          <!-- Bandeja de mensajes -->
          <!-- Mensaje importante / colocar el diseño del scroll -->
          <div #chatMessages class="messages col-md-12 mt-2" >

            <div *ngIf="messagesUser.length == 0">
              <div  class="col-md-12">
                <div class="background-nofound">
                  <div class="content">
                    <mat-icon class="icon">chat</mat-icon>
                    <span>Conversación sin mensajes</span>
                  </div>
                </div>
              </div>
            </div>

            <div *ngFor="let item of messagesUser">
              <div [ngClass]=" item.owner ? 'message-sender top' : 'message-receiver top' " >
                <div class="message">
                            {{ item.messages }}
                </div>
              </div>
              <span [ngClass]=" item.owner ? 'time_date_right' : 'time_date_left' "> {{item.senderDate | date: "h:mm a" }} | {{item.senderDate | date: "MMM d" }} </span>
            </div>



          </div>

          <hr>
          <form [formGroup]="frmMessage" (ngSubmit)="onSubmit()" novalidate autocomplete="off" #formMessages="ngForm">
            <!-- Cuerpo del mensaje -->
            <mat-form-field class="materialize-full-width">
              <textarea   matInput #descriptionClass
                          placeholder="Escribe tu mensaje..."
                          maxlength="1000"
                          id="message"
                          name="message"
                          rows="3"
                          formControlName="message">
              </textarea>
            </mat-form-field>
            <!-- Botones  -->
            <div class="col-md-12 text-left">

              <button mat-raised-button
              [disabled]="!frmMessage.valid"
                class="mr-2"
                color="primary">
                <mat-icon aria-label="Guardar pregunta">send</mat-icon>
                Enviar
              </button>
              <button
                  id="btn-question-cancel"
                  (click)="cancelSendMessage()"
                  type="button"
                  mat-raised-button
                  color="warn">
                  <mat-icon aria-label="Guardar pregunta">clear</mat-icon>
                  Cancelar
              </button>
            </div>
          </form>

        </mat-card-content>
      </mat-card>
    </div>

    <!-- Mensaje si no existe conversacion seleccionada -->
    <div class="col-sm-12 col-xs-12 col-md-7 col-lg-7 col-xl-8" [hidden]='showSendMessage'>
      <mat-card>
        <mat-card-content>
          <div  class="col-md-12">
            <div class="background-nofound">
              <div class="content">
                <mat-icon class="icon">chat</mat-icon>
                <span>Seleccione un usuario para iniciar o continuar una conversación.</span>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="clearfix"></div>


