<app-loading [showLoading]="working"> </app-loading>

<div class="card">
  <div class="card-title">
    <div class="card-title-spacer">Listado de alumnos: {{ students?.length }}</div>
    <button
      mat-icon-button
      type="button"
      color="primary"
      (click)="onclickSendInvitation()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
  <div class="card-body">

          <!-- NO FOUND MESSAGE -->
          <div *ngIf="students?.length == 0" class="background-nofound">
            <div class="content">
                <mat-icon class="icon">person</mat-icon>
                <span>No hay alumnos inscritos, te aconsejamos invitar alumnos al grupo</span>
            </div>
          </div>

          <div *ngIf="students?.length > 0">

              <table class="table-list table table-sm">
                  <tbody>
                    <tr *ngFor="let item of students; let i = index">
                      <td class="hidden-column">
                        <span class="label">{{ i + 1 }}
                        </span>
                      </td>
                      <td class="hidden-column">
                        <span class="label">{{ item.fullName }}
                          <small>Nombre</small>
                        </span>
                      </td>
                      <td class="hidden-column">
                        <span class="label">{{ item.email }}</span>
                        <small>Correo electrónico</small>
                      </td>
                      <td class="hidden-column">
                          <span class="label-box label-primary">{{ item.statusStudent }}</span>
                          <small>Estatus</small>
                      </td>
                      <td class="responsive-column">
                        <span class="label">
                          {{ i + 1 }} {{ item.fullName }}
                          <small>Nombre</small>
                        </span>
                        <span class="label">{{ item.email }}
                          <small>Correo eléctronico</small>
                        </span>
                        <span class="label-box label-primary">{{ item.statusStudent }}   </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
         </div>
</div>
