<app-loading [showLoading]="sendingMail">
</app-loading>

<!-- HEADER -->
<app-header></app-header>

<section id="inicio" class="site-banner">
	<article id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="assets/images/bienvenida.jpg" class="d-block w-100 img-carousel " alt="...">
				<div class="slide-text col-md-7">
					<h1>Bienvenida a Recursos Académicos 2.0<br>
						Estimados maestros y maestras:</h1>
					<br><br>
					<p>El grupo editorial Hachette Livre México pone a su disposición este portal académico con la finalidad de
						contribuir a la adecuada formación de los alumnos y las alumnas de educación básica, así como facilitar las
						tareas cotidianas que forman parte del trabajo docente.
						En este sitio, creado especialmente para los usuarios de nuestros textos educativos, usted encontrará,
						además de recursos didácticos y materiales de gestión escolar realmente útiles, la oportunidad de formar una
						comunidad profesional al interactuar con otros maestros y maestras de su nivel escolar, para intercambiar
						opiniones y experiencias de trabajo que pueden enriquecer su práctica docente.
						Estamos seguros de que los recursos incluidos en este sitio son herramientas que su creatividad hará todavía
						más útiles al adecuarlas a las necesidades de sus estudiantes y su contexto escolar, lo cual será para
						nosotros la mayor satisfacción.</p>
				</div>
				<i class="icon icon-mouse"></i>
			</div>
			<div class="carousel-item">
				<img src="assets/images/preescolar.jpg" class="d-block w-100 img-carousel " alt="...">
				<div class="slide-text col-md-7">
					<h1>Preescolar</h1>
				</div>
				<i class="icon icon-mouse"></i>
			</div>
			<div class="carousel-item">
				<img src="assets/images/primaria.jpg" class="d-block w-100 img-carousel " alt="...">
				<div class="slide-text col-md-7">
					<h1>Primaria</h1>
				</div>
				<i class="icon icon-mouse"></i>
			</div>
			<div class="carousel-item">
				<img src="assets/images/secundaria.jpg" class="d-block w-100 img-carousel " alt="...">
				<div class="slide-text col-md-7">
					<h1>Secundaria</h1>
				</div>
				<i class="icon icon-mouse"></i>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Siguiente</span>
			</a>
		</div><!-- End of Carousel -->
	</article>
</section><!-- End of Site Banner -->
<br><br>

<section *ngIf="_srvHeader?.news?.length > 0" id="noticias" class="site-news container mb-5 pt-3">
	<article class="row">
		<div class="block-title col-md-12">
			<h2>Noticias</h2>
		</div>
		<div *ngFor="let n of _srvHeader?.news" class="block-card col-md-4">
			<div class="mask-image-thumbnails">
				<img src="{{ n.urlImage }}" title="Imagen" alt="Imagen" class="d-block img-fluid">
			</div>
			<small>{{ n.registerDate | date  }}</small>
			<h5>{{ n.title  }}</h5>
			<p>{{ n.description  }}</p>
		</div>

		<div class="col-md-12 text-center">
			<a [routerLink]="['/home/list-news']" class="btn btn-primary">Más noticias</a>
		</div>
	</article><!-- End of Row -->
</section><!-- End of Site News -->

<section *ngIf="_srvHeader?.generalEvents?.length > 0" id="eventos" class="site-events container mb-5 pt-5">
	<article id="carouselExampleControlsEvents" class="carousel slide shadow-lg" data-ride="carousel">
		<div class="carousel-inner">
			<span class="carousel-title">
				<img src="assets/img/home/svg/icon-cal-a.svg" height="21" class="mr-3">Eventos
			</span>

			<div *ngFor="let item of _srvHeader?.generalEvents;  let i = index" [ngClass]="{'active': i == 0}"
				class="carousel-item bg-gris">
				<div class="row">
					<div class="slide-excerpt col-md-4 col-sm-12">

						<div class="slide-text col-md-10 col-sm-12">
							<h4>{{ item.name }}</h4>
							<p>{{ item.description }}</p>
							<p><img src="assets/img/home/svg/icon-cal-a.svg" height="14"> &nbsp; {{ item.eventDate | date }}</p>
							<a [routerLink]="['/home/detail-event', item.id]" class="btn btn-default">Ver detalles</a>
						</div>

						<i class="icon-arrow"></i>
					</div>

					<div class="slide-img col-md-8 col-sm-12">
						<img src="{{ item.urlImage }}" title="{{ item.name }}" alt="{{ item.name }}">
					</div>
				</div>
			</div>


			<a class="carousel-control-prev" href="#carouselExampleControlsEvents" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControlsEvents" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div><!-- End of Carousel -->
	</article>
</section><!-- End of Site Events -->
<br><br><br>

<section id="model" class="container mb-5 pt-4">
	<article class="mb-5">
		<div class="row">
				<div class="col-md-6 col-sm-12">
						<img src="assets/img/home/pics/nuevo-modelo_logo.svg" wi alt="Modelo" >
						<h2 class="text-left">Nuestro modelo educativo</h2>

						<p style="text-align: justify;">La reforma constitucional en materia educativa dota al Sistema Educativo Nacional de los elementos que impulsen su mejoramiento y fortalezcan la equidad. Asegura la obligación del Estado de garantizar la calidad de la educación pública obligatoria; la creación de un servicio profesional docente; el establecimiento del Sistema Nacional de Evaluación Educativa, y la constitución del Instituto Nacional para la Evaluación de la Educación —INEE—, como máxima autoridad en materia de evaluación.</p>
						<p style="text-align: justify;">La reforma constitucional da pauta para la promulgación de la Ley General del Servicio Profesional Docente y la Ley del Instituto Nacional para la Evaluación de la Educación, y a reformas a la Ley General de Educación y a la Ley de Coordinación Fiscal. La reforma constitucional y las leyes secundarias son el punto de partida, no el destino. Constituyen la base jurídica de la cual se carecía para dar curso a la creación de nuevas condiciones para el fortalecimiento del sistema educativo. La Reforma emprendida deberá tener un desdoblamiento progresivo que finalmente resulte en mejores prácticas educativas para el mejor aprendizaje de los alumnos.</p>
						<p style="text-align: justify;">Una de las tantas acciones derivadas de ese desdoblamiento es la consulta nacional para la revisión del modelo educativo, tanto para la educación básica como para la educación media superior. También abarca a la educación normal, con miras a establecer un plan integral de diagnóstico, rediseño y fortalecimiento para el sistema de normales públicas.</p>
						<p style="text-align: justify;">Los resultados de esa consulta, que que llevó a cabo entre febrero y junio de 2014, serán muy relevantes para la concreción de la Reforma Educativa. De ellos se desprenderán aspectos medulares como la estructura curricular y los rasgos que deben tener los egresados de la educación obligatoria. Para la concreción de la Reforma será fundamental la actuación de las autoridades educativas estatales.</p>
						<p>&nbsp;</p>
					</div>
					<div class="col-md-6 col-sm-12" style="position:relative">

						<iframe src="https://player.vimeo.com/video/271306615?title=0&amp;byline=0"
								width="100%"
								height="730"
								frameborder="0"
								allowfullscreen="allowfullscreen"></iframe>

					</div>
		</div>



	</article>

	<article class="site-resources row mb-5">
		<div class="block-title col-md-12">
			<h2>PRINCIPALES MÓDULOS</h2>
			<br><br>
		</div>
		<div class="col-md-4 mb-3">
			<div class="card-item bg-block p-3">
				<i class="fas fa-book"></i>
				<h5>Material Didáctico</h5>
				<div class="detail">
					<p class="vertical-center">Módulo en el que se muestra el contenido disponible para su consulta de acuerdo al nivel del profesor.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3">
			<div class="card-item bg-block p-3">
				<i class="fas fa fa-users"></i>
				<h5>Gestor Académico</h5>
				<div class="detail">
					<p>Módulo en el que se muestran artículos para tratar temas de interés con los alumnos y los padres de familia, lo mismo que
						formatos variados para facilitar su labor docente. Estos formatos le ofrecen la posibilidad de llenarlos directamente en
						su computadora para después imprimirlos o guardarlos.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3">
			<div class="card-item bg-block p-3">
				<i class="fas fa-tasks"></i>
				<h5>Generador de Exámenes</h5>
				<div class="detail">
					<p class="vertical-center">Módulo en el que se pueden generar exámenes en línea para sus alumnos.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3">
			<div class="card-item bg-block p-3">
				<i class="fas fa-book-reader"></i>
				<h5>Plan lector</h5>
				<div class="detail">
					<p class="vertical-center">Módulo en el que se pueden generar exámenes en línea del plan lector para sus alumnos.</p>
				</div>
			</div>
		</div>


		<div class="col-md-4 mb-3">
			<div class="card-item bg-block p-3">
				<i class="fas fa-book"></i>
				<h5>Serie de inglés - Help!</h5>
				<div class="detail">
					<p class="vertical-center">Módulo en el que se muestra documentación para el profesor.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3">
			<div class="card-item bg-block p-3">
				<i class="fas fa-chalkboard-teacher"></i>
				<h5>Servicios Pedagógicos</h5>
				<div class="detail">
					<p>Módulo en el que se muestra información sobre servicios de capacitación de alta calidad, dirigidos a los docentes de las
						instituciones de educación básica, que sean posibles usuarios o usuarios de nuestros materiales a nivel nacional,
						con expertos, cubriendo así las necesidades del cuerpo docente.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3">
			<div class="card-item bg-block p-3">
				<i class="fas fa-link"></i>
				<h5>Sitios de Interés</h5>
				<div class="detail">
					<p class="vertical-center">Módulo en el que se muestran ligas para descarga de software gratuitos que ayudan al docente en la planeación o desarrollo de las clases.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3">
			<div class="card-item bg-block p-3">
				<i class="fa fa-microchip"></i>
				<h5>Software</h5>
				<div class="detail">
					<p class="vertical-center">Módulo en el que se proporciona al profesor de software gratuito sugerido para el profesor.</p>
				</div>
			</div>
		</div>


	</article><!-- End of Row-->
</section><!-- End of Container -->

<section *ngIf="_srvHeader?.tips.length > 0 " id="tips" class="site-tips mb-5 pt-5 pb-5 bg-gris">
	<article class="container mt-3 mb-3">
		<div class="row">
			<div class="col-md-4">
				<img src="{{ _srvHeader?.tips[0]?.urlImage }}" class="rounded-circle center-block img-responsive float-right"
					style="width: 268px;height: 268px">
			</div>

			<div class="col-md-6 pt-5 text-white">
				<span><img src="assets/img/home/svg/icon-star.svg" width="21"> Tips</span>

				<h1 class="mt-3">{{ _srvHeader?.tips[0]?.name }}</h1>
				<p>{{ _srvHeader?.tips[0]?.description }}</p>
				<a [routerLink]="['/home/list-tips']" class="btn btn-default">Más tips</a>
			</div>
		</div><!-- End of Row -->
	</article><!-- End of Container -->
</section><!-- End of Site Tips-->

<section id="contact" class="site-contact container mb-5 pt-5">
	<article class="row">
		<div class="col-md-6 mb-3">
			<h2>Ponte en contacto con nosotros</h2>
			<p>Ingresa tu número de folio, correo electrónico. nombre de tu escuela e ingresa tus comentarios.
				En breve un asesor se pondrá en contacto contigo.</p>
				<p>En caso de que requieras más información, contáctanos:</p>
				<div class="cnt-info">
					<p><i class="fas fa-phone"></i> Tel.: (55) 1102 1300 Ext.: 482</p>
				</div>

				<div class="cnt-info">
					<a href="mailto:vacosta@larousse.com.mx"><i class="far fa-envelope"></i> vacosta@larousse.com.mx</a>
				</div>
				<div class="clearfix"></div>



			<form [formGroup]="frmContact" (ngSubmit)="onSubmit()" novalidate autocomplete="off">

				<div class="frm-line-controls">
					<div class="form-group">
						<label>Nombre</label>
						<input type="text" class="form-control" name="fullName" formControlName="fullName">
					</div>
					<div *ngIf="frmContact.get('fullName').errors?.required && frmContact.get('fullName').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> El campo de nombre es requerido
					</div>

				</div>

				<div class="frm-line-controls">

					<div class="form-group">
						<label>Correo electrónico</label>
						<input type="email" class="form-control" name="email" formControlName="email">
					</div>

					<div *ngIf="frmContact.get('email').errors?.required && frmContact.get('email').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> El correo electrónico es obligatorio
					</div>
					<div *ngIf="frmContact.get('email').errors?.pattern && frmContact.get('email').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> Formato del correo electrónico es incorrecto (no se permiten
						mayúsculas)
					</div>

				</div>


				<div class="frm-line-controls">

					<div class="form-group">
						<label> Clave del centro de trabajo
						</label>
						<input type="text" class="form-control" name='workplace' maxlength="30" formControlName="workplace">
					</div>
					<div *ngIf="frmContact.get('workplace').errors?.required && frmContact.get('workplace').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> El campo de Clave del centro de trabajo es requerido
					</div>
				</div>


				<div class="frm-line-controls">
					<div class="form-group">
						<label> Escuela
						</label>
						<input type="text" class="form-control" name='school' maxlength="300" formControlName="school">
					</div>
					<div *ngIf="frmContact.get('school').errors?.required && frmContact.get('school').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> El campo de escuela es requerido
					</div>
				</div>

				<div class="frm-line-controls">
					<div class="form-group">
						<label>Mensaje</label>
						<textarea type="text" class="form-control" name="message" formControlName="message"></textarea>
					</div>
					<div *ngIf="frmContact.get('message').errors?.required && frmContact.get('message').touched"
						class="text-danger error-label mb-3">
						<i class="fa fa-exclamation-circle"></i> El campo de mensaje es requerido
					</div>
				</div>

				<button type="submit" [ngClass]="{'disabled': !frmContact.valid }" [disabled]="!frmContact.valid"
					class="btn btn-lg btn-primary">Enviar</button>
			</form>
		</div>

		<div class="col-md-6 mb-3">
			<img src="assets/img/home/pics/contacto.jpg" class="img-fluid">
		</div>
	</article><!-- End of Row -->
</section><!-- End of Site Contact-->

<section id="digital" class="site-digital container mb-5 pt-5 pb-5">
		<article class="site-resources row mb-5" >
				<div class="block-title col-md-12">
					<h2>Catálogos en línea</h2>
					<p>La oferta educativa en línea de nuestras editoriales Larousse y Patria educación para tratar temas de interés con los alumnos y los padres de familia.</p>
					<br><br>
				</div>
				<div class="col-md-4 col-sm-12 mb-3">
					<a target="_blank" href="assets/docs/CATALOGO-PREESCOLAR-2019-BAJA.pdf" >
					<div class=" bg-block p-3">
							<i class="far fa-file-pdf"></i>
						<h5>Preescolar
							<small> Cátalogo 2019 Ediciones Larousse y Patria educación</small>
						</h5>
					</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-12 mb-3">
						<a target="_blank" href="assets/docs/PRIMARIA-PATRIA-2019-BAJA.pdf" >
						<div class=" bg-block p-3">
								<i class="far fa-file-pdf"></i>
							<h5>Primaria
								<small> Catálogo 2019 Patria educación</small>
							</h5>
						</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-12 mb-3">
							<a target="_blank" href="assets/docs/CAT-SEC-LAROUSSE-PATRIA-2019_BAJA.pdf" >
							<div class=" bg-block p-3">
								<i class="far fa-file-pdf"></i>
								<h5>Secundaria
									<small> Catálogo 2019 Ediciones Larousse y Patria educación</small>
								</h5>
							</div>
						</a>
						</div>

						<div class="col-md-4 col-sm-12 mb-3">
								<a target="_blank" href="assets/docs/CATALOGO-HELP-2019-BAJA.pdf" >
								<div class=" bg-block p-3">
									<i class="far fa-file-pdf"></i>
									<h5>Help!
										<small> Catálogo Help! 2019 Ediciones Larousse</small>
									</h5>
								</div>
								</a>
							</div>

							<div class="col-md-4 col-sm-12 mb-3">
									<a target="_blank" href="assets/docs/CATALOGO-COMPLEMENTOS-ESCOLARES-2019-BAJA-1.pdf" >
									<div class=" bg-block p-3">
										<i class="far fa-file-pdf"></i>
										<h5>Apoyos Escolares
											<small> Catálogo Complementos escolares Ediciones Larousse</small>
										</h5>
									</div>
									</a>
								</div>




			</article><!-- End of Row-->
</section><!-- End of Site Tips-->

<!-- FOOTER -->
<app-footer></app-footer>
