<div class="card">
  <div class="card-title">
    <div class="card-title-spacer">
      Total de alumnos: {{ timerComponent.students?.length }}
    </div>
  </div>
  <div class="card-body">
      <app-attendances-list [group]="group"
                          showButton = "false">
      </app-attendances-list>
  </div>
</div>
