<app-loading [showLoading]="working">
</app-loading>

<!-- CONTENEDOR -->
<section class="mt-3">

  <mat-card>
    <mat-card-content>
      <div class="row">
          <div class="col-md-6"  joyrideStep="firstStep1" title="Generardor de exámenes" text="Nombra tu examen.">
              <mat-form-field class="materialize-full-width">
                  <input matInput
				  		id="name"
                        [(ngModel)] = "description"
                        matTooltip ="Asignar nombre por el cuál será identificado el examen"
                        placeholder ="Nombre del examen">
              </mat-form-field>

          </div>

        <!-- STRUCTURE -->
        <div class="cnt-drop-down col-md-6"  joyrideStep="firstStep2" title="Generardor de exámenes" text="Selecciona el nivel, grado y materia donde deseas ubicarlo.">
            <app-dropdown-treeview-select
              matTooltip ="Asignar nombre por el cuál será identificado el examen"
              [items]="items"
              [(value)]="value"
              (valueChange)="onValueChange($event)">
          </app-dropdown-treeview-select>
        </div>

        <!-- EXAM BANK -->
        <div class="col-md-5" joyrideStep="firstStep3" title="Generardor de exámenes" text="Selecciona el trimestre, con el signo de más, asigna las preguntas a evaluar.">
                <mat-form-field
                  class="materialize-full-width">
                  <mat-select
                      name="bankQuestion"
                      [disabled] ="questionBanks?.length == 0"
                      [(ngModel)]="bankQuestionId"
                      placeholder="Banco de preguntas">
                    <mat-option *ngFor="let bank of questionBanks" [value]="bank.id">
                        {{ bank.name }}
                   </mat-option>
                  </mat-select>
                </mat-form-field>
        </div>

        <div class="col-md-1 text-right">
          <button  mat-mini-fab
                   color="primary"
                   (click)="onClickAddBank()"
                   matTooltip="Agregar banco de pregunta">
                  <mat-icon aria-label="Agregar banco">add</mat-icon>
        </button>
        </div>

        <div class="col-md-3">
            <div class="form-group">
              <small>Tipo de examen</small> <br/>
                <mat-radio-group name="examApplicationType" id="examApplicationType" [(ngModel)]="examApplicationType">
                  <mat-radio-button [disabled]="!showExamType" (change)="changeStatus()" class="mr-2" value="1">En línea</mat-radio-button>
                  <mat-radio-button [disabled]="!showExamType" (change)="changeStatus()" value="2">Impreso</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <!-- BUTTONS -->
        <div class="col-md-3">
            <button *ngIf="showGenerateBtn"
                    mat-raised-button
                    id="btn-exam-save"
                    type="button"
                    (click)=" onClickSave( $event ) "
                    class="mr-2 mt-2"
                    color="primary">
                    <mat-icon aria-label="Generar">offline_bolt</mat-icon>
                    {{ buttonText }}
            </button>
            <button
                mat-raised-button
                (click)="onClickCancel()"
                id="btn-exam-cancel"
                class="mt-2"
                type="button"
                color="warn">
                <mat-icon aria-label="Cancelar">clear</mat-icon>
                Cancelar
            </button>
        </div>
      </div>
    </mat-card-content>

  </mat-card>

  <br/>

  <mat-card style="position: relative; overflow: hidden">
      <mat-card-subtitle>
          <span>Seleccionar preguntas </span>
      </mat-card-subtitle>
      <mat-card-content>

        <div *ngIf="selectedQuestionBanks.length" class="wrapper-questions">

          <div  *ngFor="let bank of selectedQuestionBanks"  class="cnt-questions" >
              {{ bank.name }} <br/>
              <small>{{ bank.description }}</small>
              <table   class="table table-striped animated fadeIn">
                  <thead>
                    <tr class="bg-blue text-white text-center">
                      <th> Múltiple </th>
                      <th *ngIf="showOpenQuestios"> Abiertas </th>
                      <th> Relacionar </th>
                      <th> V/F </th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  >
                      <!--  INPUT MULTIPLE -->
                      <td width="21%" *ngIf="bank.totalMultipleQuestions() > 0; else columnEmpty" >
                          <mat-form-field class="materialize-width-35">
                              <input matInput
                                    type="number"
                                    autocomplete="false"
                                    min="0"
                                    [max]="bank.totalMultipleQuestions()"
                                    matTooltip="Preguntas seleccionadas"
                                    class="text-center"
                                    placeholder ="Requeridas"
                                    [(ngModel)] = "bank.selectedMultipleQuestion"
                                    (ngModelChange)="onChangeModelMultiple($event, bank)">
                          </mat-form-field>
                          <mat-form-field class="materialize-width-35 ml-2">
                              <input matInput
                                    matTooltip="Total de preguntas"
                                    placeholder="Total"
                                    [value]="bank.totalMultipleQuestions()"
                                    class="text-center"
                                    disabled="disabled">
                          </mat-form-field>

                          <button mat-icon-button
                                  (click)="onClickSelectQuestions( bank.id, bank.selectedMultipleQuestion, 1 )"
                                  matTooltip="Seleccionar preguntas"
                                  color="primary">
                            <mat-icon aria-label="Visualizar preguntas">contact_support</mat-icon>
                          </button>
                      </td>

                      <!--  INPUT ABIERTA -->
                      <div *ngIf="showOpenQuestios">
                        <td width="21%" *ngIf="bank.totalOpenQuestions() > 0; else columnEmpty" >
                          <mat-form-field class="materialize-width-35">
                              <input matInput
                                    type="number"
                                    min="0"
                                    [max]="bank.totalOpenQuestions()"
                                    autocomplete="false"
                                    matTooltip="Preguntas requeridas"
                                    class="text-center"
                                    placeholder="Requeridas"
                                    [(ngModel)] ="bank.selectedOpenQuestion"
                                    (ngModelChange)="onChangeModelOpen($event, bank)">
                          </mat-form-field>
                          <mat-form-field class="materialize-width-35 ml-2">
                              <input matInput
                                    matTooltip="Total de preguntas"
                                    placeholder="Total"
                                    [value]="bank.totalOpenQuestions()"
                                    class="text-center"
                                    readonly="readonly">
                          </mat-form-field>

                          <button mat-icon-button
                                  (click)="onClickSelectQuestions( bank.id, bank.selectedOpenQuestion, 2 )"
                                  matTooltip="Seleccionar preguntas"
                                  color="primary">
                            <mat-icon aria-label="Visualizar preguntas">contact_support</mat-icon>
                          </button>
                      </td>
                      </div>


                      <!--  INPUT RELACIONAR -->
                      <td width="21%" *ngIf="bank.totalRelationalQuestions() > 0; else columnEmpty">
                        <mat-form-field class="materialize-width-35">
                          <input matInput
                                type="number"
                                min="0"
                                [max]="bank.totalRelationalQuestions()"
                                autocomplete="false"
                                matTooltip="Preguntas requeridas"
                                class="text-center"
                                placeholder="Requeridas"
                                [(ngModel)] ="bank.selectedRelationalQuestion"
                                (ngModelChange)="onChangeModelRelational($event, bank)">
                        </mat-form-field>
                        <mat-form-field class="materialize-width-35 ml-2">
                          <input matInput
                                matTooltip="Total de preguntas"
                                placeholder="Total"
                                [value]="bank.totalRelationalQuestions()"
                                class="text-center"
                                readonly="readonly">
                        </mat-form-field>

                        <button mat-icon-button
                                (click)="onClickSelectQuestions( bank.id, bank.selectedRelationalQuestion, 3 )"
                                matTooltip="Seleccionar preguntas"
                                color="primary">
                          <mat-icon aria-label="Visualizar preguntas">contact_support</mat-icon>
                        </button>
                      </td>

                      <!--  INPUT V/F -->
                      <td width="21%" *ngIf="bank.totalTrueFalseQuestions() > 0; else columnEmpty">
                        <mat-form-field class="materialize-width-35">
                          <input matInput
                                type="number"
                                min="0"
                                [max]="bank.totalTrueFalseQuestions()"
                                autocomplete="false"
                                matTooltip="Preguntas requeridas"
                                class="text-center"
                                placeholder="Requeridas"
                                [(ngModel)] ="bank.selectedTrueFalseQuestion"
                                (ngModelChange)="onChangeModelTrueFalse($event, bank)">
                        </mat-form-field>
                        <mat-form-field class="materialize-width-35 ml-2">
                          <input matInput
                                matTooltip="Total de preguntas"
                                placeholder="Total"
                                [value]="bank.totalTrueFalseQuestions()"
                                class="text-center"
                                readonly="readonly">
                        </mat-form-field>

                        <button mat-icon-button
                                (click)="onClickSelectQuestions( bank.id, bank.selectedTrueFalseQuestion, 4 )"
                                matTooltip="Seleccionar preguntas"
                                color="primary">
                          <mat-icon aria-label="Visualizar preguntas">contact_support</mat-icon>
                        </button>
                      </td>

                      <td width="6%">
                        <button
                            mat-mini-fab
                            color="warn"
                            (click)="onClickRemoveBank(bank)"
                            matTooltip="Eliminar respuesta">
                          <mat-icon aria-label="Eliminar respuesta">clear</mat-icon>
                        </button>
                      </td>

                      <ng-template #columnEmpty>
                        <td width="20%">
                        &nbsp;
                        </td>
                      </ng-template>

                    </tr>
                  </tbody>
              </table>
          </div>
        </div>


          <h6 id="totalPreguntas" class="text-right animated fadeInRight" *ngIf="totalQuestion > 0">Total de preguntas seleccionadas: {{ totalQuestion }}</h6>

          <div *ngIf="selectedQuestionBanks.length === 0" class="col-md-12">
              <div class="background-nofound">
                  <div class="content">
                      <mat-icon class="icon">all_inbox</mat-icon>
                      <span>Sin preguntas para seleccionar
                        <small> Debes de seleccionar un banco de preguntas para continuar </small>
                      </span>
                  </div>
                </div>
          </div>

      </mat-card-content>

  </mat-card>

</section>
