<app-loading [showLoading]="_courseNavService?.working">
</app-loading>

<div  class="row mt-2 p-4 bg-white">
  <!-- ENCABEZADO -->
  <div class="col-md-12">
      <h4>Tareas del curso: {{ taskSchedules.length }}</h4>
  </div>



  <div class="col-md-12 mt-4" style="overflow-x:auto;">

      <div *ngIf="taskSchedules.length > 0">

        <table class="table table-striped animated fadeIn shadow">
          <thead>
            <tr class="bg-blue text-white text-center">
              <th class="hidden-column text-center"> Parcial </th>
              <th class="hidden-column text-center"> Nombre </th>
              <th class="hidden-column text-center"> Descripción</th>
              <th class="hidden-column text-center"> Periodo </th>
              <th class="hidden-column text-center"> Calificación</th>
              <th class="hidden-column text-center"> Comentarios </th>
              <th class="hidden-column text-center"> Estatus </th>
              <th class="hidden-column text-center"> Acciones </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of taskSchedules">
              <td class="hidden-column text-center" width="5%">
                  <p> {{ task.schedulingPartialDescription }}</p>
              </td>
              <td class="hidden-column text-center" width="10%">
                  <p>{{ task.name }}</p>
              </td>
              <td class="hidden-column text-center" width="20%">
                  <p>{{ task.description }}</p>
              </td>
              <td class="hidden-column text-center" width="20%">
                  <p>{{ task.scheduledDate | date }} - {{ task.openingDate | date }} </p>
              </td>
              <td class="hidden-column text-center" width="10%">
                  <span *ngIf="task.score">  {{ task.score }} </span>
                  <span *ngIf="!task.score && !task.delivered">  Sin calificación </span>
                  <span *ngIf="!task.score && task.delivered">  Aceptada </span>
              </td>
              <td class="hidden-column text-center" width="10%">
                  <span *ngIf="task.comment">  {{ task.comment }} </span>
                  <span *ngIf="!task.comment">  Sin comentario </span>
              </td>
              <td class="hidden-column text-center" width="5%">
                  <div *ngIf="task.qualified || task.delivered">
                      Calificada
                    </div>
                    <div *ngIf="!task.qualified && task.totalAnswers == 0">
                      Sin Responder
                    </div>
                    <div *ngIf="!task.qualified && !task.delivered && task.totalAnswers > 0">
                      Respondida
                    </div>
              </td>
              <td class="hidden-column text-center" width="20%">
                  <button mat-icon-button
                  matTooltip="Cargar tarea"
                  (click)="onShowUploadFile( task )">
                  <mat-icon>cloud_upload</mat-icon>
                </button>

                <button mat-icon-button
                        matTooltip="Ver material de apoyo"
                        (click)="onShowFilesTask( task )">
                        <mat-icon>visibility</mat-icon>
                </button>
              </td>

            </tr>
          </tbody>
        </table>

      </div>

      <div *ngIf="taskSchedules.length == 0">
        <div class="col-md-12">
          <div class="background-nofound">
            <div class="content">
              <mat-icon class="icon">school</mat-icon>
              <span>No contiene tareas programadas</span>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


