.title-level {
  font-size: 15px;
  margin: auto;
  text-align: center;
  display: block;
}

.btn-colapsar i {
  margin: 50px;
}


.list-group-item .row mat-icon {
  font-size: 23px;
  float: left;
}

 mat-icon {
  float: left;
}

.col-lg-structure {
  width: 17%;
  z-index: 0;
}

.col-lg-content {
  width: 80%;
  margin-top: 1px;
}

.active{
  background-color: #ffe1e1 !important;
  color: black;
}
