<div class="mdl-wrapper">
  <h4 class="text-center"> Cargar tarea  </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm( false )">
          <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
<hr/>

<!-- Aqui va el componente -->
<div class="container">
  <app-studen-upload-homework
    [taskId]="taskId"
    [delivered]="delivered"
    [qualified]="qualified"
    (closeModal)="onCloseConfirm($event)">
  </app-studen-upload-homework>
</div>
</div>
