<app-loading [showLoading]="working">
</app-loading>

<section class="container-home container pt-3">
  <div class="row">
    <article class="col-md-12">

      <div class="block-title col-md-12 mb-3"><h1>Tips</h1></div>

      <div class="row">

          <div *ngFor="let n of tips" class="block-card col-md-6 mb-3">
              <div class="mask-image-list">
                <img src="{{ n.urlImage }}" title="{{ n.name }}" alt="{{ n.name }}" class="d-block img-fluid">
              </div>
              <small>{{ n.registerDate | date  }}</small>
              <a [routerLink]="['/home/detail-tip' , n.id ]"> <h5> {{ n.name | truncate: 60 }}</h5> </a>
              <p>{{ n.description | truncate: 120 }}</p>
            </div>
      </div><!-- End of Row -->
    </article><!-- End of List -->

    <div class="col-md-12" >
        <nav aria-label="Paginación de libros">
          <ul class="pagination justify-content-center">
            <li [ngClass]="{ 'disabled' : !pagination.showPreviousPage }"  class="page-item ">
              <a (click)="setPages({page: pagination.pageNumber - 1, size:sizePage})" class="page-link">Anterior</a>
            </li>
            <li [ngClass]="{ 'disabled' : !pagination.showNextPage }"  class="page-item ">
              <a class="page-link" (click)="setPages( {page: pagination.pageNumber + 1, size:sizePage  } )">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>

  </div><!-- End of Row -->
  <div class="clearfix"></div>
</section>
