<app-loading [showLoading]="working">
</app-loading>

<div>
  <mat-card>
        <mat-card-content>
          <!-- TITLE -->
          <div class="row">
            <div class="col-sm-10 col-lg-6 mb-2">
              <mat-form-field class="materialize-width-80">
                <input id="textSearch" matInput placeholder="Buscar por nombre" (keyup)="onKeyUp( $event )" [(ngModel)]="textSearch" >
                <mat-icon class="cursor-pointer" matSuffix>find_in_page</mat-icon>
              </mat-form-field>
            </div>
            <!-- TITLE -->
            <div class="col-sm-2 col-lg-6 mb-2">
              <button class="float-right" type="button" (click)="uploadBank()" mat-raised-button color="primary">
                  <mat-icon>cloud_upload</mat-icon>
                  Cargar banco de preguntas
              </button>
            </div>
          </div>

      </mat-card-content>

  </mat-card>

  <br/>

  <!-- DATOS  -->
  <mat-card *ngIf="content?.length  > 0">
    <mat-card-subtitle>
      Total de bancos de preguntas registrados: <b> {{ pagination.total }} </b>
    </mat-card-subtitle>
    <mat-card-content>

        <div class="col-12 mt-3">

          <table class="table table-hover table-striped">
              <thead>
                <tr class="bg-blue text-white text-center">
                  <th class="hidden-column"> No. </th>
                  <th class="hidden-column"> Nombre </th>
                  <th class="hidden-column"> Descripción </th>
                  <th class="hidden-column"> Estatus </th>
                  <th class="hidden-column" width="20px">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bank of content">
                  <td class="hidden-column text-center"> {{ bank.index }} </td>
                  <td class="hidden-column"> {{ bank.name }} </td>
                  <td class="hidden-column"> {{ bank.description | truncate: 60 }} </td>
                  <td class="hidden-column"> {{ bank.active | activoBoolean }} </td>
                  <td class="hidden-column text-right">

                      <button class="lnk-btn-table"
                            mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu"
                                xPosition="before"
                                [overlapTrigger]="false">
                        <button mat-menu-item
                          (click)="onClickEdit( bank )" >
                          <mat-icon>edit</mat-icon>
                          <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="onClickUpdateStatus( bank )">
                          <mat-icon *ngIf="!bank.active">toggle_on</mat-icon>
                          <mat-icon *ngIf="bank.active">toggle_off</mat-icon>
                          <span *ngIf="!bank.active">Activar</span>
                          <span *ngIf="bank.active" >Desactivar</span>
                        </button>
                        <hr>
                        <button mat-menu-item [matMenuTriggerFor]="optionsPdf">
                          <mat-icon>description</mat-icon>
                          <span>PDF</span>
                        </button>
                      </mat-menu>
                      <mat-menu #optionsPdf="matMenu">
                        <button mat-menu-item (click)="generatePDF( bank, true )">Con respuestas</button>
                        <button mat-menu-item (click)="generatePDF( bank, false )">Sin respuestas</button>
                      </mat-menu>

                  </td>
                  <td  class="responsive-column">
                      <span class="label">{{ bank.index  }} {{ bank.name }}
                          <small> Nombre </small>
                      </span>

                      <span class="label">{{ bank.description  }}
                          <small> Descripción </small>
                      </span>

                      <div class="float-right">


                        <button class="lnk-btn-table"
                            mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu"
                                xPosition="before"
                                [overlapTrigger]="false">
                        <button mat-menu-item
                          (click)="onClickEdit( bank )" >
                          <mat-icon>edit</mat-icon>
                          <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="onClickUpdateStatus( bank )">
                          <mat-icon *ngIf="!bank.active">toggle_on</mat-icon>
                          <mat-icon *ngIf="bank.active">toggle_off</mat-icon>
                          <span *ngIf="!bank.active">Activar</span>
                          <span *ngIf="bank.active" >Desactivar</span>
                        </button>
                        <hr>
                        <button mat-menu-item [matMenuTriggerFor]="optionsPdf">
                          <mat-icon>description</mat-icon>
                          <span>PDF</span>
                        </button>
                      </mat-menu>
                      <mat-menu #optionsPdf="matMenu">
                        <button mat-menu-item (click)="generatePDF( bank, true )">Con respuestas</button>
                        <button mat-menu-item (click)="generatePDF( bank, false )">Sin respuestas</button>
                      </mat-menu>

                      </div>

                  </td>
                </tr>
            </tbody>
          </table>

          <app-pagination
          [pagination]="pagination"
          (changePage)="setPage( $event )">
         </app-pagination>

        </div>

    </mat-card-content>
  </mat-card>

  <!-- MENSAJE SIN DATOS -->
  <mat-card *ngIf="content?.length  === 0">
      <mat-card-content>
       <div class="col-12 mt-3">

          <div class="background-nofound">
            <div class="content">
                <mat-icon class="icon">sentiment_satisfied</mat-icon>
                    <span>No tienes bancos de preguntas registrados
                      <small> Para poder visualizar datos es necesario crea un nuevo banco de preguntas </small>
                    </span>
            </div>
          </div>
        </div>
      </mat-card-content>
  </mat-card>

</div>

<!-- Floating Button -->
<div class="btn-float"  joyrideStep="firstStep" title="Generador de reactivos para exámenes" text="Presiona este botón para generar tus propios reactivos.">
    <button
      mat-fab
      id= "btn-float-actions"
      matTooltip="Agregar banco de preguntas"
      (click)="onClickNewContent()"
      class="ml-2 text-white" yPosition="above">
      <mat-icon>add</mat-icon>
    </button>


</div>
