header, footer {
    color: white;
    padding: 16px;
    overflow: hidden;
}

header {
    height: 70px;
}

main {
    position: relative;
    height: calc(80% - 96px);
    width: 100%;
    background: #fafafa;
}

aside {
    height: calc(20% - 24px);
    width: 100%;
    background: #f5f5f5;
    border-left: none;
    border-top: 1px solid black;
    padding: 0 16px;
    overflow-x: hidden;
    overflow-y: scroll;
}

fieldset {
    width: 100%;
    margin-top: 16px;
    padding-top: 0;
    padding-bottom: 0;
    word-break: break-all;
}

footer {
    height: 50px;
    color: white;
    white-space: nowrap;
}

.button {
    width: 64px;
    padding: 4px 8px;
    cursor: pointer;
    margin-bottom: 8px;
}

.element {
    display: block;
    width: 200px;
    margin-bottom: 16px;
    padding: 4px 8px;
}

#curtain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    opacity: 0.8;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#subtitle {
    display: block;
    margin-top: 4px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#title-link {
    font-weight: bold;
    color: white;
}

#profile-link {
    color: white;
}

#icon-link {
    position: absolute;
    display: none;
    right: 20px;
    top: 20px;
}

@media (min-width: 600px) {

    main, aside {
        float: left;
    }

    main {
        height: calc(100% - 120px);
        width: calc(100% - 360px);
    }

    aside {
        height: calc(100% - 120px);
        width: 360px;
        border-top: none;
        overflow: hidden;
    }

    footer {
        clear: both;
    }

    #icon-link {
        display: block;
    }
    ::ng-deep   #angularEpubViewerComponent{
        height: 680px !important;
        margin-top: 10px;
    }
    .card-body{
        padding: 0px !important; 
    }
}
