<div class="card">
    <div class="card-title">
        <div class="card-title-spacer">
            {{bookName}} - {{ creator }}
        </div>
    </div>
    <div class="card-body">


        <div class="col-md-12">
            <div id="cnt-epub-module" class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <mat-form-field class="materialize-full-width">
                            <mat-select placeholder="Contenido" [disabled]="lockTOC" [(ngModel)]="chosenChapter"
                                (selectionChange)="onChapter()">
                                <mat-option *ngFor="let chapter of chapters" [value]="chapter">
                                    {{ chapter.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <div class="col-md-4 offset-1">
                    <button [disabled]="lockPagination" class="button btn btn-light col-md-6"
                        (click)="epubViewer.previousPage()">
                        <i class="fa fa-arrow-left fa-lg"></i>
                    </button>
                    <button [disabled]="lockPagination" class="button btn btn-light col-md-6"
                        (click)="epubViewer.nextPage()" style="border-left:5px solid #f2f3f2;">
                        <i class="fa fa-arrow-right fa-lg"></i>
                    </button>
                </div>

            </div>

            <!--   -->
            <div class="col-md-12">
                <angular-epub-viewer [padding]="'16px'" [autoPagination]="true" [autoTOC]="true" [autoMetadata]="true"
                    (onMetadataLoaded)="onMetadataLoaded($event)" (onDocumentReady)="onDocumentReady()"
                    (onChapterUnloaded)="onChapterUnloaded()" (onChapterDisplayed)="onChapterDisplayed($event)"
                    (onSearchFinished)="onSearchFinished($event)" (onPaginationComputed)="onPaginationComputed($event)"
                    (onLocationFound)="onLocationFound($event)" (onTOCLoaded)="onTOCLoaded($event)"
                    (onErrorOccurred)="onErrorOccurred($event)" #epubViewer>
                </angular-epub-viewer>
                <ng-container *ngIf="lockPagination">
                    <div id="curtain"> Para evitar conflictos en el sistema por favor de esperar que finalice la carga del libro digital</div>
                    <i id="loading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </ng-container>
                <div class="col-md-12 text-right mb-3">
                    <small>
                        <strong>
                            Pagina: {{ epubViewer.currentLocation.page ? epubViewer.currentLocation.page : 0 }} de:
                            {{ totalPages }}
                            <!-- <br>
                            {{ copyright }} -->
                        </strong>
                    </small>
                </div>
            </div>
            <fieldset style="margin-bottom: 16px;" style="display: none;">
                <p>Metadata</p>
                <div style="margin-bottom: 16px;" #metadata></div>
            </fieldset>
            <!-- <fieldset style="margin-bottom: 16px;">
            <p>Search <i>in current chapter</i></p>
            <input [disabled]="lockSearch" class="element" type="text" [(ngModel)]="searchText" (change)="onSearchPrinted()">
            <div style="margin-bottom: 16px;">{{ matchesCount }} matches</div>
        </fieldset> -->

        </div>
    </div>