<app-loading [showLoading]="_courseNavService?.working">
</app-loading>

<div class="row p-4">
  <div *ngIf="course != null" class="bg-white col-md-12">
    <!-- ENCABEZADO -->
    <div class="col-md-12 mt-2">
      <h4>Exámenes del curso: {{ exams.length }}</h4>
    </div>

    <div class="col-md-12 mt-4" style="overflow-x:auto;">

      <div *ngIf="exams.length > 0">

        <table class="table table-striped animated fadeIn shadow">
          <thead>
            <tr class="bg-blue text-white text-center">
              <th class="hidden-column text-center"> Parcial </th>
              <th class="hidden-column text-center"> Nombre examen </th>
              <th class="hidden-column text-center"> Periodo de aplicación</th>
              <th class="hidden-column text-center"> Horario</th>
              <th class="hidden-column text-center"> Duración</th>
              <th class="hidden-column text-center"> Calificación </th>
              <th class="hidden-column text-center"> Estatus </th>
              <th class="hidden-column text-center"> Detalles </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exam of exams">
              <td class="hidden-column text-center" width="10%">
                  <small>{{exam.schedulingPartialDescription}}</small></td>
              <td class="hidden-column text-center" width="22%"><small>{{exam.description}}</small></td>
              <td class="hidden-column text-center" width="15%">
                <small>Inicio <strong>{{exam.beginApplicationDate | date}}</strong></small><br />
                <small>Fin <strong>{{exam.endApplicationDate | date}}</strong></small>
              </td>
              <td class="hidden-column text-center" width="7%">
                <small> {{exam.beginApplicationTime | date : 'HH:mm:ss' }}</small><br />
                <small> {{exam.endApplicationTime | date : 'HH:mm:ss' }}</small>
              </td>
              <td class="hidden-column text-center" width="7%"><small>{{ exam.minutesExam }}</small></td>
              <td class="hidden-column text-center" width="10%">
                <span *ngIf="exam.hasScore">{{ exam.score }}</span>
                <div class="center-element">
                  <span class="label-table label-disabled" *ngIf="!exam.hasScore"> Sin calificar</span>
                </div>
              </td>
              <td class="hidden-column text-center" width="17%">
                <div *ngIf="!exam.statusExam">
                  <div class="label-table label-warning  center-block" *ngIf="exam.teacherExamTypes == 2">
                    <span *ngIf="!exam.hasScore"> Examen impreso</span>
                  </div>
                  <div class="center-element">
                    <span class="label-table label-success" *ngIf="exam.isAnswered">Examen aplicado</span>
                  </div>
                  <small *ngIf="exam.comment" id="exam">
                    <b>Comentario: </b> <br />{{ exam.comment }}
                  </small>
                </div>

                <div *ngIf="exam.statusExam">
                  <span>Examen no disponible verifique la fecha de aplicación</span>
                </div>
              </td>
              <td class="hidden-column text-center" width="12%">
                <div *ngIf="exam.teacherExamTypes == 1">
                  <button *ngIf="!exam.isAnswered && !exam.hasScore " mat-raised-button id="btn-exam-resolved"
                    type="button" class="mr-2 mt-2" color="primary" (click)="onShowExam( exam )">
                    <mat-icon aria-label="Generar">offline_bolt</mat-icon>
                    Responder examen
                  </button>
                </div>

                <button *ngIf="exam.isAnswered || exam.hasScore && exam.teacherExamTypes == 1" mat-raised-button
                  id="btn-exam-resolved" type="button" class="mr-2 mt-2" color="primary"
                  (click)="onShowAnswers( exam )">
                  <mat-icon aria-label="Generar">library_books</mat-icon>
                  Ver respuestas
                </button>
              </td>

            </tr>
          </tbody>
        </table>

      </div>

      <div *ngIf="exams.length == 0">
        <div class="col-md-12">
          <div class="background-nofound">
            <div class="content">
              <mat-icon class="icon">school</mat-icon>
              <span>Esta Publicación no contiene exámenes</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div *ngIf="course == null">
    <div class="col-md-12">
      <div class="background-nofound">
        <div class="content">
          <mat-icon class="icon">school</mat-icon>
          <span> No se encontraron detalles del curso seleccionado </span>
        </div>
      </div>
    </div>
  </div>

</div>