@media (min-width: 300px) and (max-width: 700px) {

  .table td, .table th{
    padding-left: 10px !important;
  }

  .table .label{
   font-size: 14px;
   display: block;
   margin-bottom: 10px;
  }

  .table  small {
      display: block !important;
  }

  .hidden-column{
    display: none;
  }

  .responsive-column{
      display: block;
    }

}

@media screen and (min-width: 701px) {
  .responsive-column{
      display: none;
    }
}
