<div class="mdl-wrapper">
  <h4 class="text-center"> Agregar recurso </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm(null)">
    <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
<hr/>

<app-teacher-repository
[cancelUpload]="cancelUpload"
  (closeModal)="onCloseConfirm($event)">

</app-teacher-repository>
</div>
