<div class="container-fluid" *ngIf="!isViewerCustom">
    <div class="row" [hidden]='!showFile'>
        <div *ngIf="pageurl != undefined" id="contents" class="col-lg-12 col-md-12 resp-container" style="padding: 0px">
            <iframe class="resp-iframe hide" [src]="pageurl" type="application/pdf" download="pageurl.png"></iframe><!--Ricardo - Cambio-->
        </div>
    </div>
</div>

<!-- Uso de la librería que realiza la conversión del pdf -->
<div style="height: 800px;" *ngIf="isViewerCustom">
  <ng2-pdfjs-viewer 
    [pdfSrc]="pageurl.changingThisBreaksApplicationSecurity" 
    viewerId="MyUniqueID" 
    [download]="false" 
    [openFile]="false" 
    [print]="false" 
    [viewBookmark]="false" 
    locale="es-MX" 
    [showSpinner]="true">
  </ng2-pdfjs-viewer>
</div>
