a.active {
  background-color: #ffffff;
}
.book-detail img{
  width: 100%;
}

.background-nofound{
  color: #ccc;
  width: 100%;
  min-height: 350px;
}

.background-nofound .content{
  margin: auto;
  margin-top: 80px;
}

.background-nofound .content .icon {
    font-size: 120px;
    margin: auto;
    height: 100px;
    width: 100px;
    display: block;
    text-align: center;
}

.background-nofound .content span{
  font-size: 30px;
  text-align: center;
  display: block;
  padding: 20px 40px;
}

:host ::ng-deep .mat-list .mat-list-item .mat-list-item-content{
  padding: 0px;
}

#contents {
  max-height: 450px;
  min-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* (1600x900) HD+ Display */
@media  screen and (max-width: 1920px) {
  #contents {
    max-height: 650px;
    min-height: 650px;
  }
}
.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


@media print
{
   .hide
   {
     display:none;
   }

}
