.amount-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}


.amount {
    text-align: right;
}

input.amount::-webkit-outer-spin-button,
input.amount::-webkit-inner-spin-button {
    display: none;
}

input.amount {
    -moz-appearance: textfield;
}

.button-info {
    background-color: transparent!important;
    box-shadow: none !important;

    & mat-icon {
        color: black;
    }
}

.mat-vertical-stepper-header {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.coupon-text {
    color: block;
    cursor: pointer;

    &:hover {
        color: #1675A5;
    }
}

.coupon-amount-payed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28a745;
    border-radius: 6px;
    padding: 8px 17px;
    color: white;

    & * {
        font-size: 16px;
    }

    & strong.badge {
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        color: #28a745;
    }
}