<app-loading [showLoading]="loading"></app-loading>


<h2 mat-dialog-title>Canjear cupón</h2>
<mat-dialog-content>
  
  <h5 class="h5">
    Mis puntos disponibles: 
    <span class="badge badge-success ml-1">{{ amountAvailable }}</span>
  </h5>


  <mat-vertical-stepper [linear]=true #stepperCreateCode>
    <!-- STEP ONE INITAL-->
    <mat-step [editable]="false" color='primary' [completed]="completedStep">
      <ng-template matStepLabel>
        Canjear cupón
        <button 
          mat-mini-fab color='primary'
          matTooltip='El monto capturado es exclusivamente por multiplos de $50'
          aria-label="Button muestra nota sobre la cantidad es por multiplos de $50"
          class="button-info"  
        >
          <mat-icon>help</mat-icon>
        </button>
      </ng-template>


      <form [formGroup]="formCode">
    
        <mat-form-field class="w-100">
          <mat-label>Monto del cupón</mat-label>
          <span matPrefix>$&nbsp;</span>
          <input
            autocomplete="off"
            matInput type='number' 
            placeholder="Ej: 50" 
            formControlName="amount" 
            appInputNumber
            class="amount"
          >
          <mat-error *ngIf="amount.errors?.required">El monto es requerido</mat-error>
        </mat-form-field>
          
        <div class="d-flex justify-content-end">
          <button 
            class="btn btn-success btn-cupon mt-2" 
            (click)="getCuopon(stepperCreateCode)"
          >
            Canjear ahora
          </button>

        </div>
      </form>

    </mat-step>
    <!-- STEP ONE END -->


    <!-- STEP TWO-->
    <mat-step color='primary'>
      <ng-template matStepLabel>Canjeado</ng-template>
      
      <h6 class="badge pt-3">El cupón es único e intransferible</h6>
      <h6 class="h6 coupon-amount-payed">
        <span>Valor del cupón: </span>
        <strong class="badge">${{ amount.value }}</strong>
      </h6>
      <hr>
      <strong>Cupón: </strong>
      <!-- <span>{{ cuopon }}  -->

      <strong
        class="coupon-text"
        mat-mini-fab color='primary'
        matTooltip='Copiar cupón'
        aria-label="Button muestra tooltip"
        (click)="copyCoupon()"
        [attr.disabled]="loadingCopy ? '' : null"
      > 
        ajskdhjkahd93842389nk
      </strong>
      <a href="https://www.google.com.mx" target="_blank" class="d-block text-right mt-3">Ir a librero </a>

    </mat-step>
    <!-- STEP TWO -->

  </mat-vertical-stepper>
  
</mat-dialog-content>


  <mat-dialog-actions align='end'>
    <button mat-button mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>
