<app-loading [showLoading]="working"> </app-loading>

<div class="col-courses mt-3" style="margin-top: 0px !important;">
  <div class="title">
    <h4>Mis cursos</h4>
    <button
      class="absolute-right"
      (click)="onClickNewCourse()"
      mat-icon-button
      color="primary"
      matTooltip="Agregar nuevo curso" joyrideStep="addCourse" title="Generador de Cursos" text="Para establecer comunicación con sus alumnos es necesario generar un curso presionando el siguiente ícono." >
      <mat-icon aria-label="Agregar banco" >add</mat-icon>
    </button>
    <button
      class="absolute-right-second responsive-column"
      (click)="showDetail = !showDetail"
      mat-icon-button
      color="primary"
      matTooltip="Mostrar cursos">
      <mat-icon aria-label="Agregar banco">view_list</mat-icon>
    </button>
  </div>

  <div  [ngClass]="{'hidden-column': showDetail}" class="lst-couses" >

    <mat-accordion class="list-accordion" *ngIf="courses != undefined">
      <mat-expansion-panel
        [expanded]="course.selected"
        *ngFor="let course of courses"
      >
        <mat-expansion-panel-header>
          <mat-panel-title [ngClass]="{ active: course.selected }">
            <i class="fa fa-users"></i> &nbsp; {{ course.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button
          type="button"
          mat-button
          color="primary"
          (click)="onCreateGroup(course)">
          <mat-icon>add</mat-icon>Agregar grupo
        </button>

        <mat-list *ngIf="course.groups.length > 0" role="list">
          <mat-list-item *ngFor="let group of course.groups" role="listitem">
            <span
              [ngClass]="{ 'active-listitem': group.selected }"
              class="listitem-description">
              {{ group.description }}
            </span>
            <button
              class="lnk-dropmenu-riht"
              mat-icon-button
              [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
              <button mat-menu-item (click)="onEditGroup(group)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="onDeleteGroup(course, group)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>

              <mat-divider></mat-divider>

			  <!-- Planeación -->
              <button mat-menu-item (click)="onClickGoToPlanning( course, group )">
                <mat-icon>date_range</mat-icon>
                <span>Planear Curso</span>
              </button>

              <button mat-menu-item (click)="onClickGoToStudent(course, group)">
                <mat-icon>people</mat-icon>
                <span>Alumnos</span>
              </button>

              <button
                mat-menu-item
                (click)="onClickGoToExamSchedule(course, group)">
                <mat-icon>date_range</mat-icon>
                <span>Programar examen</span>
              </button>

              <!-- Asistencia -->
              <button mat-menu-item (click)="onClickGoToAssistanceList( course, group )">
                <mat-icon>list_alt</mat-icon>
                <span>Lista de Asistencia</span>
              </button>

              <!-- Tareas -->
              <button mat-menu-item (click)="onClickGoToHomework( course, group )">
                <mat-icon>date_range</mat-icon>
                <span>Programar Tarea</span>
              </button>

              <!-- Actividades -->
              <button mat-menu-item (click)="onClickGoToActivity( course, group )">
                <mat-icon>date_range</mat-icon>
                <span>Programar Actividad</span>
              </button>

              <!-- Calificacion final -->
              <button mat-menu-item (click)="onClickGoToFinalScore( course, group )">
                <mat-icon>assignment</mat-icon>
                <span>Generar calificación</span>
              </button>
            </mat-menu>
          </mat-list-item>
        </mat-list>

        <mat-action-row>
          <div class="row materialize-full-width">


            <div class="col-md-4 col-cnt-button text-center">
              <button
                type="button"
                mat-icon-button
                color="primary"
                (click)="onClickGoToSiteInterests(course)"
                matTooltip="Sitios de interés">
                <mat-icon>link</mat-icon>
              </button>
            </div>

            <div class="col-md-4 col-cnt-button text-center">
              <button
                type="button"
                mat-icon-button
                color="primary"
                (click)="onClickEditCourse(course)"
                matTooltip="Editar curso">
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div class="col-md-4 col-cnt-button text-center">
              <button
                type="button"
                mat-icon-button
                color="warn"
                (click)="onDeleteCourse(course)"
                matTooltip="Eliminar curso">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

  </div>




  <div class="col-md-12" *ngIf="courses?.length == 0">
    <div class="background-nofound">
      <div class="content">
        <mat-icon class="icon">school</mat-icon>
        <span>Agrega un curso para poder trabajar</span>
      </div>
    </div>
  </div>
</div>
