.col-courses {
  padding: 0px !important;
  background-color: #ffffff;

  .lst-couses{
    overflow-y: auto;
    overflow-x: hidden;
  }

  .absolute-right{
    position: absolute;
    right: 10px;
    top: 3px;
  }

  .absolute-right-second{
    position: absolute;
    right: 40px;
    top: 3px;
  }

  /* MAT TABLE */
.lnk-dropmenu-riht {
  position:absolute !important;
  right: 10px !important;
}

.title{
  background-color: #e8e8e8;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-top: 10px;

  h4{
    display: inline-block;
    color: #49A7D4;
    font-size: 18px;
    padding: 5px 15px;

    small{
      display: block;
      font-size: 12px;
      color: #707070;
    }
  }
 }
}



.listitem-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    max-width: 90%;
}

.responsive-column {
	display: none;
}

@media (min-width: 300px) and (max-width: 992px) {
  .hidden-column {
    display: none;
  }

  .responsive-column {
    display: block;
  }
}
.mat-expansion-panel-header {
  height: 100px !important;
}
