<div class="mt-3 card">
  <div class="card-title">
    <div class="card-title-spacer">
      Tareas registradas: {{ totalHomerwork }}
    </div>
    <button mat-icon-button type="button"
      color="primary"
      (click)="onClickAddNew()"
      >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="card-body">
      <app-tasks-schedule
      (totalHomework)="totalHomework($event)">

      </app-tasks-schedule>
  </div>
</div>
