<div class="mt-3 card">
  <div class="card-title">
    <div class="card-title-spacer">
      Actividades registradas: {{ totalActivities }}
    </div>
    <button mat-icon-button type="button"
      color="primary"
      (click)="onClickAddNew()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="card-body">
    <app-activitys-schedule
    (totalActivity)="totalActivity($event)"></app-activitys-schedule>
  </div>
</div>
