<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav mode="side" 
                 [(opened)]="_srvAdminNav.openedMenu"
                 [ngClass]="{'open-sidenav-menu': this._srvAdminNav.openedMenu }" >                
       <app-admin-nav></app-admin-nav>               
    </mat-sidenav>
  
    <mat-sidenav-content [ngClass]="{'open-sidenav': this._srvAdminNav.openedMenu }">      
      <app-admin-header></app-admin-header>     
     
        <!-- Contenido de la página -->
        <div id="pg-content" [ngClass]="{'open-menu-content': this._srvAdminNav.openedMenu }" class="container-fluid mt-3">
            <!-- Contenido de las paginas -->
            <section id="pg-browser" class="mb-3">
              <router-outlet></router-outlet>
            </section>
      
          </div><!-- Fin del Contenido -->

    </mat-sidenav-content>
  </mat-sidenav-container>
  


