
	<footer class="mt-3 bg-grad-gris pt-2 pb-1">
		<section class="container">
			<p>
				<a href="#" class="brand-hachette text-hide mr-3">Hachette Livre México</a>
				<small class="float-right" ><a target="_blank" class="lnk-btn cursor-pointer" href="{{ urlPrivacy }}">Aviso de privacidad</a></small>
			</p>			
		</section>
	</footer>