input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.card-body {
  margin-top: 1%;
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
}

.mat-card-style {
  margin-bottom: 15px;
  background-color: rgb(241, 237, 237);
}

.small-text {
  font-size: 11px;
}

.small-text h4 {
  font-size: 14px;
}

form label .mat-checkbox-label{
  font-weight : normal !important;  
}