
.img-detail{
  h3{
    display: block;
    font-size: 18px;
    margin-top: 10px;

    small{
      display: block;
      font-size: 14px;
      color: #6f727d;
    }
  }
}


.content-profile-data{
  h4{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.26);
    padding-bottom: 10px;
    color: rgba(120, 130, 140, 0.6);
    text-transform: uppercase
  }
}

.profile-image{
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
  border: 1px solid rgb(212, 82, 73)
}

.bage-options{
  float: right;
  margin-top:  18px;
}

mat-icon {
  color: #fe0606;
}
.profile {
  color: #fe0606;
}