<app-loading [showLoading]="working"></app-loading>
<section class="mt-4 container">
  <!-- Contenido ///////////////////////////////////////////////////////////////////////////////////// -->
  <div class="row">
    <!-- Foto de perfil -->
    <div class="col-sm-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="img-detail text-center">
            <img *ngIf="user != null" [src]="profileImage" class="img-circle profile-image center-block" />
            <h3>
              {{ userName }} <small> {{ userRole.name }} </small>
            </h3>
          </div>

          <mat-list>
            <mat-list-item>
              <a mat-stroked-button class="text-left materialize-full-width text-decorate-none" color="primary"
                (click)="onChangePasswrd()">
                <mat-icon>create</mat-icon>
                <span class="profile"> Cambiar contraseña</span>
              </a>
            </mat-list-item>

            <mat-list-item>
              <a mat-stroked-button class="text-left materialize-full-width text-decorate-none" color="primary"
                (click)="onChangeImg()">
                <mat-icon>add_circle_outline</mat-icon>
                <span class="profile"> Cambiar Foto de Perfil</span>
              </a>
            </mat-list-item>

            <mat-list-item>
              <a mat-stroked-button class="text-left materialize-full-width text-decorate-none" color="primary"
                (click)="onChangeNotificationTab()">
                <mat-icon>notifications_active</mat-icon>
                <span class="profile"> Notificaciones</span>
                <span *ngIf="notifications?.length > 0" class="bage-options" [matBadge]="notifications?.length"
                  matBadgeColor="warn" matBadgePosition="after"></span>
              </a>
            </mat-list-item>

            <mat-list-item>
              <a mat-stroked-button class="text-left materialize-full-width text-decorate-none" color="primary"
                routerLink="/resource/messages">
                <mat-icon>insert_comment</mat-icon>
                <span class="profile"> Mensajes directos</span>

              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <!--Fin de la foto de perfil -->

    <!--Formulario información de perfil-->
    <div class="col-sm-12 col-lg-8">
      <div class="card">
        <div class="card-body">

          <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTabIndex"
            (selectedIndexChange)="tabChange($event)">
            <mat-tab style="overflow: hidden" label="Datos Generales">
              <form [formGroup]="frmUserProfileData" novalidate autocomplete="off">
                <div class="mt-2 ">
                  <!-- FULLNAME -->
                  <div class="row content-profile-data" *ngIf="user">
                    <h4 class="col-md-12">Datos generales</h4>

                    <div class="form-group col-md-6">
                      <mat-form-field class="materialize-full-width">
                        <input matInput placeholder="Nombre completo" maxlength="250" id="fullName" name="fullName"
                          formControlName="fullName" aria-describedby="emailHelp" />
                      </mat-form-field>
                      <div
                        *ngIf="frmUserProfileData.get('fullName').errors?.required && frmUserProfileData.get('fullName').touched"
                        class="text-danger error-label">
                        <i class="fa fa-exclamation-circle"></i> El campo de nombre es requerido </div>
                    </div>

                    <div class="form-group col-md-6">
                      <mat-form-field class="materialize-full-width">

                        <input matInput [matDatepicker]="birthDay" placeholder="Fecha de nacimiento" name="birthDay" id="birthDay"
                          formControlName="birthDay">
                        <mat-datepicker-toggle matSuffix [for]="birthDay"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #birthDay></mat-datepicker>

                      </mat-form-field>
                      <div *ngIf="
                                frmUserProfileData.get('birthDay').errors
                                ?.required &&
                                frmUserProfileData.get('birthDay').touched
                            " class="text-danger error-label">
                        <i class="fa fa-exclamation-circle"></i> La fecha de
                        nacimiento es obligatoria
                      </div>
                    </div>
                    <h4 class="form-group col-md-12">Datos de usuario</h4>

                    <!--EMAIL-->
                    <div class="form-group col-md-6">
                      <mat-form-field class="materialize-full-width">
                        <input matInput placeholder="Correo electrónico" id="email" name="email" formControlName="email"
                          aria-describedby="emailHelp">
                      </mat-form-field>
                      <div
                        *ngIf="frmUserProfileData.get('email').errors?.required && frmUserProfileData.get('email').touched"
                        class="text-danger error-label">
                        <i class="fa fa-exclamation-circle"></i> El correo electrónico es obligatorio
                      </div>
                      <div
                        *ngIf="frmUserProfileData.get('email').errors?.pattern && frmUserProfileData.get('email').touched"
                        class="text-danger error-label">
                        <i class="fa fa-exclamation-circle"></i> Formato del correo electrónico es incorrecto (no se
                        permiten mayúsculas)
                      </div>
                    </div>




                    <!--INSTITUTION-->
                    <div class="form-group col-md-6">
                      <mat-form-field class="materialize-full-width">
                        <input matInput placeholder="Institución*" id="institution" name="institution"
                          formControlName="institution" >
                      </mat-form-field>
                      <div
                        *ngIf="frmUserProfileData.get('institution').errors?.required && frmUserProfileData.get('institution').touched"
                        class="text-danger error-label">
                        <i class="fa fa-exclamation-circle"></i> La institución es requerido
                      </div>
                        </div>

                          <!--KEYCCT-->
                    <div  class="form-group col-md-12">
                      <mat-form-field class="materialize-full-width">
                        <input matInput placeholder="Clave CCT" id="keycct" name="keycct"
                          formControlName="keycct">
                      </mat-form-field>
                      <div
                        *ngIf="frmUserProfileData.get('keycct').errors?.required && frmUserProfileData.get('keycct').touched"
                        class="text-danger error-label">
                        <i class="fa fa-exclamation-circle"></i> El cct es requerido
                      </div>
                    </div>






                    <h4 class="form-group col-md-12">Datos demográficos</h4>

                    <!-- GENDER -->
                    <div class="form-group col-md-12">
                      <mat-radio-group name="gender" id="gender" formControlName="gender">
                        <mat-radio-button id="M" style="width: 50%" value="M">Masculino</mat-radio-button>
                        <mat-radio-button id="F" style="width: 50%" value="F">Femenino</mat-radio-button>
                      </mat-radio-group>
                    </div>

                    <!-- CONTRY -->
                    <div class=" form-group col-md-6">
                      <mat-form-field class="materialize-full-width">
                        <mat-select placeholder="País" name="contry" id="contry"
                          (selectionChange)="onChangeContry( $event )" formControlName="contry">
                          <mat-option *ngFor="let contry of contries" [value]="contry.id">
                            {{ contry.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- STATE -->
                    <div class="form-group col-md-6">
                      <mat-form-field class="materialize-full-width">
                        <mat-select placeholder="Estado" name="state" id="state" formControlName="state">
                          <mat-option *ngFor="let state of states" [value]="state.id">
                            {{ state.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <!-- SAVE BUTTON -->
                    <div class="col-md-12 text-right">
                      <button mat-raised-button [disabled]="!frmUserProfileData.valid" type="submit"
                        (click)="onSubmit()" id="btn-save" color="primary">Guardar</button>
                    </div>

                  </div>
                </div>
              </form>
            </mat-tab>

            <!-- Notificaciones -->
            <mat-tab style="overflow: hidden" label="Notificaciones">
              <div class="row content-notifications mt-3">
                <div class="col-md-12 item" style="cursor: pointer;" *ngFor="let notification of notifications"  (click)="onClickShow(notification.title,notification.message)">
                                    <div class="user-img" >
                    <img src="assets/images/icn_bell.png" alt="user" class="img-circle">
                    <span class="profile-status online pull-right"></span> </div>
                  <div class="mail-contnet">
                    <a (click)="onReadMessages( notification.id )" class="lnk-close"><i class="fa fa-times"></i></a>
                    <h5> {{ notification.title }} </h5>
                    <span class="mail-desc">{{ notification.message }}</span>
                    <span class="time">
                      <i class="fa fa-calendar"></i> {{ notification.registerDate | date:'mediumDate' }}
                    </span>
                  </div>
                </div>

              </div>

            </mat-tab>


            <!-- Mis puntos -->
            <mat-tab style="overflow: hidden" label="Mis puntos">
              <app-point [changePoints]="points"></app-point>
            </mat-tab>


            <!-- Cupones -->
            <mat-tab style="overflow: hidden" label="Cupones">
              <app-coupon [changeCoupons]="coupons"></app-coupon>
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>

    </div>
  </div>
</section>
