<app-loading [showLoading]="working">
  </app-loading>

<div class="mdl-wrapper">
  <h4 class="text-center"> Datos del parcial </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm(false)">
    <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
  <hr/>
  <mat-dialog-content>
    <form [formGroup]="frmPartial" novalidate autocomplete="off" >
      <!-- Contenido -->
      <div class="row">
        <!-- Parciales -->
        <div class="col-md-12">
          <mat-form-field class="materialize-full-width">
            <input  matInput
                    placeholder="Parcial"
                    maxlength="500"
                    id="description"
                    name="description"
                    aria-describedby="emailHelp"
                    formControlName="description">
          </mat-form-field>
              <div *ngIf="frmPartial.get('description').errors?.required && frmPartial.get('description').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> Campo requerido
              </div>
        </div>
        <!-- Fecha inicio -->
        <div class="col-md-12">
            <mat-form-field class="materialize-full-width">
                <input  matInput
                        [min]="dateInit"
                        [max]="dateEnd"
                        readonly
                        [matDatepicker]="startDate"
                        placeholder="Fecha de inicio"
                        maxlength="10"
                        name="startDate"
                        id="startDate"
                        type="text"
                        (dateChange)="onChangeInit($event.value)"
                        formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker touchUi #startDate></mat-datepicker>
              </mat-form-field>
              <div *ngIf="frmPartial.get('startDate').errors?.required && frmPartial.get('startDate').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> Campo requerido
              </div>
        </div>
        <!-- Fecha fin -->
        <div class="col-md-12">
            <mat-form-field class="materialize-full-width">
                <input  matInput
                        readonly
                        [min]="dateInit"
                        [max]="dateEnd"
                        [matDatepicker]="endDate"
                        placeholder="Fecha fin"
                        maxlength="10"
                        name="endDate"
                        id="endDate"
                        type="text"
                        (dateChange)="onChangeEnd($event.value)"
                        formControlName="endDate"
                        [disabled]="!showDateEnd">
                <mat-datepicker-toggle matSuffix [for]="endDate" ></mat-datepicker-toggle>
                <mat-datepicker touchUi #endDate></mat-datepicker>
              </mat-form-field>
              <div *ngIf="frmPartial.get('endDate').errors?.required && frmPartial.get('endDate').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> Campo requerido
              </div>
        </div>
      </div>
    </form>
      <p *ngIf="showMsgInit">
        <mat-hint> La fecha de inico está dentro del rango de otro parcial</mat-hint>
      </p>
      <p *ngIf="showMsgEnd">
        <mat-hint>La fecha de fin está dentro del rango de otro parcial</mat-hint>
      </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type='submit'
        (click)="onSavePartial()"
        mat-button color="primary"
        [disabled]="!frmPartial.valid">Guardar</button>
  </mat-dialog-actions>
</div>
