<div class="mdl-wrapper">
    <h4 class="text-center"> Cargar actividad  </h4>
    <button mat-icon-button
            class="link-float-right"
            (click)="onCloseConfirm( false )">
            <mat-icon aria-label="Cerrar modal">close</mat-icon>
    </button>
  <hr/>

  <!-- Aqui va el componente -->
  <div class="container">
    <app-studen-upload-activity
      [taskId]="activityId"
      [delivered]="delivered"
      [qualified]="qualified"
      (closeModal)="onCloseConfirm($event)">
    </app-studen-upload-activity>
  </div>
  </div>
