<div class="mdl-wrapper">
    <p class="text-center"> {{ question.question }}  </p>
    <button mat-icon-button
        class="link-float-right"
        (click)="onCloseConfirm()">
        <mat-icon aria-label="Cerrar modal">close</mat-icon>
    </button>
    <hr/>

    <div class="row justify-content-center">
      <span [innerHTML]="question.response"> </span>
    </div>
</div>
