<div class="mdl-wrapper">
  <h4 class="text-center"> Respuesta del examen - {{ nameExam }} </h4>
  <button mat-icon-button class="link-float-right" (click)="onCloseConfirm(null)">
    <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
  <hr />
</div>
<div mat-dialog-content>
  <app-studen-answers [examId]="teacheExamId" [indexPage]="indexPage" [studenId]="studenId"
    (indexPagination)="indexPagination($event)" (testScore)="fnTestScore($event)" (close)="fnClose($event)">
  </app-studen-answers>
</div>
<div>
  <div class="text-right" *ngIf="testScore!= null">Resultado: <i>({{testScore}}) {{weighting?.unit}}</i></div>
  <nav aria-label="Page navigation example ">
    <ul class="pagination pg-blue justify-content-center">
      <li class="page-item " [ngClass]="{'disabled': indexPage == 0 }">
        <a class="page-link primary " (click)="reducePagination()" mdbWavesEffect>Anterior</a>
      </li>
      <li></li>
      <li class="page-item " [ngClass]="{'disabled': indexPage == page }">
        <a class="page-link primary" (click)="addPagination()" mdbWavesEffect>Siguiente</a>
      </li>
    </ul>
  </nav>
</div>