<app-loading
  [showLoading]="working">
</app-loading>

<!-- Contenido //////////////////////////////////////////////////////////////////////////// -->

<section class="mt-3">
<mat-card>
  <mat-card-content>
      <mat-card-subtitle>Filtros de búsqueda </mat-card-subtitle>
 <!-- CONTENT CONTROLS -->
 <div class="col-sm-10 col-lg-6 mb-2">
    <mat-form-field class="materialize-width-80">
      <input matInput placeholder="Buscar por título" class="white-control" (keyup)="onKeyUp( $event )" [(ngModel)]="textSearch">
      <mat-icon class="cursor-pointer" matSuffix>find_in_page</mat-icon>
    </mat-form-field>
  </div>
  </mat-card-content>

</mat-card>

<br/>
  <mat-card>
      <!-- TITLE -->
      <mat-card-content>


        <mat-card-subtitle>
          Avisos registrados: <b>{{ pagination.total }}</b>
        </mat-card-subtitle>

    <!-- Tabla Escritorio ////////// -->


        <!-- Tabla -->
        <div class="col-12 mt-3">

              <table class="table table-striped animated fadeIn shadow">
                  <thead>
                    <tr class="bg-blue text-white text-center">
                      <th> No. </th>
                      <th> Título </th>
                      <th> Descripción </th>
                      <th> Fecha </th>
                      <th> Cursos </th>
                      <th> Grupos </th>
                      <th width="20px">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let announcement of announcements">
                      <td class="text-center"> {{ announcement.index }} </td>
                      <td> {{ announcement.title }} </td>
                      <td> {{ announcement.description }} </td>
                      <td> {{ announcement.registerDate | date}} </td>
                      <td> <mat-option *ngFor="let item of announcement.courses" >{{ item.name}} </mat-option></td>
                      <td> <mat-option *ngFor="let item of announcement.groups" >{{ item.description }} </mat-option></td>
                      <td class="text-right">
                          <button class="lnk-btn-table"
                          mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu"
                                xPosition="before"
                                [overlapTrigger]="false">
                                <button mat-menu-item (click)="onEditItem( announcement )">
                                  <mat-icon>edit</mat-icon>
                                  <span>Editar</span>
                                </button>
                                <button mat-menu-item (click)="onDeleteItem( announcement )">
                                  <mat-icon>delete</mat-icon>
                                  <span>Eliminar</span>
                                </button>
                      </mat-menu>
                      </td>
                    </tr>
                </tbody>
              </table>


              <app-pagination
              [pagination]="pagination"
              (changePage)="setPage( $event )">
             </app-pagination>

        </div><!-- Fin de la tabla -->

    </mat-card-content>
  </mat-card>
</section><!-- Fin del Contenido-->

<!-- Floating Button -->
<div class="btn-float"  joyrideStep="firstStep" title="Generador de avisos" text="Presiona este ícono para crear tu aviso.">
  <button
    mat-fab
    id= "btn-float-actions"
    matTooltip="Agregar aviso"
    (click)="onClickNewAnnouncement()"
    class="ml-2 text-white" yPosition="above">
    <mat-icon>add</mat-icon>
  </button>


</div>

