
  <app-loading [showLoading]="_courseNavService?.working">
  </app-loading>

  <div class="row p-4">
    <div *ngIf="course != null" class="bg-white col-md-12">
      <!-- ENCABEZADO -->
      <div class="col-md-12 mt-2">
          <h4>Acerca de este curso</h4>
          <p>{{ _courseNavService?.course?.description }}</p>
          <hr/>
      </div>

      <!-- DETALLE DEL CURSO -->
      <div class="col-md-12">
        <table class="table-list table table-sm">
          <tbody>
             <tr *ngIf="_courseNavService?.course?.institution != null && _courseNavService?.course?.institution !=''">
              <td class="text-right p-3" width="20%" > <b>Institución</b> </td>
              <td class="text-left p-3"> {{ _courseNavService?.course?.institution }} </td>
             </tr>
             <tr *ngIf="_courseNavService?.course?.gol !=''">
              <td class="text-right p-3" width="20%" > <b>Objetivo</b> </td>
              <td class="text-left p-3"> {{ _courseNavService?.course?.gol }} </td>
             </tr>
             <tr *ngIf="_courseNavService?.course?.subject !=''">
                <td class="text-right p-3" width="20%" > <b>Materia</b> </td>
                <td class="text-left p-3"> {{ _courseNavService?.course?.subject }} </td>
             </tr>
             <tr>
                  <td class="text-right p-3" width="20%" > <b>Periodo</b> </td>
                  <td class="text-left p-3">
                    <div class="col-md-12 p-0">
                      <span class="label-small-inline">
                        <b> <i class="far fa-calendar"></i> Fecha Inicio:</b>  {{ _courseNavService?.course?.startDate | date }}
                      </span>
                      <span class="label-small-inline">
                        <b> <i class="far fa-calendar"></i> Fecha fin:</b>  {{ _courseNavService?.course?.endDate | date }}
                      </span>
                    </div>
                    <div class="col-md-12 mt-2 p-0">
                      <ul class="list-inline list-unstyled">
                        <li> <span class="label-circle"
                                   [ngClass]="{'label-primary text-white': _courseNavService?.course?.monday }" >L</span> </li>
                        <li> <span class="label-circle"
                                   [ngClass]="{'label-primary text-white': _courseNavService?.course?.tuesday }">M</span> </li>
                        <li> <span class="label-circle"
                                   [ngClass]="{'label-primary text-white': _courseNavService?.course?.wednesday }">M</span> </li>
                        <li> <span class="label-circle"
                                   [ngClass]="{'label-primary text-white': _courseNavService?.course?.thursday }">J</span> </li>
                        <li> <span class="label-circle"
                                   [ngClass]="{'label-primary text-white': _courseNavService?.course?.friday }">V</span> </li>
                        <li> <span class="label-circle"
                                   [ngClass]="{'label-primary text-white': _courseNavService?.course?.saturday }">S</span> </li>
                        <li> <span class="label-circle"
                                   [ngClass]="{'label-primary text-white': _courseNavService?.course?.sunday }">D</span> </li>
                      </ul>
                    </div>
                  </td>
             </tr>
             <tr *ngIf="_courseNavService?.course?.teacherFullName !=''">
                    <td class="text-right p-3"  width="20%" > <b>Profesor</b> </td>
                    <td class="text-left p-3">
                      <span class="label">
                          {{ _courseNavService?.course?.teacherFullName }}
                          <small>
                            <i class="far fa-envelope"></i>
                            {{ _courseNavService?.course?.teacherEmail }}
                          </small>
                      </span>
                    </td>
             </tr>
          </tbody>
        </table>
        <hr/>
      </div>
      <div class="row">

        <!-- Planeación -->
        <!-- ENCABEZADO -->
        <div class="col-md-6 mt-2">
          <h5>Detalles de la planeación</h5>
          <hr/>
        </div>
        <!-- Parciales -->
        <!-- ENCABEZADO -->
        <div class="col-md-6 mt-2">
          <h5>Parciales</h5>
          <hr/>
        </div>

        <!-- DETALLE DEL CURSO -->
        <div class="col-md-6">
            <table class="table-list table table-sm">
              <tbody>
                  <tr>
                  <td class="text-right p-3" width="20%" > <b>Exámenes</b> </td>
                  <td class="text-left p-3">
                    <span class="label-circle-planning label-primary text-white" >{{ planinng.exam  }}%</span>
                  </td>
                  </tr>
                  <tr>
                  <td class="text-right p-3" width="20%" > <b>Tareas</b> </td>
                  <td class="text-left p-3">
                    <span class="label-circle-planning label-primary text-white" >{{ planinng.homework  }}%</span>
                  </td>
                  </tr>
                  <tr>
                  <td class="text-right p-3" width="20%" > <b>Actividades</b> </td>
                  <td class="text-left p-3">
                    <span class="label-circle-planning label-primary text-white" >{{ planinng.activity  }}%</span>
                  </td>
                  </tr>
                  <tr>
                  <td class="text-right p-3" width="20%" > <b>Asistencia</b> </td>
                  <td class="text-left p-3">
                    <span class="label-circle-planning label-primary text-white" >{{ planinng.assistance  }}%</span>
                  </td>
                  </tr>
                  <tr>
                  <td class="text-right p-3" width="20%" > <b>Total</b> </td>
                  <td class="text-left p-3">
                    <span class="label-circle-planning label-primary text-white">{{ total }}%</span>
                  </td>
                  </tr>
              </tbody>
            </table>
            <hr/>
          </div>

        <!-- DETALLE DEL CURSO -->
        <div class="col-md-6">
          <table class="table-list table table-sm">
            <tbody>
              <tr>
                <td class="text-left" width="20%" > <b>Parcial</b> </td>
                <td class="text-left" width="20%" > <b>Periodo</b> </td>
              </tr>
              <tr *ngFor="let item of planinng.schedulingPartial">
                <td class="text-left" width="20%" > <b> {{ item.description }} </b> </td>
                <td class="text-left" width="20%" > <b> {{ item.startDate | date }} al {{ item.endDate | date}}</b> </td>
              </tr>

            </tbody>
          </table>
          <hr/>
        </div>
      </div>
    </div>

    <div *ngIf="course == null">
      <div  class="col-md-12">
        <div class="background-nofound">
          <div class="content">
            <mat-icon class="icon">school</mat-icon>
            <span> No se encontraron detalles del curso seleccionado </span>
          </div>
        </div>
      </div>
    </div>

  </div>




