<app-loading [showLoading]="working"></app-loading>
<div class="mt-3 card">
  <div class="card-title">
    <div class="card-title-spacer">
      Planeación
    </div>
  </div>
  <div class="card-body">
    <!-- INICIO DEL TAB -->
    <mat-tab-group animationDuration="0ms" (selectedIndexChange)="selectedTabIndex = $event">
      <!-- TAB CURSOS -->
      <mat-tab style="overflow: hidden" label="Curso">
        <form action=""  [formGroup]="frmPlanning">
          <!-- Tareas -->
          <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <input  matInput
                        placeholder="Tareas"
                        maxlength="350"
                        id="name"
                        name="name"
                        type="number"
                        aria-describedby="emailHelp"
                        [(ngModel)]="homework"
                        formControlName="homework"
                        (keyup)="onSume()">
              </mat-form-field>
              <!-- <div *ngIf="frmTaskSchudele.get('name').errors?.required && frmTaskSchudele.get('name').touched" class="text-danger error-label">
                  <i class="fa fa-exclamation-circle"></i> El campo nombre es requerido
                </div> -->
            </div>
          <!-- Exámenes -->
          <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <input  matInput
                        placeholder="Exámenes"
                        maxlength="350"
                        id="name"
                        name="name"
                        type="number"
                        aria-describedby="emailHelp"
                        formControlName="exam"
                        [(ngModel)]="exam"
                        (keyup)="onSume()">
              </mat-form-field>
              <!-- <div *ngIf="frmTaskSchudele.get('name').errors?.required && frmTaskSchudele.get('name').touched" class="text-danger error-label">
                  <i class="fa fa-exclamation-circle"></i> El campo nombre es requerido
                </div> -->
            </div>
          <!-- Actividades -->
          <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <input  matInput
                        placeholder="Actividades"
                        maxlength="350"
                        id="name"
                        name="name"
                        type="number"
                        aria-describedby="emailHelp"
                        [(ngModel)]="activity"
                        formControlName="activity"
                        (keyup)="onSume()">
              </mat-form-field>
              <!-- <div *ngIf="frmTaskSchudele.get('name').errors?.required && frmTaskSchudele.get('name').touched" class="text-danger error-label">
                  <i class="fa fa-exclamation-circle"></i> El campo nombre es requerido
                </div> -->
            </div>
          <!-- Asistencia -->
          <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <input  matInput
                        placeholder="Asistencia"
                        maxlength="350"
                        id="name"
                        name="name"
                        type="number"
                        aria-describedby="emailHelp"
                        [(ngModel)]="assistance"
                        formControlName="assistance"
                        (keyup)="onSume()">
              </mat-form-field>
              <!-- <div *ngIf="frmTaskSchudele.get('name').errors?.required && frmTaskSchudele.get('name').touched" class="text-danger error-label">
                  <i class="fa fa-exclamation-circle"></i> El campo nombre es requerido
                </div> -->
            </div>
          <!-- Sumatoria  -->
          <div class="form-group">
            <p>Total: <span>{{ totalPercentage }}%</span></p>
          </div>
          <!-- Parciales -->
          <div class="form-group">
            <p>Número de parciales: <span>{{  schedulingPlartial.length }}</span></p>
            <mat-hint align="end">Agregue los parciales requeridos en la planeación por parcial.</mat-hint>

            <p>
              <mat-hint align="end" *ngIf="!valid">La sumatoria de los conceptos debe ser del 100%.</mat-hint>
            </p>
          </div>

          <!-- BUTTONS -->
          <div class="form-group text-right">
              <button mat-raised-button
                      (click)="onUpdatePlanning()"
                      class="mr-2"
                      color="primary"
                      [ngClass]="{'valid': !valid }"
                      [disabled]="!valid">
                <mat-icon aria-label="Guardar programación de tarea">save</mat-icon>
                Actualizar
              </button>
              <!-- <button
                  id="btn-exam-cancel"
                  type="button"

                  mat-raised-button
                  color="warn">
                  <mat-icon aria-label="Cancelar programación de tarea">clear</mat-icon>
                  Cancelar
              </button> -->
            </div>
        </form>
      </mat-tab>
      <!-- TAB PARCIALES -->
      <mat-tab style="overflow: hidden" label="Parciales">
        <div id="cnt-exam-list" class="col-md-12 mt-2" >
          <table class="table-list table table-sm" *ngIf="schedulingPlartial.length > 0">
            <tbody>
              <tr *ngFor="let partial of schedulingPlartial">
                <td class="hidden-column">
                  <span class="label">{{ partial.description }}
                    <small>Parcial</small>
                  </span>
                </td>
                <td class="hidden-column">
                  <span class="label"> {{ partial.startDate | date }}
                    <small>Fecha Inicio</small>
                  </span>
                </td>
                <td class="hidden-column">
                  <span class="label"> {{ partial.endDate | date }}
                    <small>Fecha Fin</small>
                  </span>
                </td>
                <td class="hidden-column text-right">
                  <button mat-icon-button matTooltip="Editar datos"  (click)="onUpdatePartial(partial)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Eliminar" color="warn" (click)="onDeletePartial(partial)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Mensaje vacio -->
            <div class="background-nofound" *ngIf="schedulingPlartial.length == 0">
              <div class="content">
                <mat-icon class="icon">calendar_today</mat-icon>
                <span>No existen parciales</span>
              </div>
            </div>
          <!-- Floating button -->
          <div class="btn-float">
            <button mat-fab
                    (click)="onClickAddNew(1)"
                    class="ml-2 text-white">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
  <!-- FIN DEL TAB -->
  </div>
</div>
