<app-loading [showLoading]="working"></app-loading>


			<section id="content-login" class="container-fluid p-0">
					<div class="row">
						<div  class="col-md-6 content-login-image">
								<img src="assets/img/bg/bg-login.png" class="img-login">
						</div>


						<article class="col-md-6">
							<div class="brands mt-3 mb-5"></div><!-- Logos -->

							<div class="form col-6 mx-auto">

									<form class="col-12 mb-4" [formGroup] = "frmRecover" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
											<h1 class="h4 d-block text-center mb-4">Recuperar contraseña</h1>

											<div class="form-group">
												<label for="exampleInputEmail1">Usuario</label>
												<input  type="email"
																class="form-control"
																id="username"
																name="username"
																aria-describedby="emailHelp"
																placeholder="Nombre de usuario"
																formControlName="username"
																aria-describedby="emailHelp">
											</div>

											<div class="form-group form-check p-0">
												<a [routerLink]="['/login']" >Iniciar sesión</a>
											</div>

											<div class="d-flex justify-content-center">
													<button  type="submit"
																	class="btn btn-primary "
																	[disabled]="!frmRecover.valid">Entrar</button>
											</div>


										</form><!-- Fin del Form -->


								<nav>
									<ul class="nav nav-fill">
										<li class="nav-item"><a  target="_blank" href="{{ urlPrivacy }}"  class="nav-link">Aviso de privacidad</a></li>
									</ul>
								</nav>
							</div>

						</article><!-- form -->
					</div><!-- row -->
				</section><!-- container-fluid -->

