/*
   #0AA083
   #F5FCFC
*/

a,
.btn-colapsar > i.icon {
  color: #0AA083;
}

.main-menu li:hover> a {
  background-color: #0AA083;
}



nav.main-menu li.active>a,
.main-menu .dropdown-menu>li>a:hover,
.main-menu .dropdown-menu>li>a:focus,
.main-menu .dropdown-menu>.active>a,
.main-menu .dropdown-menu>.active>a:hover,
.main-menu .dropdown-menu>.active>a:focus,
.main-menu .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.main-menu .dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#0AA083;
}

.main-menu ul li.active a i {
  color: #fff !important;
}
.main-menu ul li a:hover > i {
  color: #fff !important;
}


.main-menu ul {
  background-color: #F5FCFC;
}

/* reset our lists to remove bullet points and padding */
ul.submenu {
  background-color:rgb(3, 121, 103);
}

.main-menu li ul.submenu li:hover a  {
  background: #0AA083 !important;
}

.item-home {
  border: none;
}

.card-style-home {
  background: url('../../img//bg/design-primaria.jpg') #0AA083 no-repeat center center;
  background-size: cover;
  background-color: #0AA083 !important;
  color: #fff;
  border-radius: 15px;
}

.card-style-home:hover mat-icon,
.card-style-home:hover .text-title {
  color: #fff !important;

}



.usr-nav .dropdown-item:focus,
.usr-nav .dropdown-item a:active,
.usr-nav  .dropdown-item:hover {
  background-color: #0AA083 !important;
  color: #fff !important;
}


.spinner > div {
  background-color:#0AA083 !important;
}

/* PROFILE */
.profile{
  color: #0AA083 !important;
}

.profile-image {
  border: 1px solid #0AA083 !important;
}

/* MATERIALIZE */

.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary,
.mat-stroked-button.mat-primary mat-icon {
  color: #0AA083 !important;
}

.mat-button.mat-primary .mat-button-focus-overlay,
.mat-icon-button.mat-primary .mat-button-focus-overlay,
.mat-stroked-button.mat-primary .mat-button-focus-overlay,
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #0AA083 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  border-color: #0AA083 !important;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #0AA083 !important;
}

.mat-raised-button.mat-button.mat-primary {
  color: #fff !important;
}

.mat-focused mat-icon {
  color: #0AA083 !important;
}



.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #0AA083 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  color: #0AA083 !important;
  background-color:  #0AA083 !important;
}

.mat-input-element {
  caret-color: #0AA083 !important;
}

button.mat-accent:hover {
  background-color: #0AA083 !important;
  border-color: #0AA083 !important;
}

button.mat-accent:hover {
  background-color: #0AA083 !important;
  border-color: #0AA083 !important;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #0AA083 !important;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #0AA083 !important;
}

.mat-calendar-body-selected {
	background-color: #0AA083 !important;
	color: #fff
}

.mat-calendar-body-disabled>.mat-calendar-body-selected {
	background-color: rgba(9, 174, 148,0.4) !important;
}

.active-file,
.list-inline-buttons li .item-button:hover,
.item-carrousel:hover,
.card-active  {
  background-color: #EEF7F7 !important;
}

.mat-drawer-container,
.mat-sidenav-content {
  background: #F5FCFC !important;
}


.owl-nav .owl-prev span:hover,
.owl-nav .owl-next span:hover,
#site-content .breadcrumb .active-breadcrumb,
.lnk-content-selec{
  color: #0AA083 !important;
}

/*****************************************/
/* TREE                                  */
/*****************************************/
.cnt-drop-down .btn-outline-secondary:not(:disabled):not(.disabled):active,
.cnt-drop-down .btn-outline-secondary:not(:disabled):not(.disabled).active,
.cnt-drop-down .show>.btn-outline-secondary.dropdown-toggle,
.cnt-drop-down .dropdown .btn-outline-secondary:hover,
.cnt-drop-down .dropdown .btn-outline-secondary.active {
  background-color: #0AA083 !important;
}

/*****************************************/
/* QUESTIONS                             */
/*****************************************/

.list-questions li.list-answers .isCorrect {
  color: #0AA083 !important;
}

/*****************************************/
/*¨IMAGE UPLOAD                          */
/*****************************************/

.customClass .img-ul-upload {
  border: 1px solid #0AA083 !important;
  color: #0AA083 !important;
}

.customClass .img-ul-clear {
  border: 1px solid #0AA083 !important;
  color: #0AA083 !important;
}

.customClass .img-ul-drag-box-msg {
  color:#0AA083 !important;
}

.lnk-content-select,
.lnk-btn-table {
  color: #0AA083 !important;
}

/***********************************/
/* GENERAL                         */
/***********************************/
.label-primary {
	background-color:#0AA083 !important;
}


/************************************/
/* MESSAGES                         */
/************************************/
.message-sender .message {
  background-color: #0AA083 !important;
}

/*************************************/
/* HEADER                            */
/*************************************/

/* #pg-content-header #btn-back:hover{
  color: #0AA083 !important;
} */

#menu li a.link-circle {
  background-color: #0AA083 !important;
  color: #fff !important;
  border: 1px solid #0AA083 !important;
}
/* #menu li :hover {
  background-color: #fff !important;
  color: #0AA083 !important;
  border: 1px solid #0AA083 !important;
} */

#menu li a .badge{
 background-color: #0AA083 !important;
}



 /* #menu li a i {
   color: #ffffff !important;
 } */

/************************************/
/* CURSOS                           */
/************************************/

.col-courses .title h4,
.list-accordion .active,
.card-title-spacer {
  color: #0AA083 !important;
}

.active-listitem {
  border-bottom: 2px solid #0AA083 !important;
}

.label-primary{
  background-color:#0AA083 !important;
  border: 1px solid #0AA083 !important;
}

.active-listitem {
  border-bottom: 2px solid #0AA083 !important;
}


.list-items li a:hover .mat-chip.mat-standard-chip {
	color: #0AA083 !important;
	background-color: #0AA083 !important;
}

.list-items li a .box-icon {
	color: #0AA083 !important;
}

.list-items li a .description {
	color: #0AA083 !important;
}

.list-items li a .description .label-primary {
	border: 1px solid #0AA083 !important;
	background-color: #0AA083 !important;
}


.card-list .card-list-item h4 a:hover {
  color: #0AA083 !important;
}

#wrapper-book-options{
  background-color: #d7fff9 !important;
}

#wrapper-book-options ul li a:hover,
#wrapper-book-options ul li a.active {
	color: #0AA083 !important;
	border-bottom: 5px solid #0AA083 !important;
}


/***********************************/
/* FORUM                           */
/***********************************/

.main-questions-list ul.question-statistic li.active span{
  background-color: #0AA083 !important;
}

.widget-menus ul li a:hover, .widget-menus ul li.current-menu-item > a {
  border-left: 4px solid #0AA083;
}

.widget {
	border-bottom: 1px solid #dadfea;
}
.widget a{
	color: #0AA083; /* text color */
}

.widget-menus ul li a:hover,
.widget-menus ul li.current-menu-item > a {
	border-left: 4px solid #0AA083;
}

.widget-statistic ul li.questions-count {
	border-left: 4px solid #0AA083;
}
.widget-statistic ul li.members-count {
	border-left: 4px solid #0AA083;
}

.btn-primary{
  border: 2px solid #0AA083 !important;
}

.mat-raised-button.mat-warn {
  background-color: #0AA083 !important;
}

/*******************************************/
/* BOOSTRAP                                */
/*******************************************/

.page-item.active .page-link {
  background-color: #0AA083 !important;
  border-color: #0AA083 !important;
}
.page-link{
  color: #0AA083 !important;
}

.page-item.active, .page-link:hover {
  background-color: rgb(160, 10, 10) !important;
  border-color: #0AA083 !important;
}

.swal2-popup .swal2-styled.swal2-confirm{
  border-color: #0AA083 !important;
}

.bg-danger{
  background-color: #0AA083 !important;
}

/*****************************************
/*   GESTOR ACADEMICO                   */
/****************************************/

.item-files-link .lkn-select-academic .icon {
  color: #0AA083 !important;
  font-size: 25px;
}

.card-style :hover {
  color: #fff;
  background-color: #0AA083 !important;

}

.item-files-text span {
  color: #0AA083 !important;
}


/*****************************************
/* MATERIAL DIDACTICO                   */
/****************************************/
.list-inline-buttons li .item-button mat-icon {
  color: #0AA083 !important;
}

#list-content-files .icon-lg mat-icon {
  color: #0AA083 !important;
}
/************ Cambio */
#btn-back  {
  /* background-color: #0AA083 !important; */
  color:  #0AA083 !important;
}
#btn-back :hover > a {
  /* background-color: #0AA083 !important; */
  color:  #666 !important;
}
/************ Fin Cambio */

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: #0AA083 !important;
}

#list-content-files .files-label-detail {
  color: #0AA083 !important;
}

#list-content-files .files-label-detail small {
  color: #666 !important;
}

.flex-column .ng-star-inserted a:hover   {
  background-color: #0AA083;
  color: #fff;
}

.list-group .list-group-item b {
  color: #0AA083;
}

.list-group-item table tbody tr th {
  color: #0AA083;
}


.item-carrousel mat-icon {
  color: #0AA083 !important;
}


.main-menu .ng-star-inserted i {
  color: #0AA083 !important;
}
.ng-star-inserted i {
  color: #0AA083 !important;
}

.list-unstyled .ng-star-inserted i {
  color: #0AA083 !important;
}

.list-unstyled .link-circle i {
  color: #fff !important;
}



/*************************************** NUEVO BRANDING ********************/
.mat-icon-button .mat-icon, .mat-icon-button i {
  color: #0AA083 !important;
}

/** REPOSITORIO **/
.mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon {
  color: #0AA083 !important;
}

/** MENU DEL CURSO **/
.mat-menu-item .mat-icon-no-color, .mat-menu-item-submenu-trigger::after {
  color: #0AA083 !important;
}

/** ICONO RESPUESTA DE PREGUNTA CON IMAGENES **/
.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
  background-color: #0AA083 !important;
  color: #fff !important;
}
