/*
   #1675A5
   #F2F3F2

   */
   body, .bg-gray{
    background-color: #F2F3F2 !important;
  }

  /* Fondos */
  .bg-gray {
    background-color: #F2F3F2  !important;
  }

  .mat-drawer-container,
  .mat-sidenav-content {
    background: #F2F3F2 !important;
  }

  a,
  .btn-colapsar > i.icon {
    color: #1675A5;
  }

  .main-menu li:hover> a {
    background-color: #1675A5;
  }
/** Cambio */
  nav.main-menu li.active>a,
  .main-menu .dropdown-menu>li>a:hover,
  .main-menu .dropdown-menu>li>a:focus,
  .main-menu .dropdown-menu>.active>a,
  .main-menu .dropdown-menu>.active>a,
  .main-menu .dropdown-menu>.active>a:hover,
  .main-menu .dropdown-menu>.active>a:focus,
  .main-menu .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
  .main-menu .dashboard-page nav.dashboard-menu ul li.active a
   {
    color:#fff;
    background-color:#1675A5;
  }

  .main-menu ul li.active a i {
    color: #fff !important;
  }
  .main-menu ul li a:hover > i {
    color: #fff !important;
  }

  .main-menu ul {
    background-color: #F2F3F2;
  }

  /* reset our lists to remove bullet points and padding */
  ul.submenu {
    background-color:#175d88;
  }

  .main-menu li ul.submenu li:hover a  {
    background: #1675A5 !important;
  }

  .item-home {
    border: none;
  }

  .card-style-home {
    background: url('../../img//bg/design-secundaria.jpg') #1675A5 no-repeat center center;
    background-size: cover;
    background-color: #1675A5 !important;
    color: #fff;
    border-radius: 15px;
  }

  .card-style-home:hover mat-icon,
  .card-style-home:hover .text-title {
    color: #fff !important;
  }

  .usr-nav .dropdown-item:focus,
  .usr-nav .dropdown-item a:active,
  .usr-nav  .dropdown-item:hover {
    background-color: #1675A5 !important;
    color: #fff !important;
  }


  .spinner > div {
    background-color:#1675A5 !important;
  }

  /* PROFILE */
  .profile{
    color: #1675A5 !important;
  }

  .profile-image {
    border: 1px solid #1675A5 !important;
  }

  /* MATERIALIZE */

  .mat-icon-button.mat-primary,
  .mat-stroked-button.mat-primary,
  .mat-stroked-button.mat-primary mat-icon {
    color: #1675A5 !important;
  }

  .mat-button.mat-primary .mat-button-focus-overlay,
  .mat-icon-button.mat-primary .mat-button-focus-overlay,
  .mat-stroked-button.mat-primary .mat-button-focus-overlay,
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #1675A5 !important;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    border-color: #1675A5 !important;
  }

  .mat-button.mat-primary,
  .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #1675A5 !important;
  }

  .mat-raised-button.mat-button.mat-primary {
    color: #fff !important;
  }

  .mat-focused mat-icon {
    color: #1675A5 !important;
  }



  .mat-flat-button.mat-primary,
  .mat-raised-button.mat-primary,
  .mat-fab.mat-primary,
  .mat-mini-fab.mat-primary {
    background-color: #1675A5 !important;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    color: #1675A5 !important;
    background-color:  #1675A5 !important;
  }

  .mat-input-element {
    caret-color: #1675A5 !important;
  }

  button.mat-accent:hover {
    background-color: #1675A5 !important;
    border-color: #1675A5 !important;
  }

  button.mat-accent:hover {
    background-color: #1675A5 !important;
    border-color: #1675A5 !important;
  }

  .mat-flat-button.mat-accent,
  .mat-raised-button.mat-accent,
  .mat-fab.mat-accent,
  .mat-mini-fab.mat-accent {
    background-color: #1675A5 !important;
  }

  .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #1675A5 !important;
  }

  .mat-calendar-body-selected {
    background-color: #1675A5 !important;
    color: #fff
  }

  .mat-calendar-body-disabled>.mat-calendar-body-selected {
    background-color: rgba(22, 92, 135,0.4) !important;
  }

  .active-file,
  .list-inline-buttons li .item-button:hover,
  .item-carrousel:hover,
  .card-active  {
    background-color: #F2F3F2!important;
  }


  .owl-nav .owl-prev span:hover,
  .owl-nav .owl-next span:hover,
  #site-content .breadcrumb .active-breadcrumb,
  .lnk-content-selec{
    color: #1675A5 !important;
  }

  /*****************************************/
  /* TREE                                  */
  /*****************************************/
  .cnt-drop-down .btn-outline-secondary:not(:disabled):not(.disabled):active,
  .cnt-drop-down .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .cnt-drop-down .show>.btn-outline-secondary.dropdown-toggle,
  .cnt-drop-down .dropdown .btn-outline-secondary:hover,
  .cnt-drop-down .dropdown .btn-outline-secondary.active {
    background-color: #1675A5 !important;
  }

  /*****************************************/
  /* QUESTIONS                             */
  /*****************************************/

  .list-questions li.list-answers .isCorrect {
    color: #1675A5 !important;
  }

  /*****************************************/
  /*¨IMAGE UPLOAD                          */
  /*****************************************/

  .customClass .img-ul-upload {
    border: 1px solid #1675A5 !important;
    color: #1675A5 !important;
  }

  .customClass .img-ul-clear {
    border: 1px solid #1675A5 !important;
    color: #1675A5 !important;
  }

  .customClass .img-ul-drag-box-msg {
    color:#1675A5 !important;
  }

  .lnk-content-select,
  .lnk-btn-table {
    color: #1675A5 !important;
  }

  /***********************************/
  /* GENERAL                         */
  /***********************************/
  .label-primary {
    background-color:#1675A5 !important;
  }


  /************************************/
  /* MESSAGES                         */
  /************************************/
  .message-sender .message {
    background-color: #1675A5 !important;
  }

  /*************************************/
  /* HEADER                            */
  /*************************************/
/*
  #pg-content-header #btn-back:hover{
    color: #1675A5 !important;
  }
  #menu li a.link-circle:hover {
    color: #1675A5 !important;
    border: 1px solid #1675A5 !important;
  }

  #menu li a .badge{
   background-color: #1675A5 !important;
  } */


  #menu li a.link-circle {
    background-color: #1675A5 !important;
    color: #fff !important;
    border: 1px solid #1675A5 !important;
  }


  #menu li a .badge{
   background-color: #1675A5 !important;
  }


  /************************************/
  /* CURSOS                           */
  /************************************/

  .col-courses .title h4,
  .list-accordion .active,
  .card-title-spacer {
    color: #1675A5 !important;
  }

  .active-listitem {
    border-bottom: 2px solid #1675A5 !important;
  }

  .label-primary{
    background-color:#1675A5 !important;
    border: 1px solid #1675A5 !important;
  }

  #wrapper-book-options{
    background-color: #dcf2ff !important;
  }

  #wrapper-book-options ul li a:hover,
  #wrapper-book-options ul li a.active {
    color: #1675A5 !important;
    border-bottom: 5px solid #1675A5 !important;
  }

  /***********************************/
  /* FORUM                           */
  /***********************************/

  .main-questions-list ul.question-statistic li.active span{
    background-color: #1675A5 !important;
  }

  .widget-menus ul li a:hover, .widget-menus ul li.current-menu-item > a {
    border-left: 4px solid #1675A5;
  }

  .widget {
    border-bottom: 1px solid #dadfea;
  }
  .widget a{
    color: #1675A5; /* text color */
  }

  .widget-menus ul li a:hover,
  .widget-menus ul li.current-menu-item > a {
    border-left: 4px solid #1675A5;
  }

  .widget-statistic ul li.questions-count {
    border-left: 4px solid #1675A5;
  }
  .widget-statistic ul li.members-count {
    border-left: 4px solid #1675A5;
  }

  .btn-primary{
    border: 2px solid #1675A5 !important;
  }

  .mat-raised-button.mat-warn {
    background-color: #1675A5 !important;
  }

  /*******************************************/
  /* BOOSTRAP                                */
  /*******************************************/

  .page-item.active .page-link {
    background-color: #1675A5 !important;
    border-color: #1675A5 !important;
  }
  .page-link{
    color: #1675A5 !important;
  }

  .page-item.active, .page-link:hover {
    background-color: #1675A5 !important;
    border-color: #1675A5 !important;
  }

  .swal2-popup .swal2-styled.swal2-confirm{
    border-color: #1675A5 !important;
  }

  .bg-danger{
    background-color: #1675A5 !important;
  }

/*****************************************
/*   GESTOR ACADEMICO                   */
/****************************************/

.item-files-link .lkn-select-academic .icon {
  color: #1675A5 !important;
  font-size: 25px;
}


.card-style :hover {
  color: #fff;
  background-color: #1675A5 !important;

}

.item-files-text span {
  color: #1675A5 !important;
}

/*****************************************
/* MATERIAL DIDACTICO                   */
/****************************************/
.list-inline-buttons li .item-button mat-icon {
  color: #1675A5 !important;
}

#list-content-files .icon-lg mat-icon {
  color: #1675A5 !important;
}
/************ Cambio */
#btn-back  {
  /* background-color: #1675A5 !important; */
  color:  #1675A5 !important;
}
#btn-back :hover > a {
  /* background-color: #1675A5 !important; */
  color:  #666 !important;
}
/************ Fin Cambio */

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: #1675A5 !important;
}

#list-content-files .files-label-detail {
  color: #1675A5 !important;
}

#list-content-files .files-label-detail small {
  color: #666 !important;
}

.flex-column .ng-star-inserted a:hover   {
  background-color: #1675A5;
  color: #fff;
}

.list-group .list-group-item b {
  color: #1675A5 !important;
}

.list-group-item table tbody tr th {
  color: #1675A5 !important;
}

.item-carrousel mat-icon {
  color: #1675A5 !important;
}


.main-menu .ng-star-inserted i {
  color: #1675A5 !important;
}
.ng-star-inserted i {
  color: #1675A5 !important;
}

.list-unstyled .ng-star-inserted i {
  color: #1675A5 !important;
}
.list-unstyled .link-circle i {
  color: #fff !important;
}


/*************************************** NUEVO BRANDING ********************/
/** ICONOS DE TABLA **/
.mat-icon-button .mat-icon, .mat-icon-button i {
  color: #1675A5 !important;
}

/** REPOSITORIO **/
.mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon {
  color: #1675A5 !important;
}

/** MENU DEL CURSO **/
.mat-menu-item .mat-icon-no-color, .mat-menu-item-submenu-trigger::after {
  color: #1675A5 !important;
}

/** ICONO RESPUESTA DE PREGUNTA CON IMAGENES **/
.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
  background-color: #1675A5 !important;
  color: #fff !important;
}
