/* LOADING */
.mask-loading {
  widows: 100%;
  background-color:rgba(255, 255, 255,0.6);
  z-index: 100000;
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}
/* LOADING */
.mask-loading {
widows: 100%;
background-color: rgba(255, 255, 255,0.6);
z-index: 100000;
position: fixed;
top:0;
left:0;
height: 100%;
width: 100%;
}
.spinner {
margin: 100px auto 0;
width: 124px;
margin-top: 25%;
text-align: center;
}

.spinner > div {
width: 36px;
height: 36px;
margin-right: 5px;
background-color:#ff1e1e;
border-radius: 100%;
display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}

.spinner .bounce2 {
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
0%, 80%, 100% { -webkit-transform: scale(0) }
40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
0%, 80%, 100% {
  -webkit-transform: scale(0);
  transform: scale(0);
} 40% {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
}
}
