<div class="row">
    <div class="text-center col-md-12">
        <h2>{{ activity['name'] }}</h2>
        <p>{{ activity['Description'] }}</p>
      </div>
  <div class="col-md-12">
    <hr>
    <mat-list>
      <mat-list-item class="lst-table" *ngFor="let file of files">
        <div class="cnt-text">
          <div class="row">
            <div class="col">
              <span class="label">{{ file.name }}
                <small>Nombre</small>
              </span>
            </div>
            <div class="col" >
              <span matTooltip="" class="label" id="description">{{ file.description }}</span>
              <small>Descripción</small>
            </div>
          </div>
        </div>
        <div class="text-right cnt-buttons">
          <div class="">
              <a href="{{ file.url }}" target="_blank" rel="noopener noreferrer"  matTooltip="Descargar contenido">
                  <mat-icon>get_app</mat-icon>
                </a>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  </div>
