<app-loading [showLoading]="workingProgess">
</app-loading>

  <div class="mdl-wrapper">
    <h4 class="text-center"> Descargar Excel </h4>
    <button mat-icon-button
            class="link-float-right"
            (click)="onCloseConfirm()">
     <mat-icon aria-label="Cerrar modal"
     class="mat-icon material-icons mat-icon-no-color" 
     role="img" aria-hidden="true">close</mat-icon>
   </button>
   <hr/>
   <!-- <mat-dialog-content style="min-height:50px !important;"> -->
    <mat-dialog-content>
    <form [formGroup]="frmdownload" novalidate autocomplete="off">
      <div class="row">
        <div class="col-md-12">
        <!-- turno -->
        <mat-form-field class="materialize-full-width">
          <input
            matInput
            placeholder="Ingresa turno"
            aria-label="Ingresa turno"
            id="turn"
            name="turn"
            formControlName="turn">
        </mat-form-field>
          <div *ngIf="frmdownload.get('turn').hasError('required') && frmdownload.get('turn').touched" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El turno es requerido
          </div>
        </div>
          <!-- Ciclo escolar -->
          <div class="col-md-12">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Ingresa ciclo escolar"
            aria-label="Ingresa ciclo escolar"
            id="schoolCycle"
            name="schoolCycle"
            formControlName="schoolCycle">
        </mat-form-field>
        <div *ngIf="frmdownload.get('schoolCycle').hasError('required') && frmdownload.get('schoolCycle').touched" class="text-danger error-label">
          <i class="fa fa-exclamation-circle"></i> El Ciclo escolar es requerido
        </div>
          </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type='submit'
    (click)="onSubmit()"
    [disabled] = "!frmdownload.valid"
    mat-button color="primary"> 
    <mat-icon mat-list-icon >cloud_download</mat-icon>Descargar</button>
  </mat-dialog-actions>
  </div>
