<div [hidden]='!showAudio'>
  <!--
    <app-audio-player
      [dataAudios] = "_song"
      [stopSound] = "stopSound">
    </app-audio-player>
    -->
  <mat-basic-audio-player [audioUrl]="_song.urlContent" [title]="_song.name" displayTitle="true"
    displayVolumeControls="true"></mat-basic-audio-player>
  <div class="box-wrapper" id="contents">
  </div>
</div>
<div class="row" [hidden]='showAudio'>
  <div class="col-md-12">
    <div class="background-nofound">
      <div class="content">
        <mat-icon class="icon">volume_off</mat-icon>
        <span>Esta Publicación no contiene audios</span>
      </div>
    </div>
  </div>
</div>