
<app-loading
[showLoading]="workingProgess">
</app-loading>


  <div class="mdl-wrapper">

    <h4 class="text-center"> Envío de invitaciones </h4>
    <button mat-icon-button
            class="link-float-right"
            (click)="onCloseConfirm()">
    <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
  <hr/>

    <mat-dialog-content class="mat-dialog-content">
      <form  novalidate autocomplete="off">
        <div class="row">
          <div class="col-md-12 ">
              <div class="form-group">
                  <mat-form-field style="width: 100%">
                    <input id="emailSearch"
                      matInput
                      placeholder="Ingrese el correo"
                      aria-label="Ingrese el correo"
                      [matAutocomplete]="auto"
                      [formControl]="stateCtrl">
                      <mat-spinner [hidden]="!working" [diameter]="20"></mat-spinner>
                        </mat-form-field>
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredStates"
                                    [value]="state"
                                    (onSelectionChange)="selectItem(state)">
                          <mat-icon mat-list-icon >person</mat-icon>
                          <span>{{ state.fullName }}</span> |
                          <small>{{state.email}}</small>
                        </mat-option>
                      </mat-autocomplete>
                </div>

                      </div>

        </div>
        <div class="row">
          <div class="col-md-12">
              <table *ngIf="studentsSelect?.length > 0" class="table-list table table-sm">
                  <tbody>
                    <tr  *ngFor="let folder of studentsSelect">
                      <td>
                        <span class="label">{{folder.fullName}}
                          <small>Nombre del alumno</small>
                        </span>
                      </td>
                      <td class="text-center">
                          <button mat-icon-button
                                  color="warn"
                                  (click)='deleteItem(folder, $event )'
                                  >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-raised-button type='submit' (click)="onSubmit()"
       [disabled]='studentsSelect.length === 0'
       mat-button color="primary">
       <mat-icon mat-list-icon >send</mat-icon>Enviar invitación</button>
    </mat-dialog-actions>
  </div>
