<div class="mdl-wrapper">
    <h4 class="text-center"> Búsqueda en el listado de contactos  </h4>
    <button mat-icon-button
            class="link-float-right"
            (click)="onCloseConfirm( false, null )">
      <mat-icon aria-label="Cerrar modal">close</mat-icon>
    </button>
    <!-- Aqui va el componente -->
    <div class="container" >
        <div class="col-sm-12 col-lg-12 mb-2">
            <mat-form-field class="materialize-width-90">
              <input matInput placeholder="Buscar" class="white-control" (keyup)="onKeyUp( $event )" [(ngModel)]="textSearch">
              <mat-icon class="cursor-pointer" matSuffix>find_in_page</mat-icon>
            </mat-form-field>

          </div>
      <div id="content" *ngIf="showContacts">
        <div class="item-messages" style="cursor: pointer" (click)="onSendMessage(item) "*ngFor="let item of contacts">
            <div class="avatar-contact">
                <div class="message-u-img" *ngIf="item.avatar">
                    <img src="{{ item.avatar }}" alt="user">
                  </div>
                  <div class="message-u-img" *ngIf="!item.avatar">
                      <p> {{ item.fullName }} </p>
                    </div>
            </div>
            <div class="messages-contact">
                <span class="label-name">
                    {{ item.fullName }}
                    <small> {{ item.email }} </small>
                </span>
            </div>
          </div>
      </div>
      <div  class="col-md-12" *ngIf="!showContacts">
          <div class="background-nofound">
            <div class="content">
              <mat-icon class="icon">assignment_late</mat-icon>
              <span>Sin contactos</span>
            </div>
          </div>
        </div>
    </div>
  </div>
