.item-messages{
  margin-bottom: 0px !important;
  padding:10px 10px !important;

  .messages-contact {
      width: 85% !important;

    .label-name{
      font-size: 20px !important;
      text-transform: capitalize !important;
      small{
          font-size: 11px !important;
      }
    }
  }
}


#content {
max-height: 500px;
overflow-y: auto;
overflow-x: hidden;
}


.materialize-width-90 {
width: 95%;
}
