<article class="card border-0 p-3">

  <div class="container-fluid">
    <div class="row">
      <div class="item-home col-md-4 col-lg-4 col-sm-6" *ngFor="let item of modules">
        <a [routerLink]="[item.url]" >
          <div class="card card-style-home">
            <div class="card-body">
              <mat-icon class="{{ item.icon }}"></mat-icon>
              <span class="text-title"> {{ item.title }}</span>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</article>












