
  <app-loading [showLoading]="_courseNavService?.working">
    </app-loading>

    <div class="row p-4">
      <div *ngIf="score.length > 0" class="bg-white col-md-12">
        <!-- ENCABEZADO -->
        <div class="col-md-12 mt-2">
            <h4>Detalle de la calificación</h4>
            <hr/>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12" style="overflow-x:auto;">
                  <table   class="table table-bordered table-hover animated fadeIn">
                    <thead>
                      <tr class="text-center">
                        <th>#</th>
                        <th > Parcial </th>
                        <th > Tarea</th>
                        <th > Examen</th>
                        <th > Actividad </th>
                        <th >  Asistencia </th>
                        <th >  Total</th>
                       </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of score, let i = index" >
                          <td width="5%" class="text-center">
                            {{ i+1}}
                          </td>
                          <td class="text-center">
                             {{ item.schedulingPartial }}: <strong>{{ item.startDate | date }} al {{ item.endDate  | date}}</strong>
                          </td>
                          <td class="text-center">
                            {{ item.homework }}
                          </td >
                          <td class="text-center">
                            {{ item.exam }}
                          </td>
                          <!-- Nueva respues -->
                          <td class="text-center">
                            {{ item.activity }}
                          </td>

                          <!--  INPUT ACIERTO -->
                          <td class="text-center" >
                            {{ item.assistance }}
                          </td>
                          <!--  INPUT CALIFICACIÓN -->
                          <td class="text-center">
                            {{ item.score }}
                          </td>
                          <ng-template #columnEmpty>
                            <td width="0%">
                              &nbsp;
                            </td>
                          </ng-template>
                        </tr>
                       </tbody>
                      </table>
                </div>
              </div>
        </div>
      </div>
      <!-- DETALLE DEL CURSO -->
      <div class="row">
        <div *ngIf="score.length == 0">
          <div  class="col-md-12">
            <div class="background-nofound">
              <div class="content">
                <mat-icon class="icon">school</mat-icon>
                <span> No se encontraron detalles del calificación </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



