<app-loading [showLoading]="working">
</app-loading>
<div class="row mt-3">

  <div class="col-xs-12 col-sm-12 responsive-column">
    <div class="forum-col-left bg-white">
        <button mat-raised-button
          class="materialize-full-width pr-1 pl-1"
          (click)="showDetail = !showDetail"
          color="warn" >
          <i class="far fa-list-alt" ></i>
          Mostrar detalle
        </button>
    </div>
  </div>
  <div [ngClass]="{'hidden-column': showDetail}" class="col-lg-3 col-md-5 col-xs-12 col-sm-12 ">
    <div class="forum-col-left bg-white">

        <button mat-raised-button

          (click)="openModalAddThread()"
          *ngIf="teacherMode"
          class="materialize-full-width"
          color="warn"  joyrideStep="firstStep" title="Generador de Foros" text="Presiona este botón para generar un foro." >
          <i class="fa fa-plus-circle" ></i>
          Agregar sala
        </button>
        <hr/>

        <ul class="list-unstyled" >

          <li class="widget widget-statistic">
              <ul class="list-unstyled">
                <li class="questions-count">
                  <p>Total de salas</p><p>
                  <span>{{ sources.length }}</span>
                </p></li>
                <li class="members-count" >
                  <p>Total de comentarios</p><p>
                  <span>{{ totalPost }}</span>
                </p></li>
              </ul>
          </li>

          <li class="widget widget-menus">
                <div class="forum-col-left-content">
                    <ul id="menu-left-menu-1" class="menu">
                      <li class="menu-item">
                        <a><i class="fas fa-book-reader"></i>Cursos</a>
                        <ul class="list-unstyled sub-menu animated fadeIn" >
                            <li *ngFor="let filter of filters?.courses">
                                <a (click)="filterThread('courses', filter )" [title]="filter" >{{ filter }}</a>
                            </li>
                          </ul>
                      </li>
                      <li class="menu-item">
                        <a><i class="fas fa-users"></i>Grupos</a>
                        <ul class="list-unstyled sub-menu animated fadeIn" >
                            <li *ngFor="let group of filters?.groups">
                                <a (click)="filterThread('group', group )" [title]="group" >{{ group }}</a>
                            </li>
                          </ul>
                      </li>
                      <li class="menu-item">
                        <a><i class="fas fa-briefcase"></i>Maestros</a>
                        <ul class="list-unstyled sub-menu animated fadeIn" >
                            <li *ngFor="let teacher of filters?.teachers">
                                <a (click)="filterThread('teacher', teacher )" [title]="teacher" >{{ teacher }}</a>
                            </li>
                        </ul>
                      </li>
                      <li class="menu-item">
                          <a (click)="filterThread('all', '' )" ><i class="far fa-list-alt"></i>Todos</a>
                        </li>
                    </ul>
                </div>
          </li>

        </ul>

    </div>
  </div>


  <div class="col-lg-9 col-md-7 col-xs-12 col-sm-12  main-questions-list ">
    <!-- FILTRO POR MAESTRO -->
    <div *ngIf="showDetailTeacher" class="user-statistic bg-white animated fadeInUp mb-3">
        <div class="row">
            <div class="col-md-12">
              <h6><i class="fa fa-filter"></i> Filtrado por: </h6>
            </div>
            <div class="col-md-7 col-xs-12 user-info">
                <span class="avatar-80">
                 <img itemprop="image" [src]="selectedThread.avatar" class="avatar" alt="selectedThread?.creator">
                </span>
                <ul class="list-unstyled">
                    <li class="name">{{ selectedThread?.creator  }}</li>

                    <li class="email"><i class="fa fa-envelope"></i> {{ selectedThread?.creatorEmail}}</li>
                </ul>
                <div itemprop="description" class="col-md-12 description"></div>
            </div>
            <div class="col-md-5 col-xs-12 user-post-count">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 statistics">
                        <div class="mt-2 question-cat">
                            <span class="user-badge" style="background-color:red;"> {{ selectedThread?.creatorRol }}</span>                            <br>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 col-sm-6 col-xs-6 num-question">
                                <p class="questions-count">Salas<br>
                                    <span> {{ threads.length }}</span>
                                </p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 num-answer">
                                <p class="answers-count"> Comentarios<br>
                                    <span>{{ postSelected }}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                                    </div>
            </div>

        </div>
    </div>

    <!-- FILTRO POR CURSO -->
    <div *ngIf="showDetailCourse" class="user-statistic bg-white animated fadeInUp mb-3">
      <div class="row">
          <div class="col-md-12">
            <h6><i class="fa fa-filter"></i> Filtrado por: </h6>
          </div>
          <div class="col-md-7 col-xs-12 user-info">
            <i class="fa fa-book-reader fa-4x"></i>
              <ul class="list-unstyled">
                  <li class="name">{{ filterOption  }}</li>
                  <li class="email"> {{ coursesubject }}</li>
              </ul>
              <div itemprop="description" class="col-md-12 description"></div>
          </div>
          <div class="col-md-5 col-xs-12 user-post-count">
              <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6 statistics">
                      <div class="row mt-4">
                          <div class="col-md-6 col-sm-6 col-xs-6 num-question">
                              <p class="questions-count">Hilos<br>
                                  <span> {{ threads.length }}</span>
                              </p>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6 num-answer">
                              <p class="answers-count"> Comentarios<br>
                                  <span>{{ postSelected }}</span>
                              </p>
                          </div>
                      </div>
                  </div>
                </div>
          </div>
      </div>
    </div>

    <!-- Listado de  -->
    <ul id="main_questions_list">
      <!-- item 1 -->
      <li class="question-item question type-question status-publish" *ngFor="let thread of threads">
        <div class="row">
          <div class="col-md-7 col-xs-8 q-left-content">
            <div class="q-ltop-content">
              <h2>
                <a (click)="navigatePost(thread.id)" style="cursor: pointer"
                   class="question-title" id="question-title">{{ thread.title }} </a>
              </h2>
            </div>
            <div class="q-lbtm-content">
              <div class="question-excerpt">
                <p [innerHTML] = "thread.description"></p>
              </div>
              <div class="question-cat">
                <ul class="question-tags">
                  <li *ngFor="let g of thread.groups">
                    <a class="q-tag"> {{ g }} </a>
                  </li>
                  <li>
                    <a class="q-tag"> {{ thread.courseName }} </a>
                  </li>
                </ul>
                <div class="clearfix"></div>
                <a>
                  <span class="author-avatar">
                    <img src="{{ thread.avatar }} " class="avatar" />
                  </span>
                  <span itemprop="name" class="author-name"> {{ thread.creator }}</span>
                </a>
                <span title="90" class="user-badge" style="background-color:red;">{{ thread.creatorRol}}</span>
                <span class="question-time"> Preguntó el {{ thread.initDate   |  date }} en &nbsp; </span>
                <span class="question-category">
                  <a (click)="filterThread('courses', thread.courseName )" > {{ thread.courseName }}.</a>
                </span>
              </div>
            </div>
          </div>
          <!-- end left content -->
          <div class="col-md-5 col-xs-4 q-right-content">
            <ul class="question-statistic">
              <li><span class="question-views"> {{ thread.views }} </span> Visitas</li>
              <li class="active text-center"> <span class="question-answers"> {{ thread.totalPosts }} </span> Comentarios </li>
              <li> <span itemprop="upvoteCount" class="question-votes"> {{ thread.votes }} </span> Votos </li>
            </ul>
            <div class="pumping"></div>
          </div>
          <!-- end right content -->
          <div class="clearfix"></div>
        </div>
      </li>
    </ul>

     <!-- PAGINATION -->
    <div *ngIf="pager != null " class="col-md-12 col-xs-12">
        <nav aria-label="Paginación de libros">
          <ul class="pagination justify-content-center">
            <li [ngClass]="{ 'disabled' : pager?.currentPage === 1 }"  class="page-item ">
              <a (click)="setPage(pager?.currentPage - 1)" class="page-link">Anterior</a>
            </li>
            <li *ngFor="let page of pager?.pages"
                [ngClass]="{active:pager?.currentPage === page}"
                class="page-item">
              <a (click)="setPage(page)" class="page-link">{{ page }}</a>
            </li>
            <li [ngClass]="{disabled:pager?.currentPage === pager?.totalPages}"  class="page-item ">
              <a class="page-link" (click)="setPage(pager?.currentPage + 1)">Siguiente</a>
            </li>
          </ul>
        </nav>
    </div>

  </div>
</div>
