#main_questions_list {
    padding-left: 0px;
}

#main_questions_list > li {
    background: #fbfcff;
}

#main_questions_list > li:nth-child(2n+1) {
	background: #f7f4f4;
}


#main_questions_list li.question-item {
    display: block;
    border-bottom: 1px solid #dadfea;
    padding: 20px 35px;
    position: relative;
}

.main-questions-list .q-left-content{
    padding: 0;
}

#main_questions_list h2{
      width: 100%;
      margin: 50px auto;
}

.main-questions-list .q-ltop-content > h2 {
    margin: 0 !important;
    font-size: 16px;
    word-wrap: break-word;
}

.main-questions-list .q-ltop-content a.question-title,
.answers-filter
.answers-count,
.form-reply h3 {
    color: #444c63;
}

.main-questions-list .q-ltop-content a.question-title {
    font-size: 16px;
    font-weight: 700;
    word-break: break-word;
}

.question-title:hover {
  text-decoration:underline
}

.main-questions-list .q-lbtm-content .question-excerpt,
.single-header .vote-block a,
.comment-edit a,
.comment-time,
.q-tag {
    color: #6f7d95;
}
.main-questions-list .q-lbtm-content .question-excerpt {
    color: #6f7d95;
    font-size: 14px;
}

.main-questions-list .question-excerpt {
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-questions-list .question-excerpt  p{
    margin-bottom: 0px;
}

ul.question-tags{
    display: inline-block;
    margin-bottom: 0px;
    font-size: 13px;
    padding-left: 0px;
}

.type-question ul.question-tags li {
    margin: 10px 5px 10px 0;
}

ul.question-tags li{
    display: inline-block;
}

.widget-related-tags li a, .q-tag {
    border: 1px solid #d9dfe9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f3f5f9;
    text-decoration: none;
    color: #6f7d95;
    line-height: 20px;
    display: inline-block;
    padding: 0 10px;
    margin-right: 5px;
}

.question-cat{
    font-size: 13px;
}

.question-cat span.user-badge {
    padding: 0 10px;
    color: #fff;
    margin-right: 15px;
    line-height: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #00adef;
}

.question-cat span{
    display: inline-block;
    vertical-align: middle;
}

.main-questions-list ul.question-statistic {
    text-align: right;
    list-style: none;
    font-size: 13px;
}

.main-questions-list ul.question-statistic li {
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
}

.main-questions-list ul.question-statistic li span {
    width: 46px;
    height: 46px;
    display: block;
    text-align: center;
    line-height: 3.3;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #d9dfe9;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.main-questions-list ul.question-statistic li.active span {
    border-radius: 22px;
    background-color: red;
    color: #fff;
    border: none;
}

.mask-poll{
    background: #6f7d95;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    padding: 2px 12px;
    margin-right: 10px;
}

.author-avatar img,
.comment-avatar img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	max-width: 30px;
	height: auto;
}

.question-cat span.author-avatar{
    max-width: 30px;
    margin-right: 8px
}

.question-cat span.author-avatar img{
    max-width: 100%;
    height: auto;
}

.author-name {
    margin: 0 15px;
    color: #6f7d95;
}
