<app-loading [showLoading]="working">
</app-loading>


<div class="row">
  <div *ngIf="showForm" id="cnt-frm-exam" class="col-md-12">
    <form [formGroup]="frmExamSchedule" (ngSubmit)="onSubmit()" novalidate autocomplete="off"
      #formExamSchedule="ngForm">

      <!-- DESCRIPTION -->
      <div class="form-group">
        <mat-form-field class="materialize-full-width">
          <textarea matInput #description placeholder="Descripción de la programación" maxlength="350" id="description"
            name="description" formControlName="description">
            </textarea>
          <mat-hint align="end">{{description.value?.length || 0}}/350</mat-hint>
        </mat-form-field>
        <div *ngIf="frmExamSchedule.get('description').errors?.required && frmExamSchedule.get('description').touched"
          class="text-danger error-label">
          <i class="fa fa-exclamation-circle"></i> El campo descripción es requerido
        </div>
      </div>
      <!-- PARCIAL -->
      <div class="for-group">
        <mat-form-field class="materialize-full-width">
          <mat-select placeholder="Parcial" name="partialId" id="partialId" formControlName="partialId" (selectionChange)="onChangePartial($event.value)">
            <mat-option value="">Sin asignar</mat-option>
            <mat-option *ngFor="let partial of schedulingPartial" [value]="partial.id">{{partial.description}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="!frmExamSchedule.get('partialId').valid && frmExamSchedule.get('partialId').touched"
          class="text-danger error-label">
          <i class="fa fa-exclamation-circle"></i> El campo parcial es requerido.
        </div>
      </div>
      <!-- APPLICATiON DATE -->
      <div class="row">
        <div class="col-sm-4">
          <!-- <div class="form-group"> -->
          <label>Periodo de aplicación
            <mat-icon aria-hidden="false" aria-label="help" class="primary" style="color: gray;"
              matTooltip="Definir las fechas de apertura y cierre del examen." matTooltipPosition="above">live_help
            </mat-icon>
          </label>
          <mat-form-field class="materialize-full-width">
            <input matInput [min]="dateInit" [max]="dateEnd" [matDatepicker]="beginApplicationDate" placeholder="Inicio" maxlength="10"
              name="beginApplicationDate" id="beginApplicationDate" formControlName="beginApplicationDate" type="text">
            <mat-datepicker-toggle matSuffix [for]="beginApplicationDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #beginApplicationDate></mat-datepicker>
          </mat-form-field>
          <div
            *ngIf="frmExamSchedule.get('beginApplicationDate').errors?.required && frmExamSchedule.get('beginApplicationDate').touched"
            class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El campo fecha inicio del periodo de aplicación es requerido
          </div>
          <div
            *ngIf="frmExamSchedule.get('beginApplicationDate').errors?.rangeDateValidator && frmExamSchedule.get('beginApplicationDate').touched"
            class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> La fecha de inicio del periodo de aplicación debe estar dentro
            de la duración del curso({{ course.startDate | date }} - {{ course.endDate | date }})
          </div>
          <!-- <div *ngIf="frmExamSchedule.errors?.applicationDateLessToday" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> La fecha de inicio del periodo no puede ser anterior a la fecha
            actual
          </div>
          <div *ngIf="frmExamSchedule.errors?.applicationDateRange" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> La fecha de inicio del periodo debe ser menor que la fecha de fin.
          </div> -->
          <mat-form-field class="materialize-full-width">
            <input matInput [min]="dateInit" [max]="dateEnd" [matDatepicker]="endApplicationDate" placeholder="Fin" maxlength="10"
              name="endApplicationDate" id="endApplicationDate" formControlName="endApplicationDate" type="text">
            <mat-datepicker-toggle matSuffix [for]="endApplicationDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #endApplicationDate></mat-datepicker>
          </mat-form-field>
          <div
            *ngIf="frmExamSchedule.get('endApplicationDate').errors?.required && frmExamSchedule.get('endApplicationDate').touched"
            class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El campo fecha fin del periodo de aplicación es requerido
          </div>
          <div *ngIf="frmExamSchedule.get('endApplicationDate').errors?.rangeDateValidator"
            class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> La fecha de fin del periodo de aplicación debe estar dentro de la
            duración del curso({{ course.startDate | date }} - {{ course.endDate | date }})
          </div>
          <div *ngIf="frmExamSchedule.errors?.applicationDateRange" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> La fecha de fin del periodo debe ser mayor que la fecha de inicio
          </div>

        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Horario
              <mat-icon aria-hidden="false" aria-label="help" style="color: gray;"
                matTooltip="Horario en el que estará disponible el examen para ser presentado."
                matTooltipPosition="above">live_help
              </mat-icon>
            </label>
            <mat-checkbox formControlName='checkedHorario' (click)="onClickCheckedHorario($event)"></mat-checkbox>
            <div class="row">
              <div class="col-sm-3" style="padding-top: 20px;"> <small>Inicio</small></div>
              <mat-form-field class="col-sm-3">
                <input matInput name="beginHH" id="beginHH" type="text" class="form-control-plaintext" placeholder="HH"
                  formControlName="beginHH" maxlength="2">
              </mat-form-field>
              <mat-form-field class="col-sm-3">
                <input matInput name="beginMI" id="beginMI" type="text" class="form-control-plaintext" placeholder="MI"
                  formControlName="beginMI" maxlength="2">
              </mat-form-field>
              <mat-form-field class="col-sm-3">
                <input matInput name="beginSS" id="beginSS" type="text" class="form-control-plaintext" placeholder="SS"
                  formControlName="beginSS" maxlength="2">
              </mat-form-field>
            </div>
            <div *ngIf="getErrorsBeginTime() != ''" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> {{getErrorsBeginTime()}}
            </div>
            <div class="row">
              <div class="col-sm-3" style="padding-top: 20px;"><small>Fin</small></div>
              <mat-form-field class="col-sm-3">
                <input matInput name="endHH" id="endHH" type="text" class="form-control-plaintext" placeholder="HH"
                  formControlName="endHH" maxlength="2">
              </mat-form-field>
              <mat-form-field class="col-sm-3">
                <input matInput name="endMI" id="endMI" type="text" class="form-control-plaintext" placeholder="MI"
                  formControlName="endMI" maxlength="2">
              </mat-form-field>
              <mat-form-field class="col-sm-3">
                <input matInput name="endSS" id="endSS" type="text" class="form-control-plaintext" placeholder="SS"
                  formControlName="endSS" maxlength="2">
              </mat-form-field>
            </div>
            <div *ngIf="getErrorsEndTime()" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> {{getErrorsEndTime()}}
              <br />
            </div>
            <div *ngIf="frmExamSchedule.errors?.applicationTimeRange" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> Horario incorrecto, la hora de inicio debe ser menor que la
              hora fin.
            </div>

          </div>

        </div>
        <div class="col-sm-4">
          <label>Duración
            <mat-icon aria-hidden="false" aria-label="help" style="color: gray;"
              matTooltip="Tiempo que el alumno tendrá para contestar el examen." matTooltipPosition="above">live_help
            </mat-icon>
          </label>
          <mat-checkbox formControlName='checkedDuration' (click)="onClickCheckedDuration($event)"></mat-checkbox>
          <mat-form-field class="materialize-full-width">
            <input matInput name="minutesExam" id="minutesExam" type="text" formControlName="minutesExam" maxlength="3"
              placeholder="Minutos">
          </mat-form-field>
          <div *ngIf="getErrorsDuration()" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> {{getErrorsDuration()}}
          </div>

        </div>

      </div>
      <div class="form-group">
        <mat-form-field class="materialize-full-width">
          <mat-select placeholder="Asignar examen existente" name="teacheExamId" formControlName="teacheExamId">
            <mat-option value="0"> Sin asignar</mat-option>
            <mat-option *ngFor="let exam of teacherExams" [value]="exam.id">
              {{ exam.description }} - No. Preguntas: {{exam.totalQuestions}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- BUTTONS -->
      <div class="form-group text-right">

        <button mat-raised-button [disabled]="!frmExamSchedule.valid" class="mr-2" color="primary">
          <mat-icon aria-label="Guardar programación de examen">save</mat-icon>
          Guardar
        </button>
        <button id="btn-exam-cancel" type="button" (click)="onClickCancel()" mat-raised-button color="warn">
          <mat-icon aria-label="Cancelar programación de examen">clear</mat-icon>
          Cancelar
        </button>




      </div>

    </form>
  </div>


  <div class="col-md-12 mt-2" *ngIf='examSchedules === undefined && !showForm'>
    <div class="background-nofound">
      <div class="content">
        <mat-icon class="icon">calendar_today</mat-icon>
        <span>Sin programación de exámenes</span>
      </div>
    </div>
  </div>


  <div id="cnt-exam-list" *ngIf="!showForm && examSchedules?.length > 0" class="col-md-12 mt-2">

    <table class="table-list table table-sm">
      <tbody>
        <tr *ngFor="let exam of examSchedules">
          <td class="hidden-column">
            <div class="label small fixedheight40">
              <small>&nbsp;</small>
              <small>{{exam.schedulingPartialDescription}}</small>

            </div>
            <div class="label small ">
              <small><strong>Parcial</strong></small>
            </div>
          </td>
          <td class="hidden-column">
            <div class="label small fixedheight40">
              <small>&nbsp;</small>
              <small>{{exam.description}}</small>
            </div>
            <div class="label small">
              <small><strong>Nombre</strong></small>
            </div>
          </td>
          <td class="hidden-column">
            <div class="label small fixedheight40">
              <small>Inicio <strong>{{exam.beginApplicationDate | date}}</strong></small>
              <small>Fin <strong>{{exam.endApplicationDate | date}}</strong></small>
            </div>
            <div class="label small">
              <small><strong>Periodo aplicación</strong></small>
            </div>
          </td>
          <td class="hidden-column">
            <div class="label small fixedheight40">
              <small>Inicio {{exam.beginApplicationTime | date : 'HH:mm:ss' }}</small>
              <small>Fin {{exam.endApplicationTime | date : 'HH:mm:ss' }}</small>
            </div>
            <div class="label small">
              <small><strong>Horario</strong></small>
            </div>
          </td>
          <td class="hidden-column">
            <div class="label small fixedheight40">
              <small>&nbsp;</small>
              <small>{{ exam.minutesExam }} Minutos</small>
            </div>
            <div class="label small">
              <small><strong>Duración</strong></small>
            </div>
          </td>
          <td class="hidden-column">
            <div class="label small fixedheight40">
              <small>&nbsp;</small>
              <small>{{ exam.ponderacion }}</small>
            </div>
            <div class="label small">
              <small><strong>Ponderación</strong></small>
            </div>
          </td>
          <td class="hidden-column">
            <div class="label small fixedheight40">
              <span class="label-box label-primary">{{ exam.status.description }}</span>
            </div>
            <div class="label small">
              <small><strong>Estatus</strong></small>
            </div>
          </td>
          <td class="hidden-column">
            <div style="min-width: 120px;">
              <button mat-icon-button matTooltip="Editar datos" (click)="onClickEdit(exam)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Calificar examen" (click)="addRating( exam )">
                <mat-icon>done_all</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Eliminar" color="warn" (click)="onClickDelete( exam )">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
          <td class="responsive-column">
            <span class="label">{{exam.description}}
              <small>Nombre</small>
            </span>
            <span class="label">{{exam.beginApplicationDate | date}} al {{exam.endApplicationDate | date}}
              <small>Periodo de aplicación</small>
            </span>
            <span class="label-box label-primary">{{ exam.status.description }}</span>

            <div class="float-right">
              <button mat-icon-button matTooltip="Editar datos" (click)="onClickEdit(exam)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button matTooltip="Calificar examen" (click)="addRating( exam )">
                <mat-icon>done_all</mat-icon>
              </button>

              <button mat-icon-button matTooltip="Eliminar" color="warn" (click)="onClickDelete( exam )">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
