#cnt-frm-exam{
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
}

.btn-right-position {
  position: absolute !important;
  right: 0px;
  top:-10px;
  z-index: 2;
}

#cnt-exam-list{
  height: 500px;
  margin-top: 20px !important;
  overflow-y: auto;
  overflow-x: auto;
}

.background-nofound{
  height: 300px !important;
  min-height: 300px !important;
  margin-top: 20px !important;
}

::ng-deep  .mat-tooltip{
  font-size: 14px;
}

.error-label{
  font-size: 13px;
}

.error-label + .error-label {  
  margin-top: 0px;
}

.fixedheight40{
 height: 40px !important;
}