<app-loading [showLoading]="working">
</app-loading>

<div class="mdl-wrapper">
  <h4 class="text-center"> Datos del Grupo </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm(null)">
  <mat-icon aria-label="Cerrar modal">close</mat-icon>
</button>
<hr/>
  <mat-dialog-content>
    <form [formGroup]="frmGroup"  novalidate autocomplete="off">
      <div class="row">
        <!-- Codigo id-->
        <div class="col-md-12" *ngIf="groupId > 0" >
          <mat-form-field class="materialize-full-width">
              <input  matInput
              placeholder="Código del grupo"
              maxlength="500"
              id="codigo"
              name="codigo"
              formControlName="codigo"
              aria-describedby="emailHelp"
              readonly>
          </mat-form-field>

        </div>
        <!-- Nombre del grupo -->
        <div class="col-md-12">
          <mat-form-field class="materialize-full-width">
              <input  matInput
              placeholder="Nombre"
              maxlength="500"
              id="description"
              name="description"
              formControlName="description"
              aria-describedby="emailHelp">
          </mat-form-field>
          <div *ngIf="frmGroup.get('description').errors?.required && frmGroup.get('description').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo es requerido
            </div>
        </div>
        <!-- Contraseña -->
        <div class="col-md-12">
          <mat-form-field class="materialize-full-width">
              <input  matInput
              placeholder="Contraseña"
              maxlength="500"
              id="code"
              name="code"
              formControlName="code"
              aria-describedby="emailHelp">
          </mat-form-field>
          <div *ngIf="frmGroup.get('code').errors?.required && frmGroup.get('code').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo es requerido
            </div>
        </div>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button mat-raised-button type='submit'
          [disabled] = "!frmGroup.valid"
          (click)="onSubmit()"
          mat-button color="primary">Guardar</button>
    </mat-dialog-actions>
</div>
