<div class="mt-3 card">
  <div class="card-title">
    <div class="card-title-spacer">
        Listado de alumnos: {{ students?.length }}
    </div>
  </div>
  <div class="card-body">
    <!-- Aqui va el componente -->
    <app-activities-ratings
      [students] = "students"
      [homeworkId] ="acitivityId"
      [statusHomework] = "statusActivity"
      [homeworkName] = "activityName"
      [homeworkDescription] = "activityDescription"
      [homeworkTypeScore]= "homeworkTypeScore"
      [addScore]= "addScore">

    </app-activities-ratings>


    <!-- <app-homework-ratings
    [students] = "students"
    [homeworkId] ="homeworkId"
    [statusHomework] = "statusHomework"
    [homeworkName] = "homeworkName"
    [homeworkDescription] = "homeworkDescription" >

    </app-homework-ratings> -->
  </div>
  </div>
