@font-face {
  font-family: 'icomoon';
  src:  url('../images/icons/icomoon.eot?jlvgzw');

  src:  url('../images/icons/icomoon.eot?jlvgzw#iefix') format('embedded-opentype'),
    url('../images/icons/icomoon.ttf?jlvgzw') format('truetype'),
    url('../images/icons/icomoon.woff?jlvgzw') format('woff'),
    url('../images/icons/icomoon.svg?jlvgzw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
	font-size: 1rem;
  vertical-align: middle;
}

.icon-inicio:before {
  content: "\e900";
}
.icon-material-didactico:before {
  content: "\e901";
}
.icon-examenes:before {
  content: "\e902";
}
.icon-gestion-escolar:before {
  content: "\e903";
}
.icon-gestion-servicios:before {
  content: "\e904";
}
.icon-config:before {
  content: "\e905";
}
.icon-ayuda:before {
  content: "\e906";
}
.icon-correo:before {
  content: "\e907";
}
.icon-notas:before {
  content: "\e908";
}
.icon-libros:before {
  content: "\e909";
}
.icon-secundaria:before {
  content: "\e90a";
}
.icon-ingles:before {
  content: "\e90b";
}
.icon-software:before {
  content: "\e90c";
}
.icon-pedagogia:before {
  content: "\e90d";
}
.icon-notificaciones:before {
  content: "\e90e";
}
.icon-buscar:before {
  content: "\e90f";
}
.icon-descargar:before {
  content: "\e910";
}
.icon-interes:before {
  content: "\e911";
}
.icon-noticias:before {
  content: "\e912";
}
.icon-presentacion:before {
  content: "\e913";
}
.icon-interactivo:before {
  content: "\e914";
}
.icon-colapsar:before {
  content: "\e915";
}
.icon-video:before {
  content: "\e916";
}
.icon-audio:before {
  content: "\e917";
}
