/*!
 * Bootstrap Reboot v4.2.1 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

 html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
   display: block;
 }

 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   background-color: #fff;
 }

 [tabindex="-1"]:focus {
   outline: 0 !important;
 }

 hr {
   box-sizing: content-box;
   height: 0;
   overflow: visible;
 }

 h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: 0.5rem;
 }

 p {
   margin-top: 0;
   margin-bottom: 1rem;
 }

 abbr[title],
 abbr[data-original-title] {
   text-decoration: underline;
   -webkit-text-decoration: underline dotted;
   text-decoration: underline dotted;
   cursor: help;
   border-bottom: 0;
   text-decoration-skip-ink: none;
 }

 address {
   margin-bottom: 1rem;
   font-style: normal;
   line-height: inherit;
 }

 ol,
 ul,
 dl {
   margin-top: 0;
   margin-bottom: 1rem;
 }

 ol ol,
 ul ul,
 ol ul,
 ul ol {
   margin-bottom: 0;
 }

 dt {
   font-weight: 700;
 }

 dd {
   margin-bottom: .5rem;
   margin-left: 0;
 }

 blockquote {
   margin: 0 0 1rem;
 }

 b,
 strong {
   font-weight: bolder;
 }

 small {
   font-size: 80%;
 }

 sub,
 sup {
   position: relative;
   font-size: 75%;
   line-height: 0;
   vertical-align: baseline;
 }

 sub {
   bottom: -.25em;
 }

 sup {
   top: -.5em;
 }

 a {
   color: #007bff;
   text-decoration: none;
   background-color: transparent;
 }

 a:hover {
   color: #0056b3;
   text-decoration: underline;
 }

 a:not([href]):not([tabindex]) {
   color: inherit;
   text-decoration: none;
 }

 a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
   color: inherit;
   text-decoration: none;
 }

 a:not([href]):not([tabindex]):focus {
   outline: 0;
 }

 pre,
 code,
 kbd,
 samp {
   font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
   font-size: 1em;
 }

 pre {
   margin-top: 0;
   margin-bottom: 1rem;
   overflow: auto;
 }

 figure {
   margin: 0 0 1rem;
 }

 img {
   vertical-align: middle;
   border-style: none;
 }

 svg {
   overflow: hidden;
   vertical-align: middle;
 }

 table {
   border-collapse: collapse;
 }

 caption {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   color: #6c757d;
   text-align: left;
   caption-side: bottom;
 }

 th {
   text-align: inherit;
 }

 label {
   display: inline-block;
   margin-bottom: 0.5rem;
 }

 button {
   border-radius: 0;
 }

 button:focus {
   outline: 1px dotted;
   outline: 5px auto -webkit-focus-ring-color;
 }

 input,
 button,
 select,
 optgroup,
 textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
 }

 button,
 input {
   overflow: visible;
 }

 button,
 select {
   text-transform: none;
 }

 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
   padding: 0;
   border-style: none;
 }

 input[type="radio"],
 input[type="checkbox"] {
   box-sizing: border-box;
   padding: 0;
 }

 input[type="date"],
 input[type="time"],
 input[type="datetime-local"],
 input[type="month"] {
   -webkit-appearance: listbox;
 }

 textarea {
   overflow: auto;
   resize: vertical;
 }

 fieldset {
   min-width: 0;
   padding: 0;
   margin: 0;
   border: 0;
 }

 legend {
   display: block;
   width: 100%;
   max-width: 100%;
   padding: 0;
   margin-bottom: .5rem;
   font-size: 1.5rem;
   line-height: inherit;
   color: inherit;
   white-space: normal;
 }

 progress {
   vertical-align: baseline;
 }

 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
   height: auto;
 }

 [type="search"] {
   outline-offset: -2px;
   -webkit-appearance: none;
 }

 [type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
 }

 ::-webkit-file-upload-button {
   font: inherit;
   -webkit-appearance: button;
 }

 output {
   display: inline-block;
 }

 summary {
   display: list-item;
   cursor: pointer;
 }

 template {
   display: none;
 }

 [hidden] {
   display: none !important;
 }

 /* HTML Tags */
html body {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #666;
    scroll-behavior: smooth;
    background-color: #ffffff !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
	color: #000;
}

h1 > a, h2 > a, h3 > a,
h4 > a, h5 > a, h6 > a {
	color: #000;
}

small {
	color: #999;
	font-size: .75rem;
}

span {
	/* font-style: italic; */
}

a {
	transition: ease-in-out .12s;
	color: #666;
}

a:hover {
	text-decoration: none;
	color: red;
}

 /*# sourceMappingURL=bootstrap-reboot.css.map */
/* Navigation */
.site-header-home {
	height: 70px;
	background-color: #fff;
}

.site-header-home .navbar {
	padding: 1rem 0;
}

.site-header-home .navbar a {
	color: #0d0c0d;
	transition: ease-in-out .12s;
}

.site-header-home .navbar a:hover {
	color: red;
}

.site-header-home .navbar a.active {
	font-weight: 800;
}

.site-header-home .navbar a.active {
	font-weight: 800;
}

.site-header-home #main-navigation {
	z-index: 9999;
}

.site-header-home #main-navigation li {
	border: none;
}

.site-header-home #main-navigation li a {
	font-size: .875rem;
}

.site-header-home  .navbar-nav .nav-item a  {
	margin-right: 5px !important;
}

.site-header-home .navbar-nav .nav-item a.active::after {
	height: 0px;
	width: 0px;
	background: none;
}

/* Branding */
.brand-larousse, .brand-patria, .brand-hachette {
	width: 120px;
	display: inline-block;
}

.brand-larousse, .brand-patria {
	height: 32px;
}

.brand-hachette {
	height: 32px;
}

.brand-larousse {
	background: url('../images/brand/logo-larousse.svg') center right no-repeat;
}

.brand-patria {
	background: url('../img/home/brand/brand-patria.svg') center center no-repeat;
}

.brand-hachette {
	background: url('../img/home/brand/brand-hachette.svg') center center no-repeat;
}

.bg-azul {
	background-color: #3399cc;
}

.bg-amarillo {
	background-color: #ffcc00;
}

.bg-rojo {
	background-color: #ff3333;
}

.bg-naranja {
	background-color: #ff6600;
}

.bg-verde {
	background-color: #66cc33;
}

.bg-turquesa {
	background-color: #00cccc;
}

.bg-gris {
  background-color: #848484;
}

.bg-grad-gris {
	background: #dfe5ea; /* Old browsers */
	background: -moz-linear-gradient(left, #dfe5ea 0%, #c1c7d1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #dfe5ea 0%,#c1c7d1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #dfe5ea 0%,#c1c7d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe5ea', endColorstr='#c1c7d1',GradientType=1 ); /* IE6-9 */
}


/* Carousel */
.site-banner .slide-text {
	position: absolute;
	margin: 0 auto;
	top: 8rem;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
}

.slide-text h4 {
	color: #fff;
}

.site-events .carousel-inner {
	border-radius: 1rem;
	color: #fff;
}

.slide-excerpt {
	border-radius: 1rem 0 0 1rem;
}

.carousel-inner .carousel-title {
	position: absolute;
	height: 21px;
	top: 1rem;
	left: 4rem;
	padding-left: 2rem;
  z-index: 1;
  font-size: 1.5rem;
}

.slide-excerpt .slide-text {
	top: 8rem;
}

.mask-image-list {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
	.mask-image-list img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}

		.mask-image-thumbnails {
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
			width: 100%;
			height: 200px;
			overflow: hidden;
		}
			.mask-image-thumbnails img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}

/* Icons */
.site-banner .icon {
	position: absolute;
	bottom: 6rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.icon-mouse {
	background: url('../img/home/svg/icon-mouse.svg') center center no-repeat;
	width: 25px;
	height: 41px;
}

/* Containers */
.block-title h1, .block-title h2, .block-title h3 {
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.site-banner h1, .site-tips h1 {
	color: #fff;
}

.site-contact h2 {
	font-size: 1.5rem;
	text-transform: uppercase;
}

.block-card img {
	border-radius: 1rem 1rem 0 0;
}

.block-card p {
	text-align: justify;
}

.bg-block {
	border-radius: 1rem;
	text-align: center;
	color: #fff;
}


footer {
	height: 100px;
}

footer p {
	padding-top: 20px;
	font-style: italic;
}

footer .brand-hachette {
	position: relative;
	top: -20px;
}

/* Buttons */
#tips .btn-default ,
.carousel-inner .btn-default {
	border-color: #fff;
	color: #fff;
}

.carousel-inner .btn-default:hover {
	color: #3399cc;
	background-color: #fff;
}

.btn-primary {
	color: #3399cc;
	border: 2px solid #3399cc;
	background-color: #fff;
	font-weight: bold;
}

.btn-primary:hover, .site-search .btn:hover {
	color: #fff;
	border: 2px solid #3399cc;
	background-color: #3399cc;
	font-weight: bold;
}

.site-search .btn {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 2px solid #3399cc;
	border-radius: 0 5px 5px 0;
	background-color: #fff;
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* Lists */
.site-archive ul {
	margin-left: 1rem;
	padding: 0;
}

.site-archive ul li {
	padding: .25rem .5rem;
	list-style-image: url('../img/home/svg/arrow-open.svg');
}

.site-archive ul a {
	color: #3399cc;
}

.site-archive ul a:hover {
	color: red;
}

.site-archive ul li.active {
	list-style-image: url('../img/home/svg/arrow-close.svg');
}

.site-archive ul li.active > a {
	font-weight: 800;
}

ul.submenu ul.submenu li {
	list-style: none;
}

/* Forms */
form label {
	/* font-weight: 800; */
	color: #666;
}

.form-group .form-control {
	border: transparent;
	background-color: rgba(102,204,255,0.12);
}

/* Images */
#site-article img {
	border-radius: 1rem;
}

.slide-img {
	width: 500px;
	height: 585px;
	overflow: hidden;
}
.slide-img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.slide-text {
  position: absolute;
  width: 70%;
  top: 15%;
  left: 23%;
  bottom: 15%;
}

#eventos .carousel-control-next, .carousel-control-prev {
	width: 5%;
}

/* Media Queries */
@media screen and (max-width: 425px) {
	/* Branding */
	.brand-larousse, .brand-patria {
		width: 80px;
	}

	.brand-hachette {
		width: 100%;
		margin-bottom: 1rem;
	}

	/* Navigation */
	.main-nav {
		background-color: #fff;
		border-radius: .5rem;
    padding: 1rem;

	}

	/* Carousel */
	.site-banner .slide-text {
		position: relative;
		color: inherit;
		top: 0;
	}

	.site-banner .icon {
		top: 4rem;
		bottom: inherit;
	}

	.site-banner h1 {
		color: #000;
	}



	.slide-excerpt,
	.slide-img {
		width: 100%;
	}

	.slide-text {
		position: absolute;
		width: 70%;
		top: 2% !important;
		left: 1%;
	}

	.carousel-inner .carousel-title {
		left: 1%;
	}

	.slide-excerpt .slide-text {
		position: relative;
		top: inherit;
		margin: 4rem 0 3rem 0;
		padding: 0 2rem;
		z-index: 1;
	}


.slide-img {
	width: 100%;
	height: 250px;
	overflow: hidden;
}

	.slide-img img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}


	/* Containers */
	footer p {
		padding-top: 0;
	}

	footer .brand-hachette {
		top: 0;
	}

	.bg-header-secction{
		background-size: cover;
		height: 150px;

	}
}

@media screen and (max-width: 991px) and (min-width: 426px) {
	/* Branding */
	.brand-larousse, .brand-patria {
		width: 100px;
	}

	/* Navigation */
	.main-nav {
		background-color: #fff;
		border-radius: .5rem;
		padding: 1rem;
	}

	/* Carousel */
	.site-banner .slide-text {
		top: 3rem;
	}

	.site-banner .icon {
		bottom: 3rem;
	}

	.slide-excerpt .slide-text {
		top: 4rem;
	}

	.carousel-inner .carousel-title {
		padding-left: 6px;
	}

	.bg-header-secction{
		background-size: cover;
		height: 150px;

	}
}

.disabled {
	cursor: not-allowed;
}

.cnt-info{
	width: 50%;
	float: left;

 }


.card-item{
	border:1px solid #eee;
	height: 180px;
	overflow: hidden;
	position: relative;
}


.card-item .detail{
	position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
	width: 100%;
	text-align: center;
	background-color: #585858;
	width: 100%;
	color: #fff;
	padding: 15px;
	-moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	top: 100%;
}

.card-item .detail p{
	float: left;
	width: 100%;
	font-size: 14px;
}

.card-item i{
	font-size: 60px;
	margin-bottom: 15px;
	margin-top: 20px;
	color: #848484;
}

.card-item h5{
	font-size: 18px;
	color: #848484;
}

.card-item .vertical-center {
	margin-top: 40px !important;
}

.card-item:hover .detail{
 top: 0;
}


#model img {
	max-width: 100%;
	height: auto;
}


.site-digital .bg-block i {
	font-size: 60px;
	margin-bottom: 15px;
	margin-top: 20px;
	color: #848484;
}

.site-digital .bg-block h5,
.site-digital .bg-block small{
	display: block;
}

.site-digital .bg-block:hover i,
.site-digital .bg-block:hover h5,
.site-digital .bg-block:hover h5 small  {
	color: red;
}


