html body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #52464a;
	overflow: hidden;

}

#content-login,
.content-login-image {
	height: 100vh !important;
	background-color: #fff !important;
}

.bg-gray{
	background-color: #fff !important;
  }



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 700;
	color: black;
}

label {
	font-weight: 600;
	color: black;
}

/* Links */
a {
	color: red;
	transition: ease-in-out .12s;
}

a:hover {
	text-decoration: none;
	color: black;
	background: none !important;
}

/* Contenedores */
article {
	bottom: 0;
	right: 0;
	top: 0;
	background-color: #fff;
	position: absolute !important;
}

article .form {
	position: relative;
	top: 22%;
	max-width: 600px;
}

/* Botones */
.btn {
	border-radius: .75rem;
}

.btn-primary {
	background-color: red;
	border-color: red;
	padding-left: 2rem;
	padding-right: 2rem;
}

.btn-primary:active,
.btn-primary:focus {
  color: #fff;
  background-color: red !important;
	border-color: red !important;
}

.btn-primary:hover {
	background-color: black;
  border-color: black;
  color: #fff;
}

/* Fondos */
.bg-login {
	background: url('../img/bg/bg-login.png') bottom right no-repeat;
	background-size: auto;
}

/* Inputs */
.form-control {
	border-radius: 2rem;
	border-color: #eeeeee;
	background-color: #eeeeee;
	padding-left: 1.5rem;
}

/* Imágenes */
.img-login {
  top: 0px;
  bottom: 0px;
  width: 88%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.brands {
	display: none;
}

.nav-item{
	border:none !important;
}



/* //////////////////////// */
/* Media Queries */
@media screen and (max-width: 768px) {
	.img-login {
		display: none;
	}

	.brands {
		display: block;
		background: url('../img/brand/brands.svg') top center no-repeat;
		width: 100%;
		height: 150px;
	}

	.form-check, .text-right {
		text-align: center !important;
	}

	/* Contenedores */
	article .form {
		top: 0;
	}

	.nav-item{
		display: inline;
	}

}

