/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////
*
*
* HOJA DE ESTILOS GENERAL
* Intranet: Recursos Academicos
*
* ////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* HTML //////////////// */
/* General */
html body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  transition: all ease-in-out 0.2s;
  color: #666;
}

/* Pié de página */
footer {
  height: 2rem;
}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #52464a;
  font-weight: 700;
}

/* Vínculos */
aside a,
a {
  color: #000;
}

/* Listas */
ul li,
ol li {
  position: relative;
  border-bottom: 1px solid #eee;
}

/* Tablas */
.table thead {
  background-color: #ccc;
}

.table thead th {
  color: #000;
}

/**********************************************/
/* BOOSTRAP                                   */
/**********************************************/

.label-primary {
  border: 1px solid red;
  color: #fff;
  background-color: red;
}

.page-link {
  color: #e30d18 !important;
}
.page-item.active
.page-link {
  background-color: #e30d18;
  border-color: #e30d18;
}
.page-item.active, .page-link:hover {
  background-color: #ad0d15;
  border-color: #ad0d15;
  color: #fff !important;
}

.page-item.active .page-link {
  color: #fff !important;
}

/**********************************************/
/* MATERIALIZE                                */
/**********************************************/

/*  MATERIALIZA  */
.materialize-full-width,
.full-width {
  width: 100%;
}

.full-width{
  float: left;
}

.materialize-width-80 {
  width: 80%;
}

.materialize-width-50 {
  width: 50%;
}

.materialize-width-40 {
  width: 40%;
}

.materialize-width-45 {
  width: 45%;
}

.materialize-width-35 {
  width: 35%;
}

.mat-focused mat-icon {
  color: #fe0606 !important;
}


.mat-tab-body-content,
.mat-tab-body,
.mat-tab-body.mat-tab-body-active  {
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

button.mat-accent:hover {
  background-color: red !important;
  border-color: red !important;
}


/* COMPONENTES //////////////// */
/* Inputs */
#contact .form-group input[type="text"],
#contact .form-group input[type="email"],
#contact .form-group input[type="phone"],
#contact .form-group input[type="password"],
#contact .form-group textarea,
#contact .form-group select {
  border-radius: 0.5rem;
  border: transparent;
  background-color: #ecf0f6;
  padding: 0.3rem 1rem;
}

.form-group input[type="search"] {
  border-radius: 2rem;
  border: transparent;
  background-color: #ecf0f6;
  padding: 0.3rem 1rem;
}

.btn-browser {
  position: absolute;
  top: 0;
  right: 0.5rem;
  background-color: transparent;
  border: transparent;
  height: 100%;
}

/* Breadcrumbs */
.breadcrumb-item {
  font-size: 12px;
}

.breadcrumb-item:nth-child(2)::before {
  content: "";
}
.breadcrumb-item:nth-child(2) {
  padding-left: 0;
}
/********************************************/
/* HEADERS                                  */
/********************************************/

#menu {
  float: right !important;
  margin-top: 10px;
}

#menu li {
  display: inline;
}

#menu li a.link-circle {
  color: #7F7F7F;
  border: 1px solid #ccc;
  border-radius: 50%;
  float: left;
  height: 35px;
  margin-right: 10px;
  line-height: 32px;
  text-align: center;
  position: relative;
  width: 35px;
  transition: all 0.5s ease;
}

#menu li a .badge {
  position: absolute;
  top: -5px;
  right: -15px;
  font-size: 12px;
  padding-top:2px;
}

#menu li a .badge {
  background-color: #e30d18 !important;
}

#menu li a.link-circle:hover {
  color: #e30d18;
  border: 1px solid #e30d18;
}

#menu li a i {
  font-size: 18px !important;
}

/* Contadores */
#content-data span {
  font-size: 12px;
}

/* CLASES //////////////// */
/* Brand */
.logo-hachette {
  background: url("../images/brand/logo-hachette.svg") center left no-repeat;
  background-size: contain;
  display: inline-block;
  width: 109px;
  height: 35px;
}

.logo-larousse {
  background: url("../images/brand/logo-larousse.svg") center right no-repeat;
  background-size: contain;
}

.logo-patria {
  background: url("../images/brand/logo-patria.svg") top left no-repeat;
  background-size: contain;
}

/* Menús Dropdown */
.usr-btn {
  background-color: #ddd;
  border-radius: 10rem;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
}
.usr-nav {
  right: 1rem;
  background-color: #fff;
  z-index: 1;
  display: none;
  width: 250px;
}

.usr-nav .dropdown-item:focus,
.usr-nav .dropdown-item a:active,
.usr-nav  .dropdown-item:hover {
  background-color: red !important;
  color: #fff !important;
}

/* Menú lateral */
a.active {
  /* background-color: #fe0606; */
  position: relative;
  color: #fff;
  font-weight: 700;
}

a.nav-link:hover {
  background-color: #eee;
  color: inherit;
}

a.disabled,
a.disabled .icon {
  opacity: 0.5;
}
a.disabled:hover {
  background-color: transparent;
}

/* Botones */
.btn-nivel,
.btn-idioma {
  border-radius: 10px 10px 0 0;
}

.btn-nivel.active {
  background-color: #fe0606;
  color: #fff;
  font-weight: 700;
}

.btn-colapsar > i.icon {
  color: #fe0606;
}

.btn-secondary {
  background-color: #f5f5f5;
  border-color: #fff;
  color: #e30d18;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #e30d18;
  border-color: #fff;
  color: #fff;
}

#nav-ctrl span {
  color: #52464a;
}

/* Fondos */
.bg-gray {
  background-color: #eee;
}

/* Iconos */
aside .icon {
  margin-right: 1rem;
}

aside .icon,
#pg-content i.icon {
  vertical-align: unset;
}

#pg-title .icon {
  margin-right: 5px;
}

/* Badges */
.badge-primary {
  background-color: #e30d18;
}

/* Activos */
.list-group-item.active {
  background-color: #e30d18;
  border-color: #e30d18;
}

/* IDs //////////////// */
/* Footer */
#site-footer {
  bottom: 0;
}

/* SLIDER /////////////*/
.slide-caption {
  vertical-align: top;
  position: absolute;
  background-color: #e03a3a;
  width: 50%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.slide-tab {
  /* background: url('../imgs/svg/slide-tab.svg') top left no-repeat; */
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -20px;
}

/* Media Queries //////////////// */
/* Ancho mínimo 320px */
@media screen and (min-width: 20rem) {
  /* Layout */
  #pg-header {
    position: fixed;
    z-index: 9999;
  }

  .usr-name {
    display: none;
  }

  .pg-inbox {
    visibility: hidden;
  }

  #site-content {
    padding-top: 3rem;
  }

  /* Brand */
  .logo-patria,
  .logo-larousse {
    width: 77px;
    height: 20px;
    display: inline-block;
  }

  .logo-hachette,
  span#usr-name,
  #nav-ctrl {
    /* display: none; */
  }

  /* .logo-larousse {
		margin-left: .5rem;
	} */

  #pg-usr {
    /*position: absolute;
		top: 4px;
		right: 1rem;
		width: 100px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		*/
  }

  .usr-nav {
    right: 55px;
  }

  /* Menú lateral */
  #pg-menu {
    position: fixed;
    height: 3rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  #pg-menu nav#pg-nav {
    display: none;
  }

  #pg-nav-mob {
    display: block;
    padding-top: 0.25rem;
  }

  #pg-nav-mob a.nav-link {
    padding: 0.5rem;
  }

  .mob-nav {
    display: none;
    background-color: #fff;
    right: 0;
    width: 250px;
  }

  .mob-nav .icon {
    margin-right: 1rem;
  }

  #mob-nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .sub-menu li.nav-item {
    text-align: left;
  }

  /* Botones */
  .adminBtn {
    color: #fff;
  }

  #pg-content .btn {
    width: 100%;
  }

  .open-menu-content #pg-browser .widget-statistic ul li.members-count {
    font-size: 14px;
    line-height: 18px;
  }

  .open-menu-content #pg-browser .widget-statistic ul li span {
    padding-top: 5px;
  }

  .open-menu-content mat-sidenav-content {
    margin-left: 350px !important;
  }
}

/* Ancho mínimo 425px */
@media screen and (min-width: 26rem) {
  .pg-inbox {
    visibility: visible;
  }
}

/* Ancho mínimo 992 px */
@media screen and (min-width: 62rem) {
  /* Header */
  #pg-header {
    position: fixed;
    z-index: 2;
  }

  .usr-name {
    display: block;
  }

  /* Menú laterla */
  #pg-nav {
    /* width: 240px; */
  }

  #pg-nav .title {
    width: 100%;
  }

  #pg-nav .title h4 {
    font-size: 18px;
    font-weight: lighter;
    width: 80%;
    overflow: hidden;
    float: left;
  }

  #pg-nav .title a {
    float: right;
    cursor: pointer;
    margin-right: 5px;
  }

  #pg-nav .title a:hover {
    color: #e03a3a;
  }

  #pg-menu {
    /* position: relative;
		height: auto; */
  }
  #pg-menu nav#pg-nav {
    display: block;
  }

  /* Layout */
  #pg-content-header {
    height: 50px;
    background-color: #fff;
  }

  #pg-content-header h5 {
    display: inline-block;
    padding-top: 12px;
  }

  #pg-content-header #btn-back {
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
  }

  #pg-content-header #btn-back:hover {
    color: #e03a3a;
  }

  #pg-content {
    /* margin-left: auto; */
  }

  #mob-nav {
    display: none;
  }

  #site-content {
    padding-top: 0;
  }

  #pg-usr {
    position: initial;
    width: 100%;
    margin: 0px;
  }

  span#usr-name {
    display: inline-block;
  }

  span#usr-name small {
    display: block;
  }

  #nav-ctrl {
    display: block;
  }

  #pg-content .btn {
    /* width: auto; */
  }

  /* Brand */
  .logo-hachette {
    display: inline-block;
    width: 150%;
    height: 10px;
  }

  .logo-larousse {
    display: inline-block;
    width: 150%;
    height: 10px;
  }

  .logo-patria {
    display: inline-block;
    width: 150%;
    height: 10px;
  }
}

#site-content .breadcrumb {
  background-color: #fff !important;
}

#site-content .breadcrumb .active-breadcrumb {
  color: #fe0606;
  background: #fff;
}

#site-content .breadcrumb li.breadcrumb-item {
  border-bottom: 1px solid #fff !important;
}

.bolder {
  font-weight: bold;
}

.active-file {
  background-color: #ffe1e1 !important;
}

.detail-content {
  border-left: 1px solid #eee;
}

.nav-structure a {
  cursor: pointer;
}

#list-content-files .icon-lg mat-icon {
  font-size: 34px !important;
  width: 100%;
  text-align: center;
  height: 40px;
}

#list-content-files .files-label-detail,
#list-content-files .files-label-detail small {
  display: block;
}

#list-content-files .files-label-detail {
  font-weight: bolder;
  color: #666;
}

#list-content-files .files-label-detail small {
  font-weight: lighter;
}

.lnk-content-select {
  color: #fe0606 !important;
  cursor: pointer;
}

.list-inline-buttons {
  list-style: none;
  padding: 0px;
  padding-left: 13px;
  margin-bottom: 0px;
  height: auto;
}

.list-inline-buttons li {
  display: inline-block;
  border-bottom: none;
}

.list-inline-buttons li .item-button {
  width: 80px;
  height: 70px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-inline-buttons li .item-button:hover {
  background-color: #ffe1e1 !important;
}

.list-inline-buttons li .item-button mat-icon {
  font-size: 38px !important;
  float: left;
  width: 100%;
  height: 40px;
  color: #666;
}

.list-inline-buttons li .item-button .text-title {
  float: left;
  width: 100%;
  font-size: 12px;
  font-weight: lighter;
  color: #666;
  line-height: 12px;
}

.list-inline-buttons li .active-file mat-icon,
.list-inline-buttons li .active-file .text-title {
  color: #000 !important;
}

.item-home {
  border: 1px solid #eee;
  padding: 25px 25px;
  text-align: center;
  border-radius: 10px;
  min-height: 100px;
  /* margin: 5px; */
}

.item-home .description {
  font-size: 12px;
  width: 100%;
  line-height: 12px;
  float: left;
  height: 20px;
  overflow: hidden;
}

.item-home mat-icon {
  width: 100%;
  font-size: 37px;
  cursor: pointer;
}

.item-carrousel {
  border: 1px solid #eee;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  min-height: 100px;
}

.card-style-home {
  /* min-width: 250px; */
}

.item-carrousel .description {
  font-size: 12px;
  width: 100%;
  line-height: 12px;
  float: left;
  height: 50px;
  overflow: hidden;
}

.item-carrousel mat-icon {
  width: 100%;
  font-size: 50px;
  cursor: pointer;
}

.item-carrousel:hover {
  background-color: #ffe1e1 !important;
}

.owl-nav {
  text-align: center;
}

.owl-nav .owl-prev span,
.owl-nav .owl-next span {
  font-size: 45px !important;
  line-height: 50px;
}

.owl-nav .owl-prev span:hover,
.owl-nav .owl-next span:hover {
  color: #fe0606;
}

.owl-nav .owl-next {
  margin-left: 5px;
}

.owl-nav .owl-prev {
  margin-right: 5px;
}

.responsive-column {
  display: none;
}

#pg-content-header .pg-content-headet-title {
  width: 70% !important;
}

#pg-content-header .pg-content-head-menu {
  width: 30% !important;
}

/* CURSOS */

.list-accordion .active {
  font-weight: bold;
}

.card-active{
  background-color: #ffe1e1 !important;
  color: black;
}


.col-courses .title h4,
.list-accordion .active,
.card-title-spacer {
  color: #e30d18 !important;
}

.active-listitem {
  border-bottom: 2px solid #e30d18 !important;
}

@media (min-width: 300px) and (max-width: 992px) {
  #site-content {
    padding-top: 10px !important;
  }

  #pg-content-header {
    height: 48px;
  }

  #pg-content-header .pg-content-headet-title {
    width: 60% !important;
  }

  #pg-content-header .pg-content-headet-title button,
  #pg-content-header .pg-content-headet-title h5 {
    float: left;
  }

  #pg-content-header .pg-content-headet-title h5 {
    padding-top: 18px;
    font-size: 16px;
    overflow: hidden;
    margin-left: 0px !important;
    width: 80%;
    height: 40px;
  }

  #pg-content-header .pg-content-headet-title button {
    margin-top: 7px;
  }

  #pg-content-header .pg-content-head-menu {
    width: 40% !important;
  }

  .pg-content-head-menu {
    height: 50px;
    overflow: hidden;
  }

  #pg-content-header .pg-content-head-menu #btn-back {
    float: right;
    margin-top: 16px;
    margin-right: 5px;
    color: #666 !important;
    background-color: #fff !important;
  }

/**************************************************************/
/* FROUM                                                      */
/**************************************************************/
.widget {
	border-bottom: 1px solid #dadfea;
}
.widget a{
	color: #fe0606; /* text color */
}
.widget-menus ul li a:hover,
.widget-menus ul li.current-menu-item > a {
	border-left: 4px solid #fe0606;
	background: #f0f0f0;
}
.widget-statistic ul li.questions-count {
	border-left: 4px solid #fe0606;
}
.widget-statistic ul li.members-count {
	border-left: 4px solid #fe0606;
}
.user-statistic{
  border-bottom:1px solid #eff2f2;
}

  .forum-col-left {
    min-height: auto !important;
    height: auto !important;
  }

  .hidden-column {
    display: none;
  }

  .responsive-column {
    display: block;
  }

  .table td {
    position: relative;
  }

  .table .label,
  .table .label small {
    display: block;
  }

  .table .label small {
    font-weight: bolder;
  }

  .table .lnk-btn-table {
    position: absolute;
    right: 10px;
    top: 35%;
  }

  .list-inline-buttons {
    height: auto;
  }

  .nav-structure {
    margin-bottom: 15px;
  }

  .nav-structure .title h4 {
    float: left;
    width: 80%;
    overflow: hidden;
  }
  .nav-structure .title a {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
  }

  /* FORO */
  .main-questions-list {
    margin-top: 10px;
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  .mat-drawer-content {
    overflow-x: hidden !important;
  }

  #pg-content-header .pg-content-headet-title {
    width: 10% !important;
  }

  #pg-content-header .pg-content-head-menu {
    width: 90% !important;
  }

  .col-cnt-button {
    width: 33% !important;
  }

  /* LISTADO DE ARCHIVOS  */

  #list-content-files .item-files-icon {
    width: 8% !important;
    float: left;
    padding: 5px;
  }

  #list-content-files .item-files-icon mat-icon {
    font-size: 20px !important;
    width: 20px;
    text-align: center;
  }

  #list-content-files .item-files-text {
    width: 80% !important;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }

  #list-content-files .item-files-link {
    width: 5% !important;
    padding: 5px;
    float: left;
  }

  /* COMPONENTE DE AUDIO */

  .cnt-player-audio {
    height: 85px !important;
  }

  .cnt-player-audio .content-thumbnail {
    width: 15%;
    float: left;
  }

  .cnt-player-audio .content-thumbnail .thumbnail {
    display: none;
  }

  .cnt-player-audio .controls {
    width: 100% !important;
    float: left;
    margin-left: 53px !important;
    margin-top: -10px !important;
  }

  .cnt-player-audio .controls button {
    position: absolute;
    left: 20px;
  }

  /* BACKGROUND NOFOUND */

  .background-nofound .content .icon {
    font-size: 80px !important;
    height: 60px !important;
    width: 20% !important;
  }

  .background-nofound .content span {
    font-size: 20px !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #pg-content-header .pg-content-headet-title {
    width: 10% !important;
  }

  #pg-content-header .pg-content-head-menu {
    width: 90% !important;
  }

  #list-content-files .item-files-icon {
    width: 8% !important;
    float: left;
    padding: 5px;
  }

  #list-content-files .item-files-icon mat-icon {
    font-size: 20px !important;
    width: 20px;
    text-align: center;
  }

  #list-content-files .item-files-text {
    width: 80% !important;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }

  #list-content-files .item-files-link {
    width: 5% !important;
    padding: 5px;
    float: left;
  }

  /* COMPONENTE DE AUDIO */

  .cnt-player-audio {
    height: 85px !important;
  }

  .cnt-player-audio .content-thumbnail {
    width: 15%;
    float: left;
  }

  .cnt-player-audio .content-thumbnail .thumbnail {
    display: none;
  }

  .cnt-player-audio .controls {
    width: 100% !important;
    float: left;
    margin-left: 53px !important;
    margin-top: -10px !important;
  }

  .cnt-player-audio .controls button {
    position: absolute;
    left: 20px;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  #pg-content-header .pg-content-headet-title {
    width: 50% !important;
  }

  #pg-content-header .pg-content-head-menu {
    width: 50% !important;
  }

  .responsive-column {
    display: none;
  }

  .hidden-column {
    display: block;
  }
}

.width-adjust {
  width: 500px;
}
.height-adjust {
  height: 300px;
}

/*****************************************/
/* LIST iTEM                             */
/*****************************************/

.list-items {
	padding: 5px 10px;
}

.list-items li {
	width: 100%;
	padding-bottom: 0px;
	position: relative;
}

.list-items li .disabled {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	display: block;
}

.list-items li .disabled .box-icon {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #ccc;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	line-height: 60px;
	color: #ccc;
}

.list-items li .disabled img {
	opacity: 0.4;
	margin-left: 8px;
	margin-top: 10px;
}

.list-items li .disabled .description {
	color: #ccc;
	line-height: 18px;
	display: inline-block;
	width: 60%;
}

.list-items li .disabled .description small {
	display: block;
	font-size: 12px;
}

.list-items li .disabled .mat-chip-list-wrapper {
	margin-top: 2px !important;
}

.list-items li a {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	display: block;
	cursor: pointer;
	transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}

.list-items li a:hover {
	border-radius: 5px;
	background-color: #fe0606;
	border-bottom: 1px soli #fe0606;
}

.list-items li a:hover .box-icon,
.list-items li a:hover .description {
	color: #fff;
}

.list-items li a:hover .box-icon {
	border: 1px solid #fe0606;
}

.list-items li a:hover .label-primary {
	border: 1px solid #fff !important;
	color: #fff !important;
	background: none !important;
}

.list-items li a:hover .mat-chip.mat-standard-chip {
	color: #e30d18;
	background-color: #e30d18;
}

.list-items li a:hover .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
	background: none !important;
	border: 1px solid #fff !important;
	color: #fff !important;
}

.list-items li a img {
	margin-left: 8px;
	margin-top: 10px;
}

.list-items li a .box-icon {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #ccc;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	line-height: 60px;
	color: #e30d18;
}

.list-items li a .description {
	color: #e30d18;
	line-height: 18px;
	display: inline-block;
	width: 60%;
	font-size: 18px;
	overflow: hidden;
}

.list-items li a .description .label-float {
	position: absolute;
	right: 12px;
	top: 6px;
	padding: 0px 5px;
	border-radius: 5px;
}

.list-items li a .description .label-primary {
	border: 1px solid red;
	color: #fff;
	background-color: red;
}

.list-items li a .mat-chip-list-wrapper {
	margin-top: 2px !important;
}

.list-items li .active:after {
	content: '';
	height: 55px;
	background-color: #CD0068;
	border-radius: 5px;
	width: 4px;
	position: absolute;
	right: 5px;
	top: 5px;
}


.card-list {  padding: 20px; }

.card-list.list-courses li {
    border-bottom: 1px solid #fff !important;
  }
  .card-list   .card-list-item {
    padding: 20px;
  }
  .card-list .card-list-item h4 {
      display: block;
    }
  .card-list .card-list-item h4  a {
        text-decoration: none;
        color: #000 !important;
      }
  .card-list .card-list-item h4 a:hover {
        color: #e30d18 !important;
      }
  .card-list .card-list-item  h4 small {
        display: block;
        font-size: 12px;
        color: #969494;
        margin-top: 5px;
      }

/*****************************************/
/* MAIN MANU                             */
/*****************************************/

.logo-larousse {
  display: inline-block;
  width: 45%;
  height: 20px;
}

.logo-patria {
  display: inline-block;
  width: 45%;
  height: 20px;
  margin-left: 10.5rem;
  margin-right: -4.5rem;
}

.logo-larousse {
  margin-left: -4.5rem;
}

  /* Brand */
.logo-hachette {
  background-size: contain;
  width: 109px;
  height: 30px;

  }

.main-menu {
  border-right:1px solid #e5e5e5;
  position: relative;
  top:0;
  bottom:0;
  height: 100vh;
  left:0;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  width: 350px;
  -webkit-transform:translateZ(0) scale(1,1);
  /* z-index:1000; */
}


.main-menu .fa-2x {
  font-size:18px;
}

.main-menu i {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:16px;
  line-height: 36px;
}

.main-menu > ul {
  margin:0px;
}

.main-menu li {
  display: inline-block;
  position: relative;
  width: 100%;
}

.main-menu li > a {
  display:block;
  font-family: arial;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
}

.main-menu .nav-icon {
  position:relative;
  display:inline-block;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.main-menu .nav-text {
  display:inline-block;
  vertical-align:middle;
  width:285px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position:relative;
  left:0;
  bottom:0;
  margin-top: 0px;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

a:hover,a:focus {
  text-decoration:none;
}

.nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}

.main-menu li:hover> a {
  background-color: #fe0606;
  color: #fff;
}

nav.main-menu li.active>a,
.main-menu .dropdown-menu>li>a:hover,
.main-menu .dropdown-menu>li>a:focus,
.main-menu .dropdown-menu>.active>a,
.main-menu .dropdown-menu>.active>a:hover,
.main-menu .dropdown-menu>.active>a:focus,
.main-menu .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.main-menu .dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#fe0606;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

/* reset our lists to remove bullet points and padding */
ul.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  -webkit-transition: all 0.5s ease-out;
  background-color:#df0707;
}

.main-menu li ul.submenu li a  {
  padding-left: 40px;
  color:#fff;
}

.main-menu li ul.submenu li a .nav-text {
  width: 240px !important;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#fff;
}

.main-menu li ul.submenu li:hover a  {
  background: #fe0606 !important;
  color: #fff !important;
  font-weight: bold;
  text-decoration: underline;
}

.main-menu li ul.submenu li:hover a .nav-text {
  width:200px !important;
}

.main-menu li ul.submenu li a i {
  font-size: 12px !important;
}

ul.submenu li{
  border-bottom: none !important;
}

.main-menu li:hover ul.submenu {
  display: block;
  width: 100%;
}


.main-menu {
  overflow-y: auto;
 }

 .nav-ctrl-controls a i {
  width: 20px !important;
  margin-right: 5px !important;
 }

@media (min-width: 300px) and (max-width: 480px) {

  .main-menu {
   overflow-y: auto;
   width: 100%;
  }

  #pg-usr {
    padding: 0px !important;
  }

  .comment-avatar {
    margin-left: 0px !important;
  }

  .open-sidenav {
    display: none !important;
  }

  .nav-ctrl-title,
  .nav-ctrl-controls{
    width: 50%;
  }

  .nav-ctrl-title{
    padding-top: 8px;
  }

  .btn-colapsar {
    cursor: pointer;
  }
  .btn-colapsar i{
    width: 30px;
  }

  #pg-content-header .pg-content-headet-title{
    width: 80% !important;
  }

  #pg-content-header .pg-content-headet-menu{
    width: 20% !important;
  }


}

/**************************************/
/* CURSOS NAV                         */
/**************************************/


#wrapper-book-options {
	display: block;
	background-color: #fdeeee;
	height: 50px;
}

#wrapper-book-options ul {
	list-style: none;
	margin-bottom: 0px !important;
	padding-left: 10px !important;
}

#wrapper-book-options ul li {
	display: inline-block;
	margin-right: 10px;
}

#wrapper-book-options ul li a {
	line-height: 50px;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #000 !important;
}

#wrapper-book-options ul li a:visited,
#wrapper-book-options ul li a:active {
	color: #000 !important;
}

#wrapper-book-options ul li a:hover,
#wrapper-book-options ul li a.active {
	color: red !important;
	text-decoration: none;
	border-bottom: 5px solid red;
}






