<app-loading [showLoading]="working">
</app-loading>

<div class="mdl-wrapper">
    <h4 class="text-center"> Detalles del parcial </h4>
    <button mat-icon-button class="link-float-right" (click)="onCloseConfirm(null)">
    <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
    <hr />
    <!-- Contenido -->
    <form [formGroup]="frmFinalScore" (ngSubmit)="onSubmit()" novalidate autocomplete="off">

        <div class="row">
            <!-- Nombre del grupo -->
            <mat-form-field class="materialize-full-width" hidden>
                <input matInput hidden name="id" id="id" formControlName="id">
            </mat-form-field>
            <mat-form-field class="materialize-full-width" hidden>
                <input matInput hidden name="userId" id="userId" formControlName="userId">
            </mat-form-field>
            <mat-form-field class="materialize-full-width" hidden>
                <input matInput hidden name="studentId" id="studentId" formControlName="studentId">
            </mat-form-field>
            <mat-form-field class="materialize-full-width" hidden>
                <input matInput hidden name="studentGroupId" id="studentGroupId" formControlName="studentGroupId">
            </mat-form-field>
            <div class="col-md-12">
                <mat-form-field class="materialize-full-width">
                    <input matInput id="studentName" name="studentName" formControlName="studentName">
                </mat-form-field>
            </div>
            <!-- Nombre del grupo -->
            <div class="col-md-12">
                <mat-form-field class="materialize-full-width">
                    <mat-select placeholder="Parcial" name="teacheExamId" formControlName="schedulingPartial" (selectionChange)="onChangePartials( $event.value )">
                        <mat-option *ngFor="let item of partials" [value]="item.description">
                            {{ item.description | CalificacionFinalPipe }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-12" style="display: none;">
                    <mat-form-field class="materialize-full-width">
                        <mat-select placeholder="Parcial" name="teacheExamId" formControlName="schedulingPartialId" (selectionChange)="onChangePartials( $event.value )">
                            <mat-option *ngFor="let item of partials" [value]="item.id">
                                {{ item.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            <!-- Nombre del grupo -->
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput placeholder="Calificación" id="calificacion" name="calificacion" formControlName="finalScore">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Examen" id="exam" name="exam" formControlName="exam">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Tarea" id="homework" name="homework" formControlName="homework">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Actividades" id="activity" name="activity" formControlName="activity">
                </mat-form-field>
            </div>
            <div class="col-md-6">

                <mat-form-field>
                    <input matInput placeholder="Asistencia" id="assistance" name="assistance" formControlName="assistance">
                </mat-form-field>
            </div>



            <!-- Nombre del grupo -->
            <div class="col-md-12">
                <mat-form-field class="materialize-full-width">
                    <input matInput placeholder="Puntos" maxlength="3" id="points" name="points" type="number" formControlName="points" aria-describedby="emailHelp">
                </mat-form-field>
                <!-- <div *ngIf="frmGroup.get('description').errors?.required && frmGroup.get('description').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> El campo es requerido
              </div> -->
            </div>
            <!-- Nombre del grupo -->
            <div class="col-md-12">
                <mat-form-field class="materialize-full-width">
                    <textarea matInput #description placeholder="Comentarios" maxlength="350" id="description" name="description" formControlName="comment"></textarea>
                    <mat-hint align="end">{{description.value?.length || 0}}/350</mat-hint>
                </mat-form-field>
                <div *ngIf="frmFinalScore.get('comment').errors?.required" class="text-danger error-label">
                    <i class="fa fa-exclamation-circle"></i> El campo comentario es necesario.
                </div>
                <!-- <div *ngIf="frmGroup.get('description').errors?.required && frmGroup.get('description').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo es requerido
            </div> -->
            </div>
            <!-- Nombre del grupo -->
            <div class="col-md-12">
                <div class="form-group ctrl-check-top">
                    <mat-slide-toggle class="float-left" [disabled]="studentScoreStatus" [checked]="studentScoreStatus" [(ngModel)]="studentScoreStatus" (click)="onChangeStudentScoreStatus($event)" formControlName="status">Cerrar calificación</mat-slide-toggle>
                </div>
            </div>
        </div>

        <mat-dialog-actions align="end">
            <button mat-raised-button type='submit' mat-button color="primary" [disabled]= "!frmFinalScore.valid">Guardar</button>
        </mat-dialog-actions>
    </form>


</div>