.msgScore {
  color: #af0202 !important;
  font-size: 14px;
  mat-hint {
    color: #af0202 !important;
  }
}

.background-nofound{
  height: 300px !important;
  min-height: 300px !important;
  margin-top: 20px !important;
}

::ng-deep  .mat-tooltip{
  font-size: 14px;
}

.error-label{
  font-size: 13px;
}

.error-label + .error-label {
  margin-top: 0px;
}

.fixedheight40{
 height: 40px !important;
}
