<div class="row mt-4 p-4">

  <div class="col-md-12 bg-white">

    <app-show-sites-interest [nodeId]="nodeId" [courseId]="courseId">
    </app-show-sites-interest>
    <div class="clearfix"></div>

  </div>

</div>

