li {
  list-style:none;
  font-size: 14px;
}
li p {
  margin-left: 25px
}

mat-checkbox {
  position: absolute;
}

.underline {
  text-decoration: underline black;
}

ul li ul li {
  list-style-type: square;
}

