<mat-progress-bar
*ngIf="showMsg"
 mode="indeterminate">
</mat-progress-bar>

<mat-dialog-content class="mat-typography">
<div class="row" *ngIf="showQuestions" >
  <div  class="col-md-12">
    <div class="background-nofound">
      <div class="content">
        <mat-icon class="icon">list</mat-icon>
        <span *ngIf="showMsg">Buscando preguntas</span>
        <span *ngIf="!showMsg">No se encontraron preguntas</span>

      </div>
    </div>
  </div>
</div>

<div class="row " *ngIf="!showQuestions"  >
  <div class="container">
    <div *ngIf="questionType > 5">
        <table frame="above">
            <tr>
             <td>Primera</td>
             <td>Fila</td>
            </tr>
            <tr>
             <td>Segunda</td>
             <td>Fila</td>
            </tr>
            </table>
    </div>
        <div>
          <ul *ngFor="let question of questions">
              <li>
                <mat-checkbox [checked]="question.select" [value]="question.id" (change)="sendIdQuestion( question.id)"></mat-checkbox>
                <p>
                  {{question.content}}
                </p>
                <div *ngIf="question.urlImage">
                  <img src="{{ question.urlImage }}" id="imgQuestion">
                </div>
                <ul *ngFor="let answer of question.answers" >
                  <li *ngIf="question.typeQuestions != 5" [ngClass]="{ 'underline': answer.isCorrect && showAnswers }"> {{ answer.description }} <span *ngIf="question.typeQuestions == 3"> - {{ answer.relationDescription }} </span></li>
                  <li *ngIf="question.typeQuestions == 5">
                      <img src="{{ answer.description }}" id="imgAnswers">
                  </li>
                </ul>
              </li>
            </ul>
      </div>

  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!showQuestions">
  <button mat-raised-button type='submit' (click)="returnIds()" mat-button color="primary"><mat-icon> send</mat-icon>Guardar preguntas</button>
</mat-dialog-actions>



