<div class="mdl-wrapper">
    <h4 class="text-center"> Cambiar imagen de perfil </h4>
    <button mat-icon-button
        class="link-float-right"
        (click)="onCloseConfirm()">
        <mat-icon aria-label="Cerrar modal">close</mat-icon>
    </button>
    <hr/>

    <div class="row justify-content-center">
        <form [formGroup]="frmProfileImg" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
                <div class="row">
                <div class="col-md-12 text-center">

                        <img *ngIf="profileImage != null" src='{{profileImage}}' class="img-thumbnail" width="200" height="200">

                        <div class="form-group">
                            <image-upload
                            [max]="1"
                            [extensions]="['jpeg','png']"
                            [maxFileSize]="1000000"
                            [fileTooLargeMessage]="'La imagen era demasiado grande y no se cargó. El tamaño máximo de archivo es de 1mb.'"
                            [buttonCaption]="'SELECCIONA UNA IMAGEN'"
                            [dropBoxMessage]="''"
                            [clearButtonCaption]="'Limpiar'"
                            (removed)="onRemoved($event)"
                            (uploadFinished)="onUploadFinished($event)"
                            (uploadStateChanged)="onUploadStateChanged($event)">
                        </image-upload>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                      <button mat-raised-button
                              [disabled] = "!frmProfileImg.valid"
                              type="submit"
                              color="primary">Guardar</button>
                      </div>
                  </div>
        </form>
    </div>
</div>
