ul li {
  list-style: none;
}

.btn-save {
  float: right;
}

.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.isCorrect {
  color: #039e1dde;
}
