<app-loading [showLoading]="working">
</app-loading>


<div class="mt-3 card">
  <div class="card-title">
    <div class="card-title-spacer">
      Descripción del banco de preguntas
    </div>
    <a href="/assets/docs/template_banco_preguntas.csv" target="_blank" title="Descargar template de carga"
      color="primary">
      <mat-icon>cloud_download</mat-icon>
    </a>
  </div>
  <div class="card-body">
    <form [formGroup]="frmQuestionBank" novalidate autocomplete="off">
      <div class="row">
        <!-- NOMBRE DEL EXAMEN -->
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="materialize-full-width">
              <input matInput placeholder="Nombre" maxlength="250" id="name" formControlName="name" name="name">
            </mat-form-field>
            <div *ngIf="frmQuestionBank.get('name').errors?.required && frmQuestionBank.get('name').touched"
              class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo nombre es requerido
            </div>
          </div>
        </div>

        <div [hidden]="!showTreeStructure" class="col-md-6 cnt-drop-down mt-2">

          <app-dropdown-treeview-select [items]="items" [(value)]="value" (valueChange)="onValueChange($event)">
          </app-dropdown-treeview-select>
          <div *ngIf="frmQuestionBank.get('nodeId').errors?.required && frmQuestionBank.get('nodeId').touched"
            class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El campo nodo es requerido
          </div>
        </div>

        <div [hidden]="showTreeStructure" class="col-md-6">
          <span class="label-detail">Asignado a:</span> {{ selectedItemPath }}
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="materialize-full-width">
              <textarea #description matInput rows="3" placeholder="Descripción" maxlength="500"
                formControlName="description" name="description">
              </textarea>
              <mat-hint align="end">{{description.value?.length || 0}}/500</mat-hint>
            </mat-form-field>
            <div
              *ngIf="frmQuestionBank.get('description').errors?.required && frmQuestionBank.get('description').touched"
              class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo descripción es requerido
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-2">
          <button mat-raised-button mat-button color="primary" type="button" (click)="inputFile.click()">Seleccione un archivo</button>
          {{ fileName }}
          <input #inputFile type="file" [style.display]="'none'" (change)="onChangeFile( inputFile.value )" ng2FileSelect
            [uploader]="uploader" id="file" name="file" [ngClass]="{'disabled': !frmQuestionBank.valid }"
            [disabled]="!frmQuestionBank.valid">
          <hr>
          <div>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>

        </div>

      </div>

    </form>

    <hr>
    <div class="row" *ngIf="arrayQuestions.length">
      <div class="col-md-12">
        <button (click)="onSaveBank()" class="btn-save float-right" mat-raised-button mat-button
          color="primary">Guardar</button>
      </div>
      <hr>
      <div class="col-md-12">
        <h6>
          Seleccione las preguntas del banco cargado
        </h6>
      </div>
    </div>

    <ul class="list-unstyled list-questions">
      <li *ngFor="let item of arrayQuestions; let i = index">
        <mat-checkbox [checked]="item.selected" [(ngModel)]="item.selected">
          <span>{{ i + 1 }}._ {{ item.content }}</span><br />
          <span class="badge badge-primary"> {{ item.questionType }} </span>
        </mat-checkbox>

        <ul>
          <li class="list-answers" *ngFor="let answer of item.answers">
            <div *ngIf="item.questionTypeId != 3">
              <span [ngClass]="{isCorrect: answer.isCorrect}"> {{ answer.description }} </span>
            </div>
            <div *ngIf="item.questionTypeId == 3">
              <span> {{ answer.description }} --> ( {{ answer.relationDescription }} )</span>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
