<app-loading [showLoading]="_courseNavService.working"> </app-loading>
<h3 class="d-block d-sm-none"> Mis cursos </h3>

<div class="container-fluid p-0">
  <div class="bg-white mt-2 row card-list-item">
    <div class="col-md-12 col-sm-12 btn-inscripcion" >
      <button
              mat-raised-button
              id="btn-exam-save"
              type="button"
              (click)=" onClickSave( $event )"
              class="mr-2 mt-2"
              color="primary">
              <mat-icon aria-label="Generar">offline_bolt</mat-icon>
             Inscribirme a un nuevo grupo
      </button>
    </div>
  </div>
  <div class="card-list"
      *ngIf="_courseNavService?.courses.length > 0; else sinDatos">
    <div
      class="bg-white mt-2 row card-list-item"
      *ngFor="let course of _courseNavService?.courses">
      <div class="col-md-8 col-sm-12">
        <h4>
           <a [routerLink]="['/course/content' ,course.id, course.nodeId]" ><i class="fas fa-book-open"></i>
             {{ course.name }} </a> <small> {{ course.description }} </small>
        </h4>
      </div>

      <div class="col-md-4 col-sm-12 ">
        <ul class="list-inline list-unstyled text-right">
          <li>
            <span class="label-circle" [ngClass]="{ 'label-primary text-white': course.monday }">L</span>
          </li>
          <li>
            <span class="label-circle" [ngClass]="{ 'label-primary text-white': course.tuesday }">M</span>
          </li>
          <li>
            <span class="label-circle" [ngClass]="{ 'label-primary text-white': course.wednesday }">M</span>
          </li>
          <li>
            <span class="label-circle" [ngClass]="{ 'label-primary text-white': course.thursday }">J</span>
          </li>
          <li>
            <span class="label-circle" [ngClass]="{ 'label-primary text-white': course.friday }">V</span>
          </li>
          <li>
            <span class="label-circle" [ngClass]="{ 'label-primary text-white': course.saturday }">S</span>
          </li>
          <li>
            <span class="label-circle" [ngClass]="{ 'label-primary text-white': course.sunday }">D</span>
          </li>
        </ul>
      </div>
      <hr />
      <div class="col-md-12 col-sm-12">
        <ul class="list-courses list-unstyled">
          <li>
            <span class="label-small-inline">
              <b> <i class="far fa-calendar"></i> Fecha Inicio:</b>
              {{ course.startDate | date }}
            </span>
            <span class="label-small-inline">
              <b> <i class="far fa-calendar"></i> Fecha Fin:</b>
              {{ course.endDate | date }}
            </span>
          </li>
          <li>
            <span class="label-small-inline">
              <b><i class="fas fa-school"></i> Institución:</b> {{ course.institution }}
            </span>
          </li>
          <li>
            <span class="label-small-inline">
              <b><i class="far fa-id-card"></i> Profesor:</b> {{ course.teacherFullName }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #sinDatos>
  <div class="card-body">
    <div class="background-nofound">
      <div class="content">
        <mat-icon class="icon">school</mat-icon>
        <span>No hay contenido asignado a la sección</span>
      </div>
    </div>
  </div>
</ng-template>
