<div class="mdl-wrapper">
  <h4 class="text-center"> Selección de preguntas </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm()">
          <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
<hr/>
<app-exam-select-questions
  [bankQuestions]="bankQuestionsId"
  [quantityQuestions]="quantity"
  [typeQuestion]= "typeQuestion"
  [viewAnswers]="showAnswers"
  [idsSelects]="selectIds"
  (ReturnIds)="getIds( $event)">

</app-exam-select-questions>

</div>
