<app-loading [showLoading]="working">
</app-loading>
<mat-dialog-content>
  <form [formGroup]="frmContent" novalidate autocomplete="off">
    <div class="row">
      <div class="form-group col-md-12">
          <mat-form-field class="materialize-full-width">
              <mat-select placeholder="Tipo de recurso" name="typeFile" formControlName="typeFile">
                <mat-option *ngFor="let recourse of recourseType" [value]="recourse.id">
                  {{ recourse.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="frmContent.get('typeFile').errors?.required && frmContent.get('typeFile').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> El campo de tipo de archivo es requerido
              </div>
      </div>
      <!-- Name -->
      <div class="form-group col-md-12">
        <mat-form-field class="materialize-full-width">
          <input  matInput
                  placeholder="Nombre"
                  maxlength="350"
                  id="resourceName"
                  name="resourceName"
                  formControlName="resourceName"
                  aria-describedby="emailHelp">
        </mat-form-field>
        <div *ngIf="frmContent.get('resourceName').errors?.required && frmContent.get('resourceName').touched" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El campo de nombre es requerido
          </div>
      </div>
      <!-- Description -->
      <div class="form-group col-md-12">
        <mat-form-field class="materialize-full-width">
          <textarea  matInput
                  placeholder="Descripción"
                  maxlength="350"
                  id="resourceDescription"
                  name="resourceDescription"
                  formControlName="resourceDescription"
                  aria-describedby="emailHelp"></textarea>
        </mat-form-field>
        <div *ngIf="frmContent.get('resourceDescription').errors?.required && frmContent.get('resourceDescription').touched" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El campo de descripción es requerido
          </div>
      </div>
      <div class="form-group col-md-12">
          <button mat-raised-button mat-button color="primary" (click)="inputFile.click()">Seleccione un archivo</button>
          <small *ngIf="fileName?.length > 0" class="small-block-text" >
            <mat-icon>attachment</mat-icon>
            {{ fileName }}
          </small>
          <input
            #inputFile
            type="file"
            [style.display]="'none'"
            (change)="onChangeFile( inputFile.value )"
            ng2FileSelect
            [uploader]="uploader"
            id="file"
            name="file"
            formControlName="file">
        <div class="mt-2">
          <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>

      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- (click)="uploader.uploadAll()" -->
    <button mat-raised-button type='submit' (click)="onSaveResoruce()" [disabled] = "!frmContent.valid || uploader.isUploading" mat-button color="primary">Guardar</button>
    <!-- <button mat-raised-button type='submit' (click)="uploader.cancelAll()"  [disabled]="!uploader.isUploading" mat-button color="warn">Cancelar</button> -->
  </mat-dialog-actions>
