.row {
  margin-right: 0px;
  margin-left: 0px;
}


// Editar control de texto
:host /deep/ angular-editor#myEditor .angular-editor-button[title="Insert Image"],
:host /deep/ angular-editor#myEditor .angular-editor-button[title="Clear Formatting"],
:host /deep/ angular-editor#myEditor .angular-editor-button[title="HTML Code"]
{
  display: none
}
