<app-loading [showLoading]="working">
</app-loading>

  <form [formGroup]="frmThread" novalidate autocomplete="off">
    <div class="form-group col-md-12">
      <mat-form-field class="materialize-full-width">
        <input  matInput
                placeholder="Título"
                maxlength="350"
                id="title"
                name="title"
                formControlName="title"
                aria-describedby="emailHelp">
      </mat-form-field>
      <div *ngIf="frmThread.get('title').errors?.required && frmThread.get('title').touched" class="text-danger error-label">
          <i class="fa fa-exclamation-circle"></i> Campo requerido
        </div>
    </div>
    <!-- APPLICATiON DATE -->
    <div class="form-group row">
      <div class=" col-md-6">
        <mat-form-field class="materialize-full-width">
          <input matInput [matDatepicker]="initDate" placeholder="Fecha de inicio" maxlength="10" name="initDate"
            id="initDate" formControlName="initDate" type="text">
          <mat-datepicker-toggle matSuffix [for]="initDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #initDate></mat-datepicker>
        </mat-form-field>
        <div *ngIf="frmThread.get('initDate').errors?.required && frmThread.get('initDate').touched" class="text-danger error-label">
          <i class="fa fa-exclamation-circle"></i> Campo requerido
        </div>
      </div>
      <!-- APPLICATiON DATE -->
      <div class="col-md-6">
        <mat-form-field class="materialize-full-width">
          <input matInput [matDatepicker]="endDate" placeholder="Fecha de término" maxlength="10" name="endDate"
            id="endDate" formControlName="endDate" type="text">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #endDate></mat-datepicker>
        </mat-form-field>
        <div *ngIf="frmThread.get('endDate').errors?.required && frmThread.get('endDate').touched" class="text-danger error-label">
          <i class="fa fa-exclamation-circle"></i> Campo requerido
        </div>
      </div>
    </div>

    <div class="form-group col-md-12" joyrideStep="firstStep1" title="Crear sala" text="Es necesario asignarlo a un curso.">
      <mat-form-field class="materialize-full-width">
        <mat-select placeholder="Cursos"
                    name="courseId"
                    formControlName="courseId"
                    (selectionChange)="onChangeSection( $event )">
          <mat-option *ngFor="let item of courses" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="frmThread.get('courseId').errors?.required && frmThread.get('courseId').touched" class="text-danger error-label">
        <i class="fa fa-exclamation-circle"></i> Campo requerido
      </div>
    </div>
    <div class="form-group col-md-12"  joyrideStep="firstStep2" title="Crear sala" text="Es necesario asignarlo a un grupo.">
      <mat-form-field class="materialize-full-width">
        <mat-select placeholder="Grupos" name="groups" formControlName="groups" multiple>
          <mat-option *ngFor="let item of groups" [value]="item.id">
            {{ item.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <angular-editor  formControlName="description" [config]="config"  id = "myEditor"></angular-editor>
  </form>

<mat-dialog-actions align="end">
  <button mat-raised-button type='submit' [disabled]="!frmThread.valid" (click)="onSaveThread()" mat-button color="primary">Guardar</button>
</mat-dialog-actions>

