.mdl-wrapper {

  h3 {
    font-size: 14px;
  }

  h4 {
    small {
      display: block;
      font-size: 12px;
      font-style: italic;
      padding-top: 5px;
    }
  }

  .detail,
  .detal-tree-wrapper{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    height: 520px;
  }
}

.mat-dialog-content{
  overflow: hidden;
  max-height: 510px !important;
}
