<app-loading [showLoading]="working">
</app-loading>

<div class="mdl-wrapper">
  <h4 class="text-center"> Datos del curso </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm()">
  <mat-icon aria-label="Cerrar modal">close</mat-icon>
</button>
<hr/>
  <mat-dialog-content>
    <form [formGroup]="frmCourse" novalidate autocomplete="off">
      <div class="row">
         <!-- Bloque -->


          <div *ngIf="!edit" class="cnt-drop-down col-md-12 mb-3">
              <small>Seleccionar estructura </small>
              <app-dropdown-treeview-select
                [items]="items"
                (valueChange)="onValueChange($event)">
              </app-dropdown-treeview-select>

          </div>

          <div *ngIf="edit" class="col-md-12 mb-3">
              <span class="label-detail">Asignado a:</span> <small> {{ path }} </small>
          </div>
          <!-- Ricardo - Agregado - Inicio -->
          <div *ngIf="!edit" class="cnt-drop-down col-md-12 mb-3">
            <small>Seleccionar un grado</small>
            <app-dropdown-treeview-select
            [items]="gradeitems"
              (valueChange)="onValueChangeGrade($event)">
            </app-dropdown-treeview-select>

          </div>
          <!-- Ricardo - Agregado - Fin -->
        <!-- Name -->
        <div class="col-md-6">
          <mat-form-field class="materialize-full-width">
            <input  matInput
                    placeholder="Nombre del curso"
                    maxlength="500"
                    id="name"
                    name="name"
                    formControlName="name"
                    aria-describedby="emailHelp">
          </mat-form-field>
          <div *ngIf="frmCourse.get('name').errors?.required && frmCourse.get('name').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo de nombre es requerido
            </div>
        </div>
         <!-- Matter -->
         <div class="col-md-6">
            <mat-form-field class="materialize-full-width">
              <input  matInput
                      placeholder="Materia relacionada"
                      maxlength="350"
                      id="subject"
                      name="subject"
                      formControlName="subject"
                      aria-describedby="emailHelp">
            </mat-form-field>
            <div *ngIf="frmCourse.get('subject').errors?.required && frmCourse.get('subject').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> El campo de materia es requerido
            </div>
        </div>

        <div class="col-md-12">
            <mat-form-field class="materialize-full-width">
                <input  matInput
                placeholder="Institución"
                maxlength="350"
                id="institution"
                name="institution"
                formControlName="institution">
            </mat-form-field>
            <div *ngIf="frmCourse.get('subject').errors?.required && frmCourse.get('subject').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> El campo de institución es requerido
            </div>
        </div>

        <!-- Description -->
        <div class="col-md-6">
          <mat-form-field class="materialize-full-width">
            <textarea  matInput
                    placeholder="Descripción"
                    maxlength="800"
                    id="description"
                    name="description"
                    formControlName="description"
                    aria-describedby="emailHelp"></textarea>
          </mat-form-field>
          <div *ngIf="frmCourse.get('description').errors?.required && frmCourse.get('description').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo de descripción es requerido
            </div>
        </div>
        <!-- objetive -->
        <div class="col-md-6">
          <mat-form-field class="materialize-full-width">
            <textarea matInput
                    placeholder="Objetivo"
                    maxlength="800"
                    id="gol"
                    name="gol"
                    formControlName="gol"
                    aria-describedby="emailHelp"></textarea>
          </mat-form-field>
          <div *ngIf="frmCourse.get('gol').errors?.required && frmCourse.get('gol').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo de objetivo es requerido
            </div>
        </div>

        <!--  starDta && endDate -->
        <div class="col-md-6">
          <mat-form-field class="materialize-full-width">
            <input  matInput
                    [min]="minDate"
                    [max]="maxDate"
                    [matDatepicker]="startDate"
                    placeholder="Inicia"
                    name="startDate"
                    id="startDate"
                    (dateChange)="onChangeInit()"
                    formControlName="startDate"><!-- Ricardo - Cambio-->
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #startDate></mat-datepicker>
          </mat-form-field>
          <div *ngIf="frmCourse.get('startDate').errors?.required && frmCourse.get('startDate').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo de materia es requerido
          </div>
        </div>

        <div class="col-md-6">
            <mat-form-field class="materialize-full-width">
              <input  matInput
                      [min]="minDate"
                      [max]="maxDate"
                      [matDatepicker]="endDate"
                      placeholder="Termina"
                      name="endDate"
                      id="endDate"
                      (dateChange)="onChangeInit()"  
                      formControlName="endDate"><!-- Ricardo - Cambio-->
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #endDate></mat-datepicker>
            </mat-form-field>
            <!-- <div *ngIf="frmCourse.get('endDate').errors?.required && frmCourse.get('endDate').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> El campo de materia es requerido
            </div> -->
        </div>

        <!-- days -->
        <div class="col-md-3">
            <mat-checkbox
                name="monday"
                id="monday"
                formControlName="monday">Lunes</mat-checkbox>
        </div>

        <div class="col-md-3">
            <mat-checkbox
            name="tuesday"
            id="tuesday"
            formControlName="tuesday">Martes</mat-checkbox>
        </div>

        <div class="col-md-3">
            <mat-checkbox
            name="wednesday"
            id="wednesday"
            formControlName="wednesday">Miércoles</mat-checkbox>
        </div>

        <div class="col-md-3">
            <mat-checkbox
            name="thursday"
            id="thursday"
            formControlName="thursday">Jueves</mat-checkbox>
        </div>

        <div class="col-md-3">
          <mat-checkbox
          name="friday"
          id="friday"
          formControlName="friday">Viernes</mat-checkbox>
        </div>

        <div class="col-md-3">
          <mat-checkbox
          name="saturday"
          id="saturday"
          formControlName="saturday">Sábado</mat-checkbox>
        </div>

        <div class="col-md-3">
          <mat-checkbox
          name="sunday"
          id="sunday"
          formControlName="sunday">Domingo</mat-checkbox>
        </div>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button mat-raised-button type='submit'
      (click)="onSubmit()"
      [disabled] = "!frmCourse.valid"
      mat-button color="primary">Guardar</button>
    </mat-dialog-actions>
</div>
