<section id="contact" class="site-contact container mb-5 pt-5">
	<article class="row">
		<div class="col-md-12 mb-3">
			<!-- <h2>Ponte en contacto con nosotros</h2> -->
			<!-- <p>Ingresa tu número de folio, correo electrónico. nombre de tu escuela e ingresa tus comentarios.
				En breve un asesor se pondrá en contacto contigo.</p>
				<p>En caso de que requieras más información, contáctanos:</p> -->
				<!-- <div class="cnt-info">
					<p><i class="fas fa-phone"></i> Tel.: (55) 1102 1300 Ext.: 482</p>
				</div> -->

				<!-- <div class="cnt-info">
					<a href="mailto:vacosta@larousse.com.mx"><i class="far fa-envelope"></i> vacosta@larousse.com.mx</a>
				</div>
				<div class="clearfix"></div> -->



			<form [formGroup]="frmContact" (ngSubmit)="onSubmit()" novalidate autocomplete="off">

				<div class="frm-line-controls">
					<div class="form-group">
						<label>Nombre</label>
						<input type="text" class="form-control" name="fullName" formControlName="fullName">
					</div>
					<div *ngIf="frmContact.get('fullName').errors?.required && frmContact.get('fullName').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> El campo de nombre es requerido
					</div>

				</div>

				<div class="frm-line-controls">

					<div class="form-group">
						<label>Correo electrónico</label>
						<input type="email" class="form-control" name="email" formControlName="email">
					</div>

					<div *ngIf="frmContact.get('email').errors?.required && frmContact.get('email').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> El correo electrónico es obligatorio
					</div>
					<div *ngIf="frmContact.get('email').errors?.pattern && frmContact.get('email').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> Formato del correo electrónico es incorrecto (no se permiten
						mayúsculas)
					</div>

				</div>


				<div class="frm-line-controls">

					<div class="form-group">
						<label> Clave del centro de trabajo
						</label>
						<input type="text" class="form-control" name='workplace' maxlength="30" formControlName="workplace">
					</div>
					<div *ngIf="frmContact.get('workplace').errors?.required && frmContact.get('workplace').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> El campo de Clave del centro de trabajo es requerido
					</div>
				</div>


				<div class="frm-line-controls">
					<div class="form-group">
						<label> Escuela
						</label>
						<input type="text" class="form-control" name='school' maxlength="300" formControlName="school">
					</div>
					<div *ngIf="frmContact.get('school').errors?.required && frmContact.get('school').touched"
						class="text-danger error-label">
						<i class="fa fa-exclamation-circle"></i> El campo de escuela es requerido
					</div>
				</div>

				<div class="frm-line-controls">
					<div class="form-group">
						<label>Mensaje</label>
						<textarea type="text" class="form-control" name="message" formControlName="message"></textarea>
					</div>
					<div *ngIf="frmContact.get('message').errors?.required && frmContact.get('message').touched"
						class="text-danger error-label mb-3">
						<i class="fa fa-exclamation-circle"></i> El campo de mensaje es requerido
					</div>
				</div>

				<button type="submit" [ngClass]="{'disabled': !frmContact.valid }" [disabled]="!frmContact.valid"
					class="btn btn-lg btn-primary">Enviar</button>
			</form>
		</div>

		<!-- <div class="col-md-6 mb-3">
			<img src="assets/img/home/pics/contacto.jpg" class="img-fluid">
		</div> -->
	</article><!-- End of Row -->
</section><!-- End of Site Contact-->
