
<div class="card">
    <div class="card-title">
      <div class="card-title-spacer">
        Exámenes registrados: {{ timerComponent.examSchedules?.length }}
      </div>
      <button mat-icon-button type="button"
        color="primary"
        (click)="onClickAddNew()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="card-body">
        <app-exam-schedules [group]="data"
                            showButton = "false">
                            </app-exam-schedules>
    </div>
  </div>
