<header class="site-header-home shadow">
	<section class="container">

		<nav id="main-navigation" class="navbar navbar-expand-lg ml-auto">
			<a  [routerLink]="['/inicio']" class="text-hide brand-larousse mr-3">Larousse Conocer te cambia la vida</a>
			<a  [routerLink]="['/inicio']" class="text-hide brand-patria">Patria educación</a>
			<!-- End of Brands -->

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span>Menú</span>
			</button>

			<div id="main-nav" class="main-nav collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">

					<li class="nav-item"><a [routerLink]="['/inicio']" routerLinkActive="active" class="nav-link">Inicio</a></li>
					<li *ngIf="_headerSrv?.news.length > 0" class="nav-item"><a [routerLink]="['/home/list-news']"  routerLinkActive="active"class="nav-link">Noticias</a></li>
					<li *ngIf="_headerSrv?.tips.length > 0" class="nav-item"><a [routerLink]="['/home/list-tips']"  routerLinkActive="active" class="nav-link">Tips</a></li>
					<li class="nav-item"><a (click)="onClickNav('#model','/inicio/model')" routerLinkActive="active" class="nav-link cursor">Modelo</a></li>
					<li *ngIf="_headerSrv?.generalEvents.length > 0" class="nav-item"><a [routerLink]="['/home/list-events']"  class="nav-link">Eventos</a></li>
          <li class="nav-item"><a (click)="onClickNav('#contact','/inicio/contact')" routerLinkActive="active" class="nav-link cursor">Contacto</a></li>
          <li class="nav-item"><a (click)="onClickNav('#digital','/inicio/digital')" routerLinkActive="active" class="nav-link cursor">Catálogo en línea</a></li>
					<li class="nav-item"><a [routerLink]="['/login']" class="cursor-pointer nav-link">Iniciar sesión</a></li>
					<li class="nav-item"><a [routerLink]="['/home/registry']" routerLinkActive="active" class="nav-link">Regístrate</a></li>

				</ul>
			</div><!-- End of collapse -->
		</nav><!-- End of Main Navigation -->
	</section><!-- End of Container -->
</header><!-- End of Site Header -->


