.cnt-text span {
  width: 265px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

a {
  cursor: pointer;
}

.msgScore {
  color: #af0202 !important;
  font-size: 14px;
  mat-hint {
    color: #af0202 !important;
  }
}
