@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(https://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


.referred-code {
  margin-left: auto;
  cursor: pointer;

  &:hover {
    color: #1675A5;
  }
  
}