<app-loading [showLoading]="working">
</app-loading>

  <!-- Fin de opciones -->
  <aside id="site-nav">
    <nav id="pg-nav" class="pr-0">

      <div class="area"></div>



      <nav class="main-menu">
        <!-- Logos -->
        <div id="pg-brand" class="pl-3 pr-3 mb-2">

          <span class="logo-larousse text-hide">Larousse Conocer te cambia la vida</span>
          <span class="logo-patria text-hide">Editorial Patria</span>
        </div>

        <div id="pg-usr" class="mb-2">

          <!-- Menú de usuario -->
          <div class="col-md-12 d-flex align-items-center">
            <span class="comment-avatar cursor">
              <img itemprop="image" [src]="profileImage" class="avatar" [alt]=" _srvStorage.name">
            </span>
            <span id="usr-name" class="ml-2 font-weight-bold text-body">
              {{ _srvStorage.name }}
            </span>
            <button mat-icon-button [matMenuTriggerFor]="shared" class="referred-code">
              <mat-icon>share</mat-icon>  
            </button>
          </div>
          <!-- Fin del Dropdown -->

          <nav class="usr-nav position-absolute rounded shadow-lg pt-3 pb-3">
            <a class="dropdown-item" [routerLink]="['/resource/messages']">Mensajes</a>
            <a class="dropdown-item" [routerLink]="['/user/profile']">Perfil</a>
          </nav>


          <mat-menu #shared='matMenu'>
            <button mat-menu-item  (click)="sharedReferredCode('mail')">
              <mat-icon>forward_to_inbox</mat-icon>
              <span>Correo</span>
            </button>
            <button mat-menu-item (click)="sharedReferredCode('whatsapp')">
              <mat-icon svgIcon="whatsapp"></mat-icon>
              <span>Whatsapp</span>
            </button>
          </mat-menu>

        </div>


        <div id="nav-ctrl" class="container-fluid">
          <div class="row">
            <div class="nav-ctrl-title col-md-3 col-sm-6 col-xs-6">
              <span>Menú</span>
            </div>

            <div class="nav-ctrl-controls col-md-9 col-sm-6 col-xs-6 text-right pr-0">
              <a (click)="onCloseMenu()" class="btn-colapsar cursor">
                <small><span>Ocultar menú</span></small>
                <i class="icon icon-colapsar"></i>
              </a>
            </div>
          </div>
        </div>

        <ul>
          <li *ngFor="let item of menu; let i = index" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <a  *ngIf="!item.url" >
              <i [class]="item.icon"></i>
              <span class="nav-text">
                {{ item.title }}
              </span>
            </a>
            <a  *ngIf="item.url"
                [routerLink]="[item.url]"
                routerLinkActive="active" joyrideStep="{{'firstSteps' + i }}" title="Menú principal" text="En este módulo puedes consultar las guías del profesor, videos, audios y material imprimible.">
              <i [class]="item.icon" ></i>
              <span class="nav-text">
                {{ item.title }}
              </span>
            </a>
            <ul *ngIf="item.children?.length" class="submenu">
              <li *ngFor="let child of item.children" routerLinkActive="active">
                  <a  [routerLink]="[child.url]">
                      <!-- <i class="fas fa-genderless"></i> -->
                      <i class="fas fa-arrow-right"></i>
                    <span class="nav-text">
                      {{ child.title}}
                    </span>
                  </a>
              </li>
            </ul>

          </li>
        </ul>
        <div class="mt-1">
            <a class="logo-hachette text-hide ml-3">Hachette Livre México</a>
          </div>
      </nav>

    </nav><!-- Fin del nav principal -->


  </aside>
