<app-loading [showLoading]="working"></app-loading>
<!-- Contenido del Sitio -->
<section class="container-fluid">
  <!-- Contenido de la página -->
  <div class="row"  >
    <!-- Dashboard -->
    <section class="card border-0" *ngIf="showPdf" >
      <section class="col-md-12">      
        <p class="p-2"> 
          Servicios de capacitación diseñados para atender las necesidades particulares de educación y formación en los colegios usuarios o posibles usuarios de materiales de GEP y cumplir con los requerimientos, en materia de capacitación y desarrollo de capital humano. Proporcionales de la más alta calidad, utilizando métodos de asesoría y capacitación que garanticen resultados y satisfagan las necesidades.
        </p>
      </section><!-- Fin del Row -->
    </section><!-- Fin del Dashboard -->
    <hr>
    <section class="pt-3 card col-lg-12 col-md-12" >
        <div *ngIf="pageurl != undefined" id="contents" class=" resp-container" style="padding: 0px" >
            <iframe class="iframe" [src]="pageurl"  type="application/pdf"></iframe>
          </div>
    </section>   

  </div><!-- Fin del Contenido -->
</section><!-- Fin del contenido del sitio -->
