.col-lg-content {
  width: 94%;
  margin: 1%
}

.iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  border: 0;
  margin-bottom: 15px;
}

.active{
  background-color: #bb6b4b;
  color: black;
}

span {
  margin: 15px;
  margin-top: 0px;
  text-align: justify;
}
