
<app-loading [showLoading]="working">
  </app-loading>


<div class="card">
  <div class="card-title">
    <div class="card-title-spacer">
        Listado de alumnos: {{ students?.length }}
    </div>
  </div>
  <div class="card-body">
      <!-- Aqui va el componente -->
      <app-exam-ratings
          [students]= "students"
          [examId]="examScheduleId"
          [examScheduleType] = "examScheduleTypeId"
          [typeExamId]="typeExam"
          [examName] = "description"
          [addScore]= "addScore">
      </app-exam-ratings>
  </div>
</div>
