<app-loading [showLoading]="_courseNavService?.working">
</app-loading>

<div  class="row mt-2 p-4 bg-white">
  <!-- ENCABEZADO -->
  <div class="col-md-12">
      <h4>Actividades del curso: {{ activitySchedules.length }}</h4>
  </div>



  <div class="col-md-12 mt-4" style="overflow-x:auto;">
    <div *ngIf="activitySchedules.length > 0">
      <table class="table table-striped animated fadeIn shadow">
        <thead>
          <tr class="bg-blue text-white text-center">
            <th class="hidden-column text-center"> Parcial </th>
            <th class="hidden-column text-center"> Nombre </th>
            <th class="hidden-column text-center"> Descripción</th>
            <th class="hidden-column text-center"> Periodo </th>
            <th class="hidden-column text-center"> Calificación</th>
            <th class="hidden-column text-center"> Comentarios </th>
            <th class="hidden-column text-center"> Estatus </th>
            <th class="hidden-column text-center"> Acciones </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activitySchedules">
            <td class="hidden-column text-center" width="5%">
                <p> {{ activity.schedulingPartialDescription }}</p>
            </td>
            <td class="hidden-column text-center" width="10%">
                <p>{{ activity.name }}</p>
            </td>
            <td class="hidden-column text-center" width="20%">
                <p>{{ activity.description }}</p>
            </td>
            <td class="hidden-column text-center" width="20%">
                <p>{{ activity.scheduledDate | date }} - {{ activity.openingDate | date }} </p>
            </td>
            <td class="hidden-column text-center" width="10%">
                <span *ngIf="activity.score">  {{ activity.score }} </span>
                <span *ngIf="!activity.score && !activity.delivered">  Sin calificación </span>
                <span *ngIf="!activity.score && activity.delivered">  Aceptada </span>

            </td>
            <td class="hidden-column text-center" width="10%">
                <span *ngIf="activity.comment">  {{ activity.comment }} </span>
                <span *ngIf="!activity.comment">  Sin comentario </span>
            </td>
            <td class="hidden-column text-center" width="5%">
                <div *ngIf="activity.qualified || activity.delivered">
                    Calificada
                  </div>
                  <div *ngIf="!activity.qualified && activity.totalAnswers == 0">
                    Sin Responder
                  </div>
                  <div *ngIf="!activity.qualified && !activity.delivered && activity.totalAnswers > 0">
                    Respondida
                  </div>
            </td>
            <td class="hidden-column text-center" width="20%">
                <button mat-icon-button
                matTooltip="Cargar actividad"
                (click)="onShowUploadFile( activity )">
                <mat-icon>cloud_upload</mat-icon>
              </button>

              <button mat-icon-button
                      matTooltip="Ver material de apoyo"
                      (click)="onShowFilesTask( activity )">
                      <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="activitySchedules.length == 0">
      <div class="col-md-12">
        <div class="background-nofound">
          <div class="content">
            <mat-icon class="icon">school</mat-icon>
            <span>No contiene actividades programadas</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div *ngIf="course == null">
  <div  class="col-md-12">
    <div class="background-nofound">
      <div class="content">
        <mat-icon class="icon">school</mat-icon>
        <span> No se encontraron detalles del curso seleccionado </span>
      </div>
    </div>
  </div>
</div> -->

