<app-loading
  [showLoading]="working">
</app-loading>

<!-- Contenido //////////////////////////////////////////////////////////////////////////// -->



    <div class="mt-3 row">

      <!-- COLUMNA DE TIPO DE ARCHIVOS -->
      <div class="col-md-3">
          <div class="card">
              <div class="card-title">
                <div class="card-title-spacer">
                    Estructura de contenidos
                </div>
                <button
                        mat-icon-button type="button"
                        color="primary"
                        (click)="onClickNewResource();" joyrideStep="firstStep" title="Contenedor de documentos" text="Presiona aquí para almacenar cualquier archivo.">
                  <mat-icon>cloud_upload</mat-icon>
                </button>
              </div>

              <div class="card-body">

                  <mat-list>

                      <mat-list-item *ngFor="let folder of recourseType">
                        <div style=" cursor: pointer; display: contents;" id="content-list" (click)="changeFolder( folder.id )">
                          <mat-icon mat-list-icon *ngIf="active == folder.id">folder_open</mat-icon>
                          <mat-icon mat-list-icon *ngIf="active != folder.id">folder</mat-icon>
                          <h4 mat-line>{{folder.description}}</h4>
                        </div>
                        <mat-divider></mat-divider>
                      </mat-list-item>

                    </mat-list>
              </div>
          </div>
      </div>

      <!-- COLUMNA DE ARCHIVOS -->
      <div class="col-md-9">

          <div class="card">
              <div class="card-title">
                <div class="card-title-spacer">
                    Listado de archivos: {{ contents?.length }}
                </div>

              </div>

              <div class="card-body">

                  <div *ngIf="visible">
                      <div id="cnt-exam-list"
                          class="col-md-12 mt-2">



                          <table class="table-list table table-hover table-sm">
                            <tbody>
                              <tr *ngFor="let content of contents">
                                <td>
                                  <span class="label">{{ content.name |  truncate: 60 : true }}
                                    <small>Nombre</small>
                                </span>
                                </td>
                                <td>
                                  <span class="label">{{ content.registerDate | date}}
                                    <small>Fecha de registro </small>
                                </span>
                                </td>
                                <td>
                                  <span matTooltip="{{ content.description }}"
                                        class="label">{{ content.description |  truncate: 40 : true }}</span>
                                  <small>Descripción</small>
                                </td>
                                <td class="text-right">
                                  <a mat-icon-button
                                     href="{{ content.contentUrl }}"
                                     target="_blank"
                                     rel="noopener noreferrer"
                                     matTooltip="Descargar contenido">
                                     <mat-icon>get_app</mat-icon>
                                    </a>

                                  <button mat-icon-button
                                    (click)='onDeleteContent( content.id )'
                                    matTooltip="Eliminar contenido"
                                    color="warn">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>



                      </div>
                    </div>
                    <!--  -->
                    <div *ngIf="!visible">
                        <div  class="col-md-12">
                          <div class="background-nofound">
                            <div class="content">
                              <mat-icon class="icon">cloud_off</mat-icon>
                              <span>No existe contenido para este apartado</span>
                            </div>
                          </div>
                        </div>
                      </div>

              </div>

          </div>




      </div>
    </div>



