<div class="background-nofound text-white">
  <div class="content">
      <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
      <span>Sin acceso al recurso
        <small> No tienes permisos para acceder al recurso, favor de contactar al administrador </small>
      </span>
  </div>
</div>
