<app-loading
[showLoading]="workingProgess">
</app-loading>

  <div class="mdl-wrapper">
    <h4 class="text-center"> Envío de Pdf </h4>
    <button mat-icon-button
            class="link-float-right mat-icon-button"
            (click)="onCloseConfirm()">
     <mat-icon aria-label="Cerrar modal" class="mat-icon material-icons mat-icon-no-color" 
     role="img" aria-hidden="true">close</mat-icon>
   </button>
   <hr/>

    <form  novalidate [formGroup]="user"  (ngSubmit)="onSubmit()">
      <mat-dialog-content class="mat-dialog-content">
        <!-- turno -->
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Ingresa turno"
            aria-label="Ingresa turno"
            formControlName="turno">
        </mat-form-field>
          <div *ngIf="user.get('turno').hasError('required') && user.get('turno').touched" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El turno es requerido
          </div>

          <!-- Ciclo escolar -->
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Ingresa ciclo escolar"
            aria-label="Ingresa ciclo escolar"
            formControlName="cicloEscolar">
        </mat-form-field>
        <div *ngIf="user.get('cicloEscolar').hasError('required') && user.get('cicloEscolar').touched" class="text-danger error-label">
          <i class="fa fa-exclamation-circle"></i> El Ciclo escolar es requerido
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button type='submit'
        [disabled]="user.invalid"
        mat-button color="primary">
        <mat-icon mat-list-icon >send</mat-icon>Enviar por correo</button>
      </mat-dialog-actions>
    </form>

  </div>


