<app-loading [showLoading]="working">
  </app-loading>

  <div class="" *ngIf=" !delivered &&  !qualified">
    <form [formGroup]="frmFile" novalidate autocomplete="off">
      <div class="col-md-12">
        <div class="form-group">
          <mat-form-field class="materialize-full-width">
            <textarea matInput
                      id="description"
                      name="description"
                      placeholder="Comentarios"
                      formControlName="description"
                      [(ngModel)]="comment"
                      (keyup)="onChangeDes()"></textarea>
          </mat-form-field>
          <p class="msgScore">
            <mat-hint align="end"><span *ngIf="msg">El comentario es obligatorio para cargar el archivo</span></mat-hint>
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12">
            <button mat-raised-button mat-button color="primary"
            (click)="inputFile.click()">Seleccione un archivo</button> {{ fileName }}
            <input
              #inputFile
              type="file"
              [style.display]="'none'"
              (change)="onChangeFile( inputFile.value )"
              ng2FileSelect
              [uploader]="uploader"
              id="file"
              name="file"
              formControlName="file"

            > <!-- accept="application/zip" -->
          <hr>
          <div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>
        <hr>
        </div>
        <div class="col-md-12 text-right">
          <div class="form-group">
            <button mat-raised-button type='submit'
              mat-button color="primary"
              [disabled]="!frmFile.valid"
              (click)="onSaveResoruce()">
              <mat-icon aria-label="Guardar calificaciones">save</mat-icon>
              Cargar archivo
            </button>
          </div>
          <hr>
        </div>
      </div>

    </form>
  </div>

  <div class="" *ngIf="homeworkFiles.length > 0">
      <h5 class="text-center"> Archivos de actividades entregadas  </h5>
      <hr>
      <div id="cnt-exam-list" class="col-md-12 mt-2">
          <table class="table-list table table-hover table-sm">
            <tbody>
              <tr *ngFor="let file of homeworkFiles">
                <td>
                  <span matTooltip="{{ file.comment }}" class="label">{{ file.comment | truncate : 60 : true }}
                    <small>Comentario</small>
                  </span>
                </td>
                <td>
                  <span  class="label">{{ file.registerDate | date }}
                    <small>Fecha de captura </small>
                  </span>
                </td>
                <td class="text-right">
                  <a  href="{{ file.url }}"
                      target="_blank"
                      rel="noopener noreferrer"
                      matTooltip="Descargar contenido"><mat-icon>get_app</mat-icon></a>

                  <a  *ngIf="!delivered && !qualified" (click)='onDeleteContent( file.id )'
                      matTooltip="Eliminar contenido"><mat-icon>delete_sweep</mat-icon></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
