
<div class="cnt-player-audio">
  <div class="content-thumbnail" >
    <div class="thumbnail">
      <mat-icon>volume_up</mat-icon>
    </div>
  </div>
  <div class="controls">
    <button mat-fab
            class="ml-2 text-white"
            yPosition="above"
            (click)="onPlay();">
      <mat-icon>{{ iconPlay }}</mat-icon>
    </button>
    <div class="detail">
      <span class="audioName">{{ audioName }}</span>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" [style.width]="progressBar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <span class="time-progress"> {{ audioDuration }}</span>
      <span class="time-duration">{{ currentTime }}</span>
    </div>
  </div>
</div>

