/*******************************************************************************************************(
/* CSS
/*******************************************************************************************************/

$color-green: #66cc99;

.book-detail img {
  width: 100%;
}

.background-nofound {
  color: #ccc;
  width: 100%;
  min-height: 350px;
  height: 100%;
  ;
}

.background-nofound .content {
  margin: auto;
  margin-top: 80px;
}

.background-nofound .content .icon {
  font-size: 120px;
  margin: auto;
  height: 100px;
  width: 100px;
  display: block;
  text-align: center;
}

.background-nofound .content span {
  font-size: 30px;
  text-align: center;
  display: block;
  padding: 20px 40px;
}

/* ITEMS SOUND */
.box-wrapper {
  padding: 10px;
}

.box-sound {
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
  width: 100%;
}

.active-sound:after {
  content: '';
  height: 50px;
  background-color: #CD0068;
  border-radius: 5px;
  width: 4px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.detail {
  padding-top: 5px;
  width: 80%;
  float: left;
}

.detail span {
  display: block;
  font-size: 12px;
  color: #000;
  font-weight: bold;
}

.content-thumbnail {
  width: 10%;
  float: left;
}

.content-thumbnail .thumbnail {
  border-radius: 5px;
  border: 1px solid #CCC;
  height: 60px;
  width: 60px;
  margin: auto;
  text-align: center;
}

.content-thumbnail .thumbnail mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 60px;
}

/* SOUND PLAYER  */
.cnt-player-audio {
  height: 120px;
  width: 100%;
  border: 1px solid #DEDCDE;
  border-radius: 5px;
  padding: 15px;

  .content-thumbnail {
    width: 10%;
    float: left;

    .thumbnail {
      border-radius: 5px;
      border: 1px solid #CCC;
      height: 85px;
      width: 85px;
      margin: auto;
      text-align: center;

      mat-icon {
        font-size: 60px;
        width: 65px;
        height: 65px;
        line-height: 80px;
      }
    }
  }
button span {
      padding: 13px;
    }
  .controls {
    width: 90%;
    float: left;
    margin-left: 110px;
    margin-top: -85px;


    .audioName{
      margin-bottom: 5px;
      font-size: 10px;
    }

    button {
      margin-top: 10px;
      margin-left: 20px;
      float: left;
      width: 50px;
      height: 50px;
    }



    .detail{
      width: 90%;
      padding: 10px;
    }
    .progress-bar, .progress{
      height: 10px;
      width: 95%;
    }
    .bg-green {
      background-color: $color-green !important;
    }
    .time-progress {
      margin-top: 10px;
      float: left;
    }
    .time-duration{
      margin-top: 10px;
      float: right;
      margin-right: 30px;
    }

  }


}

