<app-loading [showLoading]="working">
</app-loading>

  <div class="row">

    <div *ngIf="showForm"  id="cnt-frm-exam" class="col-md-12 mt-3">
      <form [formGroup]="frmSite"  novalidate autocomplete="off"  #formExamSchedule="ngForm">
        <div class="form-group">
          <mat-form-field class="materialize-full-width">
            <input  matInput
                    placeholder="Titulo"
                    maxlength="350"
                    id="title"
                    name="title"
                    formControlName="title"
                    aria-describedby="emailHelp">
          </mat-form-field>
          <div *ngIf="frmSite.get('title').errors?.required && frmSite.get('title').touched" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> El campo es requerido
          </div>
        </div>
        <div class="form-group">
            <mat-form-field class="materialize-full-width">
              <textarea   matInput #descriptionClass
                          placeholder="Descripción"
                          maxlength="350"
                          id="description"
                          name="description"
                          rows="2"
                          formControlName="description">
              </textarea>
            </mat-form-field>
            <div *ngIf="frmSite.get('description').errors?.required && frmSite.get('description').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo es requerido
            </div>
          </div>
          <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <input  matInput
                        placeholder="URL"
                        maxlength="350"
                        id="uri"
                        name="uri"
                        formControlName="uri"
                        aria-describedby="emailHelp">
              </mat-form-field>
              <div *ngIf="frmSite.get('uri').errors?.required && frmSite.get('uri').touched" class="text-danger error-label">
                  <i class="fa fa-exclamation-circle"></i> El campo es requerido
                </div>
                <div *ngIf="frmSite.get('uri').errors?.validUrl == '' && frmSite.get('uri').value != ''" class="text-danger error-label">
                  <i class="fa fa-exclamation-circle"></i> Formato incorrecto, la dirección debe inicar con "http://" o "https://".
                </div>
            </div>
        <hr>
        <div class="form-group text-right">
          <button mat-raised-button
                  (click)="onClickSave()"
                  [disabled]="!frmSite.valid"
                  class="mr-2"
                  color="primary">
              <mat-icon aria-label="Guardar programación de tarea">save</mat-icon>
              Guardar
          </button>
          <button id="btn-exam-cancel"
                  type="button"
                  (click)="onClickCancel()"
                  mat-raised-button
                  color="warn">
                  <mat-icon aria-label="Cancelar programación de tarea">clear</mat-icon>
                Cancelar
          </button>
        </div>
      </form>
    </div>

    <!-- Aviso de validacion -->
    <div  class="col-md-12 mt-2" *ngIf='sites.length == 0 && !showForm'>
      <div class="background-nofound">
          <div class="content">
              <mat-icon class="icon">calendar_today</mat-icon>
              <span>Sin sitios de interés</span>
          </div>
        </div>
    </div>

      <!-- Listado de tarea programadas en un grupo -->
    <div id="cnt-exam-list"
          *ngIf="!showForm && sites?.length > 0"
        class="col-md-12 mt-2">

        <table class="table-list table table-sm">
            <tbody>
              <tr *ngFor="let site of sites">
                <td class="hidden-column">
                    <span class="label" matTooltip="{{ site.title }}">{{ site.title | truncate: 40 : true  }}
                        <small>Título</small>
                    </span>
                </td>
                <td class="hidden-column">
                    <span class="label" matTooltip="{{ site.description }}">{{ site.description | truncate: 40 : true }}
                        <small>Descripción</small>
                    </span>
                </td>
                <td class="hidden-column">
                    <span class="label">
                        <a [href]=" site.uri " target="_blank"> <i class="fa fa-file"></i> Visitar sitio </a>
                        <small>URL</small>
                    </span>
                </td>
                <td  class="text-right hidden-column" >
                    <button mat-icon-button
                      matTooltip="Editar datos"
                      (click)="onClickEdit( site )">
                      <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button
                            matTooltip="Eliminar"
                            color="warn"
                            (click)="onClickDelete( site.id )">
                            <mat-icon>delete</mat-icon>
                    </button>
                </td>
                <td class="responsive-column">
                    <span class="label" matTooltip="{{ site.title }}">{{ site.title | truncate: 40 : true  }}
                        <small>Título</small>
                    </span>
                    <span class="label" matTooltip="{{ site.description }}">{{ site.description | truncate: 40 : true }}
                        <small>Descripción</small>
                    </span>
                    <span class="label mb-2">
                        <a [href]=" site.uri " target="_blank"> <i class="fa fa-file"></i> Visitar sitio </a>
                    </span>
                    <div class="float-right">
                      <button mat-icon-button
                        matTooltip="Editar datos"
                        (click)="onClickEdit( site )">
                        <mat-icon>edit</mat-icon>
                      </button>

                      <button mat-icon-button
                              matTooltip="Eliminar"
                              color="warn"
                              (click)="onClickDelete( site.id )">
                              <mat-icon>delete</mat-icon>
                      </button>
                    </div>

                </td>
              </tr>
            </tbody>
          </table>



          <div class="col-md-12">
            <nav aria-label="Paginación de libros">
              <ul class="pagination justify-content-center">
                <li [ngClass]="{ 'disabled' : pager.currentPage === 1 }"  class="page-item ">
                  <a (click)="setPage(pager.currentPage - 1)" class="page-link">Anterior</a>
                </li>
                <li *ngFor="let page of pager.pages"
                    [ngClass]="{active:pager.currentPage === page}"
                    class="page-item">
                  <a (click)="setPage(page)" class="page-link">{{ page }}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"  class="page-item ">
                  <a class="page-link" (click)="setPage(pager.currentPage + 1)">Siguiente</a>
                </li>
              </ul>
            </nav>
          </div>
    </div>

  </div>
  <div class="clearfix"></div>


