<app-loading [showLoading]="working">
</app-loading>

<div>

  <div class="row text-right">
    <div class="col-md-12" *ngIf="addScore">
        <mat-slide-toggle
            name="ExamScheduleStatus"
            [disabled]="readOnly"
            [(ngModel)]="examScheduleStatus"
            (ngModelChange)="onChangeExamScheduleStatus($event)">
              Marcar como calificado
      </mat-slide-toggle>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="overflow-x:auto;">
      <table   class="table table-bordered table-hover animated fadeIn">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th> Nombre </th>
            <th *ngIf="!homeworkTypeScore"> Cumplió</th>
            <th *ngIf="!homeworkTypeScore"> Permitir responder</th>
            <th *ngIf="homeworkTypeScore"> Calificación </th>
            <th> Comentario </th>
            <th> Archivos </th>
           </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of studentsHomework, let i = index" >
              <td width="5%" class="text-center">
                {{ i + 1 }}
              </td>
              <td width="30%">
                {{ item.fullName }}
              </td>
              <td *ngIf="!item.typeScore">
                <div class="form-group ctrl-check-top">
                  <mat-checkbox [(ngModel)]="item.delivered" (change)=" item.addNewAnswers = ( item.delivered ) ? false : false"  >
                    Cumplió</mat-checkbox>
                </div>
              </td>
              <!-- Nueva respues -->
              <td *ngIf="!item.typeScore">
                <div class="form-group ctrl-check-top">
                  <mat-checkbox [disabled]="item.delivered"  [(ngModel)]="item.addNewAnswers">
                    Permitir responder</mat-checkbox>
                </div>
              </td>

              <!--  INPUT ACIERTO -->
              <td width="15%"  class="text-center" *ngIf="item.typeScore">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field style="width: 100%">
                        <input type="text"
                        matInput
                        autocomplete="false"
                        matTooltip="Calificación de la tarea, no puede ser mayor a 100"
                        class="text-center"
                        placeholder="Calificación"
                        [(ngModel)] = "item.score"
                        [readonly]="examScheduleStatus"
                        (keyup)="item.score = ( item.score > 100) ? 0 : item.score">
                    </mat-form-field>
                  </div>
                </div>
              </td>
              <!--  INPUT CALIFICACIÓN -->
              <td width="30%"  >
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field style="width: 100%">
                        <input type="text"
                        matInput
                        autocomplete="false"
                        matTooltip="Comentario del profesor"
                        class="text-center"
                        placeholder="Comentario"
                        [(ngModel)] = "item.comment"
                        [readonly]="examScheduleStatus">
                    </mat-form-field>
                  </div>
                </div>
              </td>
              <td width="20%">
                <button *ngIf="item.files && item.files.length > 0" mat-raised-button type='submit'
                  [disabled]="!item.statusFiles || examScheduleStatus"
                  (click)="onClickShowFiles( item.files)"
                  mat-button color="primary">
                  <mat-icon aria-label="Ver archivos">visibility</mat-icon>
                  Ver archivos
                </button>
              </td>
              <ng-template #columnEmpty>
                <td width="0%">
                  &nbsp;
                </td>
              </ng-template>
            </tr>
           </tbody>
          </table>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 text-right">
        <button mat-raised-button type='submit'
            [disabled]="examScheduleStatus"
            (click)="sendData()"
            mat-button color="primary">
          <mat-icon aria-label="Guardar calificaciones">save</mat-icon>
          Guardar calificaciones
        </button>

    </div>
  </div>
</div>


