<app-loading [showLoading]="working">
</app-loading>



<section class="mt-3">
  <!-- FILTROS -->
  <mat-card>
    <mat-card-content>
      <mat-card-subtitle>Filtros de búsqueda </mat-card-subtitle>
      <div class="row">
        <!-- CONTENT CONTROLS -->
        <div class="col-sm-10 col-lg-6 mb-2">
          <mat-form-field class="materialize-full-width">
            <input matInput placeholder="Buscar por nombre" class="white-control" (keyup)="onKeyUp( $event )"
              [(ngModel)]="textSearch">
            <mat-icon class="cursor-pointer" matSuffix>find_in_page</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-sm-10 col-lg-6 mb-2">
          <mat-form-field class="materialize-full-width">
            <mat-select (selectionChange)="onChangeTypeFilter()" [(ngModel)]="typeFilter">
              <mat-option value="0">Todos los tipos de examen</mat-option>
              <mat-option value="1">En línea</mat-option>
              <mat-option value="2">Impreso</mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <br />

  <!-- TABLA -->
  <mat-card *ngIf="teacherExams?.length  > 0">
    <!-- TITLE -->
    <mat-card-content>

      <mat-card-subtitle>
        Exámenes registrados: <b>{{ pagination.total }}</b>
      </mat-card-subtitle>

      <!-- Tabla -->
      <div class="col-12 mt-3">

        <table class="table table-striped animated fadeIn shadow">
          <thead>
            <tr class="bg-blue text-white text-center">
              <th class="hidden-column text-center"> No. </th>
              <th class="hidden-column text-center"> Nombre </th>
              <th class="hidden-column text-center"> Preguntas </th>
              <th class="hidden-column text-center"> Tipo </th>
              <th class="hidden-column text-center"> Ponderación </th>
              <th class="hidden-column text-center"> Estatus </th>
              <th class="hidden-column" width="20px">&nbsp;</th>
              <th class="responsive-column text-center"> Detalles </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exam of teacherExams">
              <td class="hidden-column text-center"> {{ exam.index }} </td>
              <td class="hidden-column"> {{ exam.description }} </td>
              <td class="hidden-column text-center"> {{ exam.totalQuestions }} </td>
              <td class="hidden-column text-center"> {{ exam.teacherExamType.description }} </td>
              <td class="hidden-column text-center"> {{ exam.weighting.description }} </td>
              <td class="hidden-column text-center"> {{ exam.active | activoBoolean }} </td>
              <td class="hidden-column text-right">
                <button class="lnk-btn-table" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
                  <button mat-menu-item (click)="onClickWeighting(exam)">
                    <mat-icon>edit</mat-icon>
                    <span>Ponderar preguntas</span>
                  </button>
                  <button mat-menu-item (click)="onClickEdit( exam )">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="onClickDelete( exam )">
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                  </button>
                  <button mat-menu-item (click)="onClickDelete( exam )">
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                  </button>
                  <button mat-menu-item [matMenuTriggerFor]="optionsPdf">
                    <mat-icon>description</mat-icon>
                    <span>Descargar PDF</span>
                  </button>
                </mat-menu>
                <mat-menu #optionsPdf="matMenu">
                  <button mat-menu-item (click)="onClickPDF( exam, true )">Con respuestas</button>
                  <button mat-menu-item (click)="onClickPDF( exam, false )">Sin respuestas</button>
                </mat-menu>
              </td>

              <td class="responsive-column">
                <span class="label">
                  {{ exam.description }}
                  <small>Nombre</small>
                </span>

                <span class="label">
                  {{exam.totalQuestions }}
                  <small>Preguntas</small>
                </span>

                <span class="label">
                  {{ exam.teacherExamType.description  }}
                  <small>Tipo</small>
                </span>

                <span class="label">
                  {{  exam.active | activoBoolean   }}
                  <small>Estatus</small>
                </span>

                <button class="lnk-btn-table" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
                  <button mat-menu-item (click)="onClickWeighting(exam)">
                    <mat-icon>tune</mat-icon>
                    <span>Ponderar preguntas</span>
                  </button>
                  <button mat-menu-item (click)="onShowPreview( exam )">
                    <mat-icon>visibility</mat-icon>
                    <span>Vista previa</span>
                  </button>
                  <button mat-menu-item (click)="onClickEdit( exam )">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="onClickDelete( exam )">
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                  </button>
                  <button mat-menu-item [matMenuTriggerFor]="optionsPdf">
                    <mat-icon>description</mat-icon>
                    <span>Descargar PDF</span>
                  </button>
                </mat-menu>
                <mat-menu #optionsPdf="matMenu">
                  <button mat-menu-item (click)="onClickPDF( exam, true )">Con respuestas</button>
                  <button mat-menu-item (click)="onClickPDF( exam, false )">Sin respuestas</button>
                </mat-menu>
              </td>

            </tr>
          </tbody>
        </table>

        <app-pagination [pagination]="pagination" (changePage)="setPage( $event )">
        </app-pagination>


      </div>
      <!-- Fin de la tabla -->

    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="teacherExams?.length  === 0">
    <mat-card-content>
      <div class="col-12 mt-3">

        <div class="background-nofound">
          <div class="content">
            <mat-icon class="icon">sentiment_satisfied</mat-icon>
            <span>No tienes exámenes registrados.
              <small> Para poder visualizar datos es necesario crear un nuevo examen </small>
            </span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</section>

<!-- Floating button -->
<div class="btn-float" joyrideStep="firstStep" title="Generardor de exámenes" text="Presiona este botón para generar un examen.">
  <button mat-fab (click)="onClickAdd()" class="ml-2 text-white">
    <mat-icon>add</mat-icon>
  </button>
</div>
