<div class="mdl-wrapper">
    <h4 class="text-center"> Archivos de apoyo  </h4>
    <button mat-icon-button
            class="link-float-right"
            (click)="onCloseConfirm( false )">
            <mat-icon aria-label="Cerrar modal">close</mat-icon>
    </button>
  <hr/>

  <!-- Aqui va el componente -->
  <div class="container">
   <app-studen-get-file-activity
   [activity]="activity"
   >

    </app-studen-get-file-activity>
  </div>
  </div>
