<app-loading [showLoading]="working">
  </app-loading>


  <div class="mt-3 card">
    <div class="card-title">
      <div class="card-title-spacer">
          Descripción del banco de preguntas
      </div>

      <button id="btn-bank-edit"
              mat-icon-button
              type="button"
              (click)="onClickEditBank();"
              *ngIf="questionBank.id > 0"
              color="primary"
              matTooltip="Editar pregunta">
        <mat-icon aria-label="Agregar pregunta">edit</mat-icon>
      </button>

    </div>
    <div class="card-body">

      <form [formGroup]="frmQuestionBank" (ngSubmit)="onSubmitBank()" novalidate autocomplete="off">
        <div class="row">
          <!-- NOMBRE DEL EXAMEN -->
          <div class="col-md-6"  joyrideStep="firstStep1" title="Generador de evaluaciones del Plan Lector" text="Nombra tu banco de reactivos.">
            <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <input matInput
                       placeholder="Nombre"
                       maxlength="250"
                       id="name"
                       formControlName="name"
                       name="name">
              </mat-form-field>
              <div *ngIf="frmQuestionBank.get('name').errors?.required && frmQuestionBank.get('name').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> El campo nombre es requerido
              </div>
            </div>
          </div>

          <div [hidden]="!showTreeStructure" class="col-md-6 cnt-drop-down" joyrideStep="firstStep2" title="Generador de evaluaciones del Plan Lector" text="Seleccione la obra literaria que desea evaluar." >

            <app-dropdown-treeview-select
                [items]="items"
                [(value)]="value"
                (valueChange)="onValueChange($event)">
            </app-dropdown-treeview-select>
            <div *ngIf="frmQuestionBank.get('nodeId').errors?.required && frmQuestionBank.get('nodeId').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo nodo es requerido
            </div>
          </div>

          <div [hidden]="showTreeStructure" class="col-md-6">
           <span class="label-detail">Asignado a:</span> {{ selectedItemPath }}
          </div>

          <div class="col-md-6" joyrideStep="firstStep3" title="Generador de evaluaciones del Plan Lector" text="Coloca una breve descripción sobre tu banco de reactivos y guarda.">
            <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <textarea #description matInput
                       rows="3"
                       placeholder="Descripción"
                       maxlength="500"
                       formControlName="description"
                       name="description">
                </textarea>
                <mat-hint align="end">{{description.value?.length || 0}}/500</mat-hint>
              </mat-form-field>
              <div *ngIf="frmQuestionBank.get('description').errors?.required && frmQuestionBank.get('description').touched" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> El campo descripción es requerido
              </div>
            </div>
          </div>
        </div>
        <!-- BOTONES -->
        <div class="row">
          <div class="col-md-12 text-right">
            <button
                id="btn-bank-save"
                *ngIf="editMode"
                mat-raised-button
                class="mr-2"
                [disabled]="!frmQuestionBank.valid"
                color="primary">
                <mat-icon aria-label="Guardar">save</mat-icon>Guardar
            </button>
            <button
                id="btn-bank-cancel"
                *ngIf="editMode"
                (click) ="onClicBankCancel()"
                type="button"
                mat-raised-button
                color="warn">
                <mat-icon aria-label="Cancelar">clear</mat-icon>
                Cancelar
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="mt-3 card">
    <div class="card-title">
      <div class="card-title-spacer">
        Total de preguntas: {{ questionBank.questions?.length }}
      </div>
      <button id="btn-add-question"
              mat-icon-button
              (click)="onClickAddQuestion();"
              *ngIf="questionBank.id > 0 && !showForm"
              color="primary"
              matTooltip="Agregar pregunta"  joyrideStep="addQuestion" title="Generador de evaluaciones del Plan Lector" text="Para agregar las preguntas haz clic en este ícono.">
        <mat-icon aria-label="Agregar pregunta">add</mat-icon>
      </button>
    </div>
    <div class="card-body">

        <!-- FORMULARIO DE CAPTURA DE PREGUNTA -->
        <div [ngClass]="{'animated fadeIn': showForm }" *ngIf="showForm"  id="cnt-form-questions">

          <!-- CONTROLES PREGUNTAS -->
                <div class="row">

                  <div class="col-md-5 pl-0">
                      <form [formGroup] ="frmQuestions" class="" (ngSubmit)="onSubmit()" novalidate autocomplete="off" #formQuestion="ngForm">
                      <div class="form-group ">
                          <div class="col-md-12">

                              <div class="col-md-12">
                                  <div class="form-group">
                                    <mat-form-field
                                      class="materialize-full-width">
                                      <mat-select
                                          name="questionTypeId"
                                          formControlName="questionTypeId"
                                          placeholder="Tipo de pregunta"
                                          (selectionChange)="onChangeQuestionType( $event )">
                                        <mat-option *ngFor="let type of questionTypes" [value]="type.id">
                                            {{ type.name }}
                                      </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                            </div>

                            <!-- PREGUNTA -->
                            <div class="col-md-12">
                              <div class="form-group">
                                <mat-form-field class="materialize-full-width">
                                  <textarea matInput #question
                                            id="question"
                                            maxlength="600"
                                            formControlName="question"
                                            name="question"
                                            placeholder="Pregunta"></textarea>
                                            <mat-hint align="end">{{question.value?.length || 0}}/600</mat-hint>
                                </mat-form-field>
                              </div>
                            </div>

                            <!-- EXPLICACIÓN -->
                            <div class="col-md-12">
                              <div class="form-group">
                                <mat-form-field class="materialize-full-width">
                                  <textarea matInput #explanation
                                            id="explanation"
                                            formControlName="explanation"
                                            name="explanation"
                                            placeholder="Explicación de la respuesta"></textarea>
                                      <mat-hint align="end">{{explanation.value?.length || 0}}/600</mat-hint>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-12 pl-0">

                              <div class="col-md-12">

                                  <image-upload
                                          #imageUpload
                                          [max]="1"
                                          class="customClass"
                                          [extensions]="['jpeg','png']"
                                          [maxFileSize]="1000000"
                                          [fileTooLargeMessage]="'La imagen era demasiado grande y no se cargó. El tamaño máximo de archivo es de 1mb.'"
                                          [buttonCaption]="'Seleccione una imagen'"
                                          [dropBoxMessage]="''"
                                          [clearButtonCaption]="'Limpiar'"
                                          (removed)="onRemoved()"
                                          (uploadFinished)="onUploadFinished($event)"
                                          (uploadStateChanged)="onUploadStateChanged($event)">
                                        </image-upload>

                                        <div *ngIf="fileName?.length > 0">
                                            <span *ngIf="isUpdateFile == true" ><mat-icon>attach_file</mat-icon> {{ fileName }}</span>
                                            <div *ngIf="selectedQuestion?.id > 0  && isUpdateFile == false" class="cnt-question-answer mt-2" >
                                              <small>Imagen relacionada a la pregunta</small>
                                                <mat-icon>attach_file</mat-icon>
                                                <img [src] ="selectedQuestion.urlImage" width="150px" alt="imagen de pregunta" />
                                            </div>
                                        </div>
                              </div>

                              <div class="col-md-12 text-right mt-5">
                                <button *ngIf="showAddAnswerButton"
                                        type="button"
                                        mat-raised-button
                                        class="mr-2 col-md-12 mt-2"
                                        color="primary"
                                        (click)="addAnswers()">
                                        <mat-icon aria-label="Agregar respuesta">list</mat-icon>
                                        Agregar respuesta
                                </button>
                                <button mat-raised-button
                                  [disabled]="!frmQuestions.valid"
                                  class="mr-2 col-md-12 mt-2"
                                  color="primary">
                                  <mat-icon aria-label="Guardar pregunta">save</mat-icon>
                                  Guardar
                                </button>
                                <button
                                    id="btn-question-cancel"
                                    type="button"
                                    class="col-md-12 mt-2"
                                    (click)="onClickCancelQuestion()"
                                    mat-raised-button
                                    color="warn">
                                    <mat-icon aria-label="Guardar pregunta">clear</mat-icon>
                                    Cancelar
                                </button>
                              </div>

                          </div>
                        </div>
                      </form>
                  </div>

                  <div class="col-md-7">
                    <!-- LISTADO DE RESPUESTAS -->
                    <div *ngIf="answers?.length > 0">
                        <h6>Listado de respuestas</h6>
                        <hr />

                        <div class="item-answer" *ngIf="frmQuestions.controls['questionTypeId'].value == 1">
                          <div class="row cnt-answers animated fadeIn" *ngFor="let answer of answers" >

                            <div class="col-md-10">
                              <div class="form-group">
                                <mat-form-field class="materialize-full-width">
                                    <textarea matInput
                                        placeholder="Descripción"
                                        maxlength="250"
                                        id="content"
                                        name="content"
                                        [(ngModel)]="answer.description">
                                    </textarea>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group ctrl-check-top">
                                <mat-checkbox [(ngModel)]="answer.isCorrect">
                                  Correcta</mat-checkbox>
                              </div>
                            </div>
                            <button style="position:absolute; right: -20px; top: 5%"
                                    mat-mini-fab
                                    color="warn"
                                    (click)="remove(answer.index)"
                                    matTooltip="Eliminar respuesta">
                              <mat-icon aria-label="Eliminar respuesta">clear</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div class="item-answer" *ngIf="frmQuestions.controls['questionTypeId'].value == 3">
                          <div class="row cnt-answers animated fadeIn" *ngFor="let answer of answers" >

                            <div class="col-md-12">
                              <div class="form-group">
                                <mat-form-field class="materialize-full-width">
                                    <textarea matInput
                                        placeholder="Descripción"
                                        maxlength="250"
                                        id="content"
                                        name="content"
                                        [(ngModel)]="answer.description">
                                    </textarea>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <mat-form-field class="materialize-full-width">
                                  <textarea matInput
                                        placeholder="Relación"
                                        maxlength="250"
                                        id="relationDescription"
                                        name="relationDescription"
                                        [(ngModel)]="answer.relationDescription">
                                </textarea>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group ctrl-check-top">
                                <mat-checkbox [(ngModel)]="answer.isCorrect" *ngIf="frmQuestions.controls['questionTypeId'].value != 3">
                                  Correcta</mat-checkbox>
                              </div>
                            </div>
                            <button style="position:absolute; right: -20px; top: 30%"
                                    mat-mini-fab
                                    color="warn"
                                    (click)="remove(answer.index)"
                                    matTooltip="Eliminar respuesta">
                              <mat-icon aria-label="Eliminar respuesta">clear</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div class="item-answer" *ngIf="frmQuestions.controls['questionTypeId'].value == 4">
                          <div class="row cnt-answers animated fadeIn" *ngFor="let answer of answers" >
                            <div class="col-md-10">
                              <div class="form-group">
                                <mat-form-field class="materialize-full-width">
                                  <textarea matInput
                                        placeholder="Descripción"
                                        maxlength="250"
                                        id="content"
                                        name="content"
                                        [(ngModel)]="answer.description">
                                  </textarea>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group ctrl-check-top">
                                <mat-checkbox name="isCorrect" [(ngModel)]="answer.isCorrect">
                                  Correcta</mat-checkbox>
                              </div>
                            </div>

                          </div>
                        </div>


                        <div class="item-answer" *ngIf="frmQuestions.controls['questionTypeId'].value == 5">
                          <div class="row ">
                            <div class="item-answer-image animated fadeIn" *ngFor="let answer of answers" >
                              <div class="content-image">
                                  <a *ngIf="answer.description == undefined " (click)="onClickAddImage(answer)" >
                                      <i class="far fa-images"></i>
                                  </a>
                                  <img *ngIf="answer.description != undefined"
                                      [src]="answer.description"
                                      class="center-block img-responsive" />

                              </div>
                              <div class="content-check">
                                  <mat-checkbox name="isCorrect" [(ngModel)]="answer.isCorrect">
                                      Correcta</mat-checkbox>
                              </div>
                                  <button style="position:absolute; right: -20px; top:0"
                                        mat-mini-fab
                                        color="warn"
                                        (click)="remove(answer.index)"
                                        matTooltip="Eliminar respuesta">
                                  <mat-icon aria-label="Eliminar respuesta">clear</mat-icon>
                                </button>
                                <div class="img-hidden">
                                  <img #imgOriginal *ngIf="answer.description != undefined"
                                  [src]="answer.description"
                                  (load)="onLoadImageAnswer(imgOriginal,answer)" />
                                </div>


                            </div>

                          </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
        </div>

        <div class="row" *ngIf='!questionBank.questions?.length'>
          <div  class="col-md-12">
            <div class="background-nofound">
                <div class="content">
                    <mat-icon class="icon">receipt</mat-icon>
                    <span *ngIf="questionBank.id > 0" >No hay preguntas para mostrar</span>
                    <span *ngIf="questionBank.id == 0">Debes generar un banco de preguntas</span>
                </div>
              </div>
          </div>
        </div>

        <!-- TABLA DE PREGUNTAS REGISTRADAS -->
        <div [hidden]="showForm && questionBank.questions?.length == 0" [ngClass]="{'animated fadeIn': !showForm }" class="row">
            <div class="col-md-12">

              <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <!-- DESCRIPTION COLUMN -->
                  <ng-container matColumnDef="questionType.description">
                      <mat-header-cell *matHeaderCellDef class="text-center"> Tipo pregunta </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Discripción:</span>
                        {{element.questionType.description}}
                      </mat-cell>
                  </ng-container>

              <!-- ACTIVEDESCIPTION COLUMN -->
              <ng-container matColumnDef="content">
                  <mat-header-cell *matHeaderCellDef class="text-center" > Pregunta </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Pregunta:</span>
                    {{element.content}}

                    <button class="lnk-btn-table lnk-menu-table"
                    mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu"
                              xPosition="before"
                              [overlapTrigger]="false">
                              <button mat-menu-item (click)="onClickEditQuestion( element )">
                                  <mat-icon>edit</mat-icon>
                                  <span>Editar</span>
                                </button>
                              <button mat-menu-item (click)="onClickDeleteQuestion( element )">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                              </button>


                    </mat-menu>

                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns" class="text-center"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              </mat-table>

              <mat-paginator #paginator
                          [pageSize]="10"
                          [pageSizeOptions]="[10, 20,25]"
                          [showFirstLastButtons]="true">
              </mat-paginator>

            </div>
        </div>

    </div>
  </div>
