

.cnt-answers{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding:10px 30px;
    margin-bottom:5px;
    position:relative;
  }

  .ctrl-check-top{
    padding-top: 30px;
  }

  .btn-right-position {
    position: absolute !important;
    right: 10px;
    top:15px;
    z-index: 2;
  }


  .label-detail {
    background-color: #3399CC;
    color:#fff;
    margin-right: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    float: left;
    margin-top: 2px;
    font-size: 14px;
  }

  .cnt-question-answer{

    padding: 5px;
    background-color: #efefef;
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;

    small{
      display: block;
      margin-bottom: 10px;
    }
  }

  .item-answer{
    padding-left:30px;
    padding-right:30px;

    .item-answer-image{
      width: 150px;
      height: 200px;
      background-color: #efefef;
      border: 1px solid #ccc;
      padding: 5px;
      position: relative;
      margin-right: 40px;

      .content-image{
        display: block;
        height: 160px;
        overflow: hidden;
        text-align: center;

        a{
          line-height: 150px;
          font-size: 52px !important;
        }

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          margin-top: 40px;
          margin-bottom: 2px;
        }

      }

      .content-check{
        text-align: center;
        display: block;
      }
    }

    .img-hidden {
      position: relative;
      overflow: hidden;
      height: 1px;

      img{
        top: -1000px;
      }
    }
  }

