tr.mat-header-row {
  height: 45px !important;
  background-color: transparent !important;
}


th.mat-header-cell {
  background-color: transparent !important;
  color: rgb(61, 60, 60);
  font-weight: 700;
}


tr.mat-row {
  height: 40px !important;
}


@media (max-width: 600px) {
  tr.mat-header-row {
    display: table-row !important;
  }
}


.btn-cupon {
  width: auto !important;
  margin-right: 30px;
  margin-top: 20px;
}
