<div class="row content-notifications mt-3">
  <table class="table-material w-100" mat-table [dataSource]="dataSourceCoupon" >
 
    <ng-container matColumnDef="dateCreated"> 
      <th mat-header-cell *matHeaderCellDef > Fecha alta </th>
      <!-- <td class="row-table" mat-cell *matCellDef="let element"> {{ element.dateCreated | date:'dd/MMM/y h:mm a' }} </td> -->
      <td class="row-table" mat-cell *matCellDef="let element"> {{ element.dateCreated | date:'dd/MMM/y' }} </td>
    </ng-container>


    <ng-container matColumnDef="mount">
      <th mat-header-cell *matHeaderCellDef > Monto </th>
      <td class="row-table" mat-cell *matCellDef="let element"> ${{element.mount }} </td>
    </ng-container>


    <ng-container matColumnDef="validity">
      <th mat-header-cell *matHeaderCellDef > Vigencia </th>
      <!-- <td class="row-table" mat-cell *matCellDef="let element"> {{ element.validity | date:'dd/MMM/y h:mm a' }} </td> -->
      <td class="row-table" mat-cell *matCellDef="let element"> {{ element.validity | date:'dd/MMM/y' }} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef > Codigo </th>
      <!-- <td class="row-table" mat-cell *matCellDef="let element"> {{ element.validity | date:'dd/MMM/y h:mm a' }} </td> -->
      <td class="row-table" mat-cell *matCellDef="let element"> {{ element.code }} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef > Estatus </th>
      <!-- <td class="row-table" mat-cell *matCellDef="let element"> {{ element.validity | date:'dd/MMM/y h:mm a' }} </td> -->
      <td class="row-table" mat-cell *matCellDef="let element"> {{ element.status }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsCoupon;"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsCoupon;"></tr>
    

</table>

</div>

