<app-loading
  [showLoading]="working">
</app-loading>

<div class="mdl-wrapper">
    <h4 class="text-center"> Recurso de profesor </h4>
    <button mat-icon-button
    class="link-float-right"
    (click)="onCloseConfirm()">
  <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
  <hr/>

  <form [formGroup]="frmResource" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
    <mat-dialog-content class="cnt-oda">
      <div class="row">
        <!-- RESOURCE TYPE -->
        <div class="form-group col-md-12">
                    <mat-form-field style="width: 100%">
                      <mat-select placeholder="Tipo de recuerso"
                                  name="resourceTypeId"

                                  formControlName="resourceTypeId">
                        <mat-option *ngFor="let type of resourceTypes" [value]="type.id" >
                          {{ type.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="frmResource.get('resourceTypeId').errors?.required && frmResource.get('resourceTypeId').touched" class="text-danger error-label">
                      <i class="fa fa-exclamation-circle"></i> El campo es obligatoria
                    </div>
        </div>

        <!-- NAME -->
        <div class="form-group col-md-12">
                    <mat-form-field class="materialize-full-width">
                      <input matInput placeholder="Nombre del recurso"
                            maxlength="250"
                            id="name"
                            name="name"
                            formControlName="name">
                    </mat-form-field>
                    <div *ngIf="frmResource.get('name').errors?.required && frmResource.get('name').touched" class="text-danger error-label">
                      <i class="fa fa-exclamation-circle"></i> El campo es requerido
                    </div>
        </div>

         <!-- Descripción -->
         <div class="form-group col-md-12">
            <mat-form-field class="materialize-full-width">
              <input matInput placeholder="Descripción del recurso"
                    maxlength="250"
                    id="description"
                    name="description"
                    formControlName="description">
            </mat-form-field>
            <div *ngIf="frmResource.get('description').errors?.required && frmResource.get('description').touched" class="text-danger error-label">
              <i class="fa fa-exclamation-circle"></i> El campo es requerido
            </div>
        </div>

        <!-- URL CONTENT VIDEO -->
        <div class="form-group col-md-12">

                  <div>
                      <image-upload
                        [max]="1"
                        class="customClass"
                        [dropBoxMessage]="''"
                        [preview]="true"
                        [maxFileSize]="10000000"
                        [fileTooLargeMessage]="'La imagen era demasiado grande y no se cargó. El tamaño máximo de archivo es de 1mb.'"
                        [buttonCaption]="'Seleccione un archivo'"
                        [clearButtonCaption]="'Limpiar'"
                        (removed)= "onRemoved( $event )"
                        (uploadFinished)=" onUploadFinished( $event )"
                        (uploadStateChanged)=" onUploadStateChanged( $event )">
                      </image-upload>

                    </div>

        </div>

       </div>

     </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button [disabled]="!frmResource.valid" type="submit" color="primary">Guardar</button>
    </mat-dialog-actions>
    </form>
</div>
