<app-loading [showLoading]="working"></app-loading>
<!-- Contenido del Sitio -->
<section id="site-content" class="container-fluid position-relative">
  <!-- Contenido de la página -->
  <div id="pg-content" class="col-lg-content">
    <!-- Dashboard -->
    <section id="pg-dashboard" class="container-fluid pt-3 card border-0" >
      <section class="row">
        <div class="col-md-6" *ngIf="showLevel">
          <mat-form-field class="materialize-full-width">
              <mat-select placeholder="Nivel académico" id='blockId' name='blockId'  [(ngModel)]="levelId" (selectionChange)="onChangeSelect()">
                  <mat-option *ngFor="let block of leves"  [value]="block.id">
                    {{ block.description }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <hr *ngIf="showLevel">
        <div  class="mb-3 col-md-4 col-sm-12" >
          <a [class.disabled]="showTarget" (click)="getContentbyOption(1)">
            <div class="card card-style cursor" [ngClass]="{'card-active': optionId === 1}" >
              <div class="card-body">
                <i class="icon icon-libros icon-target"></i>
                <span class="text-title"> Lo más reciente</span>
              </div>
            </div>
          </a>
        </div>
        <div class="mb-3 col-md-4 col-sm-12" >
          <a [class.disabled]="showTarget" (click)="getContentbyOption(2)">
            <div class="card card-style cursor" [ngClass]="{'card-active': optionId === 2}">
              <div class="card-body">
                <i class="icon icon-libros icon-target"></i>
                <span class="text-title"> Lo más visto</span>
              </div>
            </div>
          </a>
        </div>
        <div class="mb-3 col-md-4 col-sm-12" >
          <a [class.disabled]="showTarget" (click)="getContentbyOption(3)">
            <div class="card card-style cursor" [ngClass]="{'card-active': optionId === 3}">
              <div class="card-body">
                <i class="icon icon-libros icon-target"></i>
                <span class="text-title"> Sugeridos</span>
              </div>
            </div>
          </a>
        </div>
      </section><!-- Fin del Row -->
    </section><!-- Fin del Dashboard -->
    <hr>
    <section id="pg-dashboard" class="container-fluid pt-3 card border-0" *ngIf="showListContent">
      <div *ngIf="contents.length > 0">
        <ul id="list-content-files" class="list-group mb-3">
            <li class="list-group-item" *ngFor="let item of contents">
              <div class="row cursor" (click)="selectShowMultimedia( item )">
                <div class="col-md-1 item-files-icon icon-lg"><mat-icon class="{{ item.fileTypeId | typeFile }}"></mat-icon></div>
                <div class="col-md-10 item-files-text"><span>{{ item.name }}</span></div>
                <div class="col-md-1 item-files-link">
                    <a class="lkn-select-academic">
                      <mat-icon class="icon">
                        {{ item.fileTypeId | fileIconShow }}
                      </mat-icon>
                    </a>
                </div>
              </div>
            </li>
          </ul>
                              <!-- COMPONENTE DE PAGINACION -->
                              <ul class="pagination-control">

                                <li>
                                  <span class="pages">
                                    {{ pagination.getInitRegister() }} - {{ pagination.getEndRegister() }} de
                                    {{ pagination.total }}
                                  </span>
                                </li>
                                <li>
                                  <a [ngClass]="{'disabled': pagination.getPreviousPage() < 1 }"
                                    (click)="onChangePage(1, pagination.getPreviousPage() < 1 )">
                                    <i class="fas fa-angle-double-left"></i>
                                  </a>
                                </li>
                                <li>
                                  <a [ngClass]="{'disabled': pagination.getPreviousPage() < 1 }"
                                    (click)="onChangePage(pagination.getPreviousPage(), pagination.getPreviousPage() < 1 )">
                                    <i class="fas fa-angle-left"></i>
                                  </a>
                                </li>
                                <li>
                                  <span class="label"> {{ pagination.pageNumber }} - {{ pagination.totalPage }} </span>
                                </li>
                                <li> <a [ngClass]="{'disabled': pagination.getNextPage() > pagination.totalPage }"
                                    title="Página {{ pagination.getNextPage() }}"
                                    (click)="onChangePage(pagination.getNextPage(), pagination.getNextPage() > pagination.totalPage )">
                                    <i class="fas fa-angle-right"></i>
                                  </a>
                                </li>
                                <li>
                                  <a [ngClass]="{'disabled': pagination.getNextPage() > pagination.totalPage }"
                                    (click)="onChangePage(pagination.totalPage, pagination.getNextPage() > pagination.totalPage )">
                                    <i class="fas fa-angle-double-right"></i>
                                  </a>
                                </li>

                              </ul>

      </div>
      <div  class="col-md-12" *ngIf=" contents.length == 0">
          <div class="background-nofound">
            <div class="content">
              <mat-icon class="icon">remove_circle</mat-icon>
              <span>Seleccione una opción para ver el contenido disponible.</span>
            </div>
          </div>
        </div>
    </section>
    <section id="pg-dashboard" class="container-fluid pt-3 card border-0" *ngIf="!showListContent">
      <div class="row">
        <div class="col-md-12"  >
          <a class="cursor lnk-content-select" (click)="backList()" style="float: right">
            <i class="far fa-arrow-alt-circle-left"></i>
            Regresar al listado
          </a>
        </div>
        <hr>

        <div class="col-md-12">
          <h4> {{ content.name }} </h4>
          <hr>
          <div class=" mb-3">
              <div *ngIf="showVideo"  class="mb-3">
                <app-viewer-video
                  [video]="content"></app-viewer-video>
              </div>
              <div *ngIf="showAudio" class="mb-3">
                <app-viewer-audio
                  [song]="content" ></app-viewer-audio>
              </div>
              <div *ngIf="showFile" class="mb-3">
                <app-viewer-file
                  [file]="content"></app-viewer-file>
              </div>
            </div>
        </div>
      </div>
    </section>
  </div><!-- Fin del Contenido -->
</section><!-- Fin del contenido del sitio -->
