<mat-toolbar color="primary" class="mat-elevation-z1">
  <button mat-icon-button id="menu" (click)="navService.openNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <app-admin-header></app-admin-header>
</mat-toolbar>
<app-admin-nav></app-admin-nav>
