	<!-- Información -->
	<section class="container mb-5">
		<div class="row text-center">
			<h2 class="col-12 mb-5">Nuestro sistema de gestión de aprendizaje</h2>

			<div class="col-sm-12 col-md-4">
				<img src="assets/img/svg/ico-soluna.svg" width="100" height="100" class="img-fluid mb-3">
				<p>El Sistema de Aprendizaje en Línea está disponible <b>24/7</b></p>
			</div>
			<div class="col-sm-12 col-md-4">
				<img src="assets/img/svg/ico-team.svg" width="100" height="100" class="img-fluid mb-3">
				<p>PCH admite tres tipos de usuario: <b>Alumno, profesor e instructor</b></p>
			</div>
			<div class="col-sm-12 col-md-4">
				<img src="assets/img/svg/ico-media.svg" width="100" height="100" class="img-fluid mb-3">
				<p>Contiene <b>videos, notas, animaciones, presentaciones, hojas de trabajo</b> y mucho más</p>
			</div>

			<div class="col-12">
				<a [routerLink]="['/home/login']" id="lnk-login-2" class="btn btn-primary">Entrar</a>
			</div>

		</div><!-- Fin del ROW -->
	</section>


	<!-- Video -->
	<section class="container-fluid grad-gris">
		<div class="row text-center justify-content-center pleca-blanca">
			<!-- Video -->
			<div class="col-12 mb-3">

          <iframe width="560" height="315" src="https://www.youtube.com/embed/9Y1bG8FAbMo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>

			<div class="col-sm-12 col-md-6 mb-5">
				<p><b>PCH</b> es una herramienta única para aumentar las oportunidades de que los estudiantes desarrollen su máximo potencial, y de que profesores e instructores establezcan con ellos un vínculo tecnológico verdaderamente productivo.</p>
				<a [routerLink]="['/home/login']" id="lnk-login-3" class="btn btn-primary">Entrar</a>
			</div>

		</div><!-- Fin del ROW -->
	</section>
