
<app-loading
[showLoading]="working">
</app-loading>


  <div class="mdl-wrapper">

    <h5 class="text-center"> Vista previa del examen: {{ examName }} </h5>
    <button mat-icon-button
            class="link-float-right"
            (click)="onCloseConfirm()">
    <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
  <hr/>

    <mat-dialog-content class="mat-dialog-content">
        <ul *ngFor="let question of questions">
            <li>
              <p>
                {{question.content}}
              </p>
              <div *ngIf="question.urlImage">
                <img src="{{ question.urlImage }}" id="imgQuestion" [ngClass]="{ 'width-adjust': question.imageWidth > 500, 'height-adjust': question.imageHeight > 500 }">
              </div>
              <ul *ngFor="let answer of question.answers" >
                <li *ngIf="question.questionTypeId != 5" [ngClass]="{ 'underline': answer.isCorrect && showIsCorrect }"> {{ answer.description }} <span *ngIf="question.typeQuestions == 3"> - {{ answer.relationDescription }} </span></li>
                <li *ngIf="question.questionTypeId == 5" [ngClass]="{ 'underline-img': answer.isCorrect && showIsCorrect }">
                    <img src="{{ answer.description }}" id="imgAnswers">
                </li>
              </ul>
            </li>
          </ul>


    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <div class="form-group ctrl-check-top">
        <mat-checkbox (change)="showCorrect($event)" >
          <span *ngIf="showIsCorrect">Ocultar</span> <span *ngIf="!showIsCorrect">Mostar</span> respuestas correctas
        </mat-checkbox>
      </div>
    </mat-dialog-actions>
  </div>
