::ng-deep .mat-radio-outer-circle, ::ng-deep .mat-radio-inner-circle{
    width: 15px !important;
    height: 15px !important;
}
::ng-deep .mat-radio-ripple, ::ng-deep .mat-ripple-element {
    width: 30px !important;
    height: 30px !important;
    top: calc(50% - 17px) !important;
    left: calc(50% - 17px) !important;
}
.tableInput ::ng-deep .mat-form-field-infix {
    width:100px;    
}

.error-label{
    font-size: 13px;
  }
  
.error-label + .error-label {  
    margin-top: 0px;
}