<app-loading [showLoading]="working">
</app-loading>

<h2 mat-dialog-title class="text-center"> Ponderar preguntas: {{ this.teacherExam.description }} </h2>
<div class="row" [formGroup]="frmExamWeighting">
    <div class="col-sm-6 ">
        <div class="" [style.fontSize.px]='13'>
            <div>Clasificación ponderatoria:</div>
            <mat-radio-group name="weighting" formControlName="weighting">
                <mat-radio-button class="mr-2" value="%">Porcentual</mat-radio-button>
                <mat-radio-button class="mr-2" value="pts.">Puntuación</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="">
            <mat-form-field class="materialize-full-width">
                <input matInput matTooltip="" placeholder="Total de preguntas" [value]="questions.length"
                    [readonly]=' true'>
            </mat-form-field>
        </div>
    </div>
    <div class="col-sm-6">
        <div [style.fontSize.px]='13'>
            <div>Asignación de valor a pregunta:</div>
            <mat-radio-group name="optQuestionValue" formControlName="automaticValue" (change)='automaticCalc($event)'>
                <mat-radio-button class="mr-2" value="1">Automática
                </mat-radio-button>
                <mat-radio-button class="mr-2" value="2">Personalizada</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <mat-form-field class="materialize-full-width">
                <input matInput type="text" maxlength="4" placeholder="Calificación máxima"
                    formControlName="maximumExamScore" (change)='automaticCalc($event)' style="text-align: right;">
                <span matSuffix>&nbsp;&nbsp;{{frmExamWeighting.get('weighting').value}}</span>
            </mat-form-field>

            <div class="text-danger error-label" *ngIf="frmExamWeighting.controls['maximumExamScore'].errors?.required">
                <i class="fa fa-exclamation-circle"></i> El campo Calificación máxima es requerido
            </div>
            <div class="text-danger error-label"
                *ngIf="frmExamWeighting.controls['maximumExamScore'].errors?.min || frmExamWeighting.controls['maximumExamScore'].errors?.max">
                <i class="fa fa-exclamation-circle"></i> El campo Calificación máxima debe estar dentro del rango de 1 a
                1,000
            </div>
            <div class="text-danger error-label" *ngIf="frmExamWeighting.controls['maximumExamScore'].errors?.pattern">
                <i class="fa fa-exclamation-circle"></i> Formato invalido
            </div>
        </div>
    </div>
</div>
<div class="text-danger error-label">&nbsp;</div>
<div class="text-danger error-label text-center" *ngIf="frmExamWeighting.errors?.examWeightingErrorSum">
    <i class="fa fa-exclamation-circle"></i> La suma de los valores asignados a las preguntas es diferente a la
    puntución máxima
</div>
<div class="text-danger error-label text-center" *ngIf="frmExamWeighting.errors?.examWeightingErrorValueQuestion">
    <i class="fa fa-exclamation-circle"></i> Es necesario que todas las preguntas tengan un valor mayor a 0
</div>
<hr />

<mat-dialog-content class="mat-typography">
    <table>
        <tbody>
            <tr>
                <th style="width: 10%;">No.</th>
                <th style="width: 70%; text-align: center">Pregunta</th>
                <th style="width: 20%; text-align: center">Valor</th>
            </tr>
            <tr *ngFor="let question of questions">
                <td>{{question.index}}</td>
                <td>{{question.content}}</td>
                <td [style.color]='question.userEdited?"blue":"black"'>
                    <mat-form-field class="tableInput" style="font-size: 16px;">
                        <input matInput [(ngModel)]='question.value' (change)='calcRest(question)' type="text"
                            maxlength="4" [disabled]='frmExamWeighting.get("automaticValue").value=="1"'
                            style='text-align: right;'>
                        <span matSuffix>&nbsp;&nbsp;{{frmExamWeighting.get('weighting').value}}</span>
                    </mat-form-field>
                </td>
            </tr>

        </tbody>
    </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <hr />
    <button mat-raised-button type="button" class="mr-2 mt-2" color="primary" [disabled]='!frmExamWeighting.valid'
        (click)="saveWeighting()">
        <mat-icon aria-label="Generar">save</mat-icon>
        Guardar
    </button>
    <button mat-raised-button class="mt-2" type="button" color="warn" mat-dialog-close>
        <mat-icon aria-label="Cancelar">clear</mat-icon>
        Cancelar
    </button>
</mat-dialog-actions>