<div class="card">
  <div class="card-title">
    <div class="card-title-spacer">
      Sitios registrados:
       {{ timerComponent.sites?.length }}
    </div>
    <button mat-icon-button type="button"
      color="primary"
      (click)="onClickAddNew()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="card-body">
    <!-- Aqui va el componente -->
    <app-interest-sites
    [courseId]='courseId'>

    </app-interest-sites>
  </div>
</div>
