<div class="mdl-wrapper">
  <h4 class="text-center"> Estimado profesor, por favor coloca tu Clave de Centro de Trabajo (CCT) para poder visualizar el contenido.  </h4>

  <hr/>

  <mat-dialog-content>
    <form [formGroup]="frmCct" novalidate autocomplete="off" >
      <!-- Contenido -->
      <div class="row">
        <!-- Parciales -->
        <div class="col-md-12">
          <mat-form-field class="materialize-full-width">
            <input  matInput
                    placeholder="CCT(s)"
                    maxlength="100"
                    id="cct"
                    name="cct"
                    aria-describedby="emailHelp"
                    formControlName="cct">
          </mat-form-field>
          <div *ngIf="frmCct.get('cct').errors?.required && frmCct.get('cct').touched" class="text-danger error-label">
            <i class="fa fa-exclamation-circle"></i> Campo requerido
          </div>
        </div>
      </div>
    </form>
        <mat-hint> En caso de que cuente con más de un CCT , por favor colóquelos separándolos con una coma(,) y sin espacios.</mat-hint>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type='submit'
        (click)="onSaveCct()"
        mat-button color="primary"
        [disabled]="!frmCct.valid">Guardar</button>
  </mat-dialog-actions>
</div>
