.book-detail img {
  width: 100%;
}

.background-nofound {
  color: #ccc;
  width: 100%;
  min-height: 350px;
}

.background-nofound .content {
  margin: auto;
  margin-top: 80px;
}

.background-nofound .content .icon {
  font-size: 120px;
  margin: auto;
  height: 100px;
  width: 100px;
  display: block;
  text-align: center;
}

.background-nofound .content span {
  font-size: 30px;
  text-align: center;
  display: block;
  padding: 20px 40px;
}

.description {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 17px;
}

img {
  float: left;
  width: 140px;
  margin-top: 6px;
}

ul li a {
  height: 150px;
  width: 265px;
}


ul li .active:after {
  height: 90px;
}


#contents {
  max-height: 450px;
  min-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

a.active {
	background-color: #ffffff;
}

/* (1600x900) HD+ Display */
@media  screen and (max-width: 1920px) {
  #contents {
    max-height: 650px;
    min-height: 450px;
  }
}

.row {
  min-height: 400px;
}

iframe {
  border: 0;
}
