<div class="container-fluid">
    <div class="row justify-content-center"  [hidden]='!showVideo'>
        <!-- Componenete video -->
        <div class="viewer-player" class="col-lg-10 col-md-10"  >
            <iframe class="e2e-iframe-trusted-src" width="640" height="390" [src]="videoEmbed | safe: 'resourceUrl' "></iframe>
        </div>
        <!-- Mensaje de videos -->


      </div>
      <div class="row" [hidden]='showVideo'>
        <div  class="col-md-12">
          <div class="background-nofound">
            <div class="content">
              <mat-icon class="icon">videocam_off</mat-icon>
              <span>Esta Publicación no contiene videos</span>
            </div>
          </div>
        </div>
    </div>
</div>
