<ul class="pagination-control" >
    <li>
      <span class="label">Registros por página</span>
      <mat-form-field class="select-pages">
         <mat-select
          (selectionChange)="onChangeSizePage()"
          [(value)] ="size"
          name="sizePage"
          [disabled]= "pagination.total === 0">
           <mat-option value="5">5</mat-option>
           <mat-option value="10">10</mat-option>
           <mat-option value="15">15</mat-option>
           <mat-option value="20">20</mat-option>
           <mat-option value="50">50</mat-option>
         </mat-select>
      </mat-form-field>
    </li>
    <li>
      <span class="pages">
        {{ pagination.getInitRegister() }} - {{ pagination.getEndRegister() }} de {{ pagination.total }}
      </span>
    </li>
    <li>
      <a [ngClass]="{'disabled': pagination.getPreviousPage() < 1 }"
         (click)="onChangePage(1, pagination.getPreviousPage() < 1 )">
        <i class="fas fa-angle-double-left"></i>
      </a>
    </li>
    <li>
      <a [ngClass]="{'disabled': pagination.getPreviousPage() < 1 }"
         (click)="onChangePage(pagination.getPreviousPage(), pagination.getPreviousPage() < 1 )">
         <i class="fas fa-angle-left"></i>
      </a>
    </li>
    <li>
      <span class="label">  {{ pagination.pageNumber }} - {{ pagination.totalPage }} </span>
    </li>
    <li> <a [ngClass]="{'disabled': pagination.getNextPage() > pagination.totalPage }"
            title="Página {{ pagination.getNextPage() }}"
            (click)="onChangePage(pagination.getNextPage(), pagination.getNextPage() > pagination.totalPage )" >
        <i class="fas fa-angle-right"></i>
        </a>
    </li>
    <li>
        <a [ngClass]="{'disabled': pagination.getNextPage() > pagination.totalPage }"
           (click)="onChangePage(pagination.totalPage, pagination.getNextPage() > pagination.totalPage )">
          <i class="fas fa-angle-double-right"></i>
        </a>
    </li>

  </ul>
