@import '../../../../assets/css/login.css';

#logo-ra {
  width: 300px;
  display: block;
  margin: 0 auto;
}

p{
  text-align: center;
  font-size: 20px;
  margin-top: 20px !important;
  font-weight: bold;
}

.mx-auto {
  margin-top: -65px !important;
}
