<app-loading [showLoading]="working"></app-loading>


			<section id="content-login" class="container-fluid p-0">
					<div class="row">
						<div  class="col-md-6 content-login-image">
								<img src="assets/img/bg/bg-login.png" class="img-login">
						</div>


						<article class="col-md-6">
							<div class="brands mt-3 mb-5"></div><!-- Logos -->

							<div class="form col-6 mx-auto">
									<!-- LOGO -->
									<div class="col-12 mb-4" id="logRa">
                    <img src="assets/images/larousse-educacion-logo.png" alt="logo-ra" id="logo-ra">
										<p>Bienvenido a la plataforma de Recursos Académicos</p>
									</div>
									<form class="col-12 mb-4" [formGroup] = "frmLogin" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
											<h1 class="h4 d-block text-center mb-4">Iniciar sesión</h1>

											<div class="form-group">
												<label for="exampleInputEmail1">Correo electrónico</label>
												<input  type="email"
																class="form-control"
																id="username"
																name="username"
																aria-describedby="emailHelp"
																placeholder="Correo electrónico"
																formControlName="username"
																aria-describedby="emailHelp">
											</div>

											<div class="form-group mb-4">
												<label for="exampleInputEmail1">Contraseña</label>
												<input  type="password"
																class="form-control"
																id="input-password"
																placeholder="Contraseña de usuario"
																name="password"
																formControlName="password">
											</div>
                      <!-- re-captcha -->
                    <re-captcha formControlName="recaptchaReactive"></re-captcha>

											<div class="form-group form-check p-0">
												<a [routerLink]="['/recover-password']" >Olvidé mi contraseña</a>
											</div>

											<div class="d-flex justify-content-center">
													<button  type="submit"
																	class="btn btn-primary "
																	[disabled]="!frmLogin.valid">Entrar</button>
											</div>


										</form><!-- Fin del Form -->


								<nav>
									<ul class="nav nav-fill">
										<li class="nav-item"><a  target="_blank" href="{{ urlPrivacy }}"  class="nav-link">Aviso de privacidad</a></li>
									</ul>
								</nav>
							</div>

						</article><!-- form -->
					</div><!-- row -->
				</section><!-- container-fluid -->

