<app-loading [showLoading]="working">
</app-loading>

<section class="mt-3">
  <mat-card>
    <!-- TITULO -->
    <mat-card-title>
      <button id="btn-content-edit"
              (click)="onClickAnnouncement()"
              mat-mini-fab
              color="primary"
              matTooltip="Editar Aviso"
              class="btn-right-position"
              *ngIf="showEdit">
        <mat-icon arial-label="Agregar contenido">edit</mat-icon>
      </button>
    </mat-card-title>
    <!-- FIN TITULO -->
    <!-- CONTENIDO -->
    <mat-card-content>
      <form [formGroup]="frmAnnouncement" novalidate autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <input  matInput
                  id="title"
                  placeholder="Título del aviso"
                  maxlength="250"
                  id="title"
                  formControlName="title"
                  name="title">
              </mat-form-field>
              <div *ngIf="frmAnnouncement.get('title').errors?.required" class="text-danger error-label">
                  <i class="fa fa-exclamation-circle"></i> El campo es requerido
              </div>
            </div>
          </div>

          <div class="col-md-6">
              <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <input matInput [matDatepicker]="registerDate" placeholder="Fecha del aviso" maxlength="10" name="registerDate"
                  id="registerDate" formControlName="registerDate" type="text">
                <mat-datepicker-toggle matSuffix [for]="registerDate"></mat-datepicker-toggle>
                <mat-datepicker touchUi #registerDate></mat-datepicker>
              </mat-form-field>
              <div *ngIf="frmAnnouncement.get('registerDate').errors?.required" class="text-danger error-label">
                <i class="fa fa-exclamation-circle"></i> El campo es requerido
              </div>
            </div>
        </div>

        <div class="col-md-12 mb-3">
          <div class="form-group">
              <mat-form-field class="materialize-full-width">
                <textarea  matInput #descriptionClass
                  placeholder="Descripción del aviso"
                  maxlength="250"
                  id="description"
                  formControlName="description"
                  name="description">
                </textarea>
              </mat-form-field>
              <div *ngIf="frmAnnouncement.get('description').errors?.required " class="text-danger error-label">
                  <i class="fa fa-exclamation-circle"></i> El campo es requerido
                </div>
            </div>
      </div>

      <div class="col-md-12 mb-3">
        <div class="form-group">
          <mat-checkbox  name="chkAll" (change)="onChangeAll($event)"  formControlName="selected" name="selected">
            Todos los grupos</mat-checkbox>
        </div>
      </div>


       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"  joyrideStep="firstStep" title="Generador de avisos" text="Es necesario asignarlo a un curso.">
          <mat-form-field class="materialize-full-width" >
            <mat-select  [(ngModel)]="selectedCourses" placeholder="Cursos" formControlName="courses" name=courses  multiple
                         (selectionChange)="onChangeCourse($event)">
              <mat-option *ngFor="let item of courses" [value]="item.id" >{{ item.name }} </mat-option>
            </mat-select>
          </mat-form-field>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" joyrideStep="secondStep" title="Generador de avisos" text="Es necesario asignarlo a un  grupo.">
        <mat-form-field class="materialize-full-width">
          <mat-select  [(ngModel)]="selectedGroups" placeholder="Grupos"  formControlName="groups" name="groups" multiple
                        (selectionChange)="onChangeFilter()" >
            <mat-option *ngFor="let item of groups" [value]="item.id" >{{ item.description }} </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="frmAnnouncement.get('groups').errors?.required && frmAnnouncement.get('groups').touched" class="text-danger error-label">
          <i class="fa fa-exclamation-circle"></i> El campo grupos es requerido
        </div>
    </div>


          <!-- BOTONES -->
          <div class="col-md-12 text-right">
            <button
                (click)="onClickAddAnnouncement()"
                id="btn-bank-save"
                *ngIf="editMode"
                mat-raised-button
                class="mr-2"
                [disabled]="!frmAnnouncement.valid"
                color="primary">
                <mat-icon aria-label="Guardar">save</mat-icon>Guardar
            </button>
            <button
                id="btn-bank-cancel"
                *ngIf="editMode"
                (click) ="onClickCancel()"
                type="button"
                mat-raised-button
                color="warn">
                <mat-icon aria-label="Cancelar">clear</mat-icon>
                Cancelar
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
    <!-- FIN DEL CONTENIDO -->
  </mat-card>
  <br />

</section>
