.btn-right-position {
  position: absolute;
  right: 20px;
  top:15px
}

.btn-right-position-book {
  position: absolute !important;
    right: -25px;
    top: -40px;
}



.cnt-answers{
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding:10px 30px;
  margin-bottom:5px;
  position:relative;
}

.ctrl-check-top{
  padding-top: 30px;
}

.btn-right-position {
  position: absolute !important;
  right: 10px;
  top:15px;
  z-index: 2;
}


.label-detail {
  background-color: #3399CC;
  color:#fff;
  margin-right: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  float: left;
  margin-top: 2px;
  font-size: 14px;
}
