@import '../../../assets/css/style.css';
//  Navegacion de la estructura
.title{
  background-color: #e8e8e8;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-top: 10px;

  h4{
    display: inline-block;
    color: #833333;
    font-size: 14px;
    padding: 5px 15px;

    small{
      display: block;
      font-size: 12px;
      color: #707070;
    }
  }

  a{
    float: right;
    cursor: pointer;
    right: 15px;
    top: 30%;
    opacity: 0.5;
    position: absolute;
    transform: opacity 0.5s ease-in-out;

    i{
      font-size: 24px;
    }
  }
   a:hover{
     opacity: 1;
   }

//  Fin navegacion
}
/* Tarjetas de elementos */
.card-style {
  background-color: #eee;
  border-radius: 0%;
}

.icon-target {
  font-size: 50px;
  margin: auto;
  width: 100px;
  display: block;
  text-align: center;
}

.text-title {
  font-size: 15px;
  margin: auto;
  text-align: center;
  display: block;
}

// Fin tarjetas
a {
  cursor: pointer;
}

.card-content :hover {
  background-color: #ffe1e1 !important;
  color: black;
}
  .u-img {
  width: 38px;
  display: inline-block;
  vertical-align: top;
}

 .u-img img {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  object-fit: cover;
}

.active-check {
  background-color: #ffe1e1 !important;
  color: black;
}

.col-lg-menu {
  width: 3%;
}

.col-lg-content {
  width: 94%;
  margin: 1%
}

.iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  border: 0;
  margin-bottom: 15px;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

