
<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav mode="side" 
                 [(opened)]="_srvAdminNav.openedMenu" >                
       <app-admin-nav></app-admin-nav>               
    </mat-sidenav>
  
    <mat-sidenav-content>      
      <app-admin-header></app-admin-header>     
     
        <!-- Contenido de la página -->
        <div id="pg-content" [ngClass]="{'open-menu-content': this._srvAdminNav.openedMenu }" class="container-fluid mt-3">
            <!-- Contenido de las paginas -->
            <section id="pg-browser" class="mb-3">
                <div class="row">
                    <div class="col-lg-3 pr-0">
                      <app-group-nav></app-group-nav>
                    </div>
                    <div class="col-lg-9" id="main-container">
                      <router-outlet></router-outlet>
                    </div>
                  </div>
            </section>
      
          </div><!-- Fin del Contenido -->

    </mat-sidenav-content>
  </mat-sidenav-container>

