<app-loading [showLoading]="working">
</app-loading>


<div class="mt-3 card">
  <div class="card-title">
    <div class="card-title-spacer">
        Listado de alumnos: {{ students?.length }}
    </div>
  </div>
  <div class="card-body">
    <!-- Aqui va el componente -->
    <app-homework-ratings
    [students] = "students"
    [homeworkId] ="homeworkId"
    [statusHomework] = "statusHomework"
    [homeworkName] = "homeworkName"
    [homeworkDescription] = "homeworkDescription"
    [homeworkTypeScore]= "homeworkTypeScore"
    [addScore]= "addScore" >

    </app-homework-ratings>
  </div>
  </div>
