<app-loading [showLoading]="working"></app-loading>

<!-- Contenido del Sitio -->
<section id="site-content" class="container-fluid position-relative">
  <section class="row">
    <div class="col-lg-3">
      <!-- <app-structure-nav
      [nodeId]='nodeId'
      ></app-structure-nav> -->
    </div>


    <!-- Contenido de la página -->
    <div id="pg-content" class="col-md-12 col-lg-12">
      <!-- Buscador -->
      <section id="pg-browser" class="mb-3">
        <article class="card border-0 p-3">
          <!-- Encabezado del contenedor -->
          <header id="content-data" class="row border-bottom p-0 mb-4">
            <div class="col-md-5">
              <nav aria-label="breadcrumb" class="d-inline">
                <ol class="breadcrumb p-0 m-0">
                  <li class="breadcrumb-item">Estás en: </li>
                  <li class="breadcrumb-item bolder"
                  [ngClass]="{'active-breadcrumb':  i < (breadcrumb.length - 1) }"
                  *ngFor="let node of breadcrumb; let i = index">{{ node  }}</li>
                </ol>
              </nav>
            </div><!-- Fin de los Breadcrumbs -->
            <!-- Fin del Buscador -->
          </header><!-- Fin del Encabezado -->
          <div class="row">
            <div class="col-md-12">
              <ul class="list-group mb-3">
                <li class="list-group-item"> <b>Nombre:</b> {{ name }}</li>
                <li class="list-group-item"><b>Eje/Ámbito:</b> {{ axis }}</li>
                <li class="list-group-item"><b>Propósito:</b> {{ purposeName }}</li>
                <li *ngIf="showDonload" class="list-group-item"><b>Link de descarga:</b>
                  <!-- target="_blank"
                      [href]="['#/resource/epub-reader/q']" -->
                  <a
                      title="Ver contenido"
                      id="{{ 'link' | generateIdElement :content.name }}">

                      <span class="description" title="{{content.name}}">
                        {{ content.name }}
                      </span>
                  </a>
                </li>
                <li *ngIf="showInteractive" class="list-group-item"><b>Visitar sitio interactivo:</b>
                  <a  target="_blank"
                      [href]="content.urlContent"
                      title="Ver contenido"
                      id="{{ 'link' | generateIdElement :content.name }}">

                      <span class="description" title="{{content.name}}">
                        {{ content.name }}
                      </span>
                  </a>
                </li>

                <li class="list-group-item responsive-column"><b>Tipo:</b> {{ fileType }}</li>
                <li class="list-group-item responsive-column"><b>Campo de formación:</b> {{ formativeFieldName }}</li>
                <li class="list-group-item responsive-column"><b>Asignatura:</b> {{ signature }}</li>
                <li class="list-group-item responsive-column"><b>Grado:</b> {{ grade }}</li>
                <!-- <li class="list-group-item responsive-column"><b>Bloque:</b> {{ block }}</li> -->
                <li class="list-group-item">
                  <table class="table hidden-column">
                    <tr>
                      <th>Tipo</th>
                      <th>Campo de formación</th>
                      <th>Asignatura</th>
                      <th>Grado</th>
                      <!-- <th>Bloque</th> -->
                    </tr>
                    <tr>
                      <td>{{fileType}}</td>
                      <td>{{formativeFieldName}}</td>
                      <td>{{signature}}</td>
                      <td>{{grade}}</td>
                      <!-- <td>{{block}}</td> -->
                    </tr>
                  </table>
                </li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class=" mb-3">
                <div *ngIf="showVideo" class="mb-3">
                  <app-viewer-video [video]="content"></app-viewer-video>
                </div>
                <div *ngIf="showAudio" class="mb-3">
                  <app-viewer-audio [song]="content"></app-viewer-audio>
                </div>
                <div *ngIf="showFile" class="mb-3">
                  <app-viewer-file [file]="content" [isViewerCustom]="showFileCustom"></app-viewer-file>
                </div>
                <div *ngIf="showEpub" class="mb-3">
                  <!-- <app-viewer-epub [file]="content"></app-viewer-epub>                 -->
                  <app-epub-reader [UrlEpub]="content.urlContent"></app-epub-reader>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <mat-spinner [hidden]="!workingSection" style="margin:0 auto;" mode="indeterminate" color="warn">
          </mat-spinner>

          <div *ngIf="contentShared.length > 0">
            <h4>Contenido relacionado</h4>

            <div class="owl-carousel-holder">

              <div class="carousel-section">
                <owl-carousel [options]="myCarouselOptions" [items]="images">
                  <div class="item" *ngFor="let item of contentShared">
                    <div class="item-carrousel">
                      <div class="col-md-12" (click)="selectContent(item)">
                        <mat-icon class="{{ item.fileTypeId | typeFile }} "> </mat-icon>
                      </div>
                      <div class="col-md-12"><span class="description">{{ item.name }}</span></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </owl-carousel>
              </div>
            </div>


          </div>
        </article>

      </section>

    </div><!-- Fin del Contenido -->
  </section><!-- Fin del Row -->
</section><!-- Fin del contenido del sitio -->
