#contents {
  min-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* (1600x900) HD+ Display */
@media  screen and (max-width: 1920px) {
  #contents {
    min-height: 650px;
  }
}

.table-list .label{
  white-space:normal;
  margin-bottom: 10px;
}

@media screen and  (max-width: 990px) {
  .hidden-column{
    display: none;
  }
  .table td, .table th{
    padding-left: 0px !important;
  }

}

@media (min-width: 300px) and (max-width: 480px) {

  .table td, .table th{
    padding-left: 0px !important;
  }

  .table-list .label{
   font-size: 14px;
   text-align: justify;
  }

  .hidden-column{
    display: none;
  }

}
