<app-loading [showLoading]="working">
</app-loading>


<div class="container-fluid" id="contents">
    <h3 class="d-block d-sm-none"> Sitios de interés </h3>
    <div class="row" *ngIf="showSites">
      <!-- CONTENT CONTROLS -->
      <div class="col-md-6 col-xs-12">

      </div>

      <div class="col-md-6 col-xs-12 mb-2">
        <mat-form-field class="materialize-full-width">
          <input matInput placeholder="Buscar" class="white-control" (keyup)="onKeyUp( $event )" [(ngModel)]="textSearch">
          <mat-icon class="cursor-pointer" matSuffix>find_in_page</mat-icon>
        </mat-form-field>
      </div>

       <!-- DETALLE -->
      <div class="col-md-12 col-xs-12" *ngIf=" siteInterest.length > 0  && !showMsg ">
        <!-- LIST SITES -->
        <table class="table-list table table-sm">
            <tbody>
              <tr *ngFor="let s of siteInterest">
                <td>
                    <span class="label"> {{ s.title}}
                        <small>Título</small>
                    </span>
                    <span  class="d-block d-sm-block d-md-block d-lg-none" id="description" matTooltip="{{ s.title }}">{{ s.title }}
                      <small>Descripción</small>
                    </span>
                    <a class="d-block d-sm-block d-md-block d-lg-none" [href]=" s.uri " target="_blank"> <i class="fa fa-file"></i> Visitar sitio </a>

                </td>
                <td class="hidden-column" >
                    <span  class="label" id="description d-sm-block" matTooltip="{{ s.description }}">{{ s.description |  truncate: 60 : true }}
                      <small>Descripción</small>
                    </span>
                </td>
                <td class="hidden-column" >
                    <a [href]=" s.uri " target="_blank"> <i class="fa fa-file"></i> Visitar sitio </a>
                    <small>URL</small>
                </td>
              </tr>
            </tbody>
        </table>

        <!-- PAGINATION -->
        <div class="col-md-12 col-xs-12">
            <nav aria-label="Paginación de libros">
              <ul class="pagination justify-content-center">
                <li [ngClass]="{ 'disabled' : pager.currentPage === 1 }"  class="page-item ">
                  <a (click)="setPage(pager.currentPage - 1)" class="page-link">Anterior</a>
                </li>
                <li *ngFor="let page of pager.pages"
                    [ngClass]="{active:pager.currentPage === page}"
                    class="page-item">
                  <a (click)="setPage(page)" class="page-link">{{ page }}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"  class="page-item ">
                  <a class="page-link" (click)="setPage(pager.currentPage + 1)">Siguiente</a>
                </li>
              </ul>
            </nav>
        </div>

      </div>


      <div  class="col-md-12" *ngIf="showSites &&  siteInterest.length == 0 && !showTableSite">
          <div class="background-nofound">
            <div class="content">
              <mat-icon class="icon">link</mat-icon>
              <span>Seleccione un curso</span>
            </div>
          </div>
      </div>
      <div  class="col-md-12" *ngIf="showTableSite">
        <div class="background-nofound">
          <div class="content">
            <mat-icon class="icon">link</mat-icon>
            <span>Este curso no contiene sitios</span>
          </div>
        </div>
      </div>
      <div  class="col-md-12" *ngIf="showMsg">
        <div class="background-nofound">
          <div class="content">
            <mat-icon class="icon">bookmarks</mat-icon>
            <span>No existen coincidencia para el termino ingresado</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!showSites" >
      <div  class="col-md-12">
        <div class="background-nofound">
          <div class="content">
            <mat-icon class="icon">link</mat-icon>
            <span>Esta Publicación no contiene sitios de interés</span>
          </div>
        </div>
      </div>
    </div>
  </div>
