<app-loading [showLoading]="working"></app-loading>
<!-- Contenido del Sitio -->
<section id="site-content" class="container-fluid position-relative">
  <!-- Contenido de la página -->
  <div id="pg-content" class="col-lg-content">
    <!-- Dashboard -->
    <section id="pg-dashboard" class="container-fluid pt-3 card border-0" >
      <section class="row">
        <div class="mb-3 col-md-12" *ngFor="let item of questions">
          <div class="card card-style">
            <div class="card-body">
              <p class="lead">{{ item.question }}</p>
              <hr class="my-4">
              <p>Respuesta</p>
						  <a class="btn btn-primary btn-lg"  (click)="onShowResponse( item )" role="button">Ver respuesta</a>
            </div>
          </div>
        </div>
      </section><!-- Fin del Row -->
    </section><!-- Fin del Dashboard -->
  </div><!-- Fin del Contenido -->
</section><!-- Fin del contenido del sitio -->
