<app-loading
  [showLoading]="working">
</app-loading>
<div class="mdl-wrapper">
  <h4 class="text-center"> Búsqueda de grupo  </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm( false)">
    <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
  <!-- Aqui va el componente -->
  <div class="container" >
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Buscar" class="white-control" (keyup)="onKeyUp( $event )" [(ngModel)]="textSearch">
            <mat-icon class="cursor-pointer" matSuffix>find_in_page</mat-icon>
          </mat-form-field>

    <div id="content" *ngIf="showContacts">
      <div class="item-messages"  *ngFor="let item of groups">
        <ul id="list-content-files" class="list-group mb-3">
          <li class="list-group-item" *ngFor="let item of groups let i = index">
            <div class="row">
              <div class="item-files-text col-md-12">
                <span class="files-label-detail">{{ item.description }}
                </span>
              </div>
              <div class="item-files-text col-md-12">
                <mat-form-field class="materialize-full-width" >
                  <input  matInput
                          placeholder="Contraseña"
                          id="pass"
                          name="pass"
                          aria-describedby="emailHelp" [(ngModel)]="item.pass">
                </mat-form-field>
              </div>
              <div class="item-files-link col-md-12">
                <button
                  mat-raised-button
                  id="btn-exam-save"
                  type="button"
                  (click)="onSendMessage(item)"
                  class="mr-2 mt-2"
                  color="primary">
                  <mat-icon aria-label="Generar">send</mat-icon>
                    registrarme
                </button>
                <!-- <a class="lnk-content-select" (click)="onSendMessage(item)" >
                  <mat-icon class="icon">
                    send
                  </mat-icon>
                </a> -->
              </div>

              <div class="clearfix"></div>
            </div>
          </li>
        </ul>
          <!-- <div class="messages-contact col-md-12">
              <span class="label-name">
                  {{ item.description }}
              </span>

          </div>
          <div class="col-md-6">
            <mat-form-field class="materialize-full-width"   >
              <input  matInput
                      placeholder="Contraseña"
                      maxlength="10"
                      id="pass"
                      name="pass"
                      aria-describedby="emailHelp" [(ngModel)]="item.pass">
            </mat-form-field>
          </div>


          <div class=" col-md-6" style="cursor: pointer" (click)="onSendMessage(item)" >
            <span class="label-name">
                Unirse
            </span>


        </div> -->
        </div>
    </div>
    <div  class="col-md-12" *ngIf="!showContacts">
        <div class="background-nofound">
          <div class="content">
            <mat-icon class="icon">assignment_late</mat-icon>
            <span>Sin resultados</span>
          </div>
        </div>
      </div>
  </div>
</div>
