<app-loading [showLoading]="working">
</app-loading>

<div>

  <div class="row text-right">
    <div class="col-md-12" *ngIf="addScore">
      <mat-slide-toggle name="ExamScheduleStatus" [disabled]="readOnly" [(ngModel)]="examScheduleStatus"
        (ngModelChange)="onChangeExamScheduleStatus($event)">
        Marcar como calificado
      </mat-slide-toggle>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="overflow-x:auto;">
      <table *ngIf="students.length" class="table table-bordered table-hover animated fadeIn">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th> Nombre </th>
            <th> Acierto </th>
            <th> Calificación </th>
            <th> Comentario </th>
            <th> Examen del alumno</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let studen of students; let i=index">
            <td width="5%" class="text-center">
              {{ i + 1}}
            </td>
            <td width="35%">
              {{ studen.fullName }}
            </td>
            <!--  INPUT ACIERTO -->
            <td width="25%" class="text-center">
              <div *ngIf="tipeExam == 2">
                <mat-form-field style="width:50%">
                  <input matInput type="text" autocomplete="false" matTooltip="Aciertos" style="width: 100%"
                    class="text-center" placeholder="Aciertos" [(ngModel)]="studen.totalCorrect" [disabled]="readOnly"
                    id='acertsAnswers'>
                </mat-form-field>
                <span> / {{ studen.totalQuestions}}</span>
              </div>
              <div *ngIf="tipeExam == 1">
                {{ studen.totalCorrect }} / {{ studen.totalQuestions}}
              </div>

            </td>
            <!--  INPUT CALIFICACIÓN -->
            <td width="7%">
              <mat-form-field style="width: 100%">
                <input type="text" matInput autocomplete="false"
                  [matTooltip]="'Calificación del examen ' + studen.totalAnswerScore + ' ' + studen.weightingUnit"
                  [matTooltipPosition]="'above'" class="text-center" placeholder="Calificación" [disabled]="readOnly"
                  (change)='fnChange(studen)' [(ngModel)]="studen.rating">
                <span matSuffix><strong>{{studen.weightingUnit}}</strong></span>
                <mat-hint align="end"> Máx. {{studen.maximumExamScore}}{{studen.weightingUnit}}</mat-hint>
              </mat-form-field>
            </td>
            <!--  INPUT CALIFICACIÓN -->
            <td width="25%">
              <mat-form-field style="width: 100%">
                <input type="text" matInput autocomplete="false" matTooltip="Comentario" placeholder="Comentarios"
                  [disabled]="readOnly" [(ngModel)]="studen.commentary">
              </mat-form-field>
            </td>
            <td width="3%">
              <button [disabled]="!studen.isAnswered" mat-raised-button id="btn-exam-resolved" type="button"
                class="mr-2 mt-2" color="primary" matTooltip="Ver las respuestas del alumno"
                (click)="onShowAnswers( studen )">
                <mat-icon aria-label="Generar">library_books</mat-icon>
                Ver respuestas
              </button>
            </td>
            <ng-template #columnEmpty>
              <td width="0%">
                &nbsp;
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 text-right">
      <button mat-raised-button type='submit' [disabled]="readOnly" (click)="sendData()" mat-button color="primary">
        <mat-icon aria-label="Guardar calificaciones">save</mat-icon>
        Guardar calificaciones
      </button>

    </div>
  </div>
</div>
