<app-loading [showLoading]="working"></app-loading>
<!-- Contenido del Sitio -->
<section id="site-content" class="container-fluid position-relative">
  <section class="row">
    <!-- Menú -->


    <!-- Contenido de la página -->
    <div id="pg-content" class="col-lg-content">
      <!-- Buscador -->


      <!-- Dashboard -->
      <section id="pg-dashboard" class="container-fluid pt-3 card border-0" >

        <div *ngIf="pageurl != undefined" id="contents" class="col-lg-12 col-md-12 resp-container" style="padding: 0px" >
          <iframe class="iframe" [src]="pageurl"  type="application/pdf"></iframe>
        </div>
      </section><!-- Fin del Dashboard -->
    </div><!-- Fin del Contenido -->

  </section><!-- Fin del Row -->
</section><!-- Fin del contenido del sitio -->
