<app-loading [showLoading]="working">
</app-loading>

<div class="bg-header-secction"></div>
<section class="container-home container pt-3">
  <div class="row">
    <article>

      <div class="col-md-12">
        <h1>{{ eventSelected?.name }}</h1>
      </div>

      <div class="col-md-12 ">
        <img src="{{ eventSelected?.urlImage }}" class="mb-3 mx-auto d-block">
      </div>


      <div class="col-md-12">
        <p><b>Fecha y hora:</b> {{ eventSelected?.eventDate | date }} {{ eventSelected?.hours }}</p>
        <p><b>Lugar:</b> {{ eventSelected?.place }} </p>
        <p>
          {{ eventSelected?.description }}
        </p>
      </div>



    </article><!-- End of List -->
  </div><!-- End of Row -->
  <div class="clearfix"></div>
</section>