@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@angular/material/theming';
@include mat-core();

$mat-sali-green: (50: #e0f2f1, 100: #b2dfdb, 200: #66cc99, 300: #66cc99, 400: #66cc99, 500: #009688, 600: #00897b, 700: #00796b, 800: #00695c, 900: #004d40, A100: #a7ffeb, A200: #64ffda, A400: #1de9b6, A700: #00bfa5, contrast: (50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text, 500: $light-primary-text, 600: $light-primary-text, 700: $light-primary-text, 800: $light-primary-text, 900: $light-primary-text, A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: $dark-primary-text, ));
$sali-app-primary: mat-palette($mat-red, 700);
$sali-app-accent : mat-palette($mat-red, 300, 200, 400);
$sali-app-warn : mat-palette($mat-grey, 800);
$sali-app-theme: mat-light-theme($sali-app-primary, $sali-app-accent, $sali-app-warn);
@include angular-material-theme($sali-app-theme);

$color-green: #fe0606;


*, *:active, *:hover, *:focus  {
  outline: none!important;
}

.error-label {
  font-size: 12px;
  margin-top: -15px;
}

.box-controls h3 {
  padding-top: 20px;
}

.box-controls .lnk-btn {
  color: #aaaaaa;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}

.box-controls .lnk-btn:hover {
  color: #2C85B2;
}

.cursor-pointer {
  cursor: pointer;
}


/* MODALS */

.mdl-wrapper {
  position: relative;
  height: 100%;
}

.mdl-cnt-buttons {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.mat-raised-button {
  color: #ffffff !important;
}

.mat-header-cell {
  color: #fff;
}

.mat-drawer-container {
  background: #eee !important;
}

.lnk-btn-table {
  color: #e30d18;
}

.btn-float {
  right: 2%;
  top: 88%;
  position: fixed;
  z-index: 2;
}

.cnt-filters .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #fff !important;
}

.cnt-filters .mat-form-field-label {
  color: #ffffff !important;
}

.cnt-filters .mat-form-field-ripple {
  background-color: #b2dfdb !important;
}

.cnt-filters .mat-focused .mat-form-field-label {
  color: #b2dfdb !important;
  margin-top: 5px;
}

.cnt-filters .mat-datepicker-toggle-active {
  color: #b2dfdb !important;
}

.cnt-filters .mat-form-field-should-float .mat-form-field-label {
  margin-top: 5px;
}

/* SELECT */

.cnt-filters .mat-select-value-text {
  color: #ffffff !important;
  font-weight: bold;
}

.cnt-filters .mat-select-arrow {
  color: #ffffff !important;
}

.mat-calendar-body-selected,
.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: #3399cc !important;
}

.cnt-filters .morris-hover-row-label,
.cnt-filters .morris-hover-point {
  font-size: 14px;
  float: left;
  margin-top: -10px;
  margin-right: 5px;
}

.cnt-filters .morris-hover-row-label:after {
  content: '|';
  padding-left: 5px;
  padding-right: 5px;
}

.cnt-filters .morris-hover-row-label::before {
  font-family: 'Font Awesome 5 Free';
  padding-left: 5px;
  padding-right: 5px;
}

.mat-header-cell,
.mat-header-row {
  background-color: #ccc;
}

/* Media Queries */

@media screen and (max-width: 767px) and (min-width: 320px) {
  #pg-bcrum {
    display: none;
  }

  #usr-menu {
    position: absolute;
  }
}

.mat-table {
  overflow: auto;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    text-align: right;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    text-align: left;
  }
}

/* FILEUPLOAD */

.customClass {
  border-radius: 0px;
  padding: 0px;
  width: 100%;
  background-color: #eff2f2;
}

.cnt-upload-file {
  background-color: #eff2f2;
  font-weight: bold;
  padding: 0px 0px 10px 15px;
  width: 100%;
  float: left;
}

.customClass .img-ul-upload {
  background-color: #fff !important;
  border: 1px solid red !important;
  font-size: 12px !important;
  color: red !important;
  box-shadow: none;
  border-radius: 3px;
}

.customClass .img-ul-button {
  font-size: 12px !important;
}

.customClass .img-ul-upload:hover {
  background-color: #ffe1e1  !important;
}

.customClass .img-ul-clear {
  background-color: #fff !important;
  border: 1px solid red !important;
  font-size: 12px;
  color: red !important;
  box-shadow: none;
  border-radius: 3px;
}

.customClass .img-ul-drag-box-msg {
  color: red !important;
}

.customClass .img-ul-container {
  background-color: #eff2f2 !important;
}

/* MAT- TAB */
.mat-tab-body-content {
  padding-bottom: 25px !important;
}



/* MAT PAGINATORS */
.mat-paginator {
  margin-top: 10px;
}

/* MAT TABLE */
.lnk-menu-table {
  position: absolute !important;
  right: 10px !important;
}

/* MAT DIALOG */
.link-float-right {
  position: absolute !important;
  right: 0px;
  top: -10px
}

.mdl-height-400 {
  height: 420px;
}

/* PANEL NO FOUND */

.background-nofound {
  color: #ccc;
  width: 100%;
  min-height: 250px;
}

.background-nofound .content {
  margin: auto;
  margin-top: 80px;
}

.background-nofound .content .icon {
  font-size: 120px;
  margin: auto;
  height: 100px;
  width: 100px;
  display: block;
  text-align: center;

}

.background-nofound .content span {
  font-size: 30px;
  text-align: center;
  display: block;
  padding: 20px 40px;
}

.background-nofound .content span small {
  text-align: center;
  display: block;
  font-size: 18px !important;
  margin-top: -2px;
}

/* GENERAL  */

.label-box {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: 14px;

}

.small-block-text {
  display: block;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cursor {
  cursor: pointer
}

.text-decorate-none,
.text-decorate-none:hover{
  text-decoration: none !important;
}



/* TABLE */
.table {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.table td,
.table th {
  padding-left: 24px;
  vertical-align: middle;
}

.table thead tr th {
  font-size: 12px !important;
  font-weight: normal !important;
  height: 56px !important;
  line-height: 26px !important;
  word-wrap: break-word;
  align-items: center;
}

/* DROP DONW TREE  */

.cnt-drop-down .dropdown .btn-outline-secondary {
  border: none !important;
  border-bottom: 1px solid #6c757d !important;
}

.cnt-drop-down .btn-outline-secondary:not(:disabled):not(.disabled):active,
.cnt-drop-down .btn-outline-secondary:not(:disabled):not(.disabled).active,
.cnt-drop-down .show>.btn-outline-secondary.dropdown-toggle,
.cnt-drop-down .dropdown .btn-outline-secondary:hover,
.cnt-drop-down .dropdown .btn-outline-secondary.active {
  background-color: #fe0606;
  border: none !important;
}

.cnt-drop-down .dropdown-menu,
.cnt-drop-down .dropdown .dropdown-container {
  background-color: #ffffff !important;
  width: 100% !important;
}

.cnt-drop-down .dropdown-menu {
  border-left: 1px solid #dfe5ea;
  border-right: 1px solid #dfe5ea;
  border-bottom: 1px solid #dfe5ea;
}

.cnt-drop-down .dropdown .form-control {
  background-color: #ffffff;
}



/* NEW DESING */
/**********************************/
/* CONTENT                        */
/**********************************/
/* Header                         */
/* Menu                           */
/**********************************/

body {
  min-height: 100%;
  overflow-x: hidden;
}
/* BOSSTRAP */
.no-padding {
  padding: 0px !important;
}

/* END */

/* HEADER */
#wrapper header {
  height: 70px;
  padding: 12px 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

#main-container {
  position: relative;
  height: 100%;
  /* padding-bottom: 100px; */
}

#wrapper {
  height: 100%;
  min-height: 100vh;
  position: relative;
}



.mailbox {
  width: 300px;
}

.mailbox ul {
  padding: 0px;
}

.mailbox ul li {
  list-style: none;
}

.mailbox ul li .drop-title {
  font-weight: 500;
  padding: 11px 20px 15px;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}

.mailbox ul li .nav-link {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  padding-top: 15px;
}

.mailbox .message-center {
  max-height: 360px;
  overflow: auto;
  position: relative;
}

.mailbox .message-center a {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  display: block;
  text-decoration: none;
  padding: 9px 15px;
}

.mailbox .message-center a:hover {
  background: #e9edf2;
}

.mailbox .message-center a div {
  white-space: normal;
}

.mailbox .message-center a .user-img {
  width: 40px;
  position: relative;
  display: inline-block;
  margin: 0 10px 15px 0;
}

.mailbox .message-center a .user-img img {
  width: 100%;
}

.mailbox .message-center a .user-img .profile-status {
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  left: 30px;
  position: absolute;
  top: 1px;
  width: 10px;
}

.mailbox .message-center a .user-img .online {
  background: #06d79c;
}

.mailbox .message-center a .user-img .busy {
  background: #ef5350;
}

.mailbox .message-center a .user-img .away {
  background: #ffb22b;
}

.mailbox .message-center a .user-img .offline {
  background: #ffb22b;
}

.mailbox .message-center a .mail-contnet {
  display: inline-block;
  width: 75%;
  vertical-align: middle;
  position: relative;

  a.lnk-close{
    position: absolute;
    right: -20px;
    top:-10px;
    border-bottom: none;
    opacity: 0.5;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }
}

.mailbox .message-center a .mail-contnet h5 {
  margin: 5px 0px 0;
  font-size: 16px;
  small {
    display: block;
    font-size: 10px;
  }
}

.mailbox .message-center a .mail-contnet .mail-desc,
.mailbox .message-center a .mail-contnet .time {
  font-size: 12px;
  display: block;
  margin: 1px 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #67757c;
  white-space: nowrap;
}

.mailbox .nav-link i{
  margin-top: 8px;
}

.mailbox .message-empty{
  color: #ccc;
  text-align: center;
  padding: 10px;

  h2{
    font-size: 24px;
  }

  .icon {
    font-size: 40px;
    margin: auto;
    height: 40px;
    width: 40px;
    display: block;
    text-align: center;
  }
}

.topbar ul.dropdown-user {
  padding: 0px;
  min-width: 250px;
}

.topbar ul.dropdown-user li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.topbar ul.dropdown-user li.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: rgba(120, 130, 140, 0.13);
}

.topbar ul.dropdown-user li .dw-user-box {
  padding: 10px 15px;
}

.topbar ul.dropdown-user li .dw-user-box .u-img {
  width: 38px;
  display: inline-block;
  vertical-align: top;
}

.topbar ul.dropdown-user li .dw-user-box .u-img img {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  object-fit: cover;
}

.topbar ul.dropdown-user li .dw-user-box .u-text {
  display: inline-block;
  padding-left: 2px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text h4 {
  margin: 0px;
  font-size: 15px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text p {
  margin-bottom: 2px;
  font-size: 12px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text .btn {
  color: #ffffff;
  padding: 5px 10px;
  display: inline-block;
}

.topbar ul.dropdown-user li .dw-user-box .u-text .btn:hover {
  background: #e6294b;
}

.topbar ul.dropdown-user li a {
  padding: 9px 15px;
  display: block;
  color: #67757c;
}

.topbar ul.dropdown-user li a:hover {
  background: #e9edf2;
  color: #fe0606;
  text-decoration: none;
}


/* END NEADER */

/* NAVIGATION */

#wrapper-nav {
  background-color: #49A7D4;
  min-height: 100px;
  color: white;
  padding-top: 10px;
  position: relative;

  #btn-back {
    position: absolute;
    right: 20px;
    top: 14px;
    cursor: pointer;
  }
}

/* NAVIGATION BOOK */

#wrapper-book-nav {
  /* background-color: #49A7D4;*/
  background: rgba(73,168,212,1);
  background: -moz-linear-gradient(top, rgba(73,168,212,1) 0%, rgba(73,168,212,1) 30%, rgba(39,135,179,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,168,212,1)), color-stop(30%, rgba(73,168,212,1)), color-stop(100%, rgba(39,135,179,1)));
  background: -webkit-linear-gradient(top, rgba(73,168,212,1) 0%, rgba(73,168,212,1) 30%, rgba(39,135,179,1) 100%);
  background: -o-linear-gradient(top, rgba(73,168,212,1) 0%, rgba(73,168,212,1) 30%, rgba(39,135,179,1) 100%);
  background: -ms-linear-gradient(top, rgba(73,168,212,1) 0%, rgba(73,168,212,1) 30%, rgba(39,135,179,1) 100%);
  background: linear-gradient(to bottom, rgba(73,168,212,1) 0%, rgba(73,168,212,1) 30%, rgba(39,135,179,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a8d4', endColorstr='#2787b3', GradientType=0 );
  height: 150px;
  color: white;
  padding-top: 10px;
  position: relative;

  .cnt-book-img{
    width: 100px;
    padding-left: 10px;
    text-align: center;

    .img-book{
      width: 90px;
      height: 130px;
      border-radius: 5px;
    }
  }

  .cnt-book-info{
    width: 80%;
    padding-left: 10px;

    h2{
      display: block;
      color: #fff;
      margin-top: 10px;
      font-size: 22px;
      padding-left: 8px;
      margin-bottom: 5px !important;
    }

    .label-info{
      font-size: 14px;
      padding-left: 10px;
      /* margin-bottom: 5px; */
    }

    .btn-group{
       margin-top: 10px;
       margin-left: 8px;

       .btn{
         background: none;
         color:#fff;
         border: 1px solid #fff;
       }
    }

  }

  .cnt-blocks{
    width: 80%;

  }

  .label-line{
    display: block;
    font-size: 14px;
    padding-left: 10px;
  }

  #btn-back {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  #btn-back {
    margin-top: 0%;
    top:110px !important

 }
}
/* NAV STRUCTURE */

#nav-structure {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  button.mobile {
    display: none;
  }
}

#wrapper-nav h2 {
  margin-top: 10px;
  /* font-size: 28px; */
  font-size: 22px;
  padding-left: 8px;
  margin-bottom: 0px !important;
  display: inline-block;
}

#wrapper-nav .breadcrumb {
  background-color: #fe0606;
  font-size: 12px;
  font-size: 12px;
  color: #fff;
  padding-left: 10px;
  float: right;

  a,
  a:before,
  span,
  span:before {
    color: #fff;
    font-weight: normal;
  }
}

#wrapper-breadcrumb {
  .lnk-button {
    display: none;
  }
}

nav.navbar-main {
  padding: 0px !important;
}

nav .dropdown-sub-menu {
  padding-left: 10px;
  padding-right: 10px;
}

nav .dropdown-sub-menu a.dropdown-item {
  color: #707070;
  text-align: left;
  margin-right: 0px;
}

nav .dropdown-sub-menu a.dropdown-item:hover {
  border-bottom: 2px solid #49A7D4;
  padding-bottom: 5px;

}

.navbar-nav .nav-item a {
  color: #ffffff;
  transition: all 0.5s ease;
  margin-right: 20px;
  text-align: center;
  padding: 0.5rem;
  display: block;

}

.navbar-nav .nav-item a.active {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: block;
}

.navbar-nav .nav-item a.active:hover {
  text-decoration: none;
  text-align: center
}

.navbar-nav .nav-item a.active::after {
  content: '';
  height: 6px;
  width: 100%;
  bottom: 0px;
  background: none;
  background-color: #74D3FF;
  box-sizing: border-box;
  display: list-item;
}

nav.navbar-main .navbar-toggler {
  color: #ffffff;
}

/* NAV STRUCTURE */

#nav-structure {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  button.mobile {
    display: none;
  }
}


@media screen and (max-width: 1000px) {
  #wrapper-nav {
    min-height: 80px !important;
  }

  #wrapper-nav h2 {
    margin-top: 0px;
  }

  .navbar-nav .nav-item a {
    margin-right: 0px;
    padding-left: 10px;
  }

  nav.navbar-main .navbar-toggler {
    position: absolute;
    right: 0px;
    top: -20px;
  }
}

@media screen and (max-width: 768px) {

  #nav-structure {
    display: none;
  }

  #nav-structure.active {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    min-height: auto;
    height: 100%;
    display: block;

    button.mobile {
      margin-top: 40px;
      display: block;
    }
  }

  .navbar-nav .nav-item a {
    margin-right: 0px;
    padding-left: 10px;
  }

  nav.navbar-main .navbar-toggler {
    position: absolute;
    right: 0px;
    top: -20px;
  }

  #nav-structure.animated {
    -webkit-animation-duration: 400ms;
    -moz-animation-duration: 400ms;
    animation-duration: 400ms;
  }

  #wrapp-books-content {
    display: none;
  }

  #wrapp-books-content.active {
    display: block;
  }

  #wrapper-breadcrumb {
    position: relative;

    ol {
      margin-bottom: 0px;
    }

    .lnk-button {
      position: absolute;
      display: block;
      right: 2px;
      font-size: 22px;
      top: 0px;
      cursor: pointer;
      color: #fe0606;
    }
  }

}

@media (min-width: 300px) and (max-width: 480px) {

  #wrapper-nav {
    min-height: 80px !important;
  }

  #wrapper-nav h2 {
    margin-top: 0px;
  }

  #main-container {
    padding-bottom: 0px;
  }

  #nav-structure {
    display: none;

    ul {
      min-height: 250px;
    }
  }

  #nav-structure.active {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    min-height: auto;
    height: 100%;
    display: block;

    button {
      margin-top: 40px;
      display: block;
    }
  }

  .navbar-nav .nav-item a {
    margin-right: 0px;
    padding-left: 10px;
  }

  nav.navbar-main .navbar-toggler {
    position: absolute;
    right: 0px;
    top: -20px;
  }

  #nav-structure.animated {
    -webkit-animation-duration: 400ms;
    -moz-animation-duration: 400ms;
    animation-duration: 400ms;
  }

  #wrapp-books-content {
    display: none;
  }

  #wrapp-books-content.active {
    display: block;
  }

  #wrapper-breadcrumb {
    position: relative;

    ol {
      margin-bottom: 0px;
      padding-left: 0px;
    }

    .lnk-button {
      position: absolute;
      display: block;
      right: 2px;
      font-size: 22px;
      top: 0px;
      cursor: pointer;
      color: #49A7D4;
    }
  }

}

/* END NAVIGATION */


/* FOOTER */

#wrapper footer {

  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  border-bottom: 6px solid #fe0606;
  width: 100%;

  small {
    color: #ccc;
  }

  .img-comtainer {
    margin-top: 12px;
  }

  ul {
    float: right;
    margin-top: 10px;

    li {
      display: inline;
      font-size: 12px;
      margin-right: 20px;

      a:hover {
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 480px) {

  #wrapper footer {
    padding: 0;

    ul,
    .img-comtainer {
      float: left;
      text-align: center;
      width: 100%;
    }

  }

}

.lnk-button {
  font-size: 22px;
  cursor: pointer;
  color: #fe0606 !important;
  transition: all 900ms;
}

.lnk-button:hover {
  color: #b40303 !important;
}

.absolute-right {
  position: absolute;
  right: 0px;
  ;
}

/* LABELS */

.label-detail {
  background-color: #3399CC;
  color: #fff;
  margin-right: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  float: left;
  margin-top: 2px;
  font-size: 14px;
}
.label-small-inline{
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
}
.label-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
  background: #ccc;
  color: #9b9b9b;
}
.label-circle-planning {
  width: 45px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  margin-right: 5px;
  background: #ccc;
  color: #9b9b9b;
}
.label-table{
  background-color: #3399CC;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 14px;
}

.label-disabled {
  background-color: #e2dcdc !important;
  color: #747474;
}
.label-success {
  background-color: #06c43f !important;
}
.label-warning {
  background-color: #ffb22b !important;
}
.center-element{
  display:block; text-align:center; margin:0 auto;
}


/* LIST */
.list-inline{
  padding: 0px !important;

  li{
    display: inline-block;
  }
}

/* CARD */

.card {
  border: 1px solid rgba(0, 0, 0, .03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  background-color: #ffff;
}

.card-body {
  display: block;
  padding: 35px !important;
}



.card-title {
  align-content: center;
  background-color: #E8E8E8;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  height: 56px;
}


.card-title-spacer {
  flex: 1 1 auto;
}

.cnt-text {
  width: 85%;


  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  small {
    display: block;
    font: 10px;
    color: #707070;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.table-list {

  & tr:first-child td {
    border-top: none !important;
  }

  .label {
    display: block;
    overflow: hidden;
  }

  small {
    display: block;
    font: 10px;
    color: #707070;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link{
    cursor: pointer;
  }

}

.table-detail {
  tr.detail-hidden {
    display: none;
  }

  tr.detail-show {
    display: table-row;
  }

  .files {
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #fe0606;
    border: 1px solid #fe0606;

    i {
      margin-right: 5px;
    }

    a {
      color: #fe0606;
    }
  }
}

.cnt-buttons {
  width: 21%;
}

/* CALENDAR */

.event-detail {
  min-height: 290px;

  .title {
    height: 80px;
    padding: 5px 10px 5px 10px;
    position: relative;
    border-radius: 5px;
  }

  .day {
    display: inline-block;
    width: 70px;
    height: 70px;
    color: #ffffff;
    text-align: center;
    border-right: 1px solid #ffff;
    padding-right: 20px;

    h4 {
      font-size: 50px;

      small {
        display: block;
        font-size: 12px;
        margin-top: -5px;
      }
    }
  }

  .name-event {
    display: inline-block;
    color: #ffffff;
    top: 15px;
    left: 90px;
    position: absolute;
    height: 50px;
    overflow: hidden;

    h4 {
      font-size: 18px;
    }
  }

  .detail {
    ul {
      font-size: 12px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;

      li {
        margin-top: 5px;
      }

      li span {
        display: block;
        color: #fe0606;
        font-weight: bold;
        font-size: 12px;
      }

      li div {
        display: block;
      }
    }

    .times {
      height: 50px;
      width: 95%;
      color: #fe0606;
      border: 1px solid #fe0606;
      border-radius: 5px;
      text-align: center;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
    }

    .files {
      border-radius: 5px;
      padding: 5px 10px;
      display: inline-block;
      font-size: 12px;
      margin-right: 5px;
      margin-bottom: 5px;


      i {
        margin-right: 5px;
      }


    }



  }

  .primary {
    .title {
      background-color: #1e90ff;
    }

    .detail {
      ul {
        background-color: #e0f2f1;

        li span {
          color: #1e90ff;
        }
      }

      .times {
        color: #1e90ff;
        border: 1px solid #1e90ff;
      }
    }
  }

  .waring {
    .title {
      background-color: #E3BC08;
    }

    .detail {
      ul {
        background-color: #fcf8e7;

        li span {
          color: #E3BC08;
        }
      }

      .times {
        color: #E3BC08;
        border: 1px solid #E3BC08;
      }
    }
  }

  .danger {
    .title {
      background-color: #ff2626;
    }

    .detail {
      ul {
        background-color: #ffdbdb;

        li span {
          color: #ff2626;
        }
      }

      .files {
        color: #ff2626;
        border: 1px solid #ff2626;

        a {
          color: #ff2626;
        }
      }
    }
  }

}


/* NOTIFICATIONS PROFILE */


.content-notifications .user-img {
  width: 40px;
  position: relative;
  display: inline-block;
  margin: 0 10px 15px 0;
}

.content-notifications .item .user-img .profile-status {
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  left: 30px;
  position: absolute;
  top: 1px;
  width: 10px;
}

.content-notifications .user-img img {
  width: 100%;
}


.content-notifications .item {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  display: block;
  text-decoration: none;
  padding: 9px 15px;
}

.content-notifications .mail-contnet {

  display: inline-block;
  width: 88%;
  vertical-align: middle;
  position: relative;

  a.lnk-close{
    position: absolute;
    right: -20px;
    top:-10px;
    border-bottom: none;
    opacity: 0.5;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }
}

.content-notifications .mail-contnet h5 {
  margin: 5px 0px 0;

  small{
    display: block;
    font-size: 10px;
  }
}

.content-notifications .mail-contnet .mail-desc,
.content-notifications .mail-contnet .time {
  font-size: 12px;
  display: block;
  margin: 1px 0;
  color: #67757c;
  white-space: nowrap;
}

.content-notifications .user-img .online {
  background: #06d79c;
}

.content-notifications .user-img .busy {
  background: #ef5350;
}

.content-notifications .user-img .away {
  background: #ffb22b;
}

.content-notifications .user-img .offline {
  background: #ffb22b;
}

.content-notifications .mail-contnet {
  display: inline-block;
  width: 75%;
  vertical-align: middle;
}

.content-notifications .mail-contnet h5 {
  margin: 5px 0px 0;
}

/**************************************************************/
/* FROUM                                                      */
/**************************************************************/
.widget {
	border-bottom: 1px solid #dadfea;
}
.widget a{
	text-decoration: none;
	color: #fe0606; /* text color */
	font-size: 14px;
	word-break: break-word;
}
.forum-col-left {
	min-height: 550px;
  width: 100%;
  padding: 10px;
}

/* (1600x900) HD+ Display */
@media  screen and (max-width: 1920px) {
  .forum-col-left {
    min-height: 670px;
  }
}


ul.menu li:before {
	content: "";
}
li.widget,.right-sidebar li.widget{
	list-style: none;
	padding: 0px;
}

.widget-menus a {
	width: 100%;
	text-decoration: none;
	padding: 10px 0 10px 16px;
	display: block;
  color: #78829d !important;
  cursor: pointer;
	border-left: 4px solid transparent;
	/*TRANSISTIONS*/
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}
.widget-menus ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.widget-menus ul li {
  position: relative;
  display: block;
}
.widget-menus ul li > i {
	position: absolute;
	top:14px;
	left: 5px;
}
.widget-menus ul li > i.fa-chevron-circle-down {
	display: none;
}
.widget-menus ul li ul.sub-menu{

  display:none;
}
.widget-menus ul li:hover > ul {
  display:block;
}

.widget-menus ul li ul.sub-menu li a{
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 40px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px !important;
}
.widget-menus ul li a:hover,
.widget-menus ul li.current-menu-item > a {
	background: #f0f0f0;
}
.widget-menus ul li a i{
	margin-right: 13px;
}
.widget-statistic{
	padding: 0 20px;
}
.widget-statistic {
	border-top:1px solid #eff2f2;
}
.widget-statistic p {
	font-size: 16px;
	color: #7a838e;
	padding-left: 7px;
	margin: 0;
}
.widget-statistic ul {
  margin-bottom: 20px;
}
.widget-statistic ul li{
  display: block;
  border-bottom: none !important;
  border: none !important;
}
.widget-statistic ul li span{
	font-weight: 700;
	font-size: 36px;
	line-height: 30px;
	display: block;
	color: #2c3e50;
	padding-top: 16px;
}
.widget-statistic ul li.questions-count {
	margin-bottom: 30px;
	line-height:.6;
}
.widget-statistic ul li.members-count {
	line-height: .6;
}
.user-statistic{
  border-bottom:1px solid #eff2f2;
}
.user-statistic h6 {
  padding: 10px;
  border-bottom:1px solid #eff2f2;
  color: #ccc;
}
.user-info {
	margin-top: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
}
.user-info span.avatar-80 {
	float: left;
	width: 80px;
	height: 80px;
}
.user-info span.avatar-80 img{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 100%;
	height: 100%;
}
.author-avatar img,
.comment-avatar img {
	border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  object-fit: cover;
}

.question-cat span.author-avatar{
    max-width: 30px;
    margin-right: 8px
}

.question-cat span.author-avatar img{
    max-width: 100%;
    height: auto;
}

.user-info ul{
	display: inline-block;
	margin-left: 20px;
}
.user-info ul li {
	margin-bottom: 5px;
}
.user-info ul li i {
	margin-right: 10px;
	min-width: 15px;
}
.user-info ul li.name {
	font-size: 20px;
	color: #2c3e50;
}
.user-post-count span.user-badge {
	margin-left: 0;
}
.user-post-count .points-count,
.points-define .points-count,
.question-cat .points-count {
	font-size: 32px;
	color: #3498db;
	line-height: 45px;
	display: inline-block;
}
span.star {
	font-size: 13px;
	line-height: 15px;
	margin-left: 5px;
	display: inline-block;
	text-align: left;
}
span.star i {
	color: #3498db;
}
.user-post-count .questions-count,
.user-post-count .answers-count {
	color: #78829d !important;
	font-size: 13px;
	border-left: 4px solid #78829d;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	height: 39px;
	line-height: .6;
}

.user-post-count .questions-count span,
.user-post-count .answers-count span {
	font-size: 28px;
	color: #78829d;
	line-height: 14px;
	margin-top: 14px;
	display: block;
	font-weight: bold;
}

.bg-badge-blue{
	background-color: #00adef !important;
}

.bg-badge-yellow{
	background-color: #f39b11 !important;
}

.bg-badge-brown{
	background-color: #a35429 !important;
}

.bg-badge-gray{
  background-color: #e2e1e1 !important;
}

.text-yellow{
  color:#f39b11 !important;
}

/* PAGINATION CONTROL */
.pagination-control{
  padding: 0px;
  text-align: right;

  li{
    display: inline-block;
    list-style: none;

    span.pages,
    span.label {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
      text-align: center;
      vertical-align: middle;
      line-height: 22px;
      height: 50px;
      display: inline-block;
    }

    .select-pages{
      width: 40px;
      text-align: center;
      margin-left: 10px;
    }

    span.pages{
      width: 120px;
    }

    a{
      cursor: pointer;
      padding-left: 5px;
      padding-right: 5px;
      height: 50px;
      line-height: 22px !important;

      i {
        color: rgba(0, 0, 0, 0.5);
        font-size: 22px !important;
        width: 22px !important;
        height: 22px !important;

      }

      &.disabled{
        color: rgba(0, 0, 0, 0.3);
        cursor:unset;

        i {
          color: rgba(0, 0, 0, 0.3);
          font-size: 22px !important;
          width: 22px !important;
          height: 22px !important;
          line-height: 22px !important;
        }

      }

      &.disabled:hover{
        color: rgba(0, 0, 0, 0.3);
      }
    }


  }
}

/* MESSAGES */
.item-messages{
  float: left;
  width: 100%;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  padding:10px 20px;

  .avatar-contact{
    width: 60px;
    float: left;
    overflow: hidden;
  }

  .messages-contact {
    width: 58%;
    float: left;

    .label-name{
      padding: 2px;
      display: block;
      text-transform: capitalize;

      small{
        display: block;
      }
    }
  }


  .info-messages-contact{
    width: 24%;
    float: left;
    text-align: right;

    .label{
      padding: 2px;
      display: block;
    }
  }

  .unread::before {
    content: ' ';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
  }

}

.open-sidenav .item-messages .info-messages-contact{
  width: 100% !important;
}

.open-sidenav .item-messages .messages-contact {
  width: 70% !important;
}

.message-u-img {
  // width: 38px;
  display: inline-block;
  vertical-align: top;
  width:50px;
  height:50px;
  border-radius:250px;
  font-size:25px;
  color:#fff;
  line-height:40px;
  text-align:center;
  background:#000
}
.message-u-img p{
  margin-top: 5px;
}
.message-u-img img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 31px;
  object-fit: cover;
}

hr {
  display: block;
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}

#chat-title{
  .avatar-content{
    width: 60px;
    float: left;
    height: 50px;
  }
  .name-content{
    width: 80%;
    float: left;

    span{
      display: block;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.messages {
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 1px solid #d4d4d4;
  overflow: auto;
  max-height: 300px;
  padding: 10px;
}

/* (1600x900) HD+ Display */
@media  screen and (max-width: 1920px) {
  .messages,
  .col-left {
    max-height: 450px;
    min-height: 450px;
  }
}

@media  screen and (max-width: 1600px) {
  .messages,
  .col-left {
    max-height: 280px;
    min-height: 280px;
  }
}

.message-sender,
.message-receiver {
  width: 100%;
  float: left;

}

.message-receiver .message {
  max-width: 40%;
  background-color: #F1F0F0;
  color: #000000;
  border-radius: 5px;
  padding: 6px 0;
  z-index: 0;
  top: -5px;
  right: 110%;
  margin-top: 5px;
  float: left;
  padding: 10px;
}

.message-sender .message {
  max-width: 40%;
  background-color: #fe0606;
  color: #fff;
  border-radius: 5px;
  padding: 6px 0;
  z-index: 0;
  top: -5px;
  right: 110%;
  margin-top: 5px;
  text-align: right;
  float: right;
  padding: 10px;
}

.time_date_right {
  color: #747474;
  float: right;
  font-size: 12px;
  text-align: right;
  padding: 2px;
}

.time_date_left {
  color: #747474;
  float: left;
  font-size: 12px;
  text-align: left;
  padding: 2px;
}


/****************************************/
/* LISTA DE PREGUTNAS                   */
/****************************************/

.list-questions li {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

  .list-questions li.list-answers {
    margin-bottom: 2px;
    border-bottom: none;
    padding-bottom: 0px;
  }

  .list-questions li.list-answers .isCorrect {
    color: red;
    font-weight: bold;
  }

.list-questions li:last-child {
  border-bottom: none;
}

