@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
// input[type=date]::-webkit-inner-spin-button,
// input[type=date]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
// }

// .card-body {
//   margin-top: 1%;
//   display: block;
//   text-align: center;
//   width: 80%;
//   margin: auto;
// }

// .mat-card-style {
//   margin-bottom: 15px;
//   background-color: rgb(241, 237, 237);
// }

// .small-text {
//   font-size: 11px;
// }

// .small-text h4 {
//   font-size: 14px;
// }

// form label .mat-checkbox-label{
//   font-weight : normal !important;
// }

// .bodyClassCustom{
//     background-color: white !important;
// }
// .customClass{
//     background-color: white !important;
// }


/**
*
* Hoja de estilos del registro de Recursos Académicos
* Versión 2.0.0
*
**/

/* ----------------------------------------- */
/* LAYOUT */
html body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #666;
}

body {
    margin: 0;
    overflow:visible;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

/* Page */
.content-area {
	padding-top: 100px;
	margin-bottom: 30px;
}

/* Components */
.accordion .btn-primary {
	width: 100%;
	color: #000;
	font-weight: 700;
	text-align: left;
	font-size: 1.5em;
}
.accordion .btn-primary,
.accordion .btn-primary:active,
.accordion .btn-primary:focus,
.accordion .btn-primary:visited {
	background-color: transparent;
	border-color: transparent;
	outline: none;
}
.accordion .btn-primary:hover {
	background-color: #ececec;
}

.btn-sign-in a {
	border: 1px solid #fff;
	border-radius: 8px;
	padding: .5em .5em;
}
.btn-sign-in a:hover {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 8px;
	padding: .5em .5em;
	color: #000;
}


/* Containers */
.bg-main {
    // background: url('../assets/bg/ra_main-banner.svg') top right no-repeat;
    background: url('../../../../assets/assets/bg/ra_main-banner.svg') top right no-repeat;
	background-size: 50%;
}

.accordion .card {
	border: none;
	padding: 1em;
}

/* Links */
html body a {
	color: #64809D;
}
html body a:hover {
	text-decoration: none;
	transition: ease-in-out .12s;
}

/* ----------------------------------------- */
/* HEADER */
.site-header {
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 9999;
	padding-top: .9em;
}
.site-header .site-branding,
.site-header .main-navigation {
	vertical-align: middle;
}

/* Scrolling Effect Class */
.header-solid {
	background-color: #fff;
	transition: all ease-in-out .25s;
	-webkit-transition: all ease-in-out .25s;
	box-shadow: 0 2px 24px rgba(100,128,157,.25);
}
.header-solid .btn-sign-in a {
	border-color: #64809D;
	background-color: #64809D;
	color: #fff;
}

/* Branding */
.site-branding {
	display: inline-block;
	margin-bottom: 0;
	width: 320px;
}
.site-branding a {
	position: relative;
    // content: url('../assets/brand/ra-logos.svg');
    content: url('../../../../assets/assets/brand/ra-logos.svg');
}

/* Navigation */
.main-navigation {
	clear: both;
	display: inline-block;
	float: right;
	margin-top: -.5em;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
    padding: 0;
    border-bottom: 0px !important;
    font-size: 14px;
}
.main-navigation li {
	position: relative;
	display: inline-block;
    padding: .5em .5em;
    border-bottom: 0px;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	color: #000;
}

/* ----------------------------------------- */
/* FOOTER */
.site-footer {
	border-top: 1px solid #ccc;
	padding: 1em 0;
	height: 70px;
	background-color: #fff;
}
.site-footer a {
	color: #3399FF;
}

/* ----------------------------------------- */
/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
	/* HEADER */
	.site-header {
		height: auto;
	}

	/* Branding */
	.site-branding {
		vertical-align: top;
		width: 100%;
	}

	/* Navigation */
	.main-navigation {
		vertical-align: top;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

	/* FOOTER */
	.site-footer .col-md-6 a {
		padding-bottom: 2em;
	}
	.site-footer,
	.site-footer .text-right {
		text-align: center !important;
	}
}

