<app-loading [showLoading]="working"></app-loading>


<body class="bg-main">

	<header class="site-header container-fluid">
		<section class="container">
			<h1 class="site-branding"><a href="https://www.recursosacademicos.com/">Recursos Académicos</a></h1>

			<nav class="main-navigation">
				<ul class="menu">
					<li><a href="https://www.recursosacademicos.com/">Inicio</a></li>
					<!-- <li><a href="https://recursosacademicos.com/blog">Blog</a></li> -->
					<li class="btn-sign-in"><a href="https://sistema.recursosacademicos.com/#/login">Inicia sesión</a></li>
				</ul>
			</nav>
		</section>
  </header>
  <!-- .site-header -->
  <section class="content-area container">
      <main class="row">
        <article id="register-usr" class="col-md-6 col-sm-6">
            <h1>Regístrate</h1>
            <form [formGroup] = "frmRegistry" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
                <section id="pg-banner" class="">
                  <div class="row justify-content-center">
                  <div class="col-md-12">
                    <form [formGroup] = "frmRegistry" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
                      <mat-card class="mat-card-style">

                          <div class="form-group">
                            <mat-form-field class="materialize-full-width">
                                <input  matInput
                                        placeholder="Nombre completo"
                                        maxlength="250"
                                        id="fullName"
                                        name="fullName"
                                        formControlName ="fullName"
                                        aria-describedby="emailHelp">
                              </mat-form-field>
                              <div *ngIf="frmRegistry.get('fullName').errors?.required && frmRegistry.get('fullName').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> El campo de nombre completo es requerido
                              </div>
                          </div>

                          <div class="form-group">
                              <mat-form-field class="materialize-full-width">
                                  <input matInput [matDatepicker]="birthDay"
                                         placeholder="Fecha de nacimiento"
                                         maxlength="10"
                                         name="birthDay"
                                         id="birthDay"
                                         type="text"
                                         formControlName="birthDay">
                                  <mat-datepicker-toggle matSuffix [for]="birthDay"></mat-datepicker-toggle>
                                  <mat-datepicker touchUi  #birthDay></mat-datepicker>
                                </mat-form-field>
                                <div *ngIf="frmRegistry.get('birthDay').errors?.required && frmRegistry.get('birthDay').touched" class="text-danger error-label">
                                    <i class="fa fa-exclamation-circle"></i> La fecha de nacimiento es obligatoria
                                </div>
                          </div>
                      </mat-card>
                      <hr>

                      <mat-card class="mat-card-style">
                        <mat-card-subtitle>Datos demográficos</mat-card-subtitle>
                        <div class="form-group">
                          <mat-radio-group  name ="gender"
                                            id="gender"
                                            formControlName="gender">
                            <mat-radio-button value="M">Masculino</mat-radio-button> &nbsp;
                            <mat-radio-button value="F">Femenino</mat-radio-button>
                          </mat-radio-group>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%">
                                <mat-select placeholder="País"
                                            name="contry"
                                            (selectionChange)= "onChangeContry( $event )"
                                            formControlName="contry">
                                   <mat-option *ngFor="let contry of contries" [value]="contry.id">
                                     {{ contry.name }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%">
                                <mat-select placeholder="Estado"
                                            name="state"
                                            formControlName="state">
                                  <mat-option *ngFor="let state of states" [value]="state.id">
                                    {{ state.name }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <div *ngIf="frmRegistry.get('state').errors?.required && frmRegistry.get('state').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> El estado es un campo obligatorio
                              </div>
                        </div>
                      </mat-card>
                      <hr>

                      <mat-card class="mat-card-style">
                        <mat-card-subtitle>Datos de usuario</mat-card-subtitle>
                        <div class="form-group">
                            <mat-form-field class="materialize-full-width">
                                <input  matInput
                                        placeholder="Correo electrónico"
                                        id="email"
                                        name="email"
                                        (focusout)="focusOutEmail()"
                                        formControlName="email"
                                        aria-describedby="emailHelp">
                              </mat-form-field>
                              <div *ngIf="frmRegistry.get('email').errors?.required && frmRegistry.get('email').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> El correo electrónico es obligatorio
                              </div>
                              <div *ngIf="frmRegistry.get('email').errors?.pattern && frmRegistry.get('email').touched" class="text-danger error-label">
                                <i class="fa fa-exclamation-circle"></i> Formato del correo electrónico es incorrecto (no se permiten mayúsculas)
                            </div>
                        </div>

                        <div class="form-group">
                          <mat-form-field class="materialize-full-width">
                              <input  matInput
                                      placeholder="CCT"
                                      id="CCT"
                                      name="CCT"
                                      readonly="readonly"
                                      formControlName="CCT">
                          </mat-form-field>
                        </div>

                        <div class="form-group">
                          <mat-form-field class="materialize-full-width">
                              <input  matInput
                                      placeholder="Institución"
                                      id="institution"
                                      name="institution"
                                      formControlName="institution">
                          </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field class="materialize-full-width">
                                <input  matInput
                                        placeholder="Contraseña"
                                        type="password"
                                        id="password"
                                        name="password"
                                        formControlName="password">
                              </mat-form-field>
                              <div *ngIf="frmRegistry.get('password').errors?.required && frmRegistry.get('password').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> La contraseña es campo obligatorio
                              </div>
                              <div *ngIf="frmRegistry.get('password').errors?.pattern && frmRegistry.get('password').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> La contraseña debe tener minimo 7 caracteres y contenga letras, números y caracteres especiales
                              </div>
                        </div>

                        <div class="form-group">
                            <mat-form-field class="materialize-full-width">
                                <input  matInput
                                        placeholder="Confirmar contraseña"
                                        type="password"
                                        id="confimPassword"
                                        name="confimPassword"
                                        formControlName="confimPassword">
                              </mat-form-field>
                              <div *ngIf="frmRegistry.get('confimPassword').errors?.confirmPasswordValidator && frmRegistry.get('confimPassword').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> Las contraseñas no coinciden
                              </div>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%">
                                <mat-select placeholder="Tipo de usuario"
                                            name="role"
                                            id="role"
                                            formControlName="role"
                                            (change)="onChangeRole( $event )">
                                  <mat-option *ngFor="let role of roles" [value]="role.id">
                                    {{ role.name }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <div *ngIf="frmRegistry.get('role').errors?.required && frmRegistry.get('role').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> El campo rol es obligatorio
                              </div>
                        </div>
                        <div class="form-group">
                            <image-upload
                            [max]="1"
                            class="customClass"
                            [extensions]="['jpeg','png']"
                            [maxFileSize]="1000000"
                            [fileTooLargeMessage]="'La imagen era demasiado grande y no se cargó. El tamaño máximo de archivo es de 1mb.'"
                            [buttonCaption]="'Seleccione una imagen'"
                            [dropBoxMessage]="''"
                            [clearButtonCaption]="'Limpiar'"
                            (removed)="onRemoved($event)"
                            (uploadFinished)="onUploadFinished($event)"
                            (uploadStateChanged)="onUploadStateChanged($event)">
                          </image-upload>
                        </div>
                        <div *ngIf="showKey" class="form-group">
                            <mat-form-field class="materialize-full-width">
                                <input  matInput
                                        placeholder="CLAVECCT*"
                                        id="keycct"
                                        name="keycct"
                                        formControlName="keycct"
                                        aria-describedby="emailHelp">
                              </mat-form-field>
                              <div *ngIf="frmRegistry.get('keycct').errors?.required && frmRegistry.get('keycct').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> La CLAVECCT es requerido
                              </div>
                        </div>

                      </mat-card>
                      <hr>

                      <mat-card class="mat-card-style">
                        <div class="form-group">
                          <div class="col-md-12">
                              <mat-checkbox
                              name="isAgree"
                              formControlName="isAgree">Acepto
                                <a target="_blank" href="{{ urlPrivacy }}">aviso de privacidad y condiciones de uso</a> </mat-checkbox>
                                <div *ngIf="frmRegistry.get('isAgree').errors?.agreeValidator && frmRegistry.get('isAgree').touched"
                                class="text-danger error-label mb-2"
                                style="margin-top:-5px; margin-left: 28px">
                                  <i class="fa fa-exclamation-circle"></i> Debes aceptar el aviso de privacidad y condiciones de uso
                              </div>
                          </div>
                          <div class="col-md-12 text-right">
                              <button mat-raised-button
                                      [disabled] = "!frmRegistry.valid"
                                      type="submit"
                                      color="primary">Guardar</button>
                          </div>
                        </div>
                      </mat-card>
                    </form>
                  </div>
    <!--
                  <div class="row justify-content-center small-text mt-4">
                    <div class="col-md-10">
                      <h4 class="mb-4">Condiciones de uso</h4>
                      <p>
                        Este sitio web sirve como canal de información. Se pueden descargar determinados documentos a través de este sitio.
                        Los usuarios son totalmente responsables de realizar un análisis antivirus y de verificar todos los archivos
                        obtenidos en o a través de este sitio web.
                      </p>
                      <p>
                        Se recomienda enfáticamente el uso de software para el análisis antivirus actualizado.
                      </p>
                      <p>
                        Los propietarios de este sitio no transmitirán en forma intencional o voluntaria archivos que saben que contienen
                        virus.
                      </p>
                      <p>
                        Los usuarios que suban documentos o archivos a este sitio son responsables de asegurarse que los documentos no
                        contienen virus, y si llegaran a tenerlo, el usuario que subió el documento o archivo será el responsable de
                        cualquier daño, imprevisto emergente o especial ya sea previsto o predecible que cause el virus.
                      </p>
                      <p>
                        Los propietarios de este sitio no son responsables de ningún virus informático que pueda contener cualquiera de los
                        elementos que un usuario suba a este sitio y que usted obtenga a través de este sitio.
                      </p>
                      <p>
                        Los propietarios de este sitio no son responsables de cualquiera de los contenidos de los archivos que un usuario
                        suba a este sitio y que usted obtenga a través de este sitio, sólo son responsables del contenido que los
                        propietarios administran.
                      </p>
                    </div>
                  </div> -->



                </div>
                </section>
              </form>
        </article><!-- #register-usr -->

        <div class="col-md-6 col-sm-6">
          <img src="../../../../assets/assets/img/ra_registro.png" class="img-fluid mb-5">
          <img src="../../../../assets/assets/img/ra_idea.png" class="img-fluid mb-5">


          <div class="accordion">
            <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-book"></i>
              Condiciones de uso
            </button>

            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <p>Este sitio web sirve como canal de información. Se pueden descargar determinados documentos a través de este sitio. Los usuarios son totalmente responsables de realizar un análisis antivirus y de verificar todos los archivos obtenidos en o a través de este sitio web.</p>

                <p>Se recomienda enfáticamente el uso de software para el análisis antivirus actualizado.</p>

                <p>Los propietarios de este sitio no transmitirán en forma intencional o voluntaria archivos que saben que contienen virus.</p>

                <p>Los usuarios que suban documentos o archivos a este sitio son responsables de asegurarse que los documentos no contienen virus, y si llegaran a tenerlo, el usuario que subió el documento o archivo será el responsable de cualquier daño, imprevisto emergente o especial ya sea previsto o predecible que cause el virus.</p>

                <p>Los propietarios de este sitio no son responsables de ningún virus informático que pueda contener cualquiera de los elementos que un usuario suba a este sitio y que usted obtenga a través de este sitio.</p>

                <p>Los propietarios de este sitio no son responsables de cualquiera de los contenidos de los archivos que un usuario suba a este sitio y que usted obtenga a través de este sitio, sólo son responsables del contenido que los propietarios administran.</p>
              </div>
            </div><!-- .accordion -->
          </div>

        </div><!-- End of Image -->

      </main><!-- .row -->
    </section><!-- .content-area -->


    <footer id="colophon" class="site-footer container-fluid">
      <section class="footer-info container">
        <article class="row">
          <div class="col-md-12 mb-3">
            <h1 class="site-branding"><a href="https://www.recursosacademicos.com">Recursos Académicos</a></h1>
          </div>

          <div class="col-md-6 mb-3">
            <span>Copyright © Todos los Derechos Reservados 2019.</span>
          </div>

          <div class="col-md-6 text-right">
            <a href="https://www.recursosacademicos.com/wp-content/uploads/2019/06/POLITICA_DE_PRIVACIDADLAROUSSEYPATRIA2019.pdf"><i class="far fa-bookmark mr-2"></i>Aviso de Privacidad</a>
          </div>
        </article><!-- .row -->
      </section><!-- .footer-info -->
    </footer><!-- #colophon -->


<!-- Contenido de las paginas  class="container"
<div id="" class="container">
  class="card-body"
  <section id="" >
    <article class=" border-0">
      <h5 class="card-title">Registro - Recursos académicos</h5>

      <div id="" > -->

      <!-- </div>
    </article>
  </section>
</div> -->















