.list-questions li {
  list-style: none;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

p {
  font-weight:bold;
}

.offsetTop5px {
  position: relative;
  top: 3px;
  font-weight: bolder;
  color: black;
}