<app-loading [showLoading]="working">
</app-loading>
<div>
  <ul class="list-questions">
    <li *ngFor="let item of questions; let i = index">
      <table style="width: 100%;">
        <tr>
          <td style='width: 85%'>
            {{ item.index }}). {{ item.content  }}
          </td>
          <td style='width: 15%'>
            <small *ngIf="!(item.answervalue==null)">
              <span style="float:right;"><i>({{item.answervalue}})
                  {{item.weighting.unit}}</i></span>
            </small>
          </td>
        </tr>
      </table>
      <img src="{{ item.imgQuestion }} "
        [ngClass]="{ 'width-adjust': item.imageWidth > 500, 'height-adjust': item.imageHeight > 500 }" alt=""
        *ngIf="item.imgQuestion">
      <ul>
        <div *ngIf="item.questionTypeId == 5">
          <li *ngFor="let i of item.answers">
            <div *ngIf='i.wasStudentAnswer'>
              <img src="{{ i.answers }}"
                [ngClass]="{ 'width-adjust': i.imageWidth > 500, 'height-adjust': i.imageHeight > 500 }"
                style="border:3px solid; margin:2px;padding: 2px;"
                [style.color]='getColorAnswer(item.studenAnswerIsCorrect, i.wasStudentAnswer)' alt="">

              <span class="material-icons offsetTop5px">
                {{getIconAnswer(item.studenAnswerIsCorrect)}}
              </span>
            </div>
            <div *ngIf='!i.wasStudentAnswer'>
              <img src="{{ i.answers }}"
                [ngClass]="{ 'width-adjust': i.imageWidth > 500, 'height-adjust': i.imageHeight > 500 }"
                style="border:3px solid; margin:2px;padding: 2px;" [style.color]='getColorAnswer(i.iscorrect)' alt="">
            </div>
          </li>
        </div>
        <div *ngIf="item.questionTypeId != 5 && item.questionTypeId != 3">
          <li *ngFor="let i of item.answers">
            <div *ngIf='i.wasStudentAnswer'
              [style.color]='getColorAnswer(item.studenAnswerIsCorrect, i.wasStudentAnswer)'>
              <u>{{ i.answers }}</u> &nbsp;
              <span class="material-icons offsetTop5px">
                {{getIconAnswer(item.studenAnswerIsCorrect)}}
              </span>
            </div>
            <div *ngIf='!i.wasStudentAnswer' [style.color]='getColorAnswer(i.iscorrect)'>{{ i.answers }}</div>
          </li>
        </div>
        <div *ngIf="item.questionTypeId == 3">
          <table class="table-list table table-sm">
            <tbody>
              <tr *ngFor="let i of item.answers">
                <td [style.color]='getColorAnswer(i.relationIsCorrect, i.wasStudentAnswer)'>
                  <span class="label">{{ i.answers }}
                    <small>Columna A</small>
                  </span>
                </td>
                <td [style.color]='getColorAnswer(i.relationIsCorrect, i.wasStudentAnswer)'>
                  <span class="label">{{ i.relation }}
                    <span class="material-icons offsetTop5px">
                      {{getIconAnswer( i.relationIsCorrect)}}
                    </span>
                    <small>Columna B</small>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ul>
      <br>
      <mat-divider></mat-divider>
    </li>
  </ul>
</div>