<app-loading [showLoading]="working"> </app-loading>

<form >
  <div class="row">
    <div class="col-md-4">

        <mat-form-field class="materialize-full-width">
            <input  matInput
            [min]="minDate"
            [max]="maxDate"
                    [matDatepicker]="picker"

[(ngModel)]="fecha"

                    placeholder="Seleccione una fecha"
                    name="dateInits"
                    id="dateInits"
                    (dateChange)="selectAttendancePeriod()"
                    >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker ></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field>
            <mat-label>Seleccione una fecha</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="selectAttendancePeriod($event.value)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field> -->

      </div>

  </div>
</form>


<div class="row mt-2">
  <div class="col-md-12 text-right">
      <button mat-raised-button type='submit'
          *ngIf='showmsg'
          (click)="sendData()"
          mat-button color="primary">
        <mat-icon aria-label="Registrar asistencia">save</mat-icon>
        Registrar asistencias
      </button>

  </div>
</div>

<br>



<div class="table-container mat-elevation-z8" *ngIf="students.length > 0" style="overflow-x:auto;">

<div class="table-responsive">
  <table class="table-list table table-sm" >
    <tbody>
      <tr *ngFor="let student of students">
        <td class="text-left">
            <span class="label">{{ student.fullName | truncate: 60 : true }}
                <small>Nombre</small>
              </span>
        </td>
        <td class="text-left">
          <span class="label">
              <mat-checkbox [disabled]="!student.day1Active" [(ngModel)]="student.day1" name="assing"></mat-checkbox>
              <small>{{ student.day1Name }}</small>
          </span>
        </td>
        <td class="text-left">
            <span class="label">
                <mat-checkbox [disabled]="!student.day2Active" [(ngModel)]="student.day2" name="assing"></mat-checkbox>
                  <small>{{ student.day2Name }}</small>
            </span>
        </td>
        <td class="text-left">
            <span class="label">
                <mat-checkbox [disabled]="!student.day3Active" [(ngModel)]="student.day3" name="assing"></mat-checkbox>
                  <small>{{ student.day3Name }}</small>
            </span>
        </td>
      <td class="text-left">
          <span class="label">
              <mat-checkbox [disabled]="!student.day4Active" [(ngModel)]="student.day4" name="assing"></mat-checkbox>
                <small>{{ student.day4Name }}</small>
          </span>
      </td>
      <td class="text-left">
          <span class="label">
              <mat-checkbox [disabled]="!student.day5Active" [(ngModel)]="student.day5"  name="assing"></mat-checkbox>
                <small>{{ student.day5Name }}</small>
          </span>
      </td>
      <td class="text-left">
          <span class="label">
              <mat-checkbox [disabled]="!student.day6Active"  [(ngModel)]="student.day6" name="assing"></mat-checkbox>
                <small>{{ student.day6Name }}</small>
          </span>
      </td>
      <td class="text-left">
          <span class="label">
              <mat-checkbox [disabled]="!student.day7Active" [(ngModel)]="student.day7" name="assing"></mat-checkbox>
              <small>{{ student.day7Name }}</small>
          </span>
      </td>
    </tr>
  </tbody>
  </table>
</div>


 </div>
<div class="container-fluid" *ngIf="students.length == 0">
  <div class="row" >
    <div  class="col-md-12">
      <div class="background-nofound">
        <div class="content">
          <mat-icon class="icon">assignment</mat-icon>
          <span>Seleccione una fecha para registrar las asistencias</span>
        </div>
      </div>
    </div>
  </div>
</div>
