<app-loading [showLoading]="working">
  </app-loading>

<div class="mdl-wrapper">
  <h4 class="text-center"> Cambiar Contraseña </h4>
  <button mat-icon-button
          class="link-float-right"
          (click)="onCloseConfirm()">
          <mat-icon aria-label="Cerrar modal">close</mat-icon>
  </button>
  <hr/>

  <mat-dialog-content>

      <form [formGroup]="frmPasswrd" novalidate autocomplete="off">
          <div class="row">
                      <div class="col-md-12">
                              <div class="form-group">
                                      <mat-form-field class="materialize-full-width">
                                          <input  matInput
                                                  placeholder="Ingrese contraseña actual."
                                                  type="password"
                                                  id="password"
                                                  name="password"
                                                  formControlName="password">
                                      </mat-form-field>
                                      <div *ngIf="frmPasswrd.get('password').errors?.required && frmPasswrd.get('password').touched" class="text-danger error-label">
                                          <i class="fa fa-exclamation-circle"></i> La contraseña de usuario es requerida.
                                       </div>
                                  </div>
                          <div class="form-group">
                              <mat-form-field class="materialize-full-width">
                                  <input  matInput
                                          placeholder="Ingrese la nueva contraseña."
                                          type="password"
                                          id="newpassword"
                                          name="newpassword"
                                          formControlName="newpassword">
                              </mat-form-field>
                              <div *ngIf="frmPasswrd.get('newpassword').errors?.required && frmPasswrd.get('newpassword').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> El campo de nueva contraseña es requerida.
                              </div>
                              <div *ngIf="frmPasswrd.get('newpassword').errors?.pattern && frmPasswrd.get('newpassword').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> La contraseña debe tener minimo 7 caracteres y contenga letras, números y caracteres especiales
                              </div>
                          </div>
                          <div class="form-group">
                              <mat-form-field class="materialize-full-width">
                                  <input  matInput
                                          placeholder="Confirmar nueva contraseña."
                                          type="password"
                                          id="newconfirmpassword "
                                          name="newconfirmpassword "
                                          formControlName="newconfirmpassword">
                              </mat-form-field>
                              <div *ngIf="frmPasswrd.get('newconfirmpassword').errors?.required && frmPasswrd.get('newconfirmpassword').touched" class="text-danger error-label">
                                  <i class="fa fa-exclamation-circle"></i> El campo de confirmar nueva contraseña es requerida.
                              </div>
                          </div>
                      </div>
              </div>
          </form>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
      <button mat-raised-button
              (click)="onSubmit()"
              [disabled]= "!frmPasswrd.valid"
              mat-button color="primary" >
              Guardar
      </button>
      <button mat-raised-button type='button'
              (click)="onCloseConfirm()"
              mat-button color="warn" >Cancelar</button>

  </mat-dialog-actions>


</div>
