.mat-dialog-content{
    min-height: 430px !important;
    max-height: 430px !important;
    overflow: auto;
  }
  
  .mat-list-item {
    height: 40px;
  }
  
  .no-padding {
    padding: 0px !important;
  }
  
  .box-detail {
    background-color: #ededed;
    padding-top:10px;
    border: 1px solid #e0e0e0
  }
  
  mat-list {
    border: 1px solid #ededed;
    a{
      cursor: pointer;
    }
  }
  
  button mat-icon {
    margin-right: 10px;
  }
  
  .mat-spinner  {
    right: 0px;
    top: 0px;
    position: absolute;
  }

  label{
    padding: 4px;
    width: 100%;
    background-color: #e8e8e8;

  }