  <div class="mdl-wrapper">
    <h4 class="text-center"> Detalles de la notificación </h4>
    <button mat-icon-button
            class="link-float-right"
            (click)="onCloseConfirm()">
     <mat-icon aria-label="Cerrar modal"
     class="mat-icon material-icons mat-icon-no-color" 
     role="img" aria-hidden="true">close</mat-icon>
   </button>
   <hr/>
  <br/>
   <!-- <mat-dialog-content style="min-height:50px !important;"> -->
    <mat-dialog-content>
      <div class="row">
        <!-- turno -->
        <div class="cnt-drop-down col-md-12 mb-3">
          <small>Titulo </small>
        <br/>
          <label> {{tittle}}</label>

         
        
          </div>
        </div>
          <!-- Ciclo escolar -->
          <div class="row">
            <div class="cnt-drop-down col-md-12 mb-3">
              <small>Mensaje Completo</small>
        <br/>
          <label> {{body}}</label>
        
          </div>
        </div> 
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type='submit'
    (click)="onCloseConfirm()"
    mat-button color="primary"> 
    <mat-icon mat-list-icon >close</mat-icon>Cerrar</button>
  </mat-dialog-actions>
  </div>
