
<div *ngIf="_courseNavService?.course != null" id="wrapper-book-options">
  <ul>
    <li><a routerLinkActive="active" [routerLink]="['/course/content' , _courseNavService?.courseId, _courseNavService?.nodeId]"> Contenido </a></li>
    <li><a routerLinkActive="active" [routerLink]="['/course/homeworks' , _courseNavService?.courseId, _courseNavService?.nodeId]"> Tareas </a></li>
    <li><a routerLinkActive="active" [routerLink]="['/course/activities' , _courseNavService?.courseId, _courseNavService?.nodeId]"> Actividades </a></li>
    <li><a routerLinkActive="active" [routerLink]="['/course/exams' , _courseNavService?.courseId, _courseNavService?.nodeId]"> Exámenes </a></li>
    <li><a routerLinkActive="active" [routerLink]="['/course/scores-final' , _courseNavService?.courseId, _courseNavService?.nodeId, _courseNavService?.groupId]"> Calificación final </a></li>
    <li><a routerLinkActive="active" [routerLink]="['/course/sites' , _courseNavService?.courseId, _courseNavService?.nodeId]"> Sitios de interés </a></li>
  </ul>
</div>

