<app-loading [showLoading]="working">
</app-loading>

<div class="mt-3 col-md-12 main-content single-content">

    <div id="question_content"
         class="row question-main-content question-item">
         <div class="col-md-12 col-xs-12 q-right-content">
            <!--// admin control -->
            <!-- question tag -->
              <!-- Aqui va el codigo de los tags -->
            <!--// question tag -->
            <div class="clearfix"></div>

            <div class="question-content">
              <h6>{{ thread.title }}</h6>
              <div [innerHTML]="thread.description"></div>
            </div>

            <div class="row">
              <div class="col-md-8 col-xs-8 question-cat" data-user="11">
                <a>
                  <span>
                    <span class="author-avatar">
                      <img [src]="thread.avatar"
                          class="avatar"
                          [alt]="thread.creator">
                    </span>
                    <span class="author-name">{{ thread.creator }}</span>
                  </span>
                </a>
                <span class="user-badge"
                      [title]="thread.creatorRol"
                      [ngClass]="getBageColor(thread.creatorRol)"> {{ thread.creatorRol }} </span>
                <span class="question-time">Agregado en {{ thread.initDate | date }} en </span>
                <span class="question-category">
                  <a>{{ thread.courseName }}</a>
                </span>
              </div>
            </div>
            <div class="clearfix"></div>
         </div>
         <div class="clearfix"></div>
    </div>
    <!-- END QUESTION-MAIN-CONTENT -->

    <div class="sticky-wrapper">
      <div class="row answers-filter" id="answers_filter">
        <div class="col-md-12">
            <span class="answers-count"><span class="number">{{ posts.length }} Comentario(s) </span>  </span>
        </div>
      </div>
    </div>

    <!-- ANSWERS LOOP -->
    <div id="answers_main_list">

      <div class="row question-main-content question-item answer-item" *ngFor="let post of posts">
        <div class="col-md-12 col-xs-12 q-right-content">
          <!--// control tool for admin, moderate -->
            <!-- Aqui va el control de mejor respueta -->
              <!-- codigo  -->
            <!-- // -->
          <div class="clearfix"></div>

          <div class="question-content">
            <div *ngIf="post.bestAnswer" class="top-content">
              <span class="answered best-answer">
              <i class="fa fa-star"></i> Mejor respuesta</span>
            </div>
            <p [innerHTML] ="post.description"></p>
          </div>

          <div class="row cat-infomation">
            <!-- Answer owner infomation -->
            <div class="col-md-8 col-xs-8 question-cat">
              <a>
                <span>
                  <span class="author-avatar">
                    <img [src]="post.avatar"
                         class="avatar"
                         [alt]="post.creator">
                  </span>
                  <span class="author-name">{{ post.creator }}</span>
                </span>
              </a>
              <span class="user-badge"
                    [ngClass]="getBageColor(post.creatorRol)"> {{ post.creatorRol }} </span>
              <span class="question-time">Respondido en {{ post.initDate | date }}. </span>
            </div>
            <!--// Answer owner infomation -->
            <div class="col-md-4 col-xs-4 question-control">
              <ul>
                <!-- comment count -->
                <li >
                  <a *ngIf="usable" (click)="onClickVote( post )"
                      class="show-comments ">
                      <i *ngIf="post.canLike" class="far fa-thumbs-up"></i>
                      <i *ngIf="!post.canLike"  class= "fas fa-thumbs-up"></i>
                  </a>
                  <a *ngIf="!usable"  class="show-comments ">
                      <i *ngIf="post.canLike" class="far fa-thumbs-up"></i>
                      <i *ngIf="!post.canLike"  class= "fas fa-thumbs-up"></i>
                  </a> {{ post.votes }}
                </li>
                <li *ngIf="isTeacher && !post.owner">
                  <a (click)="updateBestAnswer( post )"
                     class="show-comments"
                     title="Actualizar mejor respuesta"
                     [ngClass]="{ 'text-yellow': post.bestAnswer }">
                    <i class="far fa-star"></i>
                  </a>
                </li>
                <li *ngIf="post.owner">
                    <a (click)="deleteComment( post )" class="show-comments text-danger" title="Borrar comentario" >
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </li>
              </ul>
            </div>
            <!--// share comment , report -->
          </div>
        </div>
      </div><!-- END REPLY-ITEM -->
    </div>
    <!-- START FORM REPLY -->
    <div class="row form-reply">
        <div class="container">
            <br/>
            <div class="col-md-12">
              <h3>Agregar comentario</h3>
            </div>
            <br/>
            <form [formGroup]="frmPost" novalidate autocomplete="off">
              <angular-editor
                  formControlName="post"
                  [config]="config"
                  id="myEditor">
              </angular-editor>
              <!-- BOTONES -->
              <div class="col-md-12 text-right mt-3 pr-0">
                      <button
                          (click)="sendPost()"
                          id="btn-bank-save"
                          mat-raised-button
                          class="mr-2"
                          color="primary"
                          [disabled]="!frmPost.valid">
                          <mat-icon aria-label="Guardar">send</mat-icon>Enviar comentario
                      </button>
                    </div>
                </form>
          </div>

    </div><!-- END FORM REPLY -->
    <br/>
    <div class="clearfix"></div>
  </div>


