.single-content{
  background-color: #fff;
}

.single-head h1 {
  font-size: 22px;
  color: #3498db;
  margin: 0 0 15px 0;
  word-wrap: break-word;
}
/* FORUM */
ul.question-tags{
  display: inline-block;
  margin-bottom: 0px;
  font-size: 13px;
  padding-left: 0px;
}
/* FORUM */
.type-question ul.question-tags li {
  margin: 10px 5px 10px 0;
}
/* FORUM */
ul.question-tags li{
  display: inline-block;
}
 /* FORUM */
.widget-related-tags li a, .q-tag {
  border: 1px solid #d9dfe9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f3f5f9;
  text-decoration: none;
  color: #6f7d95;
  line-height: 20px;
  display: inline-block;
  padding: 0 10px;
  margin-right: 5px;
}

// AUTHOR


.author-name {
    margin: 0 15px;
    color: #6f7d95;
}

.answers-filter {
  text-align: left;
  min-height: 44px;
  border-bottom: 1px solid #dadfea;
}

.answers-filter .answers-count {
  color: #444c63;
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-top: 12px;
}

.question-cat span.user-badge {
  padding: 0 10px;
  color: #fff;
  margin-right: 15px;
  line-height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #00adef;
}

.question-main-content .top-content span.best-answer {
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px; /* border radius */
  background-color: #f39b11; /* layer fill content */
}




#answers_main_list > div.row {
  background: #fbfcff;
}

#answers_main_list > div.row:nth-child(2n+1) {
	background: #f7f4f4;
}





.question-main-content .vote-block ul li {
	display: block;
	margin-bottom: 10px;
}
.question-main-content .vote-block ul li:last-child {
	margin-bottom: 0;
}
.question-main-content .vote-block a {
	width: 25px;
	height: 25px;
	border: 1px solid #dadfea;
	display: block;
	text-align: center;
	line-height: 1.6;
	color: #6f7d95;
	margin: 0 auto;
}
.question-main-content .vote-block a.disabled{
	opacity: 0.5;
	background: #f0f0f0;
	cursor: none;
}
.question-main-content .vote-block a.active {
	color: #fff;
	background: #f39c12;
	border:none;
	line-height: 1.7;
}
.question-main-content .vote-block a.accept-answer.active{
	background: #1abc9c;
}
.question-main-content .vote-block a i{
	font-size: 9px;
}
.question-main-content .vote-block a i.fa-chevron-up{
	position: relative;
	bottom: 2px;
}
.question-main-content .vote-block span {
	color: #fff;
	min-width: 45px;
	height: 23px;
	text-align: center;
	margin: 0 auto;
	display: table;
	padding: 0 10px;
	line-height: 23px;
	font-size: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	background-color: #3397db; /* layer fill content */
}
.question-main-content .vote-block span.btn-time-content,
.question-main-content .vote-block span.countdown-row {
	border: none;
	padding: 0;
	background: none;
	height: auto;
	margin: initial;
	line-height: initial;
	display: inline-block;
}
.question-main-content {
	padding: 25px 0;
	border-bottom: 1px solid #dadfea;
	margin: 0;
}
.question-main-content .top-content ul.question-tags {
	margin-left: 0;
}
.question-main-content .top-content span.answered {
	display: inline-block;
	color: #fff;
	width: 100px;
	text-align: center;
	line-height: 25px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px; /* border radius */
	background-color: #1abc9c; /* layer fill content */
  margin-right: 20px;
  font-size: 13px;
}
.question-main-content .top-content span.best-answer {
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px; /* border radius */
  background-color: #f39b11; /* layer fill content */
  font-size: 13px;
  width: 140px;

}
.question-main-content .question-content {
	margin: 25px 0 20px;
	font-size: 16px;
	color: #5f6f81;
	border-bottom: 1px solid #dadfea;
	padding-bottom: 15px;
}
.question-main-content .question-content > p {
	margin: 10px 0;
}
.question-main-content .question-content > ul,
.cm-wrap ul {
	list-style: disc;
	padding-left: 35px;
}
.question-main-content .question-content img{
	max-width: 100%;
	height: auto;
	margin: 10px 0;
}
.question-main-content .question-content img.img-responsive{
	margin: 25px 0;
}
.comment-item .submit-wrapper button.btn-submit{
	margin-left: -15px;
}
.comment-item .submit-wrapper .cancel-comment {
	line-height: 40px;
}

.q-right-content .question-control {
	text-align: right;
	margin-top: 5px;
}
.q-right-content .question-control ul li{
	display: inline-block;
	margin-left: 10px;
}
.q-right-content .question-control ul li a {
  color: #5f6f81;
  cursor: pointer;
}
.q-right-content .question-control ul li a.show-comments.active {
	color: #15a4fa;
}
.q-right-content .question-control ul li i {
	margin-left: 5px;
}
p.cmt-author {
	margin-top: 3px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 0;
}
a.add-comment,
a.hide-comment {
	line-height: 20px;
	display: block;
	font-size: 12px;
	padding: 4px 25px;
	max-width: 130px;
}
a.hide-comment {
	line-height: 32px;
	padding-left: 0;
}

// Editar control de texto
:host /deep/ angular-editor#myEditor .angular-editor-button[title="Insert Image"],
:host /deep/ angular-editor#myEditor .angular-editor-button[title="Clear Formatting"],
:host /deep/ angular-editor#myEditor .angular-editor-button[title="HTML Code"]
{
  display: none
}

.question-cat{
  font-size: 13px;
}


.adisabled {
  cursor: not-allowed;
  opacity: .65;
}
