<app-loading [showLoading]="working">
</app-loading>

<div class="bg-header-secction"></div>
<section class="container-home container pt-3">
    <div class="row">
      <article>
          <div class="col-md-12">
              <h1>{{ tipSelected?.name }}</h1>
              <small class="d-block mb-3">{{ tipSelected?.registerDate | date }}</small>
          </div>

          <div class="col-md-12">
              <img src="{{ tipSelected?.urlImage }}" class="mb-3 mx-auto d-block">
          </div>

          <div class="col-md-12">
              <p>{{ tipSelected?.description }}</p>
          </div>  
        
      </article><!-- End of List -->  
    </div><!-- End of Row -->
    <div class="clearfix"></div>
  </section>
  